# Site settings
title: FedRAMP.gov
description: The Federal Risk and Authorization Management Program, or FedRAMP, is a government-wide program that provides a standardized approach to security assessment
# the subpath of your site, e.g. /blog/
baseurl: /fedramp-gov
# the base hostname & protocol for your site
url: "https://fedramp.gov"
logo: /assets/img/logo-main-fedramp.png
feature_image: /assets/img/feature-background.jpg

colors:
  background: '#ffffff'
  link:
    color: '#0071bc'
    active: '#0071bc'
    hover: '#205493'
    visited: '#0071bc'
  button:
    background: '#112e51'
    hover: '#205493'
    text: '#fff'
  headers: '#205493'
  text: '#212121'
  reverse_text: '#ffffff'
  projects:
    accent: '#02bfe7'
    card-heading: '#0071bc'
  banner:
    background: '#112e51'
    text: '#fff'
    button:
      background: '#dce4ef'
      text: '#112e51'
  footer:
    primary-background: '#f1f1f1'
    secondary-background: '#d6d7d9'
    text: '#212121'

analytics:
  google:
    code: 'UA-48605964-32' # Change this to your GSA analytics code
  dap:
    agency: GSA    # Change this to your agency
    subagency: TTS # Change this to your agency

defaults:
 -
  scope:
    path: "" # an empty string here means all files in the project
  values:
    layout:
      - home
      - page
      - "project-list"
      - project
      - "team-list"
      - team
      - posts

forms:
- type: newsletter
  heading: Add your email to FedRAMP's subscriber list.
  url: https://public.govdelivery.com/accounts/USGSA/subscriber/topics?qsp=USGSA_2224
  button: Subscribe
  privacypolicy: Your privacy and security are important to us, we'll only share your information as described in the <a href="http://www.gsa.gov/portal/content/116609">GSA Privacy and Security Notice</a>

footer:
  links:
  image: /assets/img/fedramp-logo-stamp.png
  contact:
    name:
    email: info@FedRAMP.gov
    twitter:
      - FedRAMP
    facebook:
    youtube:
    rss:
  text: General Services Administration 1800 F Street NW Washington, DC 20006

# Build settings
markdown: kramdown
include:
  - _navigation.json
exclude:
  - CONTRIBUTING.md
  - LICENSE.md
  - README.md

plugins:
  - jekyll-paginate

paginate: 5
paginate_path: "/blog/page:num/"

# Inititalize project and team collections
collections:
  projects:
    output: true
  team:
    output: true
  posts:
    output: true


wds-version: 1.1.0

theme: jekyll-theme-time-machine
