<div class="grid-row grid-gap padding-4" style="background: #ffffff;">
	<div class="desktop:grid-col-6">
    	<a href="{{ site.baseurl }}{{ post.permalink }}" rel="bookmark" title="{{ post.title }}">
    		<img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}" title="{{ post.title }}"> 
    	</a>
	</div>
    <div class="desktop:grid-col-6">
		<div class="grid-row">
			<div class="desktop:grid-col-3 padding-x-2">
				<p class="blog-list-day">
					<a href="{{ post.permalink | prepend: site.baseurl  }} " rel="nofollow" title="{{ post.title }}">{{ post.date | date: "%-d"}}</a>
				</p>
				<p class="blog-list-month">
					<a href="{{ post.permalink | prepend: site.baseurl  }} " rel="nofollow" title="{{ post.title }}">{{ post.date | date: "%B"}}</a>
				</p>
			</div>
			<div class="desktop:grid-col-9 padding-x-2">
				<h2 class="blog-list-title"><a href="{{ site.baseurl }}{{ post.permalink }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a></h2>
				<p class="blog-list-text">{{ post.content | strip_html | truncatewords: 40 }}</p>
				<p class="continue-reading"><a class="" href="{{ site.baseurl }}{{ post.permalink}}" rel="nofollow" title="{{ post.title}}">Continue Reading...</a></p>
			</div>
		</div>
    </div>
</div>

