<style>
    
</style>
<div>

	<div id="cookie-notice">
		<div class="cookie-container">
			<div class="cookie-notice cookie-text"><p>You consent to our cookies by clicking “I Accept” or by continuing to use our website. See <a href="https://www.gsa.gov/website-information/website-policies" target="_blank" class="more-info btn btn-primary btn-sm">cookies policy</a>.</p></div>
			<div class="cookie-accept-container">
				<a id="cookie-notice-accept" class="btn btn-primary btn-sm cookie-accept">I Accept</a>
			</div>	
		</div>	
	</div>
</div>	
<script>
    function createCookie(name,value,days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
    function eraseCookie(name) {
        createCookie(name,"",-1);
    }

    if(readCookie('cookie-notice-dismissed')=='true') {
    } else {
        document.getElementById('cookie-notice').style.display = 'inline';
    }
    document.getElementById('cookie-notice-accept').addEventListener("click",function() {
        createCookie('cookie-notice-dismissed','true',31);
        document.getElementById('cookie-notice').style.display = 'none';
        location.reload();
    });

</script>
