<section class="fedramp-glance">
  <h2 class="text-center home-glance padding-bottom-2" style="padding-bottom: 2rem;">FedRAMP at a Glance</h2>
  <ul class="glance-numbers">
    <li>
    <img src="{{site.baseurl}}/assets/img/glance-ready.svg" alt="">
    <span>
    <p>Ready</p>
    <p class="number" id="totalReady">28</p>
    </span>
    </li>

    <li>
      <img src="{{site.baseurl}}/assets/img/glance-process.svg" alt="">
    <span>
    <p>In Process</p>
    <p class="number" id="totalInProcess">53</p>
    </span>
    </li>

    <li>
      <img src="{{site.baseurl}}/assets/img/glance-authorized.svg" alt="">
    <span>
    <p>Authorized</p>
    <p class="number" id="totalAuthorized">211</p>
    </span>
    </li>
  </ul>
</section>
