<!-- New Footer -->
<footer class="usa-footer usa-footer-medium" role="contentinfo">
	
	<!-- Footer columuns -->
	<div class="footer-container">
		<div class="footer-col-1-phone">
			<div class="footer-col f-col-1">
				<div class="logo-container">
					{% if site.footer.image %}
					  <a href="https://www.gsa.gov/" target="_blank"><img class="usa-footer-logo-img" src="{{site.baseurl}}/assets/img/gsa-reversed-logo.svg" alt="GSA logo"></a>
					{% endif %}
					<p class="footer-logo-text">FedRAMP.gov is a product of GSA’s Technology Transformation Services, and managed by the FedRAMP Program Management Office</p>

				 </div>
			</div>

			<div class="footer-col f-col-2">
				<address>
					<div class="street-address">
						<p>Federal Risk and Authorization Management Program (FedRAMP)</p>
						<p>General Services Administration<br>
							1800 F Street, NW<br>
							Washington, DC 20405</p>
						<p style="text-decoration: none"><a class="" href="mailto:info@FedRAMP.gov" target="_blank">info@FedRAMP.gov</a></p>
		
					</div>

					<div class="footer-social">
						
						<p>Follow Us</p>	
						<p class="footer-contact footer-follow-us"><a href="https://twitter.com/fedramp?lang=en" target="_blank"><i class="fab fa-twitter fa-2x framp-twitter"></i></a><a href="https://twitter.com/fedramp?lang=en" target="_blank"><i class="fab fa-youtube fa-2x framp-twitter"></i></a></p>

					</div>
				</address>
			</div>
			<div class="clearfix mobile-clear"></div>
		</div>
		
		<div class="footer-row">
		
			<div class="footer-col f-col-3">
				<div class="newsletter-footer">
					{% for form in site.forms %}
					{% if form.type == 'newsletter' %}
					{% assign f = form %}
					{% endif %}
					{% endfor %}

					<form id="contact" action="{{ f.url }}" method="POST">
						<h4>Keep Up To Date</h4>
						<p>To receive news and updates, add your email to GSA’s <span class="no-wrap;">subscriber list.</span></p>
							<div class="newsletter-inner">
								{% for field in f.fields %}
								{% unless field.type == 'hidden' %}
								<label for="contact-{{ field.name }}">{{ field.label }}</label>
								{% endunless %}
								<input id="contact-{{ field.name }}"
									name="{{ field.name }}" type="{{ field.type }}"
									{% if field.value %} value="{{ field.value }}" {% endif %}>
								{% endfor %}

								
								<a class="footer-submit" href="https://public.govdelivery.com/accounts/USGSA/subscriber/new" target="_blank">Subscribe</a>
							</div>

					</form>
				</div>
			</div>
		</div>
		
		<div class="footer-col f-col-4">
			<h4>Resources</h4>
			<ul class="quick-links">
				<li><img class="footer-img-link" src="{{site.baseurl}}/assets/img/footer-link.svg" alt=""><a href="https://www.gsa.gov/website-information/privacy-and-security-notice" class="ql-text" target="_blank">FedRAMP Privacy Policy</a></li>
				<li><img class="footer-img-link" src="{{site.baseurl}}/assets/img/footer-link.svg" alt=""><a href="https://www.gsa.gov/website-information/privacy-and-security-notice" class="ql-text" target="_blank">GSA Privacy Policy</a></li>
				<li><img class="footer-img-link" src="{{site.baseurl}}/assets/img/footer-link.svg" alt=""><a href="https://www.usa.gov" class="ql-text" target="_blank">USA.gov</a></li>
				<li><img class="footer-img-link" src="{{site.baseurl}}/assets/img/footer-link.svg" alt=""><a href="https://www.gsa.gov/reference/freedom-of-information-act-foia" class="ql-text" target="_blank">GSA FOIA</a></li>
				<li><img class="footer-img-link" src="{{site.baseurl}}/assets/img/footer-link.svg" alt=""><a href="https://www.gsa.gov/about-us" class="ql-text" target="_blank">About GSA</a></li>
				<li><img class="footer-img-link" src="{{site.baseurl}}/assets/img/footer-link.svg" alt=""><a href="https://www.gsa.gov/website-information/accessibility-aids" class="ql-text" target="_blank">Accessibility</a></li>				
			</ul>
		
		</div>
		<div class="clearfix"></div>
	
	</div>
</footer>
<div class="footer-report">
		<div class="">
			<div class="grid-row">
				<div class="desktop:grid-col-12 padding-x-2">
					<p class="text-center"><em><a href="https://www.gsaig.gov/" target="_blank">Report fraud, waste, or abuse to the Office of the Inspector General</a></em></p>
				</div>
			</div>
		</div>
	</div>
	
