<a href="#main" class="usa-skipnav">Skip to main content</a>

<header class="usa-header usa-header-basic fedramp-header" role="banner">
	<!-- Gov banner BEGIN -->
	<section class="usa-banner site-banner" aria-label="Official government website">
		<div class="usa-accordion">
			<header class="usa-banner__header">
				<div class="usa-banner__inner">
					<div class="grid-col-auto">
						<img class="usa-banner__header-flag" width="16"
							src="{{site.baseurl}}/assets/img/us_flag_small.png" alt="U.S. flag">
					</div>
					<div class="grid-col-fill tablet:grid-col-auto">
						<p class="usa-banner__header-text">An official website of the United States government</p>
						<p class="usa-banner__header-action" aria-hidden="true">Here’s how you know</p>
					</div>
					<button class="usa-accordion__button usa-banner__button" aria-expanded="false"
						aria-controls="gov-banner">
						<span class="usa-banner__button-text">Here’s how you know</span>
					</button>
				</div>
			</header>
			<div class="usa-banner__content usa-accordion__content" id="gov-banner" hidden="">
				<div class="grid-row grid-gap-lg">
					<div class="usa-banner__guidance tablet:grid-col-6">
						<img class="usa-banner__icon usa-media-block__img"
							src="{{site.baseurl}}/assets/img/icon-dot-gov.svg" role="img" alt="Dot gov">
						<div class="usa-media-block__body">
							<p>
								<strong>Official websites use .gov</strong>
								<br>
								A <strong>.gov</strong> website belongs to an official government organization in the
								United States.
							</p>
						</div>
					</div>
					<div class="usa-banner__guidance tablet:grid-col-6">
						<img class="usa-banner__icon usa-media-block__img"
							src="{{site.baseurl}}/assets/img/icon-https.svg" role="img" alt="Https">
						<div class="usa-media-block__body">
							<p>
								<strong>Secure .gov websites use HTTPS</strong>
								<br>
								A <strong>lock</strong> ( <span class="icon-lock"><svg
										xmlns="http://www.w3.org/2000/svg" width="52" height="64" viewBox="0 0 52 64"
										class="usa-banner__lock-image" role="img"
										aria-labelledby="banner-lock-title banner-lock-description">
										<title id="banner-lock-title">Lock</title>
										<desc id="banner-lock-description">A locked padlock</desc>
										<path fill="#000000" fill-rule="evenodd"
											d="M26 0c10.493 0 19 8.507 19 19v9h3a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V32a4 4 0 0 1 4-4h3v-9C7 8.507 15.507 0 26 0zm0 8c-5.979 0-10.843 4.77-10.996 10.712L15 19v9h22v-9c0-6.075-4.925-11-11-11z">
										</path>
									</svg></span> ) or <strong>https://</strong> means you’ve safely connected to the
								.gov website. Share sensitive information only on official, secure websites.

							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Gov banner END -->

	<!-- AV01 -->
	<div style="display: none;">
		{% assign both = site.policy | concat: site.posts | sort: "date" | reverse %}
		{% for a in both %}
		<p class="post-time">{{ a.date | date: "%s" }}</p>
		{% endfor %}
	</div>

	<div class="search-feature">

		<div class="search-wrapper">
			<div title="Notification Updates" class="bell" tabindex="0">
				<img class="notification-bell-icon" src="{{site.baseurl}}/assets/img/notification-bell.svg"
					alt="Notification Bell" />
				<button class="post-count" title="Post Count" style="display:none;"></button>

				<div id="alert-logic">
					<div class="alert-wrapper-fallback">
						<button class="bell-close"><img class="notification-close"
								src="{{site.baseurl}}/assets/img/bell-close.svg" alt="" /></button>
						<ul>
							<li class="no-new">
								<p>No New Posts</p>
							</li>
						</ul>
					</div>
					<div class="alert-wrapper">
						<button class="bell-close"><img class="notification-close"
								src="{{site.baseurl}}/assets/img/bell-close.svg" alt="" /></button>
						<ul>
							{% for a in both %}
							<li class="current-post">
								{% assign type = a.path | split: '/' | first %}
								{% if type == "_policy" %}
								{% if a.weblink == "" or a.weblink == nil %}
								<a href="{{ site.baseurl }}/assets/resources/{{ a.filename }}">{{ a.title }}</a>
								{% else %}
								<a href="{{ a.weblink }}" target="_blank">{{ a.title }}</a>
								{% endif %}
								{% assign cond = a.condition | strip | downcase %}
								{% if cond == "new" %}
								<p class="date"><strong>New Document</strong> | {{ a.date | date: "%B %-d, %Y"}}</p>
								{% else %}
								<p class="date"><strong>Updated Document</strong> | {{ a.date | date: "%B %-d, %Y"}}</p>
								{% endif %}
								{% else %}
								<a href="{{a.url | prepend: site.baseurl }}">{{ a.title }}</a>
								<p class="date"><strong>New Post</strong> | {{ a.date | date: "%B %-d, %Y"}}</p>
								{% endif %}
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<!-- AV01 end -->

			<!-- SEARCH START DISABLED -->

			<!--  <div class="search-feature">-->
			<!--  <div class="search-wrapper">-->
			<form class="usa-search" id="searchgovform" action="{{site.baseurl}}/search-results/">
				<label class="usa-sr-only" for="searchgovinput">Search</label>
				<input name="search" type="search" id="searchgovinput" placeholder="Search">
				<button type="submit" id="searchgovbutton" title="Submit Search" value="Submit Search">
					<span class="usa-search-submit-text"><img class="search-button-icon"
							src="{{site.baseurl}}/assets/img/search-magnifying-glass.svg" alt="" /></span>
				</button>
			</form>
		</div>
	</div>

	<!--SEARCH END -->


	<div class="usa-nav-container">
		<!--    <div class="usa-navbar">-->
		<button class="usa-menu-btn"><i class="fas fa-bars"></i></button>
		<div class="usa-logo" id="logo">
			<em class="usa-logo-text">
				<a href="{{ site.url }}" accesskey="1" title="Home" aria-label="Home">
					{% if site.logo %}
					<img class="desk" src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}">
					<img class="mobile" src="{{ site.logo-mobile | prepend: site.baseurl }}" alt="{{ site.title }}">
					{% else %}
					<h1 class="usa-header-title">{{ site.title }}</h1>
					{% endif %}
				</a>
			</em>
		</div>
		<!--    </div>-->



		<!--  -->
		<nav role="navigation" class="usa-nav nav focus-within" id="navigation">
			<button class="usa-nav__close">
				<img src="{{ site.baseurl }}/assets/img/menu-close.svg" width="20" alt="close">
			</button>

			<ul class="usa-nav-primary usa-accordion">
				{% assign navs = site.data.navbar.assigned %}

				<!-- 1st level -->
				{% for nav in navs %}

				{% if nav.sub != null %}
				<li tabindex="0" aria-haspopup="true" class="main-parent parent">{{ nav.text }}<img
						src="{{ site.baseurl }}/assets/img/down-chevron.svg" width="18" alt="close">
					<ul class="sub-menu dropdown" aria-label="submenu">

						<!-- 2nd level -->
						{% for sub in nav.sub %}
						<li>
							{% if sub.is_external != null %}
							<a tabindex="0" href="{{ sub.is_external }}" target="_blank">{{ sub.text }}</a>
							{% else %}
							<a tabindex="0" href="{{ sub.permalink | prepend: site.baseurl }}">
								{{ sub.text }}
							</a>
							{% endif %}
							{% if sub.sub != null %}
							<ul class="sub-sub-menu dropdown" aria-label="sub-submenu">
								{% for sub in sub.sub %}
								<li class="parent">
									<a aria-haspopup="true" aria-expanded="false" tabindex="0"
										href="{{ sub.permalink | prepend: site.baseurl }}">
										{{ sub.text }}
									</a>
								</li>
								{% endfor %}
							</ul>
							{% endif %}
						</li>
						{% endfor %}
					</ul>
				</li>

				{% else %}

				<!-- <li>
					{% if nav.is_external != null %}
					<a class="external" href="{{ nav.is_external }}" target="_blank">{{ nav.text }}</a>
					{% else %}
					<a href="{{ nav.permalink | prepend: site.baseurl }}">{{ nav.text }}</a>
				</li> -->
				{% endif %}

				{% endif %}

				{% endfor %}
			</ul>
		</nav>
	</div>
</header>