<script src="{{ site.baseurl }}/assets/vendor/uswds-{{ site.wds-version }}/js/uswds.min.js"></script>
<script src="{{ site.baseurl }}/assets/vendor/jquery-3.6.0.min.js"></script>

<script src="{{ '/assets/js/index.min.js' | prepend: site.baseurl  }}"></script>
<script src="{{ '/assets/js/functions.min.js' | prepend: site.baseurl  }}" type="text/javascript"></script>
<script src="{{ '/assets/js/tabs.min.js' | prepend: site.baseurl  }}" type="text/javascript" defer></script>
<script src="{{ '/assets/js/inpageNav.js' | prepend: site.baseurl  }}" type="text/javascript" defer></script>
<script src="{{ '/assets/js/fedramp-totals.js' | prepend: site.baseurl  }}" type="text/javascript"></script>
<script src="{{ '/assets/js/glance.js' | prepend: site.baseurl  }}"></script>  

{% include cookie-consent.html %}
