.usa-banner-header .usa-banner-inner > img {
  padding-top: 3px;
}

.banner.tagline {
  background-color: $banner-background-color;
  padding: 40px 0;
}
.banner.tagline .usa-grid {
  padding: 3rem;
}
.banner.tagline p {
  color: $banner-text-color;
//  margin-bottom: 75px;
  text-align: center;
//  max-width: 80%;
}
.banner.tagline h2 {
  color: $banner-text-color;
  margin-top: 75px;
  text-align: center;
}

.banner.contact {
  background-color: $banner-background-color;
}
.banner.contact form {
  padding-top: 2em;
}
.banner.contact h2,
.banner.contact p,
.banner.contact legend,
.banner.contact label,
.banner.contact a,
.banner.contact a:hover,
.banner.contact a:visited {
  color: $banner-text-color;
}

.banner .usa-button,
.banner .usa-button-primary,
.banner .usa-button:visited,
.banner .usa-button-primary:visited,
.banner button,
.banner [type="button"],
.banner [type="submit"],
.banner [type="reset"] {
  background-color: $banner-button-color;
  color: $banner-button-text-color;
  text-transform: uppercase;
  font-size: 1.4rem;
}

/*** Responsive Styles Tablet And Below ***/
@media all and (max-width: 980px) {

}
 
/*** Responsive Styles Tablet Only ***/
@media all and (min-width: 768px) and (max-width: 980px) {

}
 
/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {
 	
}
 
/*** Responsive Styles Smartphone Portrait ***/
@media all and (max-width: 479px) {

}
