body,
p, ul, ol, li, a  {
  color: $text-color;
  font-family: $sans-font;
}

#main p {
	min-width: 100%;
}

legend, label,
h1, h2, h3, h4, h5, h6 {
  color: $headers-color;
  font-family: $serif-font;
}


.usa-section-dark {
  legend, label,
  h1, h2, h3, h4, h5, h6,
  p {
    color: $reverse-text-color;
  }
}

legend,
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
}

ul, li {
  margin-bottom: 0;
}

form {
  max-width: 100%;
}
//.usa-section p,
//.usa-section > ul,
//.usa-section > ol,
//.usa-section > h1,
//.usa-section > h2,
//.usa-section > h3,
//.usa-section > h4,
//.usa-section > h5,
//.usa-section > h6 {
//  max-width: 62.5rem;
//}

a {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
  &:active {
    color: $link-active-color;
  }
  &:visited {
    color: $link-visited-color;
  }
}

#main:focus {
  outline: none;
}

@media (min-width: 600px) {
  .usa-width-one-whole.usa-section {
    position: relative;
    left: 50%;
    max-width: 62.5rem;
    margin-left: -31.25rem;
  }
}

.usa-grid {
	max-width: 1200px;
	padding-right: 0;
	padding-left: 0;
}

@media (min-width: 0px) and (max-width: 1200px) {
.usa-grid {
	padding-right: 5%;
	padding-left: 5%;
}}

#main .page-banner, body .page-banner {
	background: $dark-blue;
	padding: 80px 0;
	h1 {
		color: #fff;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	}
}

@media (min-width: 0px) and (max-width: 1200px) {
#main .page-banner {
	padding-right: 5%;
	padding-left: 5%;
}}

.about-us {
section#about {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
	padding: 60px 0;
	@include clearfix;
}
section#fedramp-numbers {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
	float: none;
	padding: 60px 0;
	h2 {
		margin-top: 0;
		text-align: center;
	}
	@include clearfix;
}
section#fedramp-mission {
	width: 100%;
	padding: 60px 0;
	background: $light-blue;
	color: #fff;
	.inner {
		margin: 0 auto;
		max-width: 1200px;
		width: 100%;	
		h2 {
			margin-top: 0;
			color: #fff;
			text-align: center;
		}
		ul {
			column-count: 2;
			column-gap: 40px;
			
		li {
			color: #fff;
			-webkit-column-break-inside: avoid;
			page-break-inside: avoid;
			break-inside: avoid;
		}
		}
	}
}
}


.about-us #fedramp-numbers .image-container, .about-us #about .image-container {
	max-width: 50%;
	float: left;
	text-align: center;
}

.about-us #about .text-container {
	max-width: 50%;
	float: left;
	text-align: left;
	padding: 0 0 0 40px;
}

.about-us #fedramp-numbers .text-container {
	max-width: 100%;
	float: left;
	text-align: left;
	padding: 40px 0 0 0;
}


.usa-width-three-fourths {
	width: 74.4%;
	padding-right: 60px;
	margin: 0;
	box-sizing: border-box;
}

.usa-width-one-fourth {
	width: 25%;
}

@media (min-width: 0) and (max-width: 768px) {
.usa-width-three-fourths {
	width: 100%;
	padding: 0;
}

.usa-width-one-fourth {
	width: 100%;
}
}