:focus {
	outline: $teal auto 1px !important;
	box-shadow: none !important;
}

main#main:focus {
	outline: none !important;
}

@media (min-width: 64em) {
	.desktop\:margin-top-0 {
		margin-top: 0!important;
	}
}

@media (min-width: 1200px) {
	.fedramp-page-container {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@media (min-width: 769px) and (max-width: 1200px) {
	.fedramp-page-container {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

@media (min-width: 0px) and (max-width: 768px) {
	.fedramp-page-container{
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

.usa-skipnav:focus {
	z-index: 1000000000;
	top: 20px;
}

.text-white {
	color: #ffffff !important;
	
	a {
		color: inherit;
		
		&:hover {
			color: $light-teal;
		}
	}
}

.text-red {
	color: $red;
}

.text-lighter-teal {
	color: $lighter-teal !important;
}

#main  {
	p {
		orphans: 3;
		font-weight: 400;
		letter-spacing: .02em;
	}	
	
	p.block-start {
		margin-block-start: .5em;
	}

}

body,
p, ul, ol, li  {
	color: $dark-gray;
	font-family: $sans-font !important;
	line-height: 1.5;
	font-size: .9375rem;
}

legend, label,
h1, h2, h3, h4, h5, h6 {
	color: $headers-color;
	font-family: $serif-font;
	line-height: 1.3em;
}


.grid-row, .basics-col {
	h2 {
		font-weight: 400;
		text-transform: none;
		letter-spacing: .02em;
		padding: 0 0 16px 0;
		margin: 0 0 6px 0;
		font-size: 2.25rem;
		line-height: 42px;
		color: $theme-color-primary-vivid;
	}
	
	h2::after {
		content: "";
		display: block;
		padding-top: 20px;
		border-bottom: solid 1px $red;
		width: 88px;
	}
	
	h2.text-white::after {
		border-bottom: solid 1px white;
	}
	
	h2.center {
		text-align: center;
	}
	
	h2.center::after {
		margin: auto;
	}
	
	h2.no-line::after {
		content: none;
	}
	
	h2.phase-header {
		margin-bottom: 0;
		padding-bottom: .5rem;
	}
}

@media (min-width: 0px) and (max-width: 768px) {
	h2 {
		text-align: center;
		
		&::after {
			margin: auto;
		}
	}
}

.grid-row {
	h3 {
		color: $red;
		font-size: 1.375rem;
		font-weight: 700;
		letter-spacing: .04em;
		padding-right: 1rem;
		text-transform: uppercase;
		position: relative;
		display: flex;
		text-align: left;
		margin-top: 50px;	
	}
	
	h3.center {
		text-align: center;
		display: block;
		padding-right: 0;
	}

	h3::after {
		content: '';
		border-bottom: 1px solid $light-gray;
		bottom: 8px;
		flex: 1;
		left: 1rem;
		position: relative;
	}
	
	h3.no-line::after {
		content: none;
	}
	
	h3.margin-top-0 {
		margin-top: 0px;
	}
	
	h3.callout {
		margin-top: 20px;
	}
}

@media (min-width: 0px) and (max-width: 768px) {
	.grid-row h3 {
		position: relative;
		display: block;
		text-align: center;
		margin-bottom: 2rem;
		padding: 0;
		&::after {
			content: '';
			border-bottom: 1px solid $light-gray;
			bottom: -12px;
			display: block;
			left: 0;
			position: relative;
		}
	}
	
}

@media (min-width: 640px) and (max-width: 768px) {
	.grid-row h3.callout {
		text-align: left;
	}
	
	.grid-row h2.phase-header, .grid-row  h3.phase-header  {
		text-align: left;
	}
}

@media (min-width: 0) and (max-width: 639px) {
	.grid-row h3.phase-header::after {
		content: '';
		border-bottom: 1px solid $light-gray;
		bottom: -12px;
		display: block;
		left: 0;
		position: relative;
	}
}


h4 {
	color: $dark-gray;
	font-size: 1.125rem;
	margin: 30px 0 10px 0;
}

h6 {
	font-weight: bold;
	text-transform: none;
}

.intro-text p, .intro-text li {
	font-size: 1.25rem;
	margin: 0 0 1rem 0;
	line-height: 1.875rem;
	font-weight: 300 !important;
}

a.focus-within:active {
	box-shadow: none;
}

.white-bkg {
	background: white;
}

.teal-bkg {
	background: $teal;
}

.dark-blue-bkg {
	background: $dark-blue;
}

.blue-bkg {
	background: $light-blue;
}

.lightest-gray-bkg {
	background: $lightest-gray;
}

.lightest-teal-bkg {
	background: $lighter-teal;
}

.usa-section-dark {
  legend, label,
  h1, h2, h3, h4, h5, h6,
  p {
    color: $reverse-text-color;
  }
}

legend,
h1, h2, h3, h5, h6 {
  margin-bottom: 20px;
}

ul {
	margin: 12px 0 20px 0;
}

li {
  margin-bottom: 6px;
}

ul.red-bullets {
	list-style: none;
}


ul.red-bullets li::before {
	content: "\2022"; 
	color: $red;
	font-weight: bold; 
	display: inline-block;
	position: relative;
	top: -2px;
	width: 1em; 
	margin-left: -1em;
}

ul.red-bullets ul, ol.red-numbers ul {
	list-style: none;
}

ul.red-bullets ul li::before, p.sub-bullet::before {
	content: "-"; 
	color: $red;
	font-weight: bold; 
	display: inline-block;
	position: relative;
	top: -2px;
	width: 1em; 
	margin-left: -1em;
}


ol.left-numbers {
	padding-left: 1rem;
}



ol.red-numbers {
	list-style: none; 
	counter-reset: li; 
}

ol.red-numbers li::before {
	content: counter(li) ". "; 
	font-weight: bold;
	color: $red;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
	position: relative;
	left: -3px;
}


ol.red-numbers li {
	counter-increment: li;
}


p.sub-bullet {
	margin-top: 0;
	padding-left: 20px;
}

form {
  max-width: 100%;
}
//.usa-section p,
//.usa-section > ul,
//.usa-section > ol,
//.usa-section > h1,
//.usa-section > h2,
//.usa-section > h3,
//.usa-section > h4,
//.usa-section > h5,
//.usa-section > h6 {
//  max-width: 62.5rem;
//}

a {
  color: $link-color;
  outline: none;
  box-shadow: none;
  &:hover {
    color: $red;
	outline: none;
  }
  &:active {
    color: $link-active-color;
	outline: none !important;
	box-shadow: none;
  }
  &:visited {
    color: $link-visited-color;
  }
  &:focus:active {
  	outline: none;
  	box-shadow: none;
  }
}


/*** Responsive Styles desktop Only ***/
@media all and (min-width: 981px) {
	.authorization-desktop {
		display: inline !important;
	}
}
 
/*** Responsive Styles Tablet Only ***/
@media all and (min-width: 768px) and (max-width: 980px) {
	.authorization-tablet {
		display: inline !important;
	}
}
 
/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {
 	.authorization-mobile {
		display: inline !important;
	}
}
 
/* --- columns and grids -- */

@media (min-width: 64em) {
	.desktop\:grid-col-9 {
	}

}
	
.grid-container {
	max-width: 1200px;
	padding: 4rem 0;
}
	
.clearfix {
	clear: both;
}

.no-wrap {
	white-space: nowrap;
}


@media (min-width: 600px) {
  .usa-width-one-whole.usa-section {
    position: relative;
    left: 50%;
    max-width: 62.5rem;
    margin-left: -31.25rem;
  }
}

.usa-grid {
	max-width: 1200px;
	padding-right: 0;
	padding-left: 0;
}

/*
@media (min-width: 0px) and (max-width: 1200px) {
	.usa-grid {
		padding-right: 5%;
		padding-left: 5%;
	}
}

*/

@media (min-width: 1240px) {
	.usa-banner__inner {
		padding-left: 0rem;
		padding-right: 0rem;
	}
}

@media (min-width: 1200px) and (max-width: 1239px) {
	.usa-banner__inner {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@media (min-width: 769px) and (max-width: 1199px) {
	.usa-banner__inner {
		padding-left: 4rem;
		padding-right: 4rem;
	}
}

@media (min-width: 0) and (max-width: 768px) {
	.usa-banner__inner {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

#main .page-banner-container, body .page-banner-container {
	background: $light-blue;
}

#main .page-banner, body .page-banner {
	background: $light-blue;
	padding: 50px 0;
	min-height: 133px;
	max-width: 1200px;
	margin: 0 auto;
	h1 {
		color: #fff;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		font-weight: 300;
		text-align: right;
	}
}

@media (min-width) and (max-width: 950px) {
	#main .page-banner, body .page-banner {
		h1 {
			text-align: center;
		}
	}
}

@media (min-width: 0px) and (max-width: 1200px) {
	#main .page-banner, body .page-banner {
		padding-right: 5%;
		padding-left: 5%;
	}
}

.about-us {
	section#about {
		margin: 0 auto;
		max-width: 1200px;
		width: 100%;
		padding: 60px 0;
		&:after {
			content: '';
			clear: both;
			display: table;
		}
	}
}

section#fedramp-numbers {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
	float: none;
	padding: 60px 0;
	h2 {
		margin-top: 0;
		text-align: center;
	}
	&:after {
	content: '';
	clear: both;
	display: table;
	}
}

section#fedramp-mission {
	width: 100%;
	padding: 60px 0;
	background: $light-blue;
	color: #fff;
	.inner {
		margin: 0 auto;
		max-width: 1200px;
		width: 100%;	
		h2 {
			margin-top: 0;
			color: #fff;
			text-align: center;
		}
		ul {
			column-count: 2;
			column-gap: 40px;
			
			li {
				color: #fff;
				-webkit-column-break-inside: avoid;
				page-break-inside: avoid;
				break-inside: avoid;
			}
		}
	}
}

.about-us #about .image-container {
	max-width: 50%;
	float: left;
	text-align: center;
}

.about-us #fedramp-numbers .image-container {
	max-width: 100%;
	float: left;
	text-align: center;
}

.about-us #about .text-container {
	max-width: 50%;
	float: left;
	text-align: left;
}

.about-us #fedramp-numbers .text-container {
	max-width: 100%;
	float: left;
	text-align: left;
}

.cloud .text-container {
	max-width: 1200px;
	width: 100%;
	float: none;
	margin: 0 auto;
	text-align: left;
	padding: 0 0 40px 0;
	h2:first-child {
		margin-top: 0;
	}
}

@media (min-width: 0px) and (max-width: 1200px) {
.cloud .text-container {
	padding: 0 5% 40px 5%;
}
}

.about-us section.about-auth {
	background: $light-blue;
	width: 100%;
	float: left;
	color: #fff;
	padding: 60px 0;
	.inner {
		max-width: 1200px;
		margin: 0 auto;
		h2 {
			text-align: center;
			color: #fff;
			margin-top: 0;
		}
		p {
			color: #fff;
			text-align: center;
			a {
				color: #fff;
			}
		}	
	}
}

.about-us #fedramp-numbers .column-1, .about-us #fedramp-numbers .column-2 {
	width: 50%;
	float: left;
}

@media (min-width: 0) and (max-width: 768px) {
.about-us #fedramp-numbers .column-1, .about-us #fedramp-numbers .column-2 {
	width: 100%;
	float: left;
}
.about-us section.about-auth {
	padding: 60px 5%;
}
}

.about-us #fedramp-numbers img.one {
	width: 50%;
	float: left;
}

.about-us #fedramp-numbers img.two {
	width: 50%;
	float: left;
}


.about-us #fedramp-numbers img.three {
	width: 100%;
	float: left;
	clear: left;
}

.about-us #fedramp-numbers img.four {
	width: 100%;
	float: right;
	top: 0;
	position: relative;
}


.usa-width-three-fourths {
	width: 74.4%;
	padding-right: 60px;
	margin: 0;
	box-sizing: border-box;
}

.usa-width-one-fourth {
	width: 25%;
}

@media (min-width: 0) and (max-width: 768px) {
.usa-width-three-fourths {
	width: 100%;
	padding: 0;
}

.usa-width-one-fourth {
	width: 100%;
}
}

@media (min-width: 0px) and (max-width: 1200px) {
.about-us section#about {
	padding-left: 5%;
	padding-right: 5%;
}


.about-us section#fedramp-mission {
	padding: 60px 5%;
}
}

@media (min-width: 0px) and (max-width: 768px) {
	.about-us section#about {
		padding-left: 5%;
		padding-right: 5%;
	}
	.about-us #about .text-container {
		max-width: 100%;
		float: left;
		text-align: left;
		padding: 0;
	}
	.about-us #about .image-container {
		max-width: 100%;
		float: left;
		text-align: center;
	}
	.about-us section#fedramp-mission {
		width: 100%;
		padding: 60px 5%;
		background: $light-blue;
		color: #fff;
	}
	.about-us section#fedramp-mission .inner ul {
		column-count: 1;
	}
}


/* --- Buttons --- */

button.focus-within:active {
	box-shadow: none;
}

button {
	border: none;
}

button:active {
	outline: none;
	box-shadow: none;
}

#searchgovform button#searchgovbutton,
#searchgovform #searchgovbutton
#searchgovform [type="submit"] {
	background-color: #112E51;
	content: "";
}

.usa-button,
.usa-button-primary,
.usa-button:visited,
.usa-button-primary:visited,
button,
[type="button"],
[type="submit"],
[type="reset"],
[type="button"],
[type="submit"],
[type="reset"],
[type="image"] {
	background-color: #fff;
	color: $button-text-color;
	font-family: $sans-font;
	margin-bottom: 20px;
	margin-top: 20px;
}
.usa-button:hover,
.usa-button-primary:hover,
.usa-button:visited:hover,
.usa-button-primary:visited:hover,
button:hover,
[type="button"]:hover,
[type="submit"]:hover,
[type="reset"]:hover,
[type="button"]:hover,
[type="submit"]:hover,
[type="reset"]:hover,
[type="image"]:hover {
	background-color: $button-hover-color;
	text-decoration: underline;
}
@media (max-width: 500px) {
	.usa-button,
	.usa-button-primary,
	.usa-button:visited,
	.usa-button-primary:visited,
	button,
	[type="button"],
	[type="submit"],
	[type="reset"],
	[type="button"],
	[type="submit"],
	[type="reset"],
	[type="image"] {
		width: auto;
	}
}


/* Back to Top button */

#topButton {
	display: inline-block;
	background-color: $teal;
	width: 42px;
	height: 42px;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	transition: background-color .3s, opacity .5s, visibility .5s;
	opacity: .8;
	visibility: hidden;
	z-index: 1000;
	text-decoration: none;
}

#topButton::after {
	content: "";
	color: white;
	font-size: 1rem;
	display: block;
	background: url('../../assets/img/arrow-up.svg') no-repeat;
	top: 14px;
	left: 12px;
	position: absolute;
	width: 20px;
	height: 20px;
}

#topButton:hover {
	cursor: pointer;
	opacity: 1;
}

#topButton:active {
	background-color: $dark-blue;
}

#topButton.show {
	opacity: .8;
	visibility: visible;
}

