 @media screen and (min-width: 600px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
    width: 102.5%;
  }
}
// Project blog ------------- //

// Sets a height on projects so they're the same height and don't break the grid
.blog {
//  box-shadow: 0 0 0 1px #d6d7d9;
  display: block;
  text-align: center;
//  margin-bottom: 3rem;
//  padding-bottom: 3rem;
  position: relative;
  text-decoration: none;

  @media all and (min-width: $on-laptop) {
    display: flex;
    flex-direction: column;
    margin-right: 2.3%;
    min-height: 450px;
    width: 31%;
  }

  &:hover {
    box-shadow: 0 0 0 1px $card-heading-color;
  }

  &:active {
    box-shadow: #3e94cf;
  }
}

.blog-link {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}

.blog-banner {
  margin: 0;
  padding: 20px;
  max-height: 200px; 
  background: none;
  text-align: left;
  @media all and (min-width: $on-laptop) {
    flex: 1 0 auto;
  }
}

.blog-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 200px;
  width: 100%;
}

.blog-description.blog-description {
  color: $card-heading-color;
  margin-top: 0;
}

.blog-description p {
	font-weight: normal;
	margin: 20px 0 10px 0;
}

.blog-summary {
  font-size: 16px;
  margin-bottom: 0;

  em {
    font-style: normal;
  }
}

a.blog-read {
	color: #fff;
}

.blog-read {
  	color: #fff !important; 
    display: block;
    margin: 0 auto;
  /*  display: static;*/
    width: 100px !important;
    text-align: center;
    float: none;
    color: #0071bc;
    text-transform: uppercase;
    padding: 10px;
    font-size: 1.4875rem;
    font-weight: bold;
    text-decoration: none;

  &:visited {
    color: #fff;
  }

  svg {
    display: inline-block;
    height: 1.2rem;
    margin-bottom: -1px;
    width: 1.2rem;
    margin-left: 4px;
  }
}

.view-all button {
	background: $light-blue;
	float: none;
	display: block;
	margin: 0 auto;
}

#main section.usa-grid.usa-section h2 {
	text-align: center;
	width: 100%;
	float: none;
	margin: 0 auto 20px auto;
}

.post-container {
	max-width: 1200px;
}

.post-container span {
	width: 100%;
}

.author-date {
	margin: 0 0 20px 0;
	border-bottom: 1px solid #cdcdcd;
}

.blog-sidebar {
ul {
padding: 0px;
li {
	list-style: none; 
	background: url('../../assets/img/bullet.png') no-repeat 5px 10px;
	padding: 0 0 0 20px;
	margin: 0 0 10px 0;
}
}
h3 {
	border-bottom: 1px solid #cdcdcd;
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
}
}

@media (min-width: 0) and (max-width: 768px) {
.blog-sidebar {
	margin: 40px 0 0 0 !important;
}
}

.page-blog h2 a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}	
}

.page-blog .meta ul {
	padding: 0;
	li {
	list-style: none;
	}
}

.page-blog .usa-width-one-whole {
	padding: 0 0 40px 0;
	border-bottom: 1px solid #cdcdcd;
	margin-bottom: 30px;
	&:last-child {
		border: 0;
	}
}

.page-blog main img {
	border: 1px solid #cdcdcd;
}

.page-blog .readmore a.more-link {
	margin: 15px auto 0 auto;
	color: #fff;
//	width: 40%;
	float: right;
	text-transform: uppercase;
	background: #205493;
	padding: 10px;
	font-size: 1.4875rem;
	font-weight: bold;
	text-decoration: none;
}

.pagination ul li {
	list-style: none;
	display: inline;
}

.pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
  }

.pagination a {    
    &:hover {
        background-color: #f1f1f1;
        color: #333;
    }
 }

.pagination {
    text-align: center;
 }