footer {
	float: left;
	width: 100%;
	p {
		color: $dark-blue !important;
	}
}

.usa-footer-primary-section {
  background-color: $footer-primary-background-color;
}

.usa-footer-secondary_section {
  background-color: $footer-secondary-background-color;
  padding: 60px 0;
}

footer p,
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6,
footer a,
footer a:hover,
footer a:visited {
  color: $footer-text-color;
}

.usa-footer-logo p {
  font-size: .7em;
  width: auto;
}

.usa-footer .logo-container {
	max-width: 200px;
	text-align: center;
	img {
		margin: 0 auto;
		float: none;
		max-width: 100px;
	}
}

form#contact p, address p, .footer-social p {
	font-weight: bold;
}

.footer-social, address {
	margin: 20px 0 0 0;
p {
	margin: 0 0 5px 0;
	color: $dark-blue;
}
a {
	color: $light-blue !important;
}
}

.footer-social a.usa-link-twitter img {
	fill: $light-blue;
}

address p:last-of-type, address p {
	margin: 0;
}

.usa-grid {
#contact {
	text-align: center;
	div.usa-width-one-half  {
		width: 100%;
		input {
			margin: 30px auto;
		}
	}
}
}

.newsletter-footer {
	float: left;
	margin: 0;
	width: 31%;
	input {
		margin: 15px auto 0 auto;
		background: $light-blue;
	}
}

.usa-footer-secondary_section .footer-social, .usa-footer-secondary_section address {
	float: right;
	text-align: center;
	width: 200px;
	clear: both;
}

@media (min-width: 0px) and (max-width: 580px) {
.usa-footer-secondary_section .footer-social, .usa-footer-secondary_section address {
	float: none;
	text-align: center;
	width: 100%;
}
.newsletter-footer {
	float: none;
	width: 100%;
}
.usa-footer .logo-container {
	max-width: 100%;
}
.usa-footer-contact-links {
	text-align: center;
	padding: 20px 0 0 0;
}	
}

.usa-footer-secondary_section .footer-social a {
	margin: 0 auto;
	position: static; 
	color: $light-blue !important;
}

.copyright {
	padding: 5px 0;
	background: $dark-blue;
	text-align: center;
	color: #fff;
	font-size: .7em;
}