div.usa-nav-container {
	height: 215px;
	width: 100%;
	max-width: 1200px;
	vertical-align: middle;
	padding: 75px 0;
	box-sizing: border-box;
}

div.usa-navbar {
	float: left !important;
	height: 100px;
}

div.usa-navbar:after {
	content: '';
	display: table;
	clear: both;
}

nav.usa-nav {
	padding: 10px 0;
	height: 70px;
	float: right;
ul {
li {
	text-transform: uppercase;
}
}
}

#logo em.usa-logo-text {
a {
	float: left;
}
	float: left;
}

div#logo.usa-logo {
	float: left;
}

header.usa-banner-header {
	height: 30px;
	padding: 5px 0;
}

.menu-wrap {
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    background: #3e3436;
}
 
/*.usa-nav {
    width:1000px;
    margin:0px auto;
}*/
 
.usa-nav li {
    margin: 0px;
    list-style: none;
}
 
.usa-nav a {
    transition: all linear 0.15s;
}
 
.usa-nav li:hover > a, .usa-nav .current-item > a {
    text-decoration: none;
}
 
/*----- Top Level -----*/
.usa-nav > ul > li {
/*    float:left;*/
/*    display:inline-block;*/
    position: relative;
/*    font-size:19px;*/
}
 
.usa-nav > ul > li > a {
/*    padding:10px 40px;*/
    display: inline-block;
/*    text-shadow:0px 1px 0px rgba(0,0,0,0.4);*/
}
 
.usa-nav > ul > li:hover > a, .usa-nav > ul > .current-item > a {
	border-bottom: 10px solid $light-blue;
}
 
/*----- Bottom Level -----*/
.usa-nav li:hover .sub-menu {
    z-index: 1;
    opacity: 1;
}
 
.sub-menu {
    width: 175px;
    padding: 0px;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity linear 0.15s;
//    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
    background: $light-blue;
}
 
.sub-menu li {
    display: block;
	text-align: left;
}
 
.sub-menu li a {
    padding: 10px;
    display: block;
    font-size: .8em;
    color: #fff;
}
 
.sub-menu li a:hover, .sub-usa-nav .current-item a {
    background: $dark-blue;
    color: #fff;
}