/** SEARCH FEATURE **/
.search-feature {
	margin: 20px 40px;
}

.search-feature .usa-header .usa-search {
	max-width: 40rem;
}

.search-feature .usa-button, .search-feature .usa-button-primary, .search-feature .usa-button:visited, .search-feature .usa-button-primary:visited, .search-feature button, .search-feature [type="button"], .search-feature [type="submit"], .search-feature [type="reset"], .search-feature [type="image"] {
	font-size: 1.2rem;
}


div.usa-nav-container {
	height: 170px;
	width: 100%;
	max-width: 1200px;
	vertical-align: middle;
	padding: 60px 0;
	box-sizing: border-box;
}

@media (min-width: 0px) and (max-width: 951px) {
	div.usa-nav-container {
		padding: 20px 5%;
		margin: 0;
		height: 120px;
	}
}

div.usa-navbar {
	float: left !important;
	height: 100px;
	border: 0;
}

div.usa-navbar:after {
	content: '';
	display: table;
	clear: both;
}

nav.usa-nav {
	padding: 10px 0;
	float: right;
ul {
li {
	text-transform: uppercase;
}
}
}

//@media (min-width: 0) and (max-width: 951px) {
//#logo.usa-logo {
//	position: relative;
//	top: -45px;
//	left: 80px;
//}
//}

@media (min-width: 951px) and (max-width: 1200px) {
.usa-nav-container {
	padding-top: 30px;
}
.usa-navbar {
position: relative;
top: -30px;
left: 30px;
}
.usa-nav-primary.usa-accordion {
	margin: 0 10% !important;
}
}

#logo em.usa-logo-text {
a {
	float: left;
}
	float: left;
}

div#logo.usa-logo {
	float: left;
	 max-width: 360px;
}

@media (min-width: 375px) and (max-width: 768px) {
div#logo.usa-logo {
	max-width: 260px;
	img {
		width: 100%;
		height: auto;
	}
}
}

@media (min-width: 0px) and (max-width: 374px) {
div#logo.usa-logo {
	max-width: 210px;
	img {
		width: 100%;
		height: auto;
	}
}
.usa-banner-header img {
	margin-right: 9px;
}
}

header.usa-banner-header {
	height: 30px;
	padding: 5px 0;
}



.menu-wrap {
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    background: #3e3436;
}

//@media (min-width: 0) and (max-width: 768px) {
//.usa-navbar {
//    width: 100%;
//    margin: 0px auto;
//}
//div#logo.usa-logo {
//	float: left;
//	 max-width: 100%;
//	 img {
//	 	width: 100%;
//	 	height: auto;
//	 }
//}
//}

//@media (min-width: 768px) and (max-width: 1024px) {
//nav.usa-nav {
//	width: 70%;
//}
//.usa-navbar {
//	width: 30%;
//}
//}

.usa-nav li {
    margin: 0px;
    list-style: none;
}

//@media and (max-width: 951px) {
//.usa-nav li a, .usa-nav li.parent {
//	font-size: 1.25vw !important;
//}
//}

@media (min-width: 951px) and (max-width: 1200px) {
nav.usa-nav {
	width: 100%;
	height: 100px;
	position: relative;
	top: -60px;
	height: 70px;
}
}

.usa-nav a {
    transition: all linear 0.15s;
}

.usa-nav li:hover > a, .usa-nav .current-item > a {
    text-decoration: none;
}

/*----- Top Level -----*/
.usa-nav > ul > li {
/*    float:left;*/
/*    display:inline-block;*/
    position: relative;
/*    font-size:19px;*/
}

.usa-nav > ul > li > a {
/*    padding:10px 40px;*/
    display: inline-block;
/*    text-shadow:0px 1px 0px rgba(0,0,0,0.4);*/
}

.usa-nav > ul > li:hover > a, .usa-nav > ul > .current-item > a {
	border-bottom: 10px solid $light-blue;
}

.usa-mobile_nav-active .usa-nav > ul > li:hover > a, .usa-nav > ul > .current-item > a {
	border-bottom: none;
}

/*----- Bottom Level -----*/
.usa-nav li:hover .sub-menu {
    z-index: 1;
    opacity: 1;
}

.sub-menu {
    width: 175px;
    padding: 0px;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity linear 0.15s;
//    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
    background: $light-blue;
}

.usa-mobile_nav-active .sub-menu {
	display: none;
}

.sub-menu li {
    display: block;
	text-align: left;
}

.sub-menu li a {
    padding: 10px;
    display: block;
    font-size: .9em;
    color: #fff;
}

.sub-menu li a:hover, .sub-usa-nav .current-item a {
    background: $dark-blue;
    color: #fff;
}

// button.usa-accordion-button.usa-banner-button {
// 	width: auto;
// 	height: 20px;
// }


/** PRINT FRIENDLY **/
@media print {
	
	html, body {
            margin: 0;
            padding: 0;
            background: #FFF; 
            font-size: 9.5pt;
          }
          .container, .container div {
            width: 100%;
            margin: 0;
            padding: 0;
          }
	/*
          .template { 
		  overflow: hidden;
	   }
	*/

          img { 
		  width: 100%; 
	  }

	
	#navigation, #subnavigation{
	display: none;
	}

	h1 {
	font-size: 24pt;
	}
	h2 {
	font-size: 18pt;
	}
	h3 {
	font-size: 14pt;
	}
	p, ul, ol, dl {
	/* paragraphs, unordered, ordered, and definition lists */
	font-size: 12pt;
	}
    /* Print CSS rules go here */
    /* Note: You need a separate @media screen group for other rules */
}

