.hero-unit {
  background-size: cover;
  background-color: $dark-blue;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 35em;
  position: relative;
  z-index: -1;
  .usa-grid {
  h1 {
  	font-family: $sans-font;
  	font-weight: 100 !important;
  	font-size: 41px !important;
  }
  span {
  	max-width: 700px ;
  	margin: 0 auto ;
  	display: block;
  	width: 100%;
  p {
  	text-align: center;
  	width: 100%;
  }
  }
  }
}

@media (min-width: 0) and (max-width: 400px) {
	.hero-unit .usa-grid h1 {
		font-size: 30px !important;
		}
}

/*@media (min-width: 0) and (max-width: 1200px) {
	.hero-unit .usa-grid h1 {
		margin: -20px 0 0 0;
		}
}*/