.center-content {
  text-align: center;
}

.home .usa-width-one-whole > p {
  // same as .usa-font-lead
//  max-width: 77rem;
  font-size: 20px;
  line-height: 1.7;
}

.home .home-blog {
	background: #f1f1f1;
	max-width: 100%;
	width: 100%;
	margin: 0;
	.post-container {
		margin: 0 auto;
		.blog-image {
			background-color: #fff;
		}
	}
}
