/* --- Home scss --- */


.agency-home {
	position: absolute;
	width: 190px;
	top: 20px;
	
	img:hover {
		filter:saturate(2);
	}

}

.jab-home {
	position: absolute;
	width: 190px;
	top: 210px;

	img:hover {
		filter:saturate(2);
	}

}

@media (min-width:981px) and (max-width:1199px) {
	.agency-home, .jab-home {
		width: 17%;
		font-size: 0.75rem;
	}
	
	.jab-home {
		top: 56%;
	}
}

@media (min-width:768px) and (max-width:980px) {
	.agency-home, .jab-home {
		left: 6%;
		width: 35%;
		
		img {
			width: 100%;
		}
	}
	
	.jab-home {
		top: 28%;
	}
}

@media (min-width:0px) and (max-width:767px) {
	.agency-home, .jab-home {
		left: 17%;
		top: 4%;
		width: 65%;
		
		img {
			width: 100%;
		}
	}
	
	.jab-home {
		top: 15%;
	}
}

.center-content {
  text-align: center;
}

.desktop-hide {
	display: none !important;
}

.home .usa-width-one-whole > p {
  font-size: 1.25rem;
  line-height: 1.7;
}

.home .home-blog {
	background: #f1f1f1;
	max-width: 100%;
	width: 100%;
	margin: 0;
	.post-container {
		margin: 0 auto;
		.blog-image {
			background-color: #fff;
		}
	}
}

.partner-divider {
	margin: 26px 0 10px 0;
	border: none;
}


.partners-container {
	max-width: 1200px;
	width: 100% !important;
    margin: 0 auto;
    width: auto;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
	&:after {
		content: '';
		display: table;
		clear: both;
	}
	
	button {
		border: solid 1px $red;
		color: $red;
		font-weight: 800;
		padding: 10px 32px;
		margin: 10px 0 0 0;
		border-radius: 20px;
		cursor: pointer;
		font-size: 0.75rem;
		text-transform: uppercase;
	}

	button:hover {
		border: solid 1px $teal;
		background: #ffffff;
		color: $teal;
		text-decoration: none;
	}
}

.home-partners-title {
	margin: 0 auto 0 auto;
    width: 100%;
    margin-bottom: 0px;
	h2 {
		color: $teal;
		text-transform: uppercase;
		font-size: 1.625rem;
		font-weight: bold;
		padding: 0;
	}
	
	h2::after {
		content: none;
	}
	
	h3 {
		color: $red;
		font-size: 1.125rem;
		font-weight: 700;
		letter-spacing: .04em;
		text-align: left;
		text-transform: none;
		display: inline;
		padding-right: 0;
	}
	
	h3::after {
		content: none;
	}
}


@media (min-width:0) and (max-width:949px) {
	.home-partners-title {
		border: none;
		h3 {
			width: 100%;
		}
	}
}

.home-partners-icons {
	width: 100%;
	min-height: 260px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	li {
		list-style: none;
		width: 390px;
	}
	img {
		float: left;
		margin-top: 20px;
	}
	
	
	.partners-col h2 {
		font-weight: 500 !important;
		color: $teal;
		font-size: 1.375rem;
		letter-spacing: .02em;
		font-weight: 500;
		margin: 25px 0 15px 0;
	}
	
	.partners-col p {
		color: $dark-gray;
		margin: 0;
		padding: 5px 0 5px 0;
	}
	
	
	a.partner-learn-more button {
		background-color: transparent;
		color: $red;
		
		padding: 1rem 2rem;
		&:hover {
			text-decoration: none;
			color: $teal;
			border-color: $teal;
		}
	}
}

a.partner-learn-more {
	border: solid 1px $red;
	color: $red;
	border-radius: 30px;
	padding: 10px 32px;
    margin: 10px 0 0 0;
    border-radius: 20px;
    cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;
	font-size: .75rem;
	font-weight: 800;
	letter-spacing: .01em;

	&:hover {
		border-color: $teal;
		color: $teal;
	}
}

@media (min-width:1000px) and (max-width:1200px) {
	.home-partners-icons {
		width: 100%;
		min-height: 300px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		padding: 0;
		li {
			width: 300px;
		}
	}
}

@media (min-width:768px) and (max-width:1000px) {
	.home-partners-icons {
		width: 100%;
		min-height: 300px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		padding: 0;
		li {
			padding-bottom: 0;
			margin-bottom: 30px;
			width: 390px;
			&:last-child {
				border: none;
			}
		}
}
}

@media (min-width:0) and (max-width:768px) {
	.home-partners-icons {
		width: 100%;
		min-height: 300px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		padding: 0;
		li {
			padding-bottom: 20px;
			margin-bottom: 20px;
			width: 320px;
			border-bottom: 1px solid $light-gray;
			&:last-child {
				border: none;
				padding: 0;
				margin: 0;
			}
			img {
				max-width: 82px;
			}
		}
		.partners-col h2 {
			font-weight: 500 !important;
			color: $teal;
			font-size: 1.25rem !important;
			letter-spacing: .02em;
			font-weight: 500;
			margin: 20px 0 5px 0 !important;
		}
	}
}

span.assessment {
	color: inherit !important;
}

.home-auth-title {
		margin: 0 auto 12px auto;
		border-top: solid 1px #dedede;
		width: 100%;
		display: none;
		h4 {
			color: $red;
			font-size: 1.25rem;
			font-weight: 700;
			letter-spacing: .04em;
			text-align: center;
			background: $lightest-gray;
			text-transform: uppercase;
			width: 45%;
			margin: auto;
			top: -15px;
			position: relative;
			padding: 0 1%;
			display: none;
		}
	}


.auth-process {
	background: $lightest-gray;
	text-align: center;
	width: 100%;
}


/*
@media (min-width: 0) and (max-width: 950px) {

	.auth-process p {
		font-size: .9375rem;
	}
	
	.home-auth-title {
		display: block;
	
		h4 {
			display: block;
		}
	}
	
	.process-diagram .process-container ul.column-1, .process-diagram .process-container ul.column-3, .process-diagram .process-container ul.column-4, .process-diagram .process-container ul.column-2 {
		width: 90%;
		}
		.process-diagram .process-container ul.column-1 {
			margin: 0 0 75px 0;
			height: 240px;
			width: 303px !important;
				li.jab-first {
					background: url("../../assets/img/bubble-bottom-wide.svg") no-repeat top;
					background-size: 100%;
					min-height: 80px;
					height: 80px;
					padding: 0 50px 0px 50px;
					box-sizing: border-box;
					width: 324px;
					margin: 0 auto;
					flex-flow: row-reverse;
					p {
						margin-top: 14px !important;
					}
					a {
						align-items: center;
						display: flex;
						flex-flow: row-reverse;
						justify-content: space-around;
						align-content: center;
						width: 100%;
					}
					img {
						position: relative;
						top: 7px;
						left: -50px;
					}
				}
				li.seek {
					width: 303px;
					margin: 0 auto;
					height: 60px;
					background-size: contain;
				}
				li.agency-first {
					background: url("../../assets/img/bubble-top-wide.svg") no-repeat bottom;
					background-size: 100%;
					min-height: 80px;
					height: 80px;
					padding: 0 30px 17px 30px;
					box-sizing: border-box;
					width: 324px;
					margin: 0 auto;
					flex-flow: row;
					p {
						margin-top: 10px !important;
					}
					a {
						align-items: center;
						display: flex;
						flex-flow: row;
						justify-content: space-around;
						align-content: center;
						width: 100%;
					}
					img {
						position: relative;
						top: 2px;
						left: -50px;
					}
				}
				
			}
			.process-diagram .process-container ul.column-2 {
				margin: 0 0 75px 0;
				height: 388px;
				width: 303px !important;
					li.jab-one-two {
						box-sizing: border-box;
						width: 302px;
						height: 147px;
						margin: 0;
						ul {
							height: 147px;
						}
						li.readiness, li.security {
							width: 146px !important;
							height: 147px !important;
							background: url("../../assets/img/bubble-mobile-2-2.svg") no-repeat center;
						}
						li.readiness {
						padding-left: 0 !important;
							padding-right: 0 !important;
						}
					}
				
					li.prep {
						width: 303px;
						margin: 0 auto;
						height: 60px;
					background-size: contain;
				background: url("../../assets/img/chevron-mobile.svg") no-repeat center;
					}
				
					li.agency-one-two {
						box-sizing: border-box;
						width: 302px;
						height: 147px;
						margin: 0;
						ul {
							height: 147px;
						}
						li.one, li.two {
							width: 146px;
							height: 147px;
							background: url("../../assets/img/bubble-mobile-2-1.svg") no-repeat center;
						}
					}
				}
		.process-diagram .process-container ul.column-4 {
			padding: 0;
			margin: 0;
			width: 303px !important;
			height: 270px;
			li.jab-conmon {
				background: url("../../assets/img/bubble-bottom-wide.svg") no-repeat top;
				background-size: 100%;
				min-height: 100px;
				padding: 30px 0px 17px 0px;
				box-sizing: border-box;
				margin: auto;
				height: 88px;
				width: 324px;
			}
			li.conmon {
				width: 303px;
				margin: 0 auto;
				height: 60px;
				background-size: contain;
				background: url("../../assets/img/chevron-mobile.svg") no-repeat center;
			}
			li.agency-conmon {
				background: url("../../assets/img/bubble-top-wide.svg") no-repeat bottom;
				background-size: 100%;
				height: 100px;
				height: 88px;
				padding: 15px 0px 30px 0px;
				box-sizing: border-box;
				width: 324px;
				margin: auto;
				img {
					margin-top: 2px !important;
				}
				}
			}
	.process-diagram .process-container ul.column-3 {
		height: 279px;
		width: 303px !important;
		margin: 0 0 75px 0;
		li.jab-auth {
			background: url("../../assets/img/bubble-bottom-wide.svg") no-repeat top;
			background-size: 100%;
			min-height: auto;
			height: 88px;
			box-sizing: border-box;
			width: 324px;
			margin: auto;
			padding-bottom: 25px;
			span {
				margin: 0;
			}
			p {
				width: 100%;
			}
		}
		li.auth {
			width: 303px;
			margin: 0 auto;
			height: 60px;
			background-size: contain;
			background: url("../../assets/img/chevron-mobile.svg") no-repeat center;
		}
		li.agency-auth {
			background: url("../../assets/img/bubble-top-wide.svg") no-repeat bottom;
			background-size: 100%;
			min-height: auto;
			height: 88px;
			box-sizing: border-box;
			width: 324px;
			margin: auto;
			padding-top: 25px;
			span {
				margin: 0;
			}
			p {
				width: 100%;
			}
		}
	}	


p.auth-process-description {
	margin-bottom: 90px;
	} 
}

@media (min-width: 0) and (max-width: 949px) {
	.process-diagram h3 {
		display: block;
		}
}

*/


/*

@media (min-width: 0) and (max-width: 980px) {
	.program-basics #history-mission-goals #mission {
			background: url("../../assets/img/mission-background.png") no-repeat center;
			width: 100% !important;
			background-size: cover;
	}
	.program-basics #history-mission-goals #goals {
			background: url("../../assets/img/goals-background.png") no-repeat left;
			width: 100% !important;
			background-size: contain;
	}
	.program-basics #history-mission-goals #benefits {
			background: url("../../assets/img/benefits-background.png") no-repeat left;
			width: 100% !important;
			background-size: contain;
	}
	.program-basics #history-mission-goals #history {
			background: url("../../assets/img/history-background.png") no-repeat left;
			width: 100% !important;
			background-size: contain;
	}
}

*/

/*

.program-basics {
	#history-mission-goals {
		display: flex;
		flex-flow: row wrap;
		h2 {
			margin-top: 0;
		}
	#mission, #history, #goals, #benefits {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-content: center;
	}
	#mission {
			background: url("../../assets/img/mission-background.png") no-repeat center ;
			width: 50%;
			background-size: cover;
			.inner {
				padding: 60px;
				width: 100%;
			}
			
	}
	#goals {
			background: url("../../assets/img/goals-background.png") no-repeat left;
			width: 50%;
			background-size: cover;
			.inner {
				padding: 60px;
				width: 100%;			
				ul {
					padding: 0;
					li {
						list-style: none;
						padding: 0 0 0 35px;
						margin: 10px 0 0 0;
						svg {
							margin: 0 20px 0 -35px;
							color: $dark-red;
						}
					}
				}
			}
	}
	#history {
			background-image: url("../../assets/img/history-background.png");
			width: 100%;
			background-size: cover;
			padding: 60px;
			width: 50%;
			background-blend-mode: multiply;
	}
	#benefits {
			background-image: url("../../assets/img/benefits-background.png");
			width: 100%;
			background-size: cover;
			width: 50%;
	.inner {
		padding: 60px;
		width: 100%;			
		ul {
			padding: 0;
			li {
				list-style: none;
				padding: 0 0 0 35px;
				margin: 10px 0 0 0;
				svg {
					margin: 0 20px 0 -35px;
					color: $dark-red;
				}
			}
			}
		}
	}
	}
	
	
	#legal-framework {
		width: 100%;
		float: left;
		padding: 40px 0;
		@include clearfix;
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		.inner {
			width: 100%;
			max-width: 1200px;
			margin: 0 auto;
			.text {
			width: 100%;
			ul {
				padding: 0;
				justify-content: center;
				display: flex;
				flex-flow: row wrap;
				width: 100%;
				margin: 0 auto;
				li {
					padding: 0 30px;
					text-align: center;
					max-width: 300px;
					list-style: none;
					box-sizing: border-box;
					background: url('../../assets/img/legal-divider.png') right no-repeat;
					&:last-child {
						background: none;
					}
					img {
						height: 135px;
						margin: auto;
					}
				}
				}
			}
		}
	}
}

#learn-more {
	background: $darkest-blue;
	.inner {
		padding: 40px 0;
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
		align-items: center;
		h2 {
			font-family: $sans-font;
			color: $light-teal;
			font-weight: 300;
			margin: 0;
			font-size: 2rem;
			letter-spacing: .01em;
		}
		button {
			background: none;
			color: $light-teal;
			border: 1px solid $light-teal;
			padding: 15px 40px;
		}
	}
}

@media (min-width: 0) and (max-width: 1200px) {
	#learn-more .inner {
		padding: 40px 5%;
		}
}

@media (min-width: 0) and (max-width: 980px) {
#learn-more .inner  {
	text-align: center;
	h2 {
		text-align: center;
		width: 100%;
	}
	a {
		margin: 20px 0 0 0;
		width: 100%;
		text-align: center;
	}
	button {
	margin: auto;	
	}
	}
}

*/

/*

@media (min-width: 0) and (max-width: 670px)  {
.program-basics section#legal-framework div.inner div.text ul li {
		background: url('../../assets/img/legal-divider-mobile.png') bottom no-repeat;
		padding: 0 0 30px 0;
		&:last-child {
			background: none;
		}
	}
	}
	
	@media (min-width: 0) and (max-width: 1200px)  {
	.program-basics section#legal-framework {
		padding-right: 5%;
		padding-left: 5%;
	}
	}
	
@media (min-width: 0) and (max-width: 768px) {
section#goals div.inner {
	flex-flow: column;
.text {
	order: 2;
}
}
 section#mission div.inner div.image, section#goals div.inner div.image, section#history div.inner div.image {
	width: 100% !important;
}
 section#mission div.inner div.text,  section#goals div.inner div.text, section#history div.inner div.text {
	width: 100% !important;
}
}

*/

.fedramp-glance {
	padding: 4rem 2rem 4rem 2rem;
	float: left;
	width: 100%;
	h2 {
		font-weight: 400;
		text-transform: none;
		text-align: center;
		letter-spacing: .02em;
		padding: 0 0 15px 0;
		margin: 0 0 40px 0;
		font-size: 2rem;
		line-height: 42px;
		color: $teal;
		background: url('../../assets/img/red-border.svg') center bottom no-repeat;
	}
	ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0;
		li {
			list-style: none;
			width: 200px;
			text-align: center;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			span {
			p {
				color: $teal;
				font-weight: 700 !important;
				text-transform: uppercase;
				font-size: 1.375rem;
				text-align: center;
				margin: 20px 0 0 0;
				letter-spacing: .04em !important;
				&.number {
					color: $red;
					font-size: 6.25rem;
					font-weight: 800 !important;
					text-align: center;
					margin: 0;
					line-height: 1;
					letter-spacing: .04em !important;
					font-family: $title-font !important;
				}
			}
			}
		}
	}
}


@media (min-width: 0) and (max-width: 660px) {
	.fedramp-glance {
	padding: 40px 10% 80px 10%;
	ul {
		li {
			justify-content: space-between;
			width: 100%;
			max-width: 346px;
			margin: 0 0 80px 0;
			&:last-child {
				margin: 0;
				padding: 0;
			}
			span {
			width: 45%;
			text-align: center;
			p {
				margin: 0;
				&.number {
					font-size: 4.625rem;
				}
			}
		}
	}	
	}
	}
}