.usa-mobile_nav-active input[type=checkbox] {
	/* hide native checkbox */
	position:  absolute;
	opacity:  0;
}
.usa-mobile_nav-active label, .cd-accordion-menu a {
	position:  relative;
	display:  block;
	padding:  18px 18px 18px 64px;
	background:  #4d5158;
	box-shadow:  inset 0 -1px #555960;
	color:  #ffffff;
	font-size:  1.6rem;
}

//.usa-mobile_nav-active ul ul {
//	/* by default hide all sub menus */
//	display:  none;
//}

.usa-mobile_nav-active ul {
	/* by default hide all sub menus */
	li {
		padding: 10px;
		border-bottom: 1px solid $dark-blue;
		a {
		padding: 0;
		&:hover {
		border:  none;
		}
		}
	}
	&:hover {
	border:  none;
	}
}
 
.usa-mobile_nav-active input[type=checkbox]:checked + label + ul,
.usa-mobile_nav-active input[type=checkbox]:checked + label:nth-of-type(n) + ul {
	/* use label: nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
	/* show children when item is checked */
	display:  block;
}

.usa-mobile_nav-active .sub-menu {
    display: none;
    float: left;
    overflow: hidden;
    width: 270px;
        padding: 0px;
        position: static;
        top: 0;
        margin-bottom: -10px;
        margin-left: -10px;
        left: 0;
        z-index: 1;
        opacity: 1;
        transition: opacity linear 0.15s;
    //    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
        background: $dark-blue;
    li {
    	color: #fff;
    	font-size: 1.1em;
    }
}

.usa-mobile_nav-active .parent {
		padding: 10px !important;
		display: inline-block;
		float: left;
&:before {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #fff;
    float: right;
    margin-left: 0px;
    border-left: 1px solid $dark-blue;
    padding-left: 15px;
}
}

button.usa-menu-btn {
	position: absolute;
	left: 20px;
	top: 60px;
	height: 50px;
	font-size: 2em;
	background: none;
	color: #cdcdcd;
	border: 2px solid #cdcdcd;
}

.usa-mobile_nav-active .parent {
	text-transform: uppercase;
	margin-left: 0;
	width: 100% !important;
	color: #fff !important;
	border-bottom: 1px solid $dark-blue !important;
	a {
		color: #fff;
	}
	&:hover {
		border: none;
	}
}

.usa-mobile_nav-active ul.usa-nav-primary.usa-accordion {
	float: left;
//	width: 100%;
//	position: static;
//	display: inline;
}

.usa-mobile_nav-active {
    display: block;
      z-index: 99;
        margin: 0 auto;
         width: 100%;
    }
    
    .usa-mobile_nav-active li {
        list-style: none;
        margin: 0 auto;
        float: left;
        width: 100%;
//        padding-top: 2px;
		font-size: .9em;
    }

    .usa-mobile_nav-active ul {
        padding: 0px;
//        height: auto;
//        z-index: 10000;
    }
    

    .usa-mobile_nav-active ul li a {
        display: block;
        text-decoration: none;
        text-align: left;
        margin: 0;
        float: left;
        font-weight: bold;
		color: #fff;
    }
    
    .usa-mobile_nav-active ul li a:hover {
    	background: none;
    	border: none;
    }

.usa-mobile_nav-active nav.usa-nav {
	background: $light-blue;
	border: none;
	padding: 0;
}

.usa-nav-primary > li {
	border-top: none;
}

button.usa-nav-close {
	margin: 0;
}

