.usa-mobile_nav-active input[type=checkbox] {
	/* hide native checkbox */
	position:  absolute;
	opacity:  0;
}
.usa-mobile_nav-active label, .cd-accordion-menu a {
	position:  relative;
	display:  block;
	padding:  18px 18px 18px 64px;
	background:  #4d5158;
	box-shadow:  inset 0 -1px #555960;
	color:  #ffffff;
	font-size:  1.6rem;
}

//.usa-mobile_nav-active ul ul {
//	/* by default hide all sub menus */
//	display:  none;
//}

.usa-mobile_nav-active ul {
	/* by default hide all sub menus */
	li {
		padding: 20px;
/*		border-bottom: 1px solid $dark-blue;*/
		a {
		padding: 0;
		&:hover {
		border:  none;
		}
		}
	}
	&:hover {
	border:  none;
	}
}
 
.usa-mobile_nav-active input[type=checkbox]:checked + label + ul,
.usa-mobile_nav-active input[type=checkbox]:checked + label:nth-of-type(n) + ul {
	/* use label: nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
	/* show children when item is checked */
	display:  block;
}

.usa-mobile_nav-active .sub-menu {
    display: none;
    float: left;
    overflow: hidden;
    width: 270px;
        padding: 0px;
        position: static;
        top: 0;
        margin-bottom: -10px;
        margin-left: -10px;
        left: 0;
        z-index: 1;
        opacity: 1;
        transition: opacity linear 0.15s;
    //    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
        background: $dark-blue;
    li {
    	color: #fff;
    	font-size: 1.1em;
    	&:active {
    		background: #205493;
    	}
    }
}

.usa-mobile_nav-active .parent {
		padding: 20px !important;
		display: inline-block;
		float: left;
		overflow: hidden;
}

.usa-mobile_nav-active .plus-minus.plus {
    float: right;
    width: 20px;
    height: 20px;
    margin-left: 0px;
    border-left: 1px solid $dark-blue;
}
.usa-mobile_nav-active .plus-minus.minus {
	width: 20px;
	height: 20px;
    float: right;
    margin-left: 0px;
    border-left: 1px solid $dark-blue;
}

.usa-mobile_nav-active .plus-minus.plus:after {
    content: '+' !important; /* Unicode character for "plus" sign (+) */
    font-size: 16px;
    color: #fff !important;
    font-family: $serif-font;
    padding-left: 10px;
}
.usa-mobile_nav-active .plus-minus.minus:after {
    content: '-'; /* Unicode character for "minus" sign (+) */
    font-size: 16px;
    color: #fff !important;
    font-family: $serif-font;
    padding-left: 10px;
}

button.usa-menu-btn {
//	position: relative;
//	left: -350px;
//	top: -30px;
/*	float: left;*/
	font-size: 3em;
	background: none;
	color: #cdcdcd;
	border: 2px solid #cdcdcd;
	margin: 70px 0 0 0;
	text-decoration: none;
}

.usa-mobile_nav-active .parent {
	text-transform: uppercase;
	margin-left: 0;
	width: 100% !important;
	color: #fff !important;
	border-bottom: 1px solid $dark-blue !important;
	a {
		color: #fff;
	}
	&:hover {
		border: none;
	}
}

.usa-mobile_nav-active ul.usa-nav-primary.usa-accordion {
	float: left;
//	width: 100%;
//	position: static;
//	display: inline;
}

.usa-mobile_nav-active {
    display: block;
      z-index: 99;
        margin: 0 auto;
         width: 100%;
    }
    
    .usa-mobile_nav-active li {
        list-style: none;
        margin: 0 auto;
        float: left;
        width: 100%;
//        padding-top: 2px;
		font-size: .9em;
    }

    .usa-mobile_nav-active ul {
        padding: 0px;
//        height: auto;
//        z-index: 10000;
&.sub-menu {
	display: none;
	position: relative;
}
    }
    

    .usa-mobile_nav-active ul li {
		border: none;
		padding: 20px;
		font-weight: 500;
		&.parent {
			color: #fff !important;
			padding: 20px;
		}
    a {
        display: block;
        text-decoration: none;
        text-align: left;
        margin: 0;
        float: left;
        font-weight: bold;
		color: #fff;
		&.active {
			color: #fff !important;
		}
		&.external {
			color: $lighter-teal !important;
			padding: 10px;
			margin-left: 0;
			margin-top: 10px;
				border: 1px solid $lighter-teal !important;
			&:hover {
				color: $teal !important;
				border: 1px solid $teal !important;
			}
		}
    }
    }
    
    .usa-mobile_nav-active ul li a:hover {
    	background: none;
    	border: none;
		color: #fff !important;
    }

.usa-mobile_nav-active nav.usa-nav {
	background: $dark-blue;
	border: none;
	padding: 0;
	li.parent.primary-active {
		color: #fff !important;
	}
}

.usa-nav-primary > li {
	border-top: none;
}

button.usa-nav-close {
	margin: 0;
	width: 100%;
	&:focus {
		box-shadow: none;
	}
	img {
		float: right;
		margin: 20px;
		width: 20px;
	}
}

header .usa-nav-container .usa-menu-btn {
	float: right;
	clear: both;
	width: 50px;
	height: 50px;
	font-size: 2em;
	border-radius: 10px;
	background: $light-gray;
	border: none;
	color: #fff;
}

.usa-mobile_nav-active ul {
	background: $dark-blue;
}

.usa-mobile_nav-active ul.sub-menu {
	background: $dark-blue;
	width: 100%;
	margin: 0;
	max-width: none;
		color: #fff !important;
	li {
		background: $dark-blue;
		color: #fff !important;
		font-weight: 400;
		&:hover {
			color: #fff;
		}
		a {
			background: $dark-blue;
			color: #fff !important;
			font-weight: 400;
			padding: 0;
			&:hover {
				color: #fff;
				background: none;
			}
			&:after {
				display: none;
			}
			&.active {
				color: #fff;
			}
		}
		ul.sub-sub-menu {
			position: relative;
		}
	}
	a {
		padding: 0;
	}
	img {
		margin: 0 20px 0 0;
	}
}

.usa-mobile_nav-active .usa-nav-primary li.parent {
img {
	margin: 0 0 0 20px;
}
}


@media (min-width: 950px) and (max-width: 5000px) {
.usa-nav-primary li.parent {
img {
	display: none;
}
}
}

.usa-mobile_nav-active nav#navigation.usa-nav.nav.is-visible {
	width: 80%;
}

@media (min-width:580px) and (max-width:950px) {
.usa-mobile_nav-active nav#navigation.usa-nav.nav.is-visible {
	width: 50%;
}	
}

.usa-mobile_nav-active ul li svg {
	color: $lighter-teal;
	width: 25px !important;
	font-size: 1.25em;
}

@media (min-width:0) and (max-width: 950px) {
.usa-nav-container div#logo.usa-logo {
	background: none;
	padding: 0;
	margin: 0 !important;
	height: 100px;
	width: 100px;
	top: 120px;
}	
header.usa-header {
/*	position: absolute;*/
	&.usa-header-basic {
		height: 170px;
/*		position: relative;*/
	}
	.search-wrapper {
		width: 90%;
		max-width: none;
		position: absolute;
		top: 60px;
		left: 5%;
		.usa-search {
			width: 100%;
			max-width: none !important;
			height: 35px;
			input#searchgovinput {
				height: 35px;
				width: 90%;
				border-radius: 20px 0 0 20px;
			}
			button#searchgovbutton {
				height: 35px !important;
				width: 10% !important;
				border-radius: 0 20px 20px 0;
				span.usa-search-submit-text {
					height: 35px;
					display: flex;
					align-items: center;
					justify-content: space-around;
					svg {
						height: 30px;
					}
				}
			}
		}
	}
}
.usa-mobile_nav-active .usa-nav {
ul.usa-nav-primary {
	margin-top: 30px;
	margin-left: 30px;
	padding: 0;
	box-sizing: border-box;
	width: 90%;
li {
	&:hover {
		color: #fff !important;
	}
	a:hover {
		color: #fff !important;
	}
}
ul.sub-menu {
	margin: 0;
li {
	padding: 13px 20px !important;
	font-weight: 800;
	font-size: 14px;
	&:first-child {
		padding-top: 0px !important;
	}
	&.parent {
		font-weight: 800;
	}
	&:hover {
		color: #fff !important;
		opacity: 1 !important;
		visibility: visible !important;
	}
	a:hover {
		color: #fff !important;
		opacity: 1 !important;
	}
	li {
		padding: 13px 20px !important;
	}
	}
	}
&.parent {
	padding: 13px 30px !important;
	font-weight: 800;
ul.sub-sub-menu {
	position: static;
li.parent {
	padding: 13px 45px !important;
	font-weight: 600;
a {
&:hover > ul {
	display: block;
	li {
	a {
		color: #fff !important;
	}
}
}
}
}
}
}
}
}
}

@media (min-width: 0) and (max-width: 950px) {
.usa-mobile_nav-active ul.usa-nav-primary li:hover > ul, 
.usa-mobile_nav-active ul.usa-nav-primary li:focus-within > ul, 
.usa-mobile_nav-active ul.usa-nav-primary li ul:hover, 
.usa-mobile_nav-active ul.usa-nav-primary li ul:focus {
   visibility: hidden;
   opacity: 0;
   display: none;
}

.usa-nav .sub-menu li:hover .sub-sub-menu {
    z-index: 1;
    opacity: 0 !important;
    display: none;
}

.usa-mobile_nav-active .usa-nav .sub-menu {
	display: none;
	opacity: 1 !important;
	z-index: 1 !important;
	visibility: visible !important;
}

.usa-mobile_nav-active .usa-nav .sub-sub-menu {
	display: none;
}
}

@media (min-width: 950px) and (max-width: 1200px) {
.usa-nav {
	max-width: 770px !important;
	transition: none;
}
.usa-nav li a, .usa-nav li.main-parent {
	padding-right: 10px !important;
	padding-left: 10px !important;
	transition: none;
}
.usa-nav li a, .usa-nav li.external {
		padding-right: 10px !important;
		padding-left: 10px !important;
		transition: none;
}
}

@media (min-width:950px) and (max-width:1024px) {
	.usa-nav li a, .usa-nav li.main-parent {
		padding-right: 8px !important;
		padding-left: 8px !important;
		transition: none;
	}
	.usa-nav {
		max-width: 755px !important;
	}
	.usa-nav-primary {
	display: flex;
	flex-flow: row;
	justify-content: space-between;	
	}
}

@media (min-width:0) and (max-width: 950px) {
	ul.usa-nav-primary {
	ul.sub-menu {
/*		position: relative;*/
		visibility: visible;
		opacity: 1;
/*		height: 200px;*/
		display: none;
		li {
			padding: 20px;
			text-transform: capitalize;
			&:active {
				color: $teal !important;
			}
			&.parent {
				padding: 17px 20px !important;
			}
			&:hover {
				color: #fff !important;
				opacity: 1 !important;
			}
			}
		}
		.usa-nav-container {
			padding-bottom: 0;
		}
	}
	.usa-nav-container {
		position: static;
		z-index: 1;
		margin-top: 0px;
	}
	ul.usa-nav-primary ul.sub-sub-menu li a.active, ul.usa-nav-primary ul.sub-menu li a.active {
		color: $teal !important;
	}
	
	.usa-mobile_nav-active .usa-search {
		display: none;
		}
}

.usa-overlay.is-visible {
	background: #fff;
	opacity: .8;
}