


/*---------- in page navigation ------------- */


.lavalamp-menu {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  text-align: left;
}

.lavalamp-menu nav,
.lavalamp-menu li {
  display: block;
  vertical-align: top;
  zoom: 1;
}

.lavalamp-menu li {
	margin: 0 -12px;
	padding: 0 24px;
	font-family: $title-font;
	font-weight: 800;
	text-transform: uppercase;
}

.lavalamp-menu nav {
  position: relative;
}

.lavalamp-menu .lavalamp {
  position: absolute;
  bottom: 0;
  height: 5px;
  -webkit-transition: 1s;
          transition: 1s;
}

.lavalamp-menu a {
	display: block;
	line-height: 1.5rem;
	color: $red;
	text-decoration: none;
	padding: 20px 0;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.lavalamp-menu a:hover {
  opacity: 0.8;
}

.lavalamp-menu li.active {
	border-left: solid 5px $red;
	padding: 0 19px;
	
	&::before {
		content: none;
	}
}


.in-page-nav-section {
	margin-top: -180px;
}

ul.in-page-nav-menu {
	border-left: solid 3px $light-gray;
	padding: 0 .5rem;
}




.nav{
  position: fixed;
  width: 100%;
  background-color: grey;
  text-align: center;
  padding: 21.5px 0;
}

nav li{
  display: inline;
}


.nav a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
  font-size: 20px;
  
}

.nav a:hover{
  color: black;
}

.nav li.active a{
  border-bottom: 2px solid white;
  color: black;
}

.section{
  height: 1000px;
  width: 100%;
}

.section1{
  background-color: #A54A3A;
}

.section2{
  background-color: #5455A5;
}

.section3{
  background-color: #5DA568;
}