


/*---------- in page navigation ------------- */


.lavalamp-menu {

}

#top-menu nav,
#top-menu li {
  display: block;
  vertical-align: top;
  zoom: 1;
}

#top-menu li {
	margin: 0 -12px;
	padding: 0 24px;
	font-family: $title-font;
	font-weight: 800;
	text-transform: uppercase;
	border-left: solid 3px $light-gray; 
}

#top-menu nav {
  position: relative;
}

#top-menu .lavalamp {
  position: absolute;
  bottom: 0;
  height: 5px;
  -webkit-transition: 1s;
          transition: 1s;
}

#top-menu a {
	display: block;
	line-height: 1.5rem;
	color: $red;
	text-decoration: none;
	padding: 20px 0;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

#top-menu a:hover {
  opacity: 0.8;
}

#top-menu li.active {
	border-left: solid 5px $red;
	padding: 0px 24px;
	margin-left: -13px;
	
	&::before {
		content: none;
	}
}


.in-page-nav-section {
	margin-top: -140px;
}

ul.in-page-nav-menu {
	border-left: solid 3px $light-gray;
	padding: 0 .5rem;
}


#top-menu {
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
	height: 1px;
}


/* --- new navigation -- 

.in-page-nav-section {
	margin-top: -180px;
}


#top-menu li {
   list-style:none;
}

#top-menu a {
    padding: 5px 25px 7px 25px;
    text-align: center;
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
    border-top: 3px solid white;
    color: #aaa;
    text-decoration: none;
}

#top-menu a:hover {
    color: #000;
}

#top-menu li.active a {
    border-left: 3px solid #333;
    color: $red;
}

*/
