
/*---------- in page navigation ------------- */

#top-menu nav,
#top-menu li {
  display: block;
  vertical-align: top;
  zoom: 1;
}

#top-menu li, .external-links li {
	margin: 0 -12px;
	padding: 0 24px;
	font-family: $title-font;
	font-weight: 800;
	text-transform: uppercase;
	border-left: solid 3px $light-gray; 
}

.external-links {
	margin-left: -40px;
}

.external-links li {
	list-style: none;
	a{
		text-decoration: none;
	}
}

#top-menu nav {
  position: relative;
}

#top-menu .lavalamp {
  position: absolute;
  bottom: 0;
  height: 5px;
  -webkit-transition: 1s;
          transition: 1s;
}

#top-menu a {
	display: block;
	line-height: 1.5rem;
	color: $mid-gray;
	text-decoration: none;
	padding: 20px 0;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

#top-menu li.active a {
	color: $red;
}

#top-menu a:hover {
	color: $red;
}

#top-menu li.active {
	border-left: solid 5px $red;
	padding: 0px 24px;
	margin-left: -13px;
	
	&::before {
		content: none;
	}
}

#top-menu li.in-page-sub {
	padding-left: 40px;
	// margin-top: -30px;
    font-size: .75rem;

	a {
		padding: 0;
	}
}

.in-page-nav-section {
	margin-top: -620px;
}

// .framework-main-section {
// 	margin-top: -710px;
// }

ul.in-page-nav-menu {
	padding-left: 0;
	margin: 0;
}

.resources-nav {
	top: 0;
}

#top-menu {
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
	height: 540px;

	.significant-change-menu {
		height: 655px;
	}
}

.resources-nav-mobile {
	display: none;
}

@media (min-width: 640px) and (max-width: 799px) {
	.nav-main-section {
		width: 100%;
		margin-left: 0;
	}
}


@media (min-width: 0) and (max-width: 799px) {
	.resources-nav {
		display: none;
	}
	
	.resources-nav-mobile {
		display: block;
		position: relative;
		background: white;
		z-index: 1000;
		background-color: $lightest-gray;
		margin-bottom: -70px;
	}
	
	#top-menu-mobile {
		height: auto;
		
		a {
			padding: 6px 0;
			text-decoration: none;
			color: $red;
			font-weight: 800;
		}
		
		li {
			padding: 0;
			font-family: $title-font;
			font-weight: normal;
			text-transform: uppercase;
			list-style: none;
		}
	}

	.in-page-nav-section {
		margin-top: 0;
	}
	
	h4.mobile-nav-title {
		font-size: 1rem;
		margin: 10px 0;
	}

}


/*---------- in page navigation horizontal training ------------- */

.training-navigation {
	background: white;
	z-index: 1000;
}

#horizontal-top-menu.horizontal-menu {
	height: auto;
}

#horizontal-top-menu.horizontal-menu nav,
#horizontal-top-menu.horizontal-menu li {
  display: block;
  vertical-align: top;
  zoom: 1;
}

#horizontal-top-menu.horizontal-menu li {
	margin: 0;
	padding: 0 24px;
	font-family: $title-font;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: solid 3px $light-gray; 
	border-left: none;
	float: left;
}

#horizontal-top-menu.horizontal-menu nav {
  position: relative;
}

#horizontal-top-menu.horizontal-menu .lavalamp {
  position: absolute;
  bottom: 0;
  height: 5px;
  -webkit-transition: 1s;
          transition: 1s;
}

#horizontal-top-menu.horizontal-menu a {
	display: block;
	line-height: 1.5rem;
	color: $mid-gray;
	text-decoration: none;
	padding: 20px 0;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

#horizontal-top-menu.horizontal-menu a:hover {
  color: $red;
}

#horizontal-top-menu.horizontal-menu li.active {
	border-bottom: solid 3px $red;
	padding: 0px 24px;
	margin-left: 0;
	color: $red;
	
	&::before {
		content: none;
	}
}

#horizontal-top-menu.horizontal-menu li.active a {
	color: $red;
}

.in-page-nav-section-horizontal {
	margin-top: 0px !important;
}

ul.in-page-nav-menu {
	padding-left: 0;
	margin: 0;
}

.training-nav {
	top: 0;
}

#horizontal-top-menu {
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
}

.resources-nav-mobile {
	display: none;
}



@media (min-width: 600px) and (max-width: 836px) {
	#horizontal-top-menu.horizontal-menu li {
		font-size: .75rem;
		padding: 0 10px;
	}
}


@media (min-width: 0) and (max-width:599px) {
	#horizontal-top-menu.horizontal-menu li {
		font-size: .625rem;
		padding: 0 10px;
	}
}

@media (min-width: 0) and (max-width: 799px) {
	.training-nav {
		position: relative !important;
	}

}