.page--banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 300px;
  width: 100%;
}
.caption {
  float: right;
}

section#pre-auth, section#during-auth, section#post-auth, section#support, section#welcome, section#ssp, section#sap, section#conmon, section#control, section#req, section#sap-guidance, section#sar-report, section#sar-guidance, section#procedures, section#method, section#sar-tables, section#rar {
	padding: 0 0 40px 130px;
	margin: 0 0 40px 0;
	min-height: 200px;
	background-size: 100px !important;
	border-bottom: 1px solid #cdcdcd;
	background-repeat: no-repeat;
}

section#conmon, section#control, section#req {
	background-size: 115px !important;
}

section#rar {
	border: none !important;
}

.q1, .q2, .q3, .q4, .q5, .tip-1 {
	padding: 0 0 40px 200px;
	margin: 0 0 40px 0;
	background-size: 150px !important;
	background-repeat: no-repeat;
}

@media (min-width: 0px) and (max-width: 580px) {
section#pre-auth, section#during-auth, section#post-auth, section#support, section#welcome, section#ssp, section#sap, section#conmon, section#control, section#req, section#sap-guidance, section#sar-report, section#sar-guidance, section#procedures, section#method, section#sar-tables, section#rar, .q1, .q2, .q3, .q4, .q5, .tip-1 {
	background-position: center top;
	background-repeat: no-repeat;
}
.q1, .q2, .q3, .q4, .q5, .tip-1 {
	background-size: 180px !important;
}
section#pre-auth, section#during-auth, section#post-auth, section#support, section#welcome, section#ssp, section#sap, section#conmon, section#control, section#req, section#sap-guidance, section#sar-report, section#sar-guidance, section#procedures, section#method, section#sar-tables, section#rar {
	background-size: 160px !important;
}
section#pre-auth, section#during-auth, section#post-auth, section#support, section#welcome, section#ssp, section#sap, section#conmon, section#control, section#req, section#sap-guidance, section#sar-report, section#sar-guidance, section#procedures, section#method, section#sar-tables, section#rar, .q1, .q2, .q3, .q4, .q5, .tip-1 {
	padding: 200px 0 40px 0;
}
}

#jan-5, #dec-20 {
	border-bottom: 1px solid #cdcdcd;
}

.q1, .q2, .q3, .q5 {
	background-image: url('../../assets/img/project-images/cloudserv-icon.png');
}

.q4, .tip-1 {
	background-image: url('../../assets/img/project-images/assessor-icon.png');
}

section#pre-auth {
	background-image: url('../../assets/img/pre-auth.png');
}

section#during-auth {
	background-image: url('../../assets/img/during-auth.png');
}

section#post-auth {
	background-image: url('../../assets/img/post-auth.png');
}

section#support {
	background-image: url('../../assets/img/support.png');
	border: none;
}
section#welcome {
	background-image: url('../../assets/img/fedramp-welcome-icon.png');
}
section#ssp, section#sap, section#sap-guidance, section#sap, section#sar-guidance, section#sar-report {
	background-image: url('../../assets/img/fedramp-doc-icon.png');
}
section#conmon {
	background-image: url('../../assets/img/fedramp-monitor.png');
}
section#control {
	background-image: url('../../assets/img/fedramp-control.png');
}
section#req {
	background-image: url('../../assets/img/fedramp-3pao.png');
}
section#procedures {
	background-image: url('../../assets/img/fedramp-procedure.png');
}
section#method {
	background-image: url('../../assets/img/search-doc.png');
}
section#sar-tables {
	background-image: url('../../assets/img/assessment-table.png');
}
section#rar {
	background-image: url('../../assets/img/assessment-report.png');
}

.assessors-page section#post-auth, .cloud-services-page section#post-auth {
	border: none;
}


.accordion {
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    background: none;
    text-transform: none;
    margin: 10px 0 10px 35px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

/* Style the accordion panel. Note: hidden by default */
.panel {
    background-color: white;
    display: none;
    overflow: hidden;
}

.accordion:before {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #fff;
    float: left;
    margin-left: -30px;
}

.active:before {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.page-faqs .question {
	padding: 15px 0;
	border-bottom: 1px solid #cdcdcd;
}

.page-faqs .question:last-of-type {
	border: none;
}