.page--banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
//  min-height: 300px;
  width: 100%;
}
.caption {
  float: right;
}

section#pre-auth, section#during-auth, section#post-auth, section#support, section#do-once {
	padding: 0 0 40px 130px;
	margin: 0 0 40px 0;
    min-height: 105px;
	background-size: 100px !important;
	border-bottom: 1px solid #cdcdcd;
	background-repeat: no-repeat;
}

section#conmon, section#control, section#req {
	background-size: 115px !important;
}

section#rar, section#do-once {
	border: none !important;
}

.q1, .q2, .q3, .q4, .q5, .tip-1 {
	margin: 0 0 40px 0;
	border-bottom: 1px solid #cdcdcd;
}

.q1 h3, .q2 h3, .q3 h3, .q4 h3, .q5 h3, .tip-1 h3 {
	padding: 0 0 0 100px;
	margin: 0 0 15px 0;
	background-size: 100px !important;
	background-repeat: no-repeat;
	min-height: 80px;
//	border-bottom: 1px solid #cdcdcd;
	background-position: -13px -13px;
}

.q5 {
	border: none;
}

@media (min-width: 0px) and (max-width: 580px) {
section#pre-auth, section#during-auth, section#post-auth, section#do-once, section#support, section#welcome, section#ssp, section#sap, section#conmon, section#control, section#req, section#sap-guidance, section#sar-report, section#sar-guidance, section#procedures, section#method, section#sar-tables, section#rar, .q1, .q2, .q3, .q4, .q5, .tip-1 {
	background-position: center top;
	background-repeat: no-repeat;
}
.q1, .q2, .q3, .q4, .q5, .tip-1 {
	background-size: 100px !important;
}
section#pre-auth, section#during-auth, section#post-auth, section#support, section#welcome, section#ssp, section#sap, section#conmon, section#control, section#req, section#sap-guidance, section#sar-report, section#sar-guidance, section#procedures, section#method, section#sar-tables, section#rar {
	background-size: 160px !important;
}
section#pre-auth, section#during-auth, section#post-auth, section#support {
	padding: 200px 0 40px 0;
}
}

#jan-5, #dec-20 {
	border-bottom: 1px solid #cdcdcd;
}

.q1 h3, .q2 h3, .q3 h3, .q5 h3 {
	background-image: url('../../assets/img/project-images/cloudserv-icon.png');
}

.q4 h3, .tip-1 h3 {
	background-image: url('../../assets/img/project-images/assessor-icon.png');
}

section#pre-auth {
	background-image: url('../../assets/img/pre-auth.png');
}

section#during-auth {
	background-image: url('../../assets/img/during-auth.png');
}

section#post-auth {
	background-image: url('../../assets/img/post-auth.png');
}

section#support {
	background-image: url('../../assets/img/support.png');
	border: none;
}

section#do-once {
	background-image: url('../../assets/img/do-once.png');
	border: none;
}

#path-one h2 {
	background-image: url("../../assets/img/stakeholders.png");
	background-size: 80px;
	margin-left: 0;
	background-position: left top;
	background-repeat: no-repeat;
	height: 100px;
	border-bottom: 1px solid #cdcdcd;
	padding: 20px 0 20px 100px;
}

#path-two h2 {
	background-image: url("../../assets/img/cloudserv-icon.png");
	background-size: 100px;
	background-position: -10px -15px;
	margin-left: 0;
	background-repeat: no-repeat;
	height: 100px;
	border-bottom: 1px solid #cdcdcd;
	padding: 20px 0 20px 100px;
}

#path-three h2 {
	background-image: url("../../assets/img/project-images/assessor-icon.png");
	background-size: 100px;
	margin-left: 0;
	background-repeat: no-repeat;
	background-position: -5px -15px;
	height: 100px;
	padding: 20px 0 20px 100px;
	border-bottom: 1px solid #cdcdcd;
}

#path-one h3, #path-two h3, #path-three h3 {
	padding: 0 0 15px 0;
}

#path-one .panel, #path-two .panel, #path-three .panel {
	padding: 0 0 20px 40px;
}

#path-one .panel p:first-of-type, #path-two .panel p:first-of-type, #path-three .panel p:first-of-type {
	margin: 0;
}

.accordion {
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    background: none;
    text-transform: none;
    margin: 10px 0 10px 35px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

/* Style the accordion panel. Note: hidden by default */
.panel {
    background-color: white;
    display: none;
    overflow: hidden;
}

.accordion:before {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #fff;
    float: left;
    margin-left: -30px;
}

.active:before {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}


//section#welcome {
//	background-image: url('../../assets/img/fedramp-welcome-icon.png');
//}
//section#ssp, section#sap, section#sap-guidance, section#sap, section#sar-guidance, section#sar-report {
//	background-image: url('../../assets/img/fedramp-doc-icon.png');
//}
//section#conmon {
//	background-image: url('../../assets/img/fedramp-monitor.png');
//}
//section#control {
//	background-image: url('../../assets/img/fedramp-control.png');
//}
//section#req {
//	background-image: url('../../assets/img/fedramp-3pao.png');
//}
//section#procedures {
//	background-image: url('../../assets/img/fedramp-procedure.png');
//}
//section#method {
//	background-image: url('../../assets/img/search-doc.png');
//}
//section#sar-tables {
//	background-image: url('../../assets/img/assessment-table.png');
//}
//section#rar {
//	background-image: url('../../assets/img/assessment-report.png');
//}

.assessors-page section#post-auth {
	border: none;
	margin: 0;
	padding-bottom: 0;
}

.page-faqs .question {
	padding: 15px 0;
	border-bottom: 1px solid #cdcdcd;
	p {
		padding: 0 0 0 40px;
	}
	ul {
		padding: 0 0 0 80px;
	}
	h6 {
		padding: 0 0 0 40px;
	}
}

.page-faqs .question:last-of-type {
	border: none;
}