/*---------- policy and guidance ------------- */

.policy-card {
	
	border-bottom: solid 1px $light-gray;
	
	&:first-child {
		border-top: solid 1px $light-gray;
	}
	
	h3 {
		color: $light-blue;
		text-transform: none;
		margin-top: 0;
		margin-bottom: 10px;
		clear: both;
		
		&::after {
			content: none;
		}
	}
	
	p {
		font-size: 0.875rem;
	}
	
	.policy-document-date {
		p {
			float: left;
			color: $mid-gray;
		}
			
		p.document-kind {
			text-transform: uppercase;
			font-weight: 800 !important;
			border-right: solid 1px $mid-gray;
			padding-right: 2rem;
		}
		
		p.document-date {
			padding-left: 2rem;
		}
	}
}

@media (min-width: 0px) and (max-width: 1099px) {
	.policy-card {
		
		.policy-document-date {
			p {
				font-size: 0.75rem;
			}
			
			p.document-kind {
				padding-right: .5rem;
			}

			p.document-date {
				padding-left: .5rem;
			}
		}
	}
}

@media (min-width: 0px) and (max-width: 1023px) {
	.policy-card {
	
		h3 {
			text-align: left;
		}
	}
}

a.policy-download {
	background-color: $light-blue;
	color: white;
	padding: 14px 61px 14px 28px;
	border-radius: 40px;
	cursor: pointer;
	
	&:hover {
		background-color: $teal;
	}
	
	button {
		background-color: transparent;
		font-size: 0.875rem;
		font-weight: 800;
		text-transform: uppercase;
		text-decoration: none;
		cursor: pointer;
	}
}

a.policy-download.policy-pdf {
	background-image: url('../../assets/img/policy-pdf.svg');
	background-position: 130px 8px;
	background-repeat: no-repeat;
}

a.policy-download.policy-doc {
	background-image: url('../../assets/img/policy-doc.svg');
	background-position: 130px 8px;
	background-repeat: no-repeat;
}

a.policy-download.policy-excel {
	background-image: url('../../assets/img/policy-excel.svg');
	background-position: 130px 8px;
	background-repeat: no-repeat;
}

.tag-icon {
	position: relative;
	top: 4px;
}

.policy-tags a.tags {
	border: solid $teal 1px;
	border-radius: 20px;
	padding: 3px 20px 4px;
	margin-left: 14px;
	cursor: pointer;
	color: $teal;
	
	&:hover {
		border: solid 1px $red;
		color: $red;
	}
	
	button {
		font-size: 0.75rem;
		font-weight: 800;
		color: inherit;
		text-decoration: none;
		cursor: pointer;
		background: transparent;
	}
}