
/*---------- policy and guidance ------------- */

.flowers-wrap {
	h3 {
		font-size: 1rem;
		color: $light-blue;
		margin-top: 0;
		text-align: center;
		padding: 0;
		display: block;
		
		&::after {
			content: none;
		}
	}
	
	h4 {
		font-size: 1rem;
	}
}

@media (min-width: 0px) and (max-width: 1023px) {
	.flowers-wrap {
		h4 {
			font-size: .75rem;
		}
	}
}

.policy-search-fields {
	label {
		font-size: .75rem;
		float: left;
		color: $dark-gray;
	}
	
	input {
		float: left;
		margin-right: 4px;
	}
}

/* The container */
.fedramp-check {
	position: relative;
	padding-left: 24px;
	margin-bottom: 4px;
	cursor: pointer;
	font-size: .75rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.fedramp-check input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 14px;
	width: 14px;
	background-color: white;
}

/* On mouse-over, add a grey background color */
.fedramp-check:hover input ~ .checkmark {
	background-color: $lightest-gray;
}

/* When the checkbox is checked, add a blue background */
.fedramp-check input:checked ~ .checkmark {
	background-color: $teal;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: url("../../assets/img/check-icon.svg"); 
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.fedramp-check input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.fedramp-check .checkmark:after {
	left: 3px;
	top: -2px;
}

.policy-card {
	
	border-bottom: solid 1px $light-gray;
	
	&:first-child {
		border-top: solid 1px $light-gray;
	}
	
	h3 {
		color: $light-blue;
		text-transform: none;
		margin-top: 0;
		margin-bottom: 10px;
		clear: both;
		
		&::after {
			content: none;
		}
	}
	
	p {
		font-size: 0.875rem;
	}
	
	.policy-document-date {
		
		width: 100%;
		
		p {
			float: left;
			color: $mid-gray;
		}
			
		p.document-kind {
			text-transform: uppercase;
			font-weight: 800 !important;
			border-right: solid 1px $mid-gray;
			padding-right: 2rem;
		}
		
		p.document-date {
			padding-left: 2rem;
		}
	}
}

@media (min-width: 0px) and (max-width: 1099px) {
	.policy-card {
		
		.policy-document-date {
			p {
				font-size: 0.75rem;
			}
			
			p.document-kind {
				padding-right: .5rem;
			}

			p.document-date {
				padding-left: .5rem;
			}
		}
	}
}

@media (min-width: 0px) and (max-width: 568px) {
	.policy-card {
		
		.policy-document-date {
			
			p {
				float: none;
			}
			
			p.document-kind {
				padding-right: 0;
				border-right: none;
				margin-block-end: 0;
			}

			p.document-date {
				padding-left: 0;
				margin-block-start: 0;
			}
		}
	}
}

@media (min-width: 0px) and (max-width: 1023px) {
	.policy-card {
	
		h3 {
			text-align: left;
		}
	}
}

a.policy-download {
	background-color: $light-blue;
	color: white;
	padding: 14px 68px 14px 22px;
	border-radius: 40px;
	cursor: pointer;
	
	&:hover {
		background-color: $teal;
	}
	
	button {
		background-color: transparent;
		font-size: 0.875rem;
		font-weight: 800;
		text-transform: uppercase;
		text-decoration: none;
		cursor: pointer;
	}
}

a.policy-download.policy-pdf {
	background-image: url('../../assets/img/policy-pdf.svg');
	background-position: 138px 8px;
	background-repeat: no-repeat;
}

a.policy-download.policy-word {
	background-image: url('../../assets/img/policy-doc.svg');
	background-position: 138px 8px;
	background-repeat: no-repeat;
}

a.policy-download.policy-excel {
	background-image: url('../../assets/img/policy-excel.svg');
	background-position: 138px 8px;
	background-repeat: no-repeat;
}

.tag-icon {
	position: relative;
	top: 4px;
}

.policy-tags a.tags {
	border: solid $teal 1px;
	border-radius: 20px;
	padding: 3px 20px 4px;
	margin-left: 14px;
	cursor: pointer;
	color: $teal;
	
	&:hover {
		border: solid 1px $red;
		color: $red;
	}
	
	button {
		font-size: 0.75rem;
		font-weight: 800;
		color: inherit;
		text-decoration: none;
		cursor: pointer;
		background: transparent;
	}
}

@media (min-width: 0px) and (max-width: 480px) {
	
	a.policy-download {
		padding: 0 0 0 25%;
		display: block;
	}
	
	a.policy-download.policy-pdf {
		background-position: 75% 14px;
	}

	a.policy-download.policy-word {
		background-position: 75% 14px;
	}

	a.policy-download.policy-excel {
		background-position: 75% 14px;
	}
	
	.policy-tags a.tags {
		border-radius: 20px;
		padding: 3px 20px 4px;
		display: block;
		text-align: center;
		margin: 10px 0;

		button {
			margin: 0;
		}
	}
	
	.tag-icon {
		display: none;
	}
}
