.overview, .fedramp-legal-framework {
	padding: 50px 0;
}

.full-row {
	max-width: 1200px;
	margin: 0 auto;
	margin-bottom: 50px;
	padding: 0 15px;
}

h2 {
	font-weight: 400;
    text-transform: none;
    text-align: center;
    letter-spacing: .02em;
    padding: 0 0 25px 0;
    margin: 0 0 25px 0;
    font-size: 36px;
    color: $new-home-teal;
    background: url(../../assets/img/red-border.svg) center bottom no-repeat;
}

.project-basics-title {
	margin: 10px auto 0 auto;
	border-top: solid 1px $light-gray;
    width: 100%;
    margin-bottom: 0px;

	h3 {
		color: $red;
		font-size: 20px;
		font-weight: 700;
		letter-spacing: .04em;
		background: #ffffff;
		text-transform: uppercase;
		text-align: left;
		top: -15px;
		position: relative;
		margin: 0;
	}
	
	h3.mission-title {
		width: 126px;
	}
	
	h3.goals-title {
		width: 110px;
	}
	
	h3.benefits-title {
		width: 146px;
	}
}

.framework-list {
	
	h4 {
		color: $new-home-teal;
		margin: 4px 0 10px 0 !important;
		font-size: 22px;
	}
	
	p {
		margin-bottom: 20px;
	}
	
	p:last-child {
		margin-bottom: 0px;
	}
}

ul.project-basics-goals {
	list-style: none;
	padding: 0;
	li {
		background: url("../../assets/img/arrow.svg") no-repeat -6px 5px;
		padding-left: 50px;
    	margin-bottom: 10px;
	}
}

ul.project-basics-benefits {
	list-style: none;
	padding: 0;

	li {
		background: url("../../assets/img/thumbs-up.svg") top left no-repeat;
		padding-left: 50px;
    	margin-bottom: 10px;
	}
}

.fedramp-legal-framework
h2 {
	text-align: left;
	background: url(../../assets/img/red-border.svg) left bottom no-repeat;
}

.basics-col {
	min-height: 1px;
	position: relative;
	float: left;
}

.mgb-col-1 {
	width: 24%;
	padding-right: 4%
}

.mgb-col-2, .mgb-col-3 {
	width: 37%;
}

.mgb-col-2 {
	padding-right: 4%;
}

.fedramp-legal-framework {
	background: $lightest-gray;
}

.framework-col-1 {
	float: left;
	width: 30%;
	padding-right: 3%;
}

.framework-col-2 {
	float: left;
	width: 70%;
}

.framework-list {
	width: 100%;

	.framework-image {
		width: 14%;
		float: left;
	}

	.framework-text {
		width: 80%;
		float: left;
		margin-bottom: 35px;
	}
}

 /*** Responsive Styles Tablet And Below ***/
@media all and (max-width: 980px) {
	.full-row {
		padding: 0 30px;
	}
	
	.fedramp-legal-framework.full-row  {
		margin-bottom: 0;
	}
	
 	.basics-col {
		float: none;
		padding-bottom: 3px;
	}
	
	.mgb-col-1, .mgb-col-2, .mgb-col-3 {
		width: 100%;
	}
	
	.framework-col-1, .framework-col-2 {
		width: 100%;
	}
	
	.framework-col-2  {
		margin-top: 20px;
	}
	
	.project-basics-title {
		margin-top: 30px;
	}
	
	.framework-list {

		.framework-image {
			width: 26%;
			margin-right: 14px;
		}
		
		.framework-text {
			width: 66%;
		}
	}
	
	.full-row {
		margin-bottom: 0;
	}
}
 
/*** Responsive Styles Tablet Only ***/
@media all and (min-width: 768px) and (max-width: 980px) {

}
 
/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {
 	
}
 
/*** Responsive Styles Smartphone Portrait ***/
@media all and (max-width: 479px) {
 	
}
