 @media screen and (min-width: 600px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
    width: 102.5%;
  }
}
// Project card ------------- //

// Sets a height on projects so they're the same height and don't break the grid
.card {
//  box-shadow: 0 0 0 1px #d6d7d9;
  display: block;
  text-align: center;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  position: relative;
  text-decoration: none;

  @media all and (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    margin-right: 2.3%;
    min-height: 450px;
    width: 31%;
  }

//  &:hover {
//    box-shadow: 0 0 0 1px $card-heading-color;
//  }

  &:active {
    box-shadow: #3e94cf;
  }
}

.card-link {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}

.card-banner {
  margin: 3rem;
  @media all and (min-width: $on-laptop) {
    flex: 1 0 auto;
  }
}

.card-image {
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 200px;
  width: 100%;
}

.card-banner {
  color: $light-blue;
  margin-top: 0;
  a {
  	text-decoration: none;
  	&:hover {
  		text-decoration: underline;
  	}
  }
}

.card-summary {
  font-size: 16px;
  margin-bottom: 0;

  em {
    font-style: normal;
  }
}

a.card-read {
	color: #fff;
}

.card-read {
  margin: 0 auto;
  color: #0071bc;
  width: 40%;
  text-transform: uppercase;
  background: $light-blue;
  padding: 10px;
  font-size: 1.4875rem;
  font-weight: bold;
  text-decoration: none;

  &:visited {
    color: #fff;
  }

  svg {
    display: inline-block;
    height: 1.2rem;
    margin-bottom: -1px;
    width: 1.2rem;
    margin-left: 4px;
  }
}

#main section.usa-grid.usa-section h2 {
	text-align: center;
	width: 100%;
	float: none;
	margin: 0 auto 20px auto;
}

