table {
	width: 100%;
th {
	background: $light-blue;
	border: 1px solid $dark-blue;
	font-weight: bold !important;
	color: #fff;
}
td {
	border: 1px solid #cdcdcd;
}
.th-2 {
	background: #dadada;
	font-weight: bold; 
}
.th-3 {
	background: #f5f5f5;
	font-style: italic;
}
.icon-text {
	color: $light-blue;
	text-align: center;
	margin: 0;
}

a.icon-link {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

svg {
	width: 100% !important;
	height: 30px !important;
	cursor: pointer;
	&:hover {
		color: $light-blue;
	}
}
} 

.fa-file-pdf {
	color: $fr-red;
}

.fa-file-excel {
	color: green;
}

.fa-file-word {
	color: $dark-blue;
}

@media (min-width: 0px) and (max-width: 580px) {
table {
	font-size: 3vw;
td {
	padding: 5px;
}
}
}