.responsive-table {
	width: 100%;
	overflow-x: auto;
}

table {
	width: 100%;
	overflow-x: scroll;
	th {
		background: $light-blue !important;
		border: 1px solid $dark-blue !important;
		font-weight: bold !important;
		color: #fff;
		cursor: pointer;
		text-align: left;
		padding: 1em;
	}
	
	th.row-header {
		background: #ffffff !important;
		font-size: 0.75rem;
		color: $black;
		vertical-align: top;
		border: 1px solid #cdcdcd !important;
	}
	td {
		border: 1px solid #cdcdcd;
		vertical-align: top;
		font-size: 0.75rem;
		padding: 1em;
		ul {
			margin-top: 0px;
		}
		
		li {
			font-size: 0.75rem;
		}

		a {
			font-size: 0.75rem;
		}
	}
	.th-2 {
		background: #dadada;
		font-weight: bold; 
	}
	.th-3 {
		background: #f5f5f5;
		font-style: italic;
	}
	.icon-text {
		color: $light-blue;
		text-align: center;
		margin: 0;
	}

	a.icon-link {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}

	svg {
		width: 100% !important;
		height: 30px !important;
		cursor: pointer;
		&:hover {
			color: $light-blue;
		}
	}
} 

.fa-file-pdf {
	color: $red;
}

.fa-file-excel {
	color: green;
}

.fa-file-word {
	color: $dark-blue;
}

.fa-globe {
	color: $light-blue;
}

@media (min-width: 0px) and (max-width: 580px) {
table {
	font-size: 3vw;
td {
	padding: 5px;
}
}
}