// Team ------------- //

// Mixins
@mixin image-circle($width) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 75px;
  height: $width;
  width: $width;
}

.page-team {
  .usa-graphic_list {
    .usa-media_block {
      margin-bottom: 6rem;

      @media all and (min-width: $on-laptop) {
        margin-right: 0;
        width: 50%;
      }
    }

    h3 {
      margin: 0;
      a {
      	text-decoration: none;
      	&:hover {
      		text-decoration: underline;
      	}
      }
    }
    p {
    	margin: 0;
    	color: #757575;
    }
  }
}

.team-image {
  @include image-circle(124px);
}

.page-team-single {
h2 {
	text-align: left !important;
	margin: 0 !important;
}
p.title {
	font-size: 1.2em;
	color: #757575;
	margin-top: 0;
}

  .team-image {
    @include image-circle(270px);
    border-radius: 150px;
}
}

.page-team main {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 60px 0;
	@include clearfix;
}

.page-team-single {
.usa-width-one-third {
	text-align: center;
}
}

@media (min-width: 0) and (max-width: 1200px) {
.usa-graphic_list {
	margin: 0 5%;	
}
}

@media (min-width: 0) and (max-width: 768px) {
.usa-media_block {
	width: 100%;
	clear: both;
	float: left;
}
}

