---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Muli:wght@300;400;500;700;800;900&display=swap');

// Our variables
$base-font-family: 'Muli', sans-serif;
$sans-font: 	   'Muli', sans-serif;
$title-font:		'Montserrat', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif;
$serif-font:       'montserrat', 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
$base-font-size:   1.7rem;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$black: #212121;
$dark-blue: #162E51;
$light-blue: #1A4480;
$teal: #0A90B7;
$light-teal: #bde2f9;
$lighter-teal: #D9F1FD;
$red: #C71F25;
$dark-red: #A00A0F;
$dark-gray: #454545;
$intro-text: #4c4c4e;
$mid-gray: #757575;
$light-gray: #D0D0D0;
$lightest-gray: #f2f2f2;
$spacing-unit: 30px;
$dark-red: #970B22;
$darkest-blue: #131836;
$footer-teal: #D9F1FD;
$footer-lines: #384D6A;
$new-home-teal: #1889BC;
$theme-color-primary-vivid: #1889BC;

$background-color:         {{ site.colors.background }};
$headers-color:            {{ site.colors.headers }};
$text-color:               {{ site.colors.text }};
$reverse-text-color:       {{ site.colors.reverse_text }};
$header-text-color:        {{ site.colors.headers }};

$link-color:               {{ site.colors.link.color }};
$link-visited-color:       {{ site.colors.link.visited }};
$link-active-color:        {{ site.colors.link.active }};
$link-hover-color:         {{ site.colors.link.hover }};

$button-color:             {{ site.colors.button.background }};
$button-hover-color:       {{ site.colors.button.hover }};
$button-text-color:        {{ site.colors.button.text }};

$project-accent-color:     {{ site.colors.projects.accent }};
$card-heading-color:       {{ site.colors.projects.card-heading }};

$banner-background-color:  {{ site.colors.banner.background }};
$banner-text-color:        {{ site.colors.banner.text }};
$banner-button-color:      {{ site.colors.banner.button.background }};
$banner-button-text-color: {{ site.colors.banner.button.text }};

$footer-primary-background-color:    {{ site.colors.footer.primary-background }};
$footer-secondary-background-color:  {{ site.colors.footer.secondary-background }};
$footer-text-color:        {{ site.colors.footer.text }};

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
$tablet: 1024px;
$tablet-low: 768px;
$mobile-high: 667px;
$mobile-mid: 400px;
$desktop: 1200px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin clearfix {
	content: '';
	clear: both;
	display: table;
}

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

// Import partials from `sass_dir` (defaults to `_sass`)
// These contain overrides and additions to the Web Design System
// (standards.18f.gov, found locally at assets/css/uswds.<version>.css)
@import
        "base",
        "buttons",
        "navbar",
        "sidenav",
        "home",
        "hero",
        "pages",
        "footer",
        "team",
        "header",
        "blog",
        "table",
        "pagenav",
        "policy-guidance",
		"search-results"
;
