---
layout: full-width
---
<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row ">
			<div class="full-col tablet:grid-col-3 tablet:padding-right-4 lightest-teal-bkg">
				
			</div>
			<div class="full-col tablet:grid-col-9 tablet:padding-left-4">
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">FedRAMP Program Documents</p>
                          	<p class="document-date">December 8, 2011</p>
						</div>
						<h3>FedRAMP Policy Memo</h3>
						<p>This memorandum: 1) establishes Federal policy for the protection of Federal information in cloud services; 2) describes the key components of FedRAMP and its operational capabilities; 3) defines Executive department and Agency responsibilities in developing, implementing, operating, and maintaining FedRAMP; and 4) defines the requirements for Executive departments and Agencies using FedRAMP in the acquisition of cloud services.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/FedRAMP_Policy_Memo.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				
				</div>
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">Key Agency Documents</p>
                          	<p class="document-date">March 1, 2017</p>
						</div>
						<h3>Package Request Form</h3>
						<p>Form that must be completed to gain access to a FedRAMP security assessment package.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/Agency_Package_Request_Form.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				
				</div>
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">Key Cloud Service Provider (CSP) Documents</p>
                          	<p class="document-date">May 18, 2017</p>
						</div>
						<h3>CSP JAB P-ATO Roles and Responsibilities</h3>
						<p>This document provides an overview of a CSP’s roles and responsibilities in the JAB P-ATO Process.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/CSP_JAB_P-ATO_Roles_and_Responsibilites.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				
				</div>
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">Key Assessor Documents</p>
                          	<p class="document-date">May 18, 2017</p>
						</div>
						<h3>3PAO JAB P-ATO Roles and Responsibilities</h3>
						<p>This document provides an overview of a 3PAO’s roles and responsibilities in the JAB P-ATO Process.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/3PAO_Roles_and_Responsibilities.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">Key Assessor Documents</p>
                          	<p class="document-date">June 6, 2017</p>
						</div>
						<h3>3PAO Readiness Assessment Report Guide</h3>
						<p>This document provides 3PAOs with guidance on how best to utilize the Readiness Assessment Report (RAR). It provides a shared understanding of the RAR’s intent, process, and best practices in service of improving the likelihood of 3PAOs successfully completing the RAR.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/3PAO_Readiness_Assessment_Report_Guide.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">Key Agency Documents</p>
                          	<p class="document-date">September 26, 2017</p>
						</div>
						<h3>Acquisition FAQS</h3>
						<p>FAQ resource, developed in conjunction with OMB, that agencies can reference when developing their solicitations.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/Agency_Acquisition_FAQs.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">Key Cloud Service Provider (CSP) Documents</p>
                          	<p class="document-date">October 12, 2017</p>
						</div>
						<h3>Agency Authorization - Best Practices for CSPs</h3>
						<p>Geared towards CSPs interested in or beginning the Agency Authorization process, this document helps CSPs understand how to partner with an Agency and engage with the PMO during the authorization process.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/CSP_Agency_Authorization_Best_Practices_for_CSPs.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">Key Agency Documents</p>
                          	<p class="document-date">October 12, 2017</p>
						</div>
						<h3>Agency Authorization - Best Practices for Agencies</h3>
						<p>A two-page document developed to provide a concise view of best practices specific to an Agency’s role in the authorization process.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/Agency_Authorization_Best_Practices_for_Agencies.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">FedRAMP Program Documents</p>
                          	<p class="document-date">November 15, 2017x</p>
						</div>
						<h3>Security Assessment Framework</h3>
						<p>This document describes a general Security Assessment Framework (SAF) for FedRAMP. This document details the security assessment process CSPs must use to achieve compliance with FedRAMP. This document is intended for Cloud Service Providers (CSPs), Independent Assessors (3PAOs), Agencies and contractors working on FedRAMP projects, and any outside organizations that want to use or understand the FedRAMP assessment process.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/FedRAMP_Security_Assessment_Framework.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">Key Cloud Service Provider (CSP) Documents</p>
                          	<p class="document-date">November 20, 2017</p>
						</div>
						<h3>Timeliness and Accuracy of Testing Requirements</h3>
						<p>This document outlines the timeliness and accuracy of testing requirements for evidence associated with an authorization package prior to a CSP entering the FedRAMP JAB P-ATO process.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/CSP_Timeliness_and_Accuracy_of_Testing_Requirements.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">Key Cloud Service Provider (CSP) Documents</p>
                          	<p class="document-date">November 24, 2017</p>
						</div>
						<h3>Penetration Test Guidance</h3>
						<p>The purpose of this document is to provide guidelines for organizations on planning and conducting Penetration Testing and analyzing and reporting on findings.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/CSP_Penetration_Test_Guidance.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				</div>
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">Key Cloud Service Provider (CSP) Documents</p>
                          	<p class="document-date">November 24, 2017</p>
						</div>
						<h3>Annual Assessment Guidance</h3>
						<p>The FedRAMP Annual Assessment Guidance provides guidance to assist CSPs, 3PAOs, and Federal Agencies in determining the scope of an annual assessment based on NIST SP 800-53, revision 4, FedRAMP baseline security requirements, and FedRAMP continuous monitoring requirements.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/CSP_Annual_Assessment_Guidance.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">Key Agency Documents</p>
                          	<p class="document-date">November 24, 2017</p>
						</div>
						<h3>FedRAMP Guide for Multi-Agency Continuous Monitoring</h3>
						<p>This document provides guidance to agencies and CSPs to assist with a framework for collaboration when managing Agency ATOs.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/Agency_Guide_for_Multi-Agency_Continuous_Monitoring.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">Key Agency Documents</p>
                          	<p class="document-date">November 28, 2017</p>
						</div>
						<h3>Agency Authorization Playbook</h3>
						<p>A compilation of best practices, tips, and step-by-step guidance for Agencies seeking to implement ATOs.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/Agency_Authorization_Playbook.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">Key Agency Documents</p>
                          	<p class="document-date">December 5, 2017</p>
						</div>
						<h3>Agency Authorization - Roles and Responsibilities for FedRAMP, CSPs, and Agencies</h3>
						<p>This document provides a summary review of the roles and responsibilities of the Agency, CSP, and FedRAMP PMO during the Agency authorization process.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/Agency_Authorization_Roles_and_Responsibilities_for_FedRAMP_CSPs_and_Agencies.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">Key Agency Documents</p>
                          	<p class="document-date">December 7, 2017</p>
						</div>
						<h3>Agency Guide for Reuse of FedRAMP Authorizations</h3>
						<p>This document is specific to Federal Departments and Agencies and provides guidance and the understanding required to authorize an Agency’s application when reusing a FedRAMP-compliant cloud service.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/Agency_Guide_for_Reuse_of_FedRAMP_Authorizations.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">Key Assessor Documents</p>
                          	<p class="document-date">December 7, 2017</p>
						</div>
						<h3>3PAO Obligations and Performance Guide</h3>
						<p>This document provides guidance for 3PAOs on demonstrating the quality, independence, and FedRAMP knowledge required as they perform security assessments on cloud systems.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/3PAO_Obligations_and_Performance_Guide.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">Key Cloud Service Provider (CSP) Documents</p>
                          	<p class="document-date">December 8, 2017</p>
						</div>
						<h3>Incident Communications Procedures</h3>
						<p>This document supports the Incident Communication Procedure for FedRAMP. This Incident Communication Procedure outlines the measures to consider so all parties effectively communicate during a security incident incurred by a FedRAMP authorized CSP.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/CSP_Incident_Communications_Procedures.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">Key Agency Documents</p>
                          	<p class="document-date">December 8, 2017</p>
						</div>
						<h3>Control Specific Clauses</h3>
						<p>FedRAMP security control baselines specify control parameter requirements and organizational parameters specific to the provider’s control implementation. Since certain controls may be required to govern Agency user interaction, control organizational parameters may need to be included in the task order and specified. The FedRAMP PMO suggests that agencies review the FedRAMP security control baseline, and that agencies do not contractually specify parameters for controls in the FedRAMP baseline, except from the perspective of a consumer’s implementation of a control.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/Agency_Control_Specific_Contract_Clauses.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">FedRAMP Program Documents</p>
                          	<p class="document-date">February 1, 2018</p>
						</div>
						<h3>Branding Guidance</h3>
						<p>This document provides guidelines on the use of the FedRAMP name, logo, and marks on all FedRAMP marketing and collateral materials. General guidelines are provided first, followed by more specific guidelines for the two major uses of FedRAMP marks: Designation of FedRAMP 3PAO accreditation and FedRAMP Security Authorization.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/FedRAMP_Branding_Guidance.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">Key Cloud Service Provider (CSP) Documents</p>
                          	<p class="document-date">February 21, 2018</p>
						</div>
						<h3>Digital Identity Requirements</h3>
						<p>This document has been developed to provide guidance on Digital Identity requirements in support of achieving and maintaining a security authorization that meets FedRAMP requirements. FedRAMP is following NIST guidance and this document describes how FedRAMP intends to implement it.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/CSP_Digital_Identity_Requirements.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">Key Cloud Service Provider (CSP) Documents</p>
                          	<p class="document-date">February 21, 2018</p>
						</div>
						<h3>Continuous Monitoring Performance Management Guide</h3>
						<p>This document replaces the P-ATO Management and Revocation Guide and explains the actions FedRAMP will take when a CSP fails to maintain an adequate risk management program. It lays out the escalation processes and procedures as well as minimum mandatory escalation actions FedRAMP will take when a CSP fails to meet the requirements of the P-ATO. It also specifically addresses FedRAMP P-ATOs maintained by the JAB and enables FedRAMP to provide effective oversight of the CSP Continuous Monitoring programs.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/CSP_Continuous_Monitoring_Performance_Management_Guide.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">Key Cloud Service Provider (CSP) Documents</p>
                          	<p class="document-date">February 23, 2018</p>
						</div>
						<h3>Annual Assessment Controls Selection Worksheet</h3>
						<p>The FedRAMP Annual Assessment Controls Selection Worksheet provides a matrix to assist CSPs, 3PAOs, and Federal Agencies in assessing and tracking control their annual assessment.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/CSP_Annual_Assessment_Controls_Selection_Worksheet.xlsx" class="policy-download policy-excel"><button>Download</button></a>
					</div>
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">Key Cloud Service Provider (CSP) Documents</p>
                          	<p class="document-date">March 20, 2018</p>
						</div>
						<h3>Automated Vulnerability Risk Adjustment Framework Guidance</h3>
						<p>This document provides CSPs with a framework to create and deploy an automated, CVSS-based vulnerability risk adjustment tool for vulnerabilities identified by vulnerability scanning tools. The document is in DRAFT form while FedRAMP pilots this process with CSPs over the next year or so.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/CSP_Automated_Vulnerability_Risk_Adjustment_Framework.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">Key Cloud Service Provider (CSP) Documents</p>
                          	<p class="document-date">March 20, 2018</p>
						</div>
						<h3>Guide for Determining Eligibility and Requirements for the Use of Sampling for Vulnerability Scans</h3>
						<p>This document provides guidance for CSPs on sampling representative system components rather than scanning every component.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/CSP_Vulnerability_Scan_Requirements_Using_Sampling.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">Key Cloud Service Provider (CSP) Documents</p>
                          	<p class="document-date">March 20, 2018</p>
						</div>
						<h3>Vulnerability Scanning Requirements</h3>
						<p>This guide describes the requirements for all vulnerability scans of FedRAMP Cloud Service Provider’s (CSP) systems for Joint Authorization Board (JAB) Provisional Authorizations (PATOs).</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/CSP_Vulnerability_Scanning_Requirements.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">FedRAMP Program Documents</p>
                          	<p class="document-date">March 29, 2018</p>
						</div>
						<h3>FedRAMP Accelerated: A Case Study for Change Within Government</h3>
						<p>This document captures FedRAMP's experience with redesigning its JAB Authorization process based on stakeholder feedback and shares its insights on creating change within the Government.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/FedRAMP_Accelerated_A_Case_Study_For_Change_Within_Government.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">Key Cloud Service Provider (CSP) Documents</p>
                          	<p class="document-date">April 3, 2018</p>
						</div>
						<h3>Plan of Action and Milestones (POA&M) Template Completion Guide</h3>
						<p>The FedRAMP POA&M Template Completion Guide provides explicit guidance on how to complete the POA&M Template and provides guidance to ensure that the CSP is meeting POA&M requirements.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/CSP_POAM_Template_Completion_Guide.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">Key Cloud Service Provider (CSP) Documents</p>
                          	<p class="document-date">April 4, 2018</p>
						</div>
						<h3>Transport Layer Security (TLS) Requirements</h3>
						<p>This document summarizes NIST and Department of Homeland Security (DHS) Binding Operational Directive (BOD) 18-01 requirements to implement current Transport Layer Security (TLS) protocols and restrict the use of older protocols. FedRAMP is following NIST guidance and this document describes how FedRAMP intends to implement it.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/CSP_TLS_Requirements.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">Key Cloud Service Provider (CSP) Documents</p>
                          	<p class="document-date">April 4, 2018</p>
						</div>
						<h3>Continuous Monitoring Strategy Guide</h3>
						<p>This document provides guidance on continuous monitoring and ongoing authorization in support of maintaining a security authorization that meets the FedRAMP requirements.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/CSP_Continuous_Monitoring_Strategy_Guide.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">Key Cloud Service Provider (CSP) Documents</p>
                          	<p class="document-date">May 10, 2018</p>
						</div>
						<h3>FedRAMP Authorization Boundary Guidance</h3>
						<p>This document provides CSPs guidance for developing the authorization boundary for their offering(s) which is required for their FedRAMP authorization package.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/CSP_A_FedRAMP_Authorization_Boundary_Guidance.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">FedRAMP Program Documents</p>
                          	<p class="document-date">June 13, 2018</p>
						</div>
						<h3>FedRAMP General Document Acceptance Criteria</h3>
						<p>The purpose of this document is to describe the general document acceptance criteria for FedRAMP to both writers and reviewers. This acceptance criterion applies to all documents FedRAMP reviews that do not have special checklists or acceptance criteria predefined for them.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/FedRAMP_General_Document_Acceptance_Criteria.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">Key Cloud Service Provider (CSP) Documents</p>
                          	<p class="document-date">July 1, 2018</p>
						</div>
						<h3>CSP Authorization Playbook: Getting Started with FedRAMP</h3>
						<p>This first volume of the CSP Authorization Playbook provides an overview of all of the partners involved in a FedRAMP authorization, things to consider when determining your authorization strategy, the types of authorizations, and important considerations for your offering when working with FedRAMP.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/CSP_Authorization_Playbook_Getting_Started_with_FedRAMP.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">FedRAMP Program Documents</p>
                          	<p class="document-date">July 13, 2018</p>
						</div>
						<h3>Joint Authorization Board Charter</h3>
						<p>The purpose of this Charter is to define the authority, objectives, membership, roles and responsibilities, meeting schedule, decision making requirements, and establishment of committees for the FedRAMP Joint Authorization Board (JAB) in accordance with OMB Memo "Security Authorizations of Information Systems in Cloud Computing Environments."</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/FedRAMP_Joint_Authorization_Board_Charter.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">Key Cloud Service Provider (CSP) Documents</p>
                          	<p class="document-date">August 28, 2018</p>
						</div>
						<h3>Significant Change Policies and Procedures</h3>
						<p>This document defines the FedRAMP policies and procedures for making significant changes. It provides requirements, guidance, and actions the FedRAMP PMO, AO, CSP, and 3PAO will take when a CSP wishes to make a significant change to its provisionally authorized cloud service.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/CSP_Significant_Change_Policies_and_Procedures.docx" class="policy-download policy-doc"><button>Download</button></a>
					</div>
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">FedRAMP Program Documents</p>
                          	<p class="document-date">June 20, 2019</p>
						</div>
						<h3>FedRAMP Marketplace Designations for Cloud Service Providers</h3>
						<p>This document outlines the requirements for listing FedRAMP designations on the FedRAMP Marketplace for Cloud Service Providers (CSPs). This includes achieving, maintaining, and removing a designation for a Cloud Service Offering (CSO) and supersedes the FedRAMP In Process requirements.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/FedRAMP_Marketplace_Designations_for_Cloud_Service_Providers.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">Key Cloud Service Provider (CSP) Documents</p>
                          	<p class="document-date">March 26, 2020</p>
						</div>
						<h3>JAB Prioritization Criteria and Guidance</h3>
						<p>The purpose of this document is to outline the criteria by which CSPs are prioritized to work with the JAB toward a P-ATO, the JAB prioritization process, and the Business Case requirements for FedRAMP Connect. We ask that CSPs review this document in its entirety before beginning the FedRAMP Connect process.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/CSP_JAB_P-ATO_Prioritization_Criteria_and_Guidance.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">Key Agency Documents</p>
                          	<p class="document-date">May 7, 2020</p>
						</div>
						<h3>Reusing Authorizations for Cloud Products Quick Guide</h3>
						<p>This quick guide outlines steps and guidance to help agencies quickly and efficiently reuse authorized cloud products within the FedRAMP Marketplace.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/Reusing_Authorizations_for_Cloud_Products_Quick_Guide.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">FedRAMP Program Documents</p>
                          	<p class="document-date">July 23, 2020</p>
						</div>
						<h3>FedRAMP Master Acronym & Glossary</h3>
						<p>This document is a master list of FedRAMP acronyms and program definitions.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/FedRAMP_Master_Acronym_and_Glossary.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				</div>
				
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind">FedRAMP Program Documents</p>
                          	<p class="document-date">July 31, 2020</p>
						</div>
						<h3>FedRAMP Security Controls Baseline</h3>
						<p>This document provides the catalog of FedRAMP High, Moderate, Low, and Tailored LI-SaaS baseline security controls, along with additional guidance and requirements.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3 desktop:margin-top-0 margin-top-2">
						<a href="{{site.baseurl}}/assets/resources/documents/FedRAMP_Security_Controls_Baseline.xlsx" class="policy-download policy-excel"><button>Download</button></a>
					</div>
				</div>
				
			</div>
		</div>
	</div>

</section>
