---
layout: full-width
---
<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row padding-top-2 grid-gap">
			<div class="grid-col-12">
				<h2 class="partner-header">About FedRAMP Marketplace</h2>
			</div>	
		</div>
	
		<div class="full-row grid-row grid-gap padding-top-2 partners-main">
			<div class="full-col desktop:grid-col-8 partners-col">
				<div class="intro-text">
					<p>The FedRAMP Marketplace provides a searchable and sortable database of CSOs that have achieved a FedRAMP designation, a list of federal agencies using FedRAMP Authorized CSOs, and FedRAMP recognized auditors (3PAOs) that can perform a FedRAMP assessment. The FedRAMP Marketplace is maintained by the FedRAMP Program Management Office (PMO).</p>
				
						<p>Agencies and CSPs are encouraged to use the Marketplace as a resource to:</p>
						<ul class="margin-top-0">
							<li><strong>Research cloud services</strong> that have achieved a FedRAMP Marketplace designation</li>
							<li><strong>Research agencies</strong> partnering with CSPs for a FedRAMP Authorization, or identify agencies that are using FedRAMP Authorized CSOs</li>
							<li><strong>Review</strong> FedRAMP’s community of <strong>recognized 3PAOs</strong></li>
						</ul>
						<p><strong>Private Cloud Deployments</strong></p>
						<p>The FedRAMP Marketplace is intended to enable the reuse of security package documentation, therefore private cloud deployments are not listed on the Marketplace.</p>
				</div>
			</div>

			<div class="full-col desktop:grid-col-4 partners-col parners-image">
				<img class="partners-images display-none partners-img-1200"
					src="{{site.baseurl}}/assets/img/mp-hero-image.jpg"
					alt=" ">
				<img class="partners-images display-none partners-img-648"
					src="{{site.baseurl}}/assets/img/mp-hero-image.jpg"
					alt=" ">
				<img class="partners-images display-none partners-img-320"
					src="{{site.baseurl}}/assets/img/mp-hero-image.jpg"
					alt=" ">
			</div>
		</div>
			
		</div>
	</div>	
</section>

<!-- Gray Section -->
<section class="fedramp-page-container lightest-gray-bkg">
	<div class="full-row grid-row padding-x-3 tablet:padding-x-4 padding-y-6">
		<div class="full-col tablet:grid-col-12 desktop:grid-col-12 padding-x-2 intro-text">
			<h2 class="width-full">Marketplace Designations</h2>
			<p>The FedRAMP PMO defines three official designations for CSOs:</p>
		</div>
		<div class="full-col tablet:grid-col-4 desktop:grid-col-4 padding-x-2">
			<div class="display-flex flex-column flex-align-center">
				<img class="training-img" src="{{site.baseurl}}/assets/img/mp-fedramp-ready.svg" alt="">
			</div>
			<h3 class="center">FedRAMP Ready</h3>
			<p class="center">A designation provided to CSPs that indicates that a FedRAMP-recognized Third Party Assessment Organization (3PAO) attests to a CSO’s security capabilities, and that a Readiness Assessment Report (RAR) has been reviewed and deemed acceptable by the FedRAMP PMO.</p>
		</div>
		<div class="full-col tablet:grid-col-4 desktop:grid-col-4 padding-x-2">
			<div class="display-flex flex-column flex-align-center">
				<img class="training-img" src="{{site.baseurl}}/assets/img/mp-fedramp-in-process.svg" alt="">
				<h3 class="center">FedRAMP in Process</h3>
				<p class="center">A designation provided to CSPs that are actively working toward a FedRAMP Authorization with either the Joint Authorization Board (JAB) or a federal agency. Include language about<br>
					<strong>JAB Review-</strong> Placeholder language, placeholder language, Placeholder language.<br>
					<strong>Agency Review-</strong> Placeholder language, placeholder language, Placeholder language.<br>
					<strong>FedRAMP Review-</strong> Placeholder language, placeholder language, Placeholder language. </p>
			</div>
		</div>
		<div class="full-col tablet:grid-col-4 desktop:grid-col-4 padding-x-2">
			<div class="display-flex flex-column flex-align-center">
				<img class="training-img" src="{{site.baseurl}}/assets/img/mp-fedramp-authorized.svg" alt="">
				<h3 class="center">FedRAMP Authorized</h3>
				<p class="center">A designation provided to CSPs that have successfully completed the FedRAMP Authorization process with the JAB or a federal agency.
				</p>
			</div>
		</div>

	</div>

</section>


<!-- Main In Page Navigation -->
<section class="fedramp-page-container position-sticky resources-nav">
	<div class="full-row grid-row">
		<div class="full-col tablet:grid-col-4 tablet:padding-2">
			<div id="main-header" class="lavalamp-menu">
				<nav>
					<ul class="in-page-nav-menu" id="top-menu">
						<li><a href="#fedramp-ready">FedRAMP Ready</a></li>
						<li><a href="#fedramp-in-process">FedRAMP In Process</a></li>
						<li><a href="#fedramp-authorized">FedRAMP Authorized</a></li>
						<li><a href="#fedramp-removal">Removal of a FedRAMP Marketplace Designation</a></li>
					</ul>
					<div class="lavalamp"></div>
				</nav>
			</div>
		</div>
	</div>
</section>


<!-- Mobile Navigation -->
<section class="fedramp-page-container position-relative resources-nav-mobile padding-bottom-2 padding-top-4"
	style="background-color: white;">
	<div class="full-row grid-row">
		<div>
			<div>
				<nav>
					<ul class="in-page-nav-menu" id="top-menu-mobile">

						<h4 class="text-center mobile-nav-title">You can also browse the topics below.</h4>
						<li><a href="#fedramp-ready">FedRAMP Ready</a></li>
						<li><a href="#fedramp-in-process">FedRAMP In Process</a></li>
						<li><a href="#fedramp-authorized">FedRAMP Authorized</a></li>
						<li><a href="#fedramp-removal">Removal of a FedRAMP Marketplace Designation</a></li>
					</ul>
					<div class="lavalamp"></div>
				</nav>
			</div>
		</div>
	</div>
</section>

<section class="fedramp-page-container in-page-nav-section">
	<div class="grid-container padding-bottom-0">
		<div class="full-row grid-row grid-gap">

			<div class="full-col tablet:grid-col-8 tablet:grid-offset-4 nav-main-section">

				<div id="fedramp-ready" class="training-courses margin-top-6">
					<div class="full-row grid-row">
						<div class="full-col desktop:grid-col-2">
							<div class="display-flex flex-column-1 flex-align-left margin-bottom-3">
								<img class="courses-img" src="{{site.baseurl}}/assets/img/mp-fedramp-ready.svg" alt="">
							</div>
						</div>
						<div class="full-col desktop:grid-col-10 desktop:padding-left-4">
							<h3 class="margin-top-0">FedRAMP Ready</h3>
							<p class="padding-bottom-2">FedRAMP Ready indicates that a 3PAO attests to a CSO’s security capabilities, and that a Readiness Assessment Report (RAR) has been reviewed and deemed acceptable by the FedRAMP PMO. The RAR documents the service offering’s system information, compliance with federal mandates, and ability to meet FedRAMP security requirements..</p>
						</div>
					</div>


					<div class="grid-row lightest-gray-bkg padding-4">
						<div class="desktop:grid-col-12 margin-bottom-3 desktop:margin-bottom-0">
							<h4 class="margin-top-0">Highlights of FedRAMP Ready:</h4>
							<ul>
								<li>Only available for CSOs at theModerate and High impact levels*</li>
								<li>Valid for one calendar year from the date of designation by the FedRAMP PMO</li>
								<li>CSPs do not need an agency partner to submit a RAR to achieve a FedRAMP Ready designation</li>
							</ul>
							<p style="font-size: .875rem;">* Impact levels for federal information systems, including CSOs, are defined in NIST FIPS Publication 199: Standards for Security Categorization of Federal Information and Information Systems.</p>
						</div>
					</div>

					<div class="full-row grid-row">
						<div class="full-col grid-col-12">
							<h4>Achieving FedRAMP Ready</h4>
							<p class="padding-bottom-2">FedRAMP Ready is required for CSPs pursuing a Provisional Authority to Operate (P-ATO) from the JAB, and is highly recommended for CSPs pursuing a FedRAMP Agency Authorization. Achieving FedRAMP Ready indicates to the federal government that a CSP has a high likelihood of achieving a FedRAMP Authorization.</p>
						</div>
					</div>

					<div class="grid-row lightest-gray-bkg padding-4">
						<div class="desktop:grid-col-12 margin-bottom-3 desktop:margin-bottom-0">
							<img class="courses-img" src="{{site.baseurl}}/assets/img/mp-steps-to-acheiving.svg" alt="5 Steps to Acheiving Fed Ramp Ready">
						</div>

					</div>

					<div class="full-row grid-row">
						<div class="full-col grid-col-12">
							<p class="padding-bottom-2">The FedRAMP PMO reviews each Readiness Assessment Report to ensure a CSO’s core security capabilities and operational processes are in place. Once the PMO deems the Readiness Assessment Report acceptable, the CSO is listed as FedRAMP Ready on the FedRAMP Marketplace. </p>

							<p>The FedRAMP Ready designation is valid for one year, beginning on the date the CSO is listed as FedRAMP Ready on the Marketplace. If the CSP would like to remain listed on the Marketplace as FedRAMP Ready for longer than one year, the CSP may work with a 3PAO and the FedRAMP PMO to issue a new Readiness Assessment Report to maintain its FedRAMP Ready designation for an additional year. </p>

							<p>Any CSO that holds a FedRAMP Agency Authorization that would like to transition to a JAB P-ATO must also achieve FedRAMP Ready.</p>
							
							<h4>Holding Multiple Designations</h4>

							<p>In the event a FedRAMP Ready CSO achieves FedRAMP In Process or FedRAMP Authorized, the Marketplace status will be updated accordingly. If a CSO that has achieved FedRAMP Ready loses its FedRAMP In Process or FedRAMP Authorized designation, and the service offering is still within the one-year period of its original FedRAMP Ready designation date, the CSO’s Marketplace status will be returned to FedRAMP Ready until the one year has expired.</p>
						</div>
					</div>
				</div>

				<div id="fedramp-in-process" class="training-courses margin-top-6 padding-top-3 border-top border-base-lighter">
					<div class="full-row grid-row">
						<div class="full-col desktop:grid-col-2">
							<div class="display-flex flex-column-1 flex-align-left margin-bottom-3">
								<img class="courses-img" src="{{site.baseurl}}/assets/img/mp-fedramp-in-process.svg" alt="">
							</div>
						</div>
						<div class="full-col desktop:grid-col-10 desktop:padding-left-4">
							<h3 class="margin-top-0">FedRAMP In Process</h3>
							<p class="padding-bottom-2">FedRAMP In Process indicates a CSP is actively working towards FedRAMP Authorization through the JAB or Agency Authorization processes. All FedRAMP In Process CSOs are listed on the FedRAMP Marketplace.</p>
						</div>
					</div>


					<div class="grid-row">
						<div class="desktop:grid-col-12 margin-bottom-3 desktop:margin-bottom-0">
							<h4 class="margin-top-0">JAB Authorization: FedRAMP Connect and FedRAMP In Process</h4>
							<p>The JAB prioritizes up to 12 CSOs each year to work towards FedRAMP Authorization. Each CSP must go through a process called “FedRAMP Connect” wherein they submit a business case that provides detailed product information and government-wide demand. The criteria for business cases and evaluation are described in detail within the JAB Prioritization Criteria and Guidance document.</p>

							<h5>Prior to being listed as FedRAMP In Process on the Marketplace for a JAB P-ATO, a CSP must:</h5>
							<ul>
								<li>Achieve FedRAMP Ready within 60 days of being prioritized by the JAB</li>
								<li>Finalize the CSO’s System Security Plan (SSP)</li>
								<li>Engage a FedRAMP recognized 3PAO to develop a Security Assessment Plan (SAP), conduct a full security assessment, and produce a Security Assessment Report (SAR)</li>
								<li>Upload all required security package materials to MAX.gov (a federal document repository) for systems Authorized at the Moderate baseline, or to their own repository if the system is Authorized at the High baseline</li>
								<li>Participate in a formal Kickoff Meeting with the JAB, PMO, and partnering 3PAO</li>
							</ul>
							<p>Completion of the Kickoff Meeting will result in a “go” / “no-go” decision point for JAB Authorization efforts. If a CSP achieves a “go” decision, the partnership with the JAB for a P-ATO may proceed, and the CSO will be listed as FedRAMP In Process on the FedRAMP Marketplace. </p>
							
							<h4>Agency Authorization: FedRAMP In Process Requirements</h4>
							<p>In order to be listed as FedRAMP In Process with a federal agency, a CSP must:</p>
							<ol>
								<li>Obtain written confirmation of the agency’s intent to authorize (In Process Request)</li>
								<li>Submit a completed Work Breakdown Structure (WBS) to the PMO that aligns with timeline requirements</li>
								<li>Confirm the system is fully operational (The FedRAMP PMO defines “fully operational” as being in a production environment and is assessment ready.)</li>
								<li>Fulfill at least one of four additional requirements listed below</li>
							</ol>

							<h4>In Process Request Email - Required Information</h4>
							<p>The In Process Request (IPR) serves as formal notice that an agency is partnering with a federal agency for initial FedRAMP Authorization. To initiate FedRAMP In Process, the FedRAMP PMO must be in receipt of an email or letter from (or including) an Agency Authorizing Official (AO) that states:</p>

							<ol>
								<li>The CSP name</li>
								<li>The CSO name</li>
								<li>The impact level (e.g., Low, Moderate, or High) at which the agency will authorize the service offering</li>
								<li>The agency and CSP points of contact who will work with FedRAMP during the authorization process</li>
								<li>Confirmation that the full 3PAO assessment is planned to begin no more than six (6) months from the date of the In Process Request (include the assessment start date if it has been scheduled)</li>
								<li>An attestation that the partnering agency is actively working with the CSP to grant an Authorization to Operate (ATO) within 12 months of the In Process designation</li>
							</ol>

							<p>In addition to the In Process Request, a CSP and agency should submit a Work Breakdown Structure and fulfill one of the four additional requirements listed below. </p>
						</div>
					</div>
					<div class="grid-row padding-top-1 padding-x-4 lightest-teal-bkg designations-questions">
						<div class="desktop:grid-col-1">
							<img class="courses-img" src="{{site.baseurl}}/assets/img/mp-question.svg" alt="">
						</div>
						<div class="desktop:grid-col-11">
							<h4>Reach out to the FedRAMP PMO for an In Process Request Template</h4>
						</div>
					</div>

					<div class="grid-row">
						<div class="desktop:grid-col-12 margin-bottom-3 desktop:margin-bottom-0">
							<h5>Work Breakdown Structure</h5>
							<p>CSPs must work with their agency partner and 3PAO to complete a Work Breakdown Structure (WBS) and submit to the PMO prior to achieving FedRAMP In Process. The WBS is used to validate the assessment timeline requirement and the 12-month ATO requirement listed above. Submitting a WBS creates shared visibility into the anticipated timeline to completion for key project milestones.</p>
						</div>
					</div>

					<div class="grid-row padding-top-1 padding-x-4 lightest-teal-bkg designations-questions">
						<div class="desktop:grid-col-1">
							<img class="courses-img" src="{{site.baseurl}}/assets/img/mp-question.svg" alt="">
						</div>
						<div class="desktop:grid-col-11">
							<h4>Reach out to the FedRAMP PMO for a Work Breakdown Structure Template</h4>
						</div>
					</div>

					<div class="grid-row">
						<div class="desktop:grid-col-12 margin-bottom-3 desktop:margin-bottom-0">
							<p>The FedRAMP PMO will provide CSPs and agencies with a WBS template at the beginning of the CSP intake process, or when an In Process Request email is sent to the PMO. </p>

							<h5>Additional Requirements</h5>
							<p>One of the following additional requirements must be met for a CSP to be listed on the FedRAMP Marketplace as FedRAMP In Process:</p>

							<ol>
								<li>The agency provides proof of a contract award for the use of the CSO</li>
								<li>The agency and CSP demonstrate use of the service offering to the PMO  <strong>Note:</strong> An email from the Agency AO stating the instance of the CSO undergoing Authorization is being used by the agency will meet this requirement</li>
								<li>The CSO is currently listed as FedRAMP Ready on the Marketplace</li>
								<li>Completion of a formal FedRAMP facilitated Kickoff Meeting that includes the agency, CSP, FedRAMP PMO, and, if applicable, 3PAO</li>
							</ol>
							<h4>Kickoff Meetings</h4>
							<p>The purpose of the Kickoff Meeting is to formally begin the agency authorization process by introducing key team members, reviewing the Cloud Service Offering, and ensuring all stakeholders are aligned on the overall process. Kickoffs are meant to be in service of the CSP and Agency partnership. While a CSP may achieve In Process through other means, the PMO strongly encourages CSPs and agencies to conduct a Kickoff Meeting as outlined in the <a href="#">Agency Authorization Playbook.</a></p>

						</div>
					</div>

					<div class="grid-row padding-top-1 padding-x-4 lightest-teal-bkg designations-questions">
						<div class="desktop:grid-col-1">
							<img class="courses-img" src="{{site.baseurl}}/assets/img/mp-question.svg" alt="">
						</div>
						<div class="desktop:grid-col-11">
							<h4>Reach out to the FedRAMP PMO for a copy of the PMO’s Kickoff Briefing Guidance</h4>
						</div>
					</div>

					<div class="grid-row">
						<div class="desktop:grid-col-12 margin-bottom-3 desktop:margin-bottom-0">

							<h4>Change in Initial Agency Partner or Authorizing Official</h4>
							<p>If a CSP changes agency partners during the initial authorization, the requirements listed above must be followed by the new agency. Upon fulfillment of the requirements, the Marketplace listing will be updated to include the new agency and FedRAMP In Process date. If the Agency AO changes while a CSP is listed as In Process, <u>the FedRAMP PMO must be notified within 30 days</u> and must receive a new In Process Request notification from the new AO.</p>

							<h4>Questions Regarding In Process Timeline</h4>
							<p>The FedRAMP Marketplace displays the date a CSO was listed as In Process with the JAB or an agency. Questions regarding the status or progress toward FedRAMP Authorization for a FedRAMP In Process CSO should be directed to the CSP’s email address listed on their Marketplace page, or <a href="mailto:info@fedramp.gov">info@fedramp.gov</a>.</p>

							<h4>Department of Defense Requirements</h4>
							<p>CSPs pursuing initial authorization with a Department of Defense (DoD) component agency at DoD IL-2 may work towards initial FedRAMP Authorization at the Moderate baseline. The service offering must be configured as a multi-tenant environment that is capable of hosting any federal agency customer. Service offerings that are built for DoD-only use may not achieve initial authorization via FedRAMP, and instead should work with the Defense Information Systems Agency (DISA) for initial authorization. Additionally, CSPs pursuing initial authorization with DoD component agencies at DoD IL-4 or higher must first authorize their CSO via DISA. More information can be found within the <a href=#>Cloud Computing Security Requirements Guide</a> and the <a href=#>DoD Cloud Authorization Services (DCAS)</a> website (CAC required). If you have questions, please reach out to DISA’s hotline mailbox: disa.meade.re.mbx.cloud-team@mail.mil. </p>

							<p>CSPs pursuing DISA authorization may be listed on the FedRAMP Marketplace as In Process by fulfilling FedRAMP’s agency In Process requirements listed on the previous section.</p>
						</div>
					</div>



				</div>

				<div id="fedramp-authorized" class="training-courses margin-top-6 margin-bottom-6 padding-top-3 padding-bottom-6 border-top border-bottom border-base-lighter">
					<div class="full-row grid-row">
						<div class="full-col desktop:grid-col-2">
							<div class="display-flex flex-column-1 flex-align-left margin-bottom-3">
								<img class="courses-img" src="{{site.baseurl}}/assets/img/mp-fedramp-authorized.svg" alt="">
							</div>
						</div>
						<div class="full-col desktop:grid-col-10 desktop:padding-left-4">
							<h3 class="margin-top-0">FedRAMP Authorized</h3>
							<p class="padding-bottom-2">The FedRAMP Authorized designation is provided to CSOs that have successfully completed the FedRAMP Authorization process with the JAB or a federal agency. FedRAMP Authorized indicates FedRAMP requirements have been met, and that a CSO’s security package is available for agency reuse. </p>
						</div>
					</div>


					<div class="grid-row">
						<div class="desktop:grid-col-12 margin-bottom-3 desktop:margin-bottom-0">
							<h4 class="margin-top-0">JAB Provisional Authorization</h4>
							<p>Cloud services that are FedRAMP In Process with the JAB can shift to FedRAMP Authorized once the following events have occurred:</p>

							<ol>
								<li>The JAB reviews the security package for the CSO
									<ul>
										<li>CSPs and 3PAOs support JAB Technical Reviewers (TRs) during their review, and                     
											participate in regular meetings with the PMO and JAB TRs to address questions </li>
									</ul>
								</li>
								<li>The CSP submits accurate and complete monthly continuous monitoring (ConMon) deliverables (e.g., scan files, Plan of Action & Milestones [POA&M], and up-to-date inventory) to the JAB throughout the review</li>
								<li>The CSP and 3PAO remediate system and documentation issues as needed following completion of the JAB review, ensuring all JAB TR comments are appropriately addressed</li>
								<li>The JAB validates the CSP and 3PAO remediation efforts</li>
								<li>The JAB issues a letter granting a P-ATO for the CSO to the CSP
									<ul>
										<li>The P-ATO letter is signed by the CIOs of the Department of Defense, the 
											Department of Homeland Security, and the General Services Administration.</li>
									</ul>
								</li>
							</ol>
							<p>Once a P-ATO letter is provided to a CSP, the Marketplace listing for the service offering will be updated to reflect its FedRAMP Authorized designation and the date of authorization. </p>

							<h4>Agency Authorization</h4>
							<p>CSOs that are In Process with an agency can shift to FedRAMP Authorized once the following events have occurred:</p>
							<ol>
								<li>An agency grants an ATO for the CSO (FedRAMP does not accept Interim ATOs or ATUs (Authority to Use) to trigger the FedRAMP PMO’s review of a security package. All ATOs submitted to the PMO must have a minimum timeframe of 1 year.)</li>
								<li>The CSP and 3PAO upload all required security package materials to their secure FedRAMP repository (MAX.gov for packages Authorized below the High baseline, their own repository for packages Authorized at the High baseline)</li>
								<li>The FedRAMP PMO reviews the package and releases an Agency Authorization Review Report 

									<ul>
										<li>If necessary, the FedRAMP PMO schedules a review meeting with the agency,CSP, and 3PAO to discuss questions and gain clarity on outstanding items reflected in the Agency Package Review Report. Updates to the package may be requested by the FedRAMP PMO. </li>
									</ul>
								</li>
							</ol>
							<p>Once the FedRAMP PMO reviews a CSP’s security package and determines it acceptable, the PMO will inform a CSP that it has achieved the FedRAMP Authorized designation. The Marketplace listing for the service offering will be updated to reflect its FedRAMP Authorized designation and the date of authorization.</p>
						</div>
					</div>
				</div>

				<div id="fedramp-removal" class="training-courses margin-top-6 margin-bottom-6 padding-top-3">
					<div class="full-row grid-row">
						<div class="full-col desktop:grid-col-2">
							<div class="display-flex flex-column-1 flex-align-left margin-bottom-3">
								<img class="courses-img" src="{{site.baseurl}}/assets/img/mp-removal.svg" alt="">
							</div>
						</div>
						<div class="full-col desktop:grid-col-10 desktop:padding-left-4">
							<h3 class="margin-top-0">Removal of a FedRAMP Marketplace Designation</h3>
							<p class="padding-bottom-2">The FedRAMP PMO actively manages CSO designations on the FedRAMP Marketplace. The removal of CSOs as FedRAMP Ready, FedRAMP In Process, or FedRAMP Authorized is at the discretion of the FedRAMP Director. </p>
						</div>
					</div>


					<div class="grid-row">
						<div class="desktop:grid-col-12 margin-bottom-3 desktop:margin-bottom-0">
							<p>Scenarios that would lead to the removal of a FedRAMP Marketplace designation for a CSO include, but are not limited to:</p>

							<h4>FedRAMP Ready</h4>
							<ul>
								<li>One year has elapsed since a CSO achieved FedRAMP Ready and a new Readiness Assessment Report is not completed.</li>
								<li>A CSO’s FedRAMP Ready designation lapses prior to achieving FedRAMP In Process or FedRAMP Authorized.</li>
							</ul>

							<h4>FedRAMP In Process</h4>
							<ul>
								<li>The authorization timeline for a CSO has exceeded 12 months as In Process.</li>
								<li>An agency or CSP informs the FedRAMP PMO that they are no longer working with a CSP for FedRAMP Authorization.</li>
								<li>The JAB deprioritizes a CSP for a JAB P-ATO.</li>
							</ul>

							<h4>FedRAMP Authorized</h4>
							<ul>
								<li>A CSO no longer has at least one ATO on file validating the use and continuous monitoring oversight of the service at a federal agency.</li>
								<li>The ongoing security posture of a CSO, as demonstrated through continuous monitoring, is insufficient for federal government use.</li>
								<li>JAB Authorized CSOs do not demonstrate sufficient federal government demand.</li>
							</ul>
						</div>
					</div>

					<div class="grid-row lightest-gray-bkg padding-4">
						<div class="desktop:grid-col-12 margin-bottom-3 desktop:margin-bottom-0">
							<h4 class="margin-top-0">Notification of Marketplace Removal</h4>
							<p>If it is determined that removal is warranted for any of the FedRAMP Marketplace designations, the CSP and partnering agency (if applicable) will be notified by email. The designation on the Marketplace will be removed within 24 hours of the notification email. </p>
						</div>
					</div>

					<div class="grid-row">
						<div class="desktop:grid-col-12 margin-bottom-3 desktop:margin-bottom-0">
							<h4>Provision for Authorized Service Offerings that Lose Their Only ATO on File</h4>
							<p>FedRAMP Authorized CSOs that lose their only active agency ATO letter on file may remain listed on the FedRAMP Marketplace as FedRAMP Ready for a maximum of 12 months while the CSP works to obtain a new ATO from a federal agency. If a new ATO is obtained during this period, the CSO will regain its FedRAMP Authorized designation. </p>

							<p>Agencies should follow the steps outlined in FedRAMP’s Reuse Quick Guide when reviewing the package. To inform an agency’s risk-based ATO decision, the PMO recommends CSPs:</p>

							<ol>
								<li>Submit Monthly ConMon Deliverables: CSPs should maintain an acceptable risk posture, and should continue to upload monthly continuous monitoring deliverables (updated POA&M and inventory, scan files, deviation requests) to their FedRAMP secure repository. </li>
								<li>Conduct Annual Assessment: If a service offering is due for an Annual Assessment during this period, the CSP should complete the Annual Assessment.</li>
								<li>Deliver Risk Briefing: The CSP should brief the agency on the current risk posture of the CSO, including any areas that require agency risk acceptance.</li>
							</ol>

							<p>If the CSP does not acquire an ATO for their service offering within the 12-month timeframe, the CSO will be removed from the FedRAMP Marketplace. At that point, the CSP has two options to regain a FedRAMP Marketplace designation:</p>

							<ol>
								<li>Achieve FedRAMP Ready by undergoing a Readiness Assessment with a FedRAMP recognized 3PAO.</li>
								<li>Achieve FedRAMP In Process by fulfilling the requirements described in FedRAMP’s In Process Requirements.</li>
							</ol>
							<p><strong>Note:</strong> to distinguish these CSPs within the list of FedRAMP Ready service offerings, the FedRAMP PMO will include language within the “Service Description” field of the CSO’s Marketplace page that indicates the CSO has a full security package ready for agency review. </p>
						</div>
					</div>
					
					


				</div>
			</div>
		</div>
	</div>
</section>

