---
layout: full-width
---
<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row padding-top-2">
			<div class="full-col desktop:grid-col-12">
				<h2 class="partner-header">Pursuing a FedRAMP<sup>®</sup> Agency Authorization </h2>
			</div>
		</div>
		<div class="full-row grid-row tablet:padding-top-2 grid-gap">
			<div class="full-col desktop:grid-col-6 partners-col auth-image-container">
				<img class="authorization-images display-none partners-img-1200" src="{{site.baseurl}}/assets/img/authorized_agency_top_desktop.svg" alt="">
				<img class="authorization-images display-none partners-img-648" src="{{site.baseurl}}/assets/img/authorized_agency_top_tablet.svg" alt="">
				<img class="authorization-images display-none partners-img-320" src="{{site.baseurl}}/assets/img/authorized_agency_top_mobile.svg" alt="">
			</div>
			<div class="full-col desktop:grid-col-6 partners-col">
				<div class="intro-text">
					<p class="margin-bottom-0">There are two approaches to obtaining a FedRAMP Authorization, a provisional authorization through the Joint Authorization Board (JAB) or an authorization through an agency. In the Agency Authorization path, agencies may work directly with a Cloud Service Provider (CSP) for authorization at any time. CSPs that make a business decision to work directly with an agency to pursue an Authority to Operate (ATO) will work with the agency throughout the FedRAMP Authorization process.</p>
				</div>
			</div>
		</div>
	</div>	
</section>



<section class="fedramp-page-container lightest-gray-bkg">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col desktop:grid-col-12 text-center">
				<h2 id="authorization-graph" class="center" style="margin-bottom: 2rem;">The Authorization Process</h2>
				
				<div class="text-center">
					<img class="display-none auth-graphic-320" src="{{site.baseurl}}/assets/img/authorized_agency_process_320px.svg" alt="To become certified in the agency path, a CSP must complete the preparation and authorization phases in order while undergoing continuous monitoring." aria-describedby="agency-description">
					<img class="display-none auth-graphic-648" src="{{site.baseurl}}/assets/img/authorized_agency_process_648px.svg" alt="To become certified in the agency path, a CSP must complete the preparation and authorization phases in order while undergoing continuous monitoring." aria-describedby="agency-description">
					<img class="display-none auth-graphic-968" src="{{site.baseurl}}/assets/img/authorized_agency_process_968px.svg" alt="To become certified in the agency path, a CSP must complete the preparation and authorization phases in order while undergoing continuous monitoring." aria-describedby="agency-description">
					<img class="display-none auth-graphic-1200" src="{{site.baseurl}}/assets/img/authorized_agency_process_1200px.svg" alt="To become certified in the agency path, a CSP must complete the preparation and authorization phases in order while undergoing continuous monitoring." aria-describedby="agency-description">
				</div>
								
				<div id="agency-description" style="display: none;">
					<p>If the agency path is the selected authorization process, the first major phase is preparation. There are two steps in the preparation phase: pre-authorization, which is required, and readiness assessment, which is optional but highly recommended. For pre-authorization a CSP must begin with a partnership establishment then undergo authorization planning to participate in a Kickoff Meeting. From here, the CSP has the option of working through the optional readiness assessment step, which begins with RAR development. Followed by this is the FedRAMP PMO review of RAR. A remediation will then occur, but only if necessary, followed by the issuing of the FedRAMP Ready Designation. </p>

					<p>The next major phase of the process is authorization. The first step in this phase is the full security assessment, which includes the security authorization package involving numerous deliverables such as the SSP, SAP, SAR, and POA&M. The next step in the authorization phase is the agency authorization process beginning with an agency review of the security authorization package. This is followed by an SAR debrief before a remediation and an agency final review occurs. Next, an agency ATO takes place followed finally by a FedRAMP PMO review and a remediation, if needed. </p>

					<p>It is at this point a CSP can become FedRAMP authorized in the agency authorization process. Post authorization, there are monthly continuous monitoring deliverables as well as an annual assessment. These are ways FedRAMP ensures continuous monitoring is present throughout the entire process. </p>

				</div>
			</div>
		</div>
	</div>

</section>

<section id="agency-readiness-assessment" class="blue-bkg fedramp-page-container">
	<div class="grid-container auth-container-steps">
		<div class="full-row grid-row grid-gap">
			<div class="full-col tablet:grid-col-2 step-numbers-container authorization-information-col">
				<img src="{{site.baseurl}}/assets/img/auth-1.svg" class="auth-numbers" alt="" />
			</div>
			<div class="full-col tablet:grid-col-10 intro-text authorization-information-col">
				<h2 class="text-white">Preparation</h2>
				<p class="text-white auth-steps-text">The preparation phase consists of two steps: Readiness Assessment and Pre-Authorization.</p>
			</div>
		</div>
	</div>
</section>


<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap step-reversed">
			<div class="full-col tablet:grid-col-7 authorization-information-col">
				 <h3 class="margin-top-0">Readiness Assessment</h3>
				<p>In the Readiness Assessment step, a CSP may elect to pursue the FedRAMP Ready designation, which is optional for the Agency Authorization process, but highly recommended. To achieve the FedRAMP Ready designation, a CSP must work with an accredited Third Party Assessment Organization (3PAO) to complete a Readiness Assessment of its service offering. The Readiness Assessment Report (RAR) documents the CSP's capability to meet federal security requirements. More information regarding steps to achieve FedRAMP Ready can be found on the <a href="https://www.fedramp.gov/about-marketplace/" target="_blank">About FedRAMP Marketplace page</a>.</p>
				
				<p><a href="#authorization-graph" class="authorization-link"><i class="fas fa-arrow-circle-up auth-graph-top-icon"></i>Back to Graphic for Reference</a></p>
			</div>
				
			<div class="full-col tablet:grid-col-5 auth-steps-info text-center authorization-information-col ">
				<img src="{{site.baseurl}}/assets/img/authorized_agency_process_CALLOUT_1.a.svg" class="step-reversed authorizatoin-callouts-desktop display-none" alt="" />
			</div>
		</div>
	</div>
</section>

<section id="agency-pre-authorization" class="lightest-gray-bkg fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col tablet:grid-col-5 auth-steps-info text-center  authorization-information-col">
				<img src="{{site.baseurl}}/assets/img/authorized_agency_process_CALLOUT_1.b.svg" class="authorizatoin-callouts-desktop display-none" alt="" />				
			</div>
				
			<div class="full-col tablet:grid-col-7 authorization-information-col">
				<h3 class="margin-top-0">Pre-Authorization</h3>
				<p>During the Pre-Authorization step, a CSP formalizes its partnership with an agency via the requirements outlined in <em>FedRAMP Marketplace: Designations for Cloud Service Providers</em>. A CSP also prepares to undergo the authorization process. They make any necessary technical and procedural adjustments to address federal security requirements and prepare the security deliverables required for authorization. </p>
				
				<p>By this stage, a CSP should:</p>
				<ul class="red-bullets">
					<li>Have a system that is fully built and functional</li>
					<li>Have a leadership team that is committed and fully on board with the FedRAMP process</li>
					<li>Engage with FedRAMP through the intake process by completing a <a href="https://docs.google.com/forms/d/e/1FAIpQLScU4_x5UK53d0PUUDsOdqWyzUvAN1-yFJ1NxffT7PkGkCiuPg/viewform" target="_blank">CSP Information Form</a></li>
					<li>Determine the security categorization of the data that will be placed within the system using the FedRAMP Federal Information Processing Standards (FIPS) 199 Categorization Template (located in Section 15 of the System Security Plan (SSP) template, located on the <a href="{{site.baseurl}}/documents-templates/">Documents & Templates</a> page) along with the guidance of <a href="https://nvlpubs.nist.gov/nistpubs/FIPS/NIST.FIPS.199.pdf" target="_blank">FIPS 199 Pub 199 [PDF - 78KB]</a> <i class="fas fa-external-link-alt fa-sm"></i> and <a href="https://csrc.nist.gov/publications/detail/sp/800-60/vol-2-rev-1/final" target="_blank">NIST Special Publication 800-60 Volume 2 Revision 1</a> <i class="fas fa-external-link-alt fa-sm"></i> to correctly categorize their system based on the types of information processed, stored, and transmitted on its systems </li>
				
				</ul>

				<p>The final step in Pre-Authorization is to prepare for and conduct a Kickoff Meeting. During the Kickoff Meeting, a CSP and agency will discuss: </p>
				<ul class="red-bullets">
					<li>The background and functionality of the cloud service</li>
					<li>The technical security of the cloud service, including the system architecture, the authorization boundary, data flows, and core security capabilities</li>
					<li>Customer responsible controls that must be implemented and tested by the Agency</li>
					<li>Compliance gaps and remediation plans</li>
					<li>A work breakdown structure, milestones, and next steps</li>
				
				</ul>
				
				<p><a href="#authorization-graph" class="authorization-link"><i class="fas fa-arrow-circle-up auth-graph-top-icon"></i>Back to Graphic for Reference</a></p>
			</div>
		</div>
	</div>
</section>

<section id="agency-full-security-assessment" class="blue-bkg fedramp-page-container">
	<div class="grid-container auth-container-steps">
		<div class="full-row grid-row grid-gap">
			<div class="full-col tablet:grid-col-2 step-numbers-container authorization-information-col">
				<img src="{{site.baseurl}}/assets/img/auth-2.svg" class="auth-numbers" alt="" />
			</div>
			<div class="full-col tablet:grid-col-10 intro-text authorization-information-col">
				<h2 class="text-white">Authorization</h2>
				<p class="text-white auth-steps-text">The authorization phase consists of two steps: Full Security Assessment and Agency Authorization Process.</p>
			</div>
		</div>
	</div>
</section>

<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap step-reversed">
			<div class="full-col tablet:grid-col-7 authorization-information-col">
				
				<h3 class="margin-top-0">Full Security Assessment</h3>

				<p>During the Full Security Assessment step, the 3PAO performs an independent audit of the system. Prior to this step, a CSP should ensure that the SSP is complete and has been reviewed and approved by the agency customer. Additionally, the Security Assessment Plan (SAP) should be developed by a CSP’s 3PAO with their authorizing agency’s input.</p>

				<p>During this step, the 3PAO tests the CSP’s system. At the conclusion of testing, the 3PAO develops a Security Assessment Report (SAR) which details their findings from testing and includes a recommendation for FedRAMP Authorization. </p>

				<p>The CSP will then develop a Plan of Action and Milestones (POA&M) based on the SAR findings, and include input from the 3PAO, which outlines a plan for addressing the findings from testing.</p>
				
				<p><a href="#authorization-graph" class="authorization-link"><i class="fas fa-arrow-circle-up auth-graph-top-icon"></i>Back to Graphic for Reference</a></p>

			</div>
				
			<div class="full-col tablet:grid-col-5 auth-steps-info text-center authorization-information-col">
				<img src="{{site.baseurl}}/assets/img/authorized_agency_process_CALLOUT_2.a.svg" class="display-none authorizatoin-callouts-desktop" alt="" />
			</div>
		</div>
	</div>
</section>

<section id="agency-authorization-process" class="lightest-gray-bkg fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col tablet:grid-col-5 auth-steps-info text-center authorization-information-col">
				<img src="{{site.baseurl}}/assets/img/authorized_agency_process_CALLOUT_2.b.svg" class="display-none authorizatoin-callouts-desktop" alt="" />			
			</div>
				
			<div class="full-col tablet:grid-col-7 authorization-information-col">
				<h3 class="margin-top-0">Agency Authorization Process</h3>
				<p>The next step is the Agency Authorization Process. During this step, the agency conducts a security authorization package review, which may include a SAR debrief with the FedRAMP PMO. Depending on the results of the agency’s review, CSP remediation may be required. Additionally, the agency will implement, test, and document customer responsible controls during this phase. Finally, the agency performs a risk analysis, accepts risk, and issues an ATO. This decision is based on the agency’s risk tolerance. Once an agency provides an ATO letter for the use of the CSO, the following actions take place to close out this step:</p>
				
				<ul class="red-bullets">
					<li>The CSP uploads the <em>Authorization Package Checklist</em> and the complete security package (SSP and attachments, POA&M, and Agency ATO letter), with exception of the security assessment material, to FedRAMP’s secure repository.</li>
				
					<li>The 3PAO uploads all security assessment material (SAP, SAR, and attachments) associated with the CSO security package to FedRAMP’s secure repository.</li>
				</ul>	
				
				<p>The FedRAMP PMO performs a review of the security assessment materials for inclusion into the FedRAMP Marketplace. The FedRAMP Marketplace listing for the service offering will be updated to reflect FedRAMP Authorized status and the date of authorization. In turn, the CSO security package will be made available to agency information security personnel, to issue subsequent ATOs, by completing the <a   href="https://www.fedramp.gov/assets/resources/documents/Agency_Package_Request_Form.pdf" target="_blank">FedRAMP Package Access Request Form [PDF - 278KB]</a>. </p>
				
				<p>The FedRAMP PMO requests agencies to send their ATO letters for any FedRAMP-Authorized CSO to <a href="mailto:ato-letter@fedramp.gov">ato-letter@fedramp.gov</a>.</p>
			
				<p><a href="#authorization-graph" class="authorization-link"><i class="fas fa-arrow-circle-up auth-graph-top-icon"></i>Back to Graphic for Reference</a></p>

			</div>
		</div>
	</div>
</section>

<section id="agency-continuous-monitoring" class="blue-bkg fedramp-page-container">
	<div class="grid-container auth-container-steps">
		<div class="full-row grid-row grid-gap">
			<div class="full-col tablet:grid-col-2 step-numbers-container authorization-information-col">
				<img src="{{site.baseurl}}/assets/img/auth-3.svg" class="auth-numbers" alt="" />
			</div>
			<div class="full-col tablet:grid-col-10 intro-text authorization-information-col">
				<h2 class="text-white">Continuous Monitoring</h2>
				<p class="text-white auth-steps-text">The continuous monitoring phase consists of post authorization activities in support of maintaining a security authorization that meets the FedRAMP requirements.</p>
			</div>
		</div>
	</div>
</section>

<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap step-reversed">
			<div class="full-col tablet:grid-col-7 authorization-information-col">
				<h3 class="margin-top-0">Post Authorization</h3>

				<p>During the continuous monitoring phase, the CSP is required to provide periodic security deliverables (vulnerability scans, updated POA&M, annual security assessments, incident reports, significant change requests, etc.) to all agency customers. Further detail can be found in the <a href="https://www.fedramp.gov/assets/resources/documents/CSP_Continuous_Monitoring_Strategy_Guide.pdf" target="_blank">Continuous Monitoring Strategy Guide [PDF - 1.1MB]</a>.</p>

				<p>Each agency using the service reviews the monthly and annual continuous monitoring deliverables. CSPs use the FedRAMP secure repository for posting monthly continuous monitoring material for ease of access and sharing with agency representatives.</p> 
				
				<p><a href="#authorization-graph" class="authorization-link"><i class="fas fa-arrow-circle-up auth-graph-top-icon"></i>Back to Graphic for Reference</a></p>
			</div>
				
			<div class="full-col tablet:grid-col-5 auth-steps-info text-center authorization-information-col">
				<img src="{{site.baseurl}}/assets/img/authorized_agency_process_CALLOUT_3.a.svg" class="authorizatoin-callouts-desktop display-none" alt="" />								
			</div>
		</div>
	</div>
</section>

<section class="lightest-gray-bkg fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col grid-col-12">
				<div class="full-row grid-row grid-gap">
					<div class="full-col tablet:grid-col-10 tablet:grid-offset-1 padding-bottom-4">
						<h2 class="text-center">Resources</h2>
						<p class="text-center">The resources below provide additional guidance on the Agency Authorization path. Additional technical guidance as well as FedRAMP templates are located on our <a href="{{site.baseurl}}/documents-templates/">Documents & Templates</a> page under resources.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="full-row grid-row grid-gap">
			<div class="full-col tablet:grid-offset-1 tablet:grid-col-10 padding-4 white-bkg auth-resources">
				<div class="full-row grid-row grid-gap auth-resources-row">
					<div class="full-col tablet:grid-col-2 auth-pdf-download-img">
						<img src="{{site.baseurl}}/assets/img/auth-pdf-download.svg" class="" alt="" />
					</div>
					<div class="full-col tablet:grid-col-10 padding-right-4">
						<h3>Agency Authorization Playbook</h3>
						<p>This document provides a compilation of best practices, tips, and step-by-step guidance for agencies seeking to implement ATOs.</p>
						<p><a class="auth-resources-download"  href="https://www.fedramp.gov/assets/resources/documents/Agency_Authorization_Playbook.pdf" target="_blank">Download [PDF - 1.3MB]</a></p>
					</div>
				</div>
				
				<div class="full-row grid-row grid-gap auth-resources-row">
					<div class="full-col tablet:grid-col-2 auth-pdf-download-img">
							<img src="{{site.baseurl}}/assets/img/auth-pdf-download.svg" class="" alt="" />
					</div>
					<div class="full-col tablet:grid-col-10 padding-right-4">
						<h3>Agency Authorization - Roles and Responsibilities for FedRAMP, CSPs, and Agencies</h3>
						<p>This document provides a summary of the roles and responsibilities of the agency, CSP, and FedRAMP PMO during the Agency Authorization process.</p>
						<p><a class="auth-resources-download"  href="https://www.fedramp.gov/assets/resources/documents/Agency_Authorization_Roles_and_Responsibilities_for_FedRAMP_CSPs_and_Agencies.pdf" target="_blank">Download [PDF - 933KB]</a></p>
					</div>
				</div>
				
				<div class="full-row grid-row grid-gap auth-resources-row">
					<div class="full-col tablet:grid-col-2 auth-pdf-download-img">
							<img src="{{site.baseurl}}/assets/img/auth-pdf-download.svg" class="" alt="" />
					</div>
					<div class="full-col tablet:grid-col-10 padding-right-4">
						<h3>FedRAMP Authorization Boundary Guidance</h3>
						<p>This document provides CSPs guidance for developing the authorization boundary for their offering(s) which is required for their FedRAMP Authorization package.</p>
						<p><a class="auth-resources-download"  href="https://www.fedramp.gov/assets/resources/documents/CSP_A_FedRAMP_Authorization_Boundary_Guidance.pdf" target="_blank">Download [PDF - 293KB]</a></p>
					</div>
				</div>
				
				<div class="full-row grid-row grid-gap auth-resources-row">
					<div class="full-col tablet:grid-col-2 auth-pdf-download-img">
							<img src="{{site.baseurl}}/assets/img/auth-pdf-download.svg" class="" alt="" />
					</div>
					<div class="full-col tablet:grid-col-10 padding-right-4">
						<h3>FedRAMP Guide for Multi-Agency Continuous Monitoring</h3>
						<p>This document provides guidance to agencies and CSPs to assist with a framework for collaboration when managing Agency ATOs.</p>
						<p><a class="auth-resources-download"  href="https://www.fedramp.gov/assets/resources/documents/Agency_Guide_for_Multi-Agency_Continuous_Monitoring.pdf" target="_blank">Download [PDF - 413KB]</a></p>
					</div>
				</div>
				
				<div class="full-row grid-row grid-gap auth-resources-row">
					<div class="full-col tablet:grid-col-2 auth-pdf-download-img">
							<img src="{{site.baseurl}}/assets/img/auth-visit-site.svg" class="" alt="" />
					</div>
					<div class="full-col tablet:grid-col-10 padding-right-4">
						<h3>FedRAMP Tailored Website</h3>
						<p>Provides guidance and templates for FedRAMP Tailored, a simple, condensed approach to the Authorization process for Low-Impact Software-as-a-Service (LI-SaaS) applications.</p>
						<p><a class="auth-resources-download"  href="https://tailored.fedramp.gov/" target="_blank">Visit Website</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
