---
layout: full-width
---
<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row">
			<div class="full-col desktop:grid-col-12">
				<h2 class="center">The Agency Authorization Path</h2>
			</div>
		</div>
		<div class="full-row grid-row tablet:padding-top-2 grid-gap">
			<div class="full-col desktop:grid-col-6">
				<div class="intro-text">
					<p>The first step for any Cloud Service Provider (CSP) interested in pursuing a FedRAMP authorization for their cloud service offering (CSO) is to determine their authorization strategy. There are two paths a CSP can pursue to achieve a FedRAMP authorization&#58; a Provisional Authority to Operate (P-ATO) from the Joint Authorization Board (JAB) and an Agency Authority to Operate (ATO).</p>
				</div>
			</div>
			<div class="full-col desktop:grid-col-6 desktop:padding-left-1">
				<h3 class="desktop:margin-top-0">Pursuing an Agency Authorization</h3>
				<p>CSPs that make a business decision to work directly with an agency to pursue an Authority to Operate (ATO) will work with the agency throughout the FedRAMP authorization process. </p>
				
				<p>Below is a high-level overview of the Agency Authorization Process. More detailed information on the process is provided in the <a href="https://www.fedramp.gov/assets/resources/documents/Agency_Authorization_Playbook.pdf" target="_blank">Agency Authorization Playbook</a> and the <a href="https://www.fedramp.gov/assets/resources/documents/CSP_Authorization_Playbook_Getting_Started_with_FedRAMP.pdf" target="_blank">CSP Authorization Playbook&#58; Getting Started with FedRAMP</a>.</p>
			</div>
		</div>
	</div>	
</section>

<section class="lightest-gray-bkg fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row">
			<div class="full-col desktop:grid-col-12">
				<h2 class="center">The Authorization Process</h2>
				<img class="" src="{{site.baseurl}}/assets/img/agency-authorization-process.svg" alt="">
			</div>
		</div>
	</div>

</section>

<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col desktop:grid-col-3 tablet:padding-bottom-4">
				<div class="grid-row">
					<div class="tablet:grid-col-5 desktop:grid-col-12">
						<div class="authorization-phase-icon">
							<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/agency-authorization-phase-1.svg" alt="">
						</div>
					</div>
					<div class="tablet:grid-col-4 desktop:grid-col-12">
						<h2 class="center no-line phase-header">Phase 1</h2>
						<h3 class="center no-line margin-top-0 phase-header">Partnership Establishment</h3>
					</div>
				</div>
			</div>
			<div class="full-col desktop:grid-col-9">
				<p class="margin-top-0">During this phase, a CSP formalizes their partnership with an agency via the requirements outlined in FedRAMP’s Marketplace Designations for Cloud Service Providers.By this stage, a CSP should&#58;</p>
				
				<ul class="red-bullets">
					<li>Have a system that is fully built and functional</li>
					<li>Have a leadership team that is committed and fully on board with the FedRAMP process </li>
					<li>Engage with FedRAMP through the intake process by completing a CSP Information Form</li>
					<li>Determine the security categorization of the data that will be placed within the system using the FedRAMP FIPS 199 Categorization Template (located within the System Security Plan) along with the guidance of NIST Special Publication 800-60 volume 2 Revision 1 to correctly categorize their system based on the types of information processed, stored, and transmitted on their systems.</li>
				</ul>

				<p>Throughout this phase, a CSP will be working on the development of their System Security Plan (SSP), which is the security blueprint of their system. This robust document outlines how the system security aligns with the FedRAMP controls. The SSP does not need to be completed prior to establishing a partnership with an agency, but it does need to be completed and fully reviewed by the agency prior to Phase 2. The agency partner should approve the SSP prior to beginning testing.</p>

				<p>A CSP may elect to pursue the FedRAMP Ready designation during this phase, which is optional for the agency authorization process, but highly recommended. To achieve the FedRAMP Ready designation, a CSP must work with an accredited 3PAO to complete a readiness assessment of its service offering. At the conclusion of the assessment, the 3PAO delivers a Readiness Assessment Report (RAR) attesting to the CSO’s readiness for the authorization process. The RAR documents the CSP’s capability to meet FedRAMP’s security requirements.</p>

				<p>The final step in this phase is to prepare for and conduct a kick-off meeting. During the kick-off meeting, a CSP and Agency will discuss&#58; the background and functionality of the cloud service; the technical security of the cloud service, including the system architecture, the authorization boundary, data flows, and core security capabilities; compliance gaps and remediation plans; and a work breakdown structure, milestones, and next steps.</p>
				
			</div>
		</div>
	</div>
</section>

<section class="lightest-gray-bkg fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col desktop:grid-col-3 tablet:padding-bottom-4">
				<div class="grid-row">
					<div class="tablet:grid-col-5 desktop:grid-col-12">
						<div class="authorization-phase-icon">
							<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/agency-authorization-phase-2.svg" alt="">
						</div>
					</div>
					<div class="tablet:grid-col-4 desktop:grid-col-12">
						<h2 class="center no-line phase-header">Phase 2</h2>
						<h3 class="center no-line margin-top-0 phase-header">Full Security Assessment</h3>
					</div>
				</div>
			</div>
			
			<div class="full-col desktop:grid-col-9">
				<p class="margin-top-0">Prior to beginning Phase 2, a CSP should ensure that&#58;</p>
				
				<ul class="red-bullets">
					<li>The SSP is complete and has been reviewed and approved by their agency customer.</li>
					<li>The Security Assessment Plan (SAP) has been developed by their Third-Party Assessment Organization (3PAO) with their agency customer’s input.</li>
				</ul>
				
				<p>During this phase, the 3PAO&#58;</p>
				
				<ol class="red-numbers">
					<li><strong>Tests the CSP’s system.</strong> During testing, it is critical that no changes are made to the system and that it is frozen from a development perspective.</li>
					<li><strong>Develops a Security Assessment Report (SAR)</strong> which details their findings from testing and includes a recommendation for FedRAMP Authorization. </li>
				
				</ol>				

				<p>The CSP will then develop a Plan of Action and Milestones (POA&M) based on the SAR findings, and include input from the 3PAO, which outlines a plan for addressing the findings from testing.</p>
				
			</div>
		</div>
	</div>
</section>

<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col desktop:grid-col-3 tablet:padding-bottom-4">
				<div class="grid-row">
					<div class="tablet:grid-col-5 desktop:grid-col-12">
						<div class="authorization-phase-icon">
							<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/agency-authorization-phase-3.svg" alt="">
						</div>
					</div>
					<div class="tablet:grid-col-4 desktop:grid-col-12">
						<h2 class="center no-line phase-header">Phase 3</h2>
						<h3 class="center no-line margin-top-0 phase-header">Authorization Process</h3>
					</div>
				</div>
			</div>
			
			<div class="full-col desktop:grid-col-9">
				<p class="margin-top-0">During this phase&#58;</p>
				<ol class="red-numbers">
					<li><strong>Agency reviews the assessment and associated deliverables</strong> and either approves them or requests additional testing.</li>
					<li><strong>Agency provides an ATO letter,</strong> if the agency accepts the risks associated with the use of the system.</li>
					<li><strong>CSP uploads the Authorization Package Checklist and the complete security package</strong> (SSP and attachments, POA&M, and Agency ATO letter), with exception of the security assessment material, to FedRAMP’s secure repository on OMB MAX.</li>
					<li><strong>The 3PAO uploads all security assessment material</strong> (SAP, SAR, and associated attachments) associated with the CSO security package to FedRAMP’s secure repository.</li>
					<li><strong>FedRAMP PMO conducts a review of the package</strong> and provides a Draft Agency Package Review Report to the CSP, 3PAO, and Agency. The CSP remediates any areas that must be addressed to achieve FedRAMP Authorization, if needed.</li>
					<li><strong>FedRAMP PMO makes a decision for FedRAMP Authorization</strong> after reviewing the package and the CSP has addressed any technical issues.</li>
				</ol>
				
				<p>Once the FedRAMP PMO reviews a CSP’s security package and determines it acceptable, the PMO will inform a CSP that FedRAMP Authorization designation has been achieved. The Marketplace listing for the service offering will be updated to reflect FedRAMP Authorized and the date of authorization. The FedRAMP PMO will make the CSO security package available, upon request and validation of the requestor, to the entire Federal Government for the purpose of issuing subsequent ATOs for the use of the service. Agencies can request access to the security assessment package via the <a href="https://www.fedramp.gov/assets/resources/documents/Agency_Package_Request_Form.pdf" target="_blank">Package Access Request Form</a>.</p>
				
			</div>
		</div>
	</div>
</section>

<section class="lightest-gray-bkg fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col desktop:grid-col-3 tablet:padding-bottom-4">
				<div class="grid-row">
					<div class="tablet:grid-col-5 desktop:grid-col-12">
						<div class="authorization-phase-icon">
							<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/agency-authorization-phase-4.svg" alt="">
						</div>
					</div>
					<div class="tablet:grid-col-4 desktop:grid-col-12">
						<h2 class="center no-line phase-header">Phase 4</h2>
						<h3 class="center no-line margin-top-0 phase-header">Continuous Monitoring</h3>
					</div>
				</div>
			</div>
				
			<div class="full-col desktop:grid-col-9">
				<p class="margin-top-0">Once the FedRAMP Authorization is complete&#58;</p>
				<ul class="red-bullets">
					<li><strong>CSP provides monthly continuous monitoring</strong> deliverables to the agencies that are using their service. These deliverables may include&#58;</li>
					<ul>
						<li>an updated POA&amp;M</li>
						<li>scan results/reports</li>
						<li>system change information/requests, as agreed upon between the agency and the CSP</li>
					</ul>
				</ul>	
				<p><strong>The monthly continuous monitoring deliverables</strong> are reviewed by each agency using the service, but do not need to be shared with the FedRAMP PMO. CSPs may use the FedRAMP Secure Repository to share monthly ConMon material with agency representatives.</p>
				<ul class="red-bullets">
					<li><strong>CSP must engage a 3PAO to complete an annual security assessment</strong> to ensure the risk posture of the system remains acceptable. The annual assessment, along with updated security authorization package documentation, is then uploaded to the FedRAMP Secure Repository.</li>
				</ul>	
				
			</div>
		</div>
	</div>
</section>
