---
layout: full-width
---
<section class="overview">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col desktop:grid-col-12">
				<h2 class="center">The Agency Authorization Path</h2>
			</div>
		</div>
		<div class="full-row grid-row grid-gap">
			<div class="full-col desktop:grid-col-6 intro-text">
				<p>The first step for any Cloud Service Provider (CSP) interested in pursuing a FedRAMP authorization for their cloud service offering (CSO) is to determine their authorization strategy.  There are two paths a CSP can pursue to achieve a FedRAMP authorization: a Provisional Authority to Operate (P-ATO) from the Joint Authorization Board (JAB) and an Agency Authority to Operate (ATO).</p>
			</div>
			<div class="full-col desktop:grid-col-6">
				<h3>Pursuing an Agency Authorization</h3>
				<p>CSPs that make a business decision to work directly with an agency to pursue an Authority to Operate (ATO) will work with the agency throughout the acquisition and FedRAMP authorization process.</p> 
				<p>Below is a high-level overview of the Agency Authorization Process. Information on roles and responsibilities for Agencies, CSPs, and 3PAOs within the Agency Authorization process can be found here.</p>
			</div>
		</div>
	</div>	
</section>

<section class="lightest-gray-bkg">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col desktop:grid-col-12">
				<h2 class="center">The Authorization Process</h2>
				<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/agency-authorization-process.svg" alt="">
				<p><em>Note&#58; SAP and SAR are developed by the 3PAO</em></p>
			</div>
		</div>
	</div>

</section>

<section>
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col desktop:grid-col-3">
				<h2 class="center no-line">Phase 1</h2>
				<div class="authorization-phase-icon">
					<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/agency-authorization-phase-1.svg" alt="">
				</div>
				<h3 class="center no-line">Readiness Assessment and FedRAMP Connect</h3>
			</div>
			<div class="full-col desktop:grid-col-9">
				<p>During this phase, a CSP&#58;</p>
				<p><strong>Works with an agency via FedRAMP’s In Process Requirements,</strong> which are detailed in <a href="#">FedRAMP’s Marketplace Designations for Cloud Service Providers</a>. In some cases, a vendor may be under contract with an agency already, or an agency may be working through the acquisition process.</p>
				<ul>
					<li>The CSP’s system should be fully built and functional and the CSP’s leadership team should be committed and fully on board with the FedRAMP process.</li>
					<li>Additionally, a CSP should engage with FedRAMP through the intake process by completing a <a href="#">CSP Information Form</a>.</li>
				</ul>
				<p><strong>Develops their System Security Plan (SSP),</strong> which is the security blueprint of their system. The SSP does not need to be completed prior to establishing a partnership with an agency, but it does need to be completed and fully reviewed by the agency prior to Phase 2. The agency partner should approve and sign off on the SSP prior to beginning testing.</p>
				<p><strong>Conducts a Readiness Assessment Report,</strong> which is optional for CSPs pursuing an agency authorization, but is highly recommended. For more information refer to the <a href="#">Readiness Assessment Report (RAR)</a>.</p>
				
			</div>
		</div>
	</div>
</section>

<section class="lightest-gray-bkg">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col desktop:grid-col-3">
				<h2 class="center no-line">Phase 2</h2>
				<div class="authorization-phase-icon">
					<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/agency-authorization-phase-2.svg" alt="">
				</div>
				<h3 class="center no-line">Full Security Assessment</h3>
			</div>
			<div class="full-col desktop:grid-col-9">
				<p>Prior to beginning Phase 2, a CSP should ensure that&#58;</p>
				<ul>
					<li>The SSP is complete and has been reviewed and approved by their agency partner.</li>
					<li>The Security Assessment Plan (SAP) has been developed by their Third-Party Assessment Organization (3PAO) with their input.</li>
				</ul>
				<p>During this phase, the 3PAO:</p>
				<ol>
					<li><strong>Tests the CSP’s system.</strong> During testing, it is critical that no changes are made to the system and that it is frozen from a development perspective.</li>
					<li><strong>Develops a Security Assessment Report (SAR)</strong> which details their findings from testing and includes a recommendation for FedRAMP Authorization. </li>
					<li><strong>Develops a POA&amp;M</strong> based on the SAR findings, which outlines a plan for addressing the findings from testing.</li>
				
				</ol>
				
			</div>
		</div>
	</div>
</section>

<section>
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col desktop:grid-col-3">
				<h2 class="center no-line">Phase 3</h2>
				<div class="authorization-phase-icon">
					<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/agency-authorization-phase-3.svg" alt="">
				</div>
				<h3 class="center no-line">Authorization Process</h3>
			</div>
			<div class="full-col desktop:grid-col-9">
				<p>During this phase&#58;</p>
				<ol>
					<li><strong>Agency reviews the assessment and associated deliverables</strong> and either approves them or requests additional testing.</li>
					<li><strong>Agency provides an ATO letter,</strong> if the agency accepts the risks associated with the use of the system.</li>
					<li><strong>Agency or CSP uploads the entire security package, the FedRAMP checklist, and ATO letter to FedRAMP’s Secure Repository on OMB MAX</strong> and informs the FedRAMP PMO.</li>
					<li><strong>FedRAMP PMO conducts a review of the package</strong> </li>
					<li><strong>FedRAMP PMO makes a decision for FedRAMP Authorization</strong> after reviewing the package and the CSP has addressed any technical issues</li>

				</ol>
				
			</div>
		</div>
	</div>
</section>

<section class="lightest-gray-bkg">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col desktop:grid-col-3">
				<h2 class="center no-line">Phase 4</h2>
				<div class="authorization-phase-icon">
					<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/agency-authorization-phase-4.svg" alt="">
				</div>
				<h3 class="center no-line">Continuous Monitoring</h3>
			</div>
			<div class="full-col desktop:grid-col-9">
				<p>Once the FedRAMP Authorization is complete&#58;</p>
				<p>CSP provides monthly continuous monitoring deliverables to the agencies that are using their service. These deliverables may include:</p>
				<ul>
					<li>an updated POA&amp;M</li>
					<li>scan results/reports</li>
					<li>system change information/requests, as agreed upon between the agency and the CSP</li>
				</ul>
				<p><strong>The monthly continuous monitoring deliverables</strong> are reviewed by each agency using the service, but do not need to be shared with the FedRAMP PMO. CSPs may use the FedRAMP Secure Repository to share monthly ConMon material with agency representatives.</p>
				<p><strong>CSP must engage a 3PAO to complete an annual security assessment</strong> to ensure the risk posture of the system remains acceptable. The annual assessment, along with updated security authorization package documentation, is then uploaded to the FedRAMP Secure Repository.</p>
				
			</div>
		</div>
	</div>
</section>
