---
layout: full-width
---
<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row padding-top-2 grid-gap">
			<div class="grid-col-12">
				<h2 class="partner-header">Partnering with FedRAMP<sup>®</sup></h2>
			</div>	
		</div>
		
		<div class="full-row grid-row grid-gap padding-top-2 grid-gap partners-main">
			<div class="full-col desktop:grid-col-6 partners-col">
				<div class="intro-text">
					<p>Third Party Assessment Organizations (3PAOs) play a critical role in the authorization process by assessing the security of a Cloud Service Offering. </p>
				</div>
			
				<div class="partners-main-top-desktop">
					<p>As independent third parties, 3PAOs perform initial and periodic assessments of cloud systems based on federal security requirements. The federal government uses 3PAO assessments as the basis for making informed, risk-based authorization decisions for the use of cloud products and services. During FedRAMP assessments, 3PAOs produce a Readiness Assessment Report (RAR) which is highly recommended for the Agency Authorization process, and/or a Security Assessment Plan (SAP) and Security Assessment Report (SAR) that is submitted for authorization to a government Authorizing Official (AO).
					</p>
					
					<p>A list of FedRAMP recognized Third Party Assessment Organizations (3PAOs) can be found on the <a href="https://marketplace.fedramp.gov/assessors" target="_blank" style="cursor: pointer; text-decoration: underline; color: #c71f25;" rel="noopener">FedRAMP Marketplace</a>.
					</p>
				</div>	
			</div>
			<div class="full-col desktop:grid-col-6 partners-col parners-image">
				<img class="partners-images display-none partners-img-1200" src="{{site.baseurl}}/assets/img/partners_assessors_top_desktop.svg" alt="">
				<img class="partners-images display-none partners-img-648" src="{{site.baseurl}}/assets/img/partners_assessors_top_tablet.svg" alt="">
				<img class="partners-images display-none partners-img-320" src="{{site.baseurl}}/assets/img/partners_assessors_top_mobile.svg" alt="">
			</div>
			
		</div>

	</div>	
</section>

<section class="fedramp-page-container lightest-gray-bkg">
	<div class="grid-container partners-callout">
		<div class="full-row grid-row">
				<div class="full-col desktop:grid-col-12">
					<div class="padding-2">
						<div class="grid-row padding-y-4">
							<div class="tablet:grid-col-2">
								<div class="callout-img-container">
									<img class="partners-callout-icon" src="{{site.baseurl}}/assets/img/fedramp-can-help.svg" alt="">
								</div>
							</div>
							<div class="tablet:grid-col-10 tablet:padding-x-4 can-help">

								<h3 class="margin-top-0">How FedRAMP Can&nbsp;Help</h3>
								<p class="tablet:margin-bottom-0 ">FedRAMP works with 3PAOs to ensure that they have the guidance and resources needed to complete initial and periodic assessments to meet FedRAMP requirements. The FedRAMP PMO is available to provide support or address questions. To get started, please contact us at <a href="mailto:info@fedramp.gov"  target="_blank">info@fedramp.gov</a>.</p>
								<p class="margin-top-4"><a href="mailto:info@fedramp.gov"  target="_blank" class="partner-learn-more">Get Support</a></p>
							</div>
						</div>
					
					</div>
				</div>
			</div>
	</div>
</section>


<section class="teal-bkg fedramp-page-container">
	<div class="grid-container">
		
		<div class="grid-row">
			<div class="desktop:grid-col-12">
				<h2 class="text-white center">Resources for Assessors</h2>
			</div>
		</div>

		<div class="grid-row margin-top-4">
			<div class="tablet:grid-col-6">
				<div class="partners-card padding-4 tablet:margin-right-2">
					<h3 class="margin-top-0 margin-bottom-3">3PAO Obligations and Performance Standards</h3>
					<p> FedRAMP created a conformity assessment process to recognize third party assessment organizations (3PAOs) through accreditation by the American Association for Laboratory Accreditation (A2LA). This process ensures 3PAOs meet the necessary quality, independence, and FedRAMP knowledge requirements, to perform independent security assessments required by FedRAMP. To maintain recognition, 3PAOs must continue to demonstrate independence, quality, and FedRAMP knowledge as they perform security assessments on cloud systems.</p>
					<p class="file-type">[File Info: PDF - 458KB]</p>
					<div class="margin-top-4 margin-bottom-2">
						<a class="partners-download policy-pdf" href="{{site.baseurl}}/assets/resources/documents/3PAO_Obligations_and_Performance_Standards.pdf" target="_blank">Download</a>
					</div>
				</div>
				
			</div>

			<div class="tablet:grid-col-6 partners-card-mobile-row ">
				<div class="partners-card padding-4 tablet:margin-left-2 mobile:margin-top-2 tablet:margin-top-0">

					<h3 class="margin-top-0 margin-bottom-3"> 3PAO Readiness Assessment Report Guide</h3>
					<p> FedRAMP created the Readiness Assessment Report Guide to assist 3PAOs and cloud service providers on how to best utilize the FedRAMP Readiness Assessment Report (RAR) templates to confirm the full implementation of the CSO’s technical capabilities, which is required for a FedRAMP Readiness Assessment to be successful. This also helps 3PAOs and CSPs understand the rigor that FedRAMP requires for assessments.</p>
					<p class="file-type">[File Info: PDF - 342KB]</p>
					<div class="margin-top-4 margin-bottom-2">
						<a class="partners-download policy-pdf" href="{{site.baseurl}}/assets/resources/documents/3PAO_Readiness_Assessment_Report_Guide.pdf" target="_blank">Download</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="grid-row margin-top-4">
			<div class="tablet:grid-col-6">
				<div class="partners-card padding-4 tablet:margin-right-2">
					<h3 class="margin-top-0 margin-bottom-3"> FedRAMP’s Training Page </h3>
					<p><em>FedRAMP’s Training page</em> has a required path for all 3PAOs, which focus on specific functions, processes, procedures, policies, and/or guidance needed for 3PAOs to successfully complete their assessment of a Cloud Service Provider.</p>
					<div class="margin-top-4 margin-bottom-2">
						<a class="partners-download policy-web" href="{{site.baseurl}}/training/">Visit Page</a>
					</div>
				</div>
				
			</div>
			</div>
		</div>

	</div>

</section>
