---
layout: full-width
---
<section class="fedramp-page-container">
	<div class="grid-container">
		
		<div class="full-row grid-row padding-top-2 grid-gap partners-main">
			<div class="full-col tablet:grid-col-6">
				<h2>Partnering with FedRAMP</h2>
				<div class="intro-text">
					<p>Third Party Assessment Organizations (3PAOs) play a critical role in the authorization process by assessing the security of a cloud service offering.</p>
				</div>
				<div>
					<p>As independent third parties, they perform initial and periodic assessments of cloud systems to ensure they meet FedRAMP requirements. The federal government uses 3PAO assessments as the basis for making informed, risk-based authorization decisions for the use of cloud products and services. During FedRAMP assessments, 3PAOs produce a Readiness Assessment Report (RAR) or a complete security authorization package that is submitted for authorization to a government Authorizing Official (AO). 3PAOs may also provide consultation to a Cloud Service Provider (CSP) as they develop their system or documentation related to a FedRAMP Authorization. However, a 3PAO, that provides consulting services to a CSP, may not complete the assessment for that CSP’s service as part of the authorization process.</p>
				</div>
			</div>
			<div class="full-col tablet:grid-col-6">
				<img class="" src="{{site.baseurl}}/assets/img/partners_Assessors.png" alt="">
			</div>

		</div>
	</div>	
</section>

<section class="fedramp-page-container lightest-gray-bkg">
	<div class="grid-container partners-callout">
		<div class="full-row grid-row">
				<div class="full-col desktop:grid-col-12">
					<div class="padding-2">
						<div class="grid-row padding-y-4">
							<div class="tablet:grid-col-2">
								<div class="callout-img-center">
									<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/fedramp-can-help.svg" alt="">
								</div>
							</div>
							<div class="tablet:grid-col-10 tablet:padding-x-4">
								<h3 class="no-line callout">How FedRamp Can Help</h3>
								<p class="tablet:margin-bottom-0">FedRAMP works with 3PAOs to ensure that they have the guidance and resources needed to complete initial and periodic assessments to meet FedRAMP requirements. The FedRAMP PMO is available to provide support or address questions.</p>
								<p class="margin-top-4"><a href="{{site.baseurl}}/#" class="partner-learn-more">Get Support</a></p>
							</div>
						</div>
					
					</div>
				</div>
			</div>
	</div>
</section>


<section class="teal-bkg fedramp-page-container">
	<div class="grid-container">
		
		<div class="grid-row">
			<div class="desktop:grid-col-12">
				<h2 class="text-white center">Resources for Assessors</h2>
			</div>
		</div>

		<div class="grid-row margin-top-4">
			<div class="tablet:grid-col-6">
				<div class="partners-card padding-4 desktop:margin-right-2">
					<h3 class="margin-top-0 no-line center">3PAO JAB P-ATO Roles and Responsibilities</h3>
					<p>3PAO JAB P-ATO Roles and Responsibilities provides an overview of a 3PAO’s roles and responsibilities in the JAB P-ATO Process.</p>
					<div class="margin-y-4">
						<a class="partners-download policy-pdf" href="#" target="_blank">Download</a>
					</div>
				</div>
				
			</div>

			<div class="tablet:grid-col-6 partners-card-mobile-row ">
				<div class="partners-card padding-4 tablet:margin-left-2 mobile:margin-top-2 tablet:margin-top-0">

					<h3 class="margin-top-0 no-line center">3PAO Obligations and Performance Guide</h3>
					<p>The 3PAO Obligations and Performance Guide is intended for FedRAMP recognized 3PAOs and Independent Assessment Organizations (IAOs) that are interested in becoming recognized by FedRAMP. It outlines expectations regarding assessment quality, which is expected across the government.</p>
					<div class="margin-y-4">
						<a class="partners-download policy-pdf" href="#" target="_blank">Download</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="grid-row margin-top-4">
			<div class="tablet:grid-col-6">
				<div class="partners-card padding-4 tablet:margin-right-2">
					<h3 class="margin-top-0 no-line center">3PAO Readiness Assessment Report Guide</h3>
					<p>3PAO Readiness Assessment Report Guide provides 3PAOs with guidance on how best to utilize the Readiness Assessment Report (RAR). It provides a shared understanding of the RAR’s intent, process, and best practices in service of improving the likelihood of 3PAOs successfully completing the RAR.</p>
					<div class="margin-y-4">
						<a class="partners-download policy-pdf" href="#" target="_blank">Download</a>
					</div>
				</div>
				
			</div>

			<div class="tablet:grid-col-6">
				<div class="partners-card padding-4 desktop:margin-left-2 partners-card-mobile-row">

					<h3 class="margin-top-0 no-line center">FedRAMP’s Training Page</h3>
					<p>FedRAMP’s Training Page has a required path for all 3PAOs, which focus on specific functions, processes, procedures, policies, and/or guidance needed for 3PAOs to successfully complete their assessment of a CSP.</p>
					<div class="margin-y-4">
						<a class="partners-download policy-web" href="#" target="_blank">Visit Page</a>
					</div>
				</div>
			</div>
		</div>

	</div>

</section>
