---
layout: compress
---

<!doctype html>
<html lang="en">

  {% include blog-head.html %}

  <body class="{{ page.body-class }}">
	  
	  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TT3D6BG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
	  
  <div class="usa-overlay"></div>

    {% include header.html %}
      <main id="main">
      {{ content }}
    </main>
	  
	 
    {% include footer.html %}
	
    {% include javascript.html %}
	<a id="button"></a>  
	  
  </body>
</html>
