---
layout: base
---
<div class="page-banner-container">
	<div class="page-banner">
		<h1> {{ page.title }}</h1>
	</div>
</div>
<section class="dark-blue-bkg fedramp-page-container">
	<div class="grid-container">
		<div class="grid-row">
			<div class="desktop:grid-col-12">
				<h2 class="center no-line blog-roll-header">Focus on FedRAMP</h2>
				<p style="text-align: center; color: #ffffff;">Discover what’s happening in the FedRAMP world.</p>
			</div>
		</div>
	</div>
</section>
<section class="lightest-gray-bkg fedramp-page-container">
	
				{% if page.image %}
					<img src="{{ page.image | prepend: site.baseurl }}">
				{% endif %}
				{{ content }}
	
</section>	
<a id="button"></a> 