---
layout: page
---
{{ content }}
<section class="usa-grid-full">
{% for post in paginator.posts %}

    <div class="usa-width-one-whole">
    {% include blog-entry.html post=post %}

    </div>

    {% unless forloop.last %}<div class="separater"></div>{% endunless %}
{% endfor %}
</section>
<!-- Pagination links -->
<section class="pagination usa-grid content-focus">
  <div class="previous">
    {% if paginator.previous_page %}
      <a class="link-arrow-left" href="{{ site.baseurl }}{{ paginator.previous_page_path }}/">
       <img src="{{ site.baseurl }}/assets/vendor/uswds-1.1.0/img/arrow-left.png"/> Previous {{ paginator.per_page }} posts
      </a>
    {% else %}
    <p></p>
    {% endif %}
  </div>
  <div class="status">
    <p classs="text">Page {{ paginator.page }} of {{ paginator.total_pages }}</p>
  </div>
  <div class="next">
    {% if paginator.next_page %}
    <a class="link-arrow-right" href="{{ site.baseurl }}{{ paginator.next_page_path }}/">
      Next {{ paginator.per_page }} posts <img src="{{ site.baseurl }}/assets/vendor/uswds-1.1.0/img/arrow-right.png"/>
    </a>
    {% else %}
    <p></p>
    {% endif %}
  </div>
</section>
