---
layout: base
---
<div class="page-banner-container">
	<div class="page-banner">
		<h1> {{ page.title }}</h1>
	</div>
</div>
<section class="dark-blue-bkg fedramp-page-container">
	<div class="grid-container">
		<div class="grid-row">
			<div class="desktop:grid-col-12 intro-text">
				<h2 class="blog-list center text-white">Focus on FedRAMP<sup>®</sup></h2>
				<p class="blog-list text-center" style="color: white; margin-bottom: 0;">Discover what’s happening in the FedRAMP world.</p>
			</div>
		</div>
	</div>
</section>
<section class="lightest-gray-bkg fedramp-page-container">
	
				{% if page.image %}
					<img src="{{ page.image | prepend: site.baseurl }}">
				{% endif %}
				{{ content }}
	
</section>

<a id="topButton"></a>
