---
layout: base
---

<div class="page-banner">
<h1> {{ page.title }}</h1>
</div>
<div class="usa-grid usa-section usa-content">
  <div class="usa-width-three-fourths usa-content">
  {% if page.image %}
  <img src="{{ page.image | prepend: site.baseurl }}">
  {% endif %}
  {{ content }}
  </div>
  <aside class="usa-width-one-fourth">
  <div class="dashboard">
  <div class="inner">
  <h4>WHAT ARE YOU LOOKING FOR?</h4>
  <p>Click the actions below for all the resources you need</p>
  <ul class="assessors">
  <li><a href="{{site.baseurl}}/learning-more-about-fedramp"><img src="../assets/img/dashboard-icons/LearnMore-icon.png">Learning More About FedRAMP</a></li>
  <li><a href="{{site.baseurl}}/pursuing-a-fedramp-ready-designation"><img src="../assets/img/dashboard-icons/pursuingRAR_icon.png">Pursuing a FedRAMP Ready (RAR) Designation</a></li>
  <li><a href="{{site.baseurl}}/pursuing-a-jab-authorization"><img src="../assets/img/dashboard-icons/pursuingJAB_icon.png">Pursuing a JAB Authorization</a></li>
  <li><a href="{{site.baseurl}}/pursuing-an-agency-authorization"><img src="../assets/img/dashboard-icons/pursuingAgency_icon.png">Pursuing an Agency Authorization</a></li>
  <li><a href="../pursuing-a-fedramp-tailored-authorization"><img src="{{site.baseurl}}/assets/img/dashboard-icons/pursuingTailored_icon.png">Pursuing a FedRAMP Tailored Authorization</a></li>
  <li><a href="{{site.baseurl}}/understanding-security-package-development"><img src="../assets/img/dashboard-icons/understandingsecurity_icon.png">Understanding Security Package Development</a></li>
  <li><a href="{{site.baseurl}}/developing-a-system-security-plan"><img src="../assets/img/dashboard-icons/developSSP_icon.png">Developing a System Security Plan</a></li>
  <li><a href="{{site.baseurl}}/coordinating-a-security-assessment-plan"><img src="../assets/img/dashboard-icons/developSAP_icon-16.png">Coordinating a Security Assessment Plan</a></li>
  <li><a href="{{site.baseurl}}/coordinating-a-security-assessment-report"><img src="../assets/img/dashboard-icons/developSAP_icon-11.png">Coordinating a Security Assessment Report</a></li>
  <li><a href="{{site.baseurl}}/developing-a-plan-of-actions-milestones"><img src="../assets/img/dashboard-icons/developSAPM_icon.png">Developing a Plan of Action and Milestones</a></li>
  <li><a href="{{site.baseurl}}/receiving-an-authority-to-operate"><img src="../assets/img/dashboard-icons/ATO_icon.png">Receiving an Authority to Operate (ATO)</a></li>
  <li><a href="{{site.baseurl}}/conducting-continuous-monitoring"><img src="../assets/img/dashboard-icons/Monitor_icon.png">Conducting Continuous Monitoring</a></li>
  <li><a href="{{site.baseurl}}/completing-an-annual-assessment"><img src="../assets/img/dashboard-icons/AnnualAssessment_icon.png">Completing an Annual Assessment</a></li>
  <li><a href="{{site.baseurl}}/small-business-and-startup-lessons-learned"><img src="../assets/img/dashboard-icons/AnnualAssessment_icon.png">Small Business & Startup Lessons Learned</a></li>
  </ul>
  </div>
  </div>
    <div class="blog-sidebar">
    <h3>Recent Posts</h3>
    <ul>
      {% for post in site.posts limit:5 %}
        <li>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
    </div>
  </aside>
</div>
</div>
