---
layout: base
---

<div class="page-banner">
	<h1> {{ page.title }}</h1>
</div>
<div id="cloud-section">
	<div class="cloud-wrapper">
		<span class="owned">Owned</span>
		<ul class="columns">
			<li class="column" id="cloud-service">
			<img alt="Cloud Service Provider" src="{{site.baseurl}}/assets/img/page-images/cloud-service-icon.png">
			<h5>Cloud Service Provider</h5>
			<p>The provider of a cloud service offering</p>
			</li>
			<li class="column" id="value-add">
			<img alt="Value-Added Reseller (VAR)" src="{{site.baseurl}}/assets/img/page-images/value-add-icon.png">
			<h5>Value-Added Reseller (VAR)</h5>
			<p>Serves as a conduit to the government for CSPs that do not have existing contract vehicles with the government</p>
			</li>
			<li class="column" id="managed-service">
			<img alt="Managed Service Provider" src="{{site.baseurl}}/assets/img/page-images/managed-service-icon.png">
			<h5>Managed Service Provider</h5>
			<p>Provides access to a service and is also responsible for managing that service's operations</p>
			</li>
			<li class="column" id="integrator">
			<img alt="Integrator" src="{{site.baseurl}}/assets/img/page-images/integrator-icon.png">
			<h5>Integrator</h5>
			<p>Provides a cloud service and also professional services for incorporating the solution into an existing technology environment</p>
			</li>
		</ul>
		<span class="operated">Operated</span>
	</div>
	<div class="usa-grid usa-section usa-content">
		<div class="usa-width-three-fourths usa-content">
			{% if page.image %}
			<img src="{{ page.image | prepend: site.baseurl }}">
			{% endif %}
			{{ content }}
		</div>
		<aside class="usa-width-one-fourth">
			<div class="blog-sidebar">
				<h3>Recent Posts</h3>
				<ul>
				  {% for post in site.posts limit:5 %}
					<li>
					  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
					</li>
				  {% endfor %}
				</ul>
			</div>
		</aside>
	</div>
</div>
