---
layout: full-width
---
<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row padding-top-2 grid-gap">
			<div class="grid-col-12">
				<h2 class="partner-header">Partnering with FedRAMP<sup>®</sup></h2>
			</div>	
		</div>
	
		<div class="full-row grid-row grid-gap padding-top-2 partners-main">
			<div class="full-col desktop:grid-col-6 partners-col">
				<div class="intro-text">
					<p>The federal government is one of the largest buyers of cloud technology, and Cloud Service Providers (CSPs) offer agencies innovative products that help them save time and resources while meeting their critical mission needs. </p>
				</div>
				<div class="partners-main-top-desktop">
					<p>CSPs who have a Cloud Service Offering (CSO) that is being used by the federal government should consider obtaining a FedRAMP Authorization. FedRAMP provides a standardized security framework for all cloud products and services that is recognized by all executive branch federal agencies. CSPs only need to go through the FedRAMP Authorization process once for each CSO and perform continuous monitoring, with all agencies reviewing the same continuous monitoring deliverables, creating efficiencies across the government. The FedRAMP Program Management Office (PMO) provides training, guidance, and advisory support to CSPs, helping them navigate the FedRAMP process and understand the requirements.</p>
				</div>
			</div>
			<div class="full-col desktop:grid-col-6 partners-col parners-image">
				<img class="partners-images display-none partners-img-1200" src="{{site.baseurl}}/assets/img/partners_csps_top_desktop.svg" alt="A stack of boxes marked as cloud service offerings and a moving truck infront of a CSP's office building">
				<img class="partners-images display-none partners-img-648" src="{{site.baseurl}}/assets/img/partners_csps_top_tablet.svg" alt="A stack of boxes marked as cloud service offerings and a moving truck infront of a CSP's office building">
				<img class="partners-images display-none partners-img-320" src="{{site.baseurl}}/assets/img/partners_csps_top_mobile.svg" alt="A stack of boxes marked as cloud service offerings and a moving truck infront of a CSP's office building">
			</div>
		</div>
	</div>	
</section>

<section class="fedramp-page-container lightest-gray-bkg">
	<div class="grid-container partners-callout">
		<div class="full-row grid-row">
				<div class="full-col desktop:grid-col-12">
					<div class="padding-2">
						<div class="grid-row padding-y-4">
							<div class="tablet:grid-col-2">
								<div class="callout-img-container">
									<img class="partners-callout-icon" src="{{site.baseurl}}/assets/img/fedramp-can-help.svg" alt="">
								</div>
							</div>
							<div class="tablet:grid-col-10 tablet:padding-x-4 can-help">
								<h3 class="no-line margin-top-0">How FedRAMP Can&nbsp;Help</h3>
								<p class="tablet:margin-bottom-0">FedRAMP serves as a bridge between the federal government and industry. There are many benefits and opportunities of pursuing a FedRAMP Authorization for CSOs, and the PMO can provide guidance around best practices and strategies to becoming FedRAMP Authorized. To get started, please contact us at <a href="mailto:info@fedramp.gov"  target="_blank">info@fedramp.gov</a>.</p>
								<p class="margin-top-4"><a href="mailto:info@fedramp.gov"  target="_blank" class="partner-learn-more">Get Support</a></p>
							</div>
						</div>
					
					</div>
				</div>
			</div>
	</div>
</section>


<section class="teal-bkg fedramp-page-container">
	<div class="grid-container">
		
		<div class="grid-row">
			<div class="desktop:grid-col-12">
				<h2 class="text-white center">Resources for Cloud Service Providers</h2>
			</div>
		</div>

		<div class="grid-row margin-top-4">
			<div class="tablet:grid-col-6">
				<div class="partners-card padding-4 tablet:margin-right-2">
					<h3 class="margin-top-0 margin-bottom-3">CSP Authorization Playbook</h3>
					<p>The <em>CSP Authorization Playbook: Getting Started with FedRAMP</em> provides CSPs with an overview of how to develop an authorization strategy, the types of authorizations, and important considerations for their CSOs when working with FedRAMP.</p>
					<p class="file-type">[File Info: PDF - 959KB]</p>
					<div class="margin-top-4 margin-bottom-2">
						<a class="partners-download policy-pdf" href="{{site.baseurl}}/assets/resources/documents/CSP_Authorization_Playbook_Getting_Started_with_FedRAMP.pdf" target="_blank">Download</a>
					</div>
				</div>
				
			</div>

			<div class="tablet:grid-col-6 partners-card-mobile-row ">
				<div class="partners-card padding-4 tablet:margin-left-2 mobile:margin-top-2 tablet:margin-top-0">

					<h3 class="margin-top-0 margin-bottom-3">FedRAMP Marketplace Designations</h3>
					<p><em>FedRAMP Marketplace Designations for CSPs</em> outlines the requirements for FedRAMP designations on the FedRAMP Marketplace for CSPs, including achieving a designation for a CSO, maintaining a designation, and the removal of a designation.</p>
					<div class="margin-top-4 margin-bottom-2">
						<a class="partners-download policy-web" href="{{site.baseurl}}/about-marketplace/>Visit Page</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="grid-row margin-top-4">
			<div class="tablet:grid-col-6">
				<div class="partners-card padding-4 tablet:margin-right-2">
					<h3 class="margin-top-0 margin-bottom-3">FedRAMP Security Controls Baseline</h3>
					<p>The <em>FedRAMP Security Controls Baseline</em> provides the catalog of FedRAMP High, Moderate, Low, and Tailored Low Impact Software-as-a-Service (Li-SaaS) baseline security controls, along with additional guidance and requirements.</p>
					<p class="file-type">[File Info: XLS - 301KB]</p>
					<div class="margin-top-4 margin-bottom-2">
						<a class="partners-download policy-excel" href="{{site.baseurl}}/assets/resources/documents/FedRAMP_Security_Controls_Baseline.xlsx" target="_blank">Download</a>
					</div>
				</div>
				
			</div>

			<div class="tablet:grid-col-6 partners-card-mobile-row ">
				<div class="partners-card padding-4 tablet:margin-left-2">
				
					
					<h3 class="margin-top-0 margin-bottom-3">FedRAMP’s Training page</h3>
					<p><em>FedRAMP’s Training page</em> has courses specifically for CSPs. Courses that are available to CSPs are designed to help understand the requirements of security package development and give a detailed overview of the required templates and their supporting documentation.</p>
					<div class="margin-top-4 margin-bottom-2">
						<a class="partners-download policy-web" href="{{site.baseurl}}/training/">Visit Page</a>
					
					</div>
				</div>
			</div>
		</div>
		
		<div class="grid-row margin-top-4">
			<div class="tablet:grid-col-6">
				<div class="partners-card padding-4 tablet:margin-right-2">
					<h3 class="margin-top-0 margin-bottom-3">7 Lessons Learned for Small Businesses and Startups</h3>
					<p>The FedRAMP PMO is committed to helping small businesses and startups navigate the FedRAMP authorization process and developed 7 Lessons Learned for Small Businesses and Startups.</p>
					<div class="margin-top-4 margin-bottom-2">
						<a class="partners-download policy-web" href="{{site.baseurl}}/small-business-and-startup-lessons-learned/">Visit Page</a>
						
					</div>
				</div>
				
			</div>

		</div>
		
		
	</div>

</section>
