---
layout: full-width
---

<!-- Main In Page Navigation -->
<section class="fedramp-page-container position-sticky resources-nav padding-top-2">
  <div class="full-row grid-row">
    <div class="full-col tablet:grid-col-3 tablet:padding-y-2 tablet:padding-right-6">
      <div id="main-header" class="lavalamp-menu">
        <nav>
          <ul class="in-page-nav-menu" id="top-menu">
            <li><a href="#overview">Overview</a></li>
			<li><a href="#implementation">Implementation</a></li>
			<li><a href="#examples-and-common-issues">Examples and Common Issues</a></li>
			<li><a href="#initial-and-ongoing-authorization-considerations">Initial and Ongoing Authorization Considerations</a></li>
			<li><a href="#resources">Resources</a></li>
          <div class="lavalamp"></div>
        </nav>
      </div>
    </div>
  </div>
</section>

<!-- Mobile Navigation 
<section class="fedramp-page-container position-relative resources-nav-mobile padding-bottom-2 padding-top-4">
  <div class="full-row grid-row">
    <div class="full-col">
      <div>
        <nav>
          <h4 class="mobile-nav-title">You can also browse the topics below.</h4>
          <ul class="in-page-nav-menu" id="top-menu-mobile">
            <li><a href="#faq-general">General</a></li>
            <li><a href="#faq-federal-agencies">Federal Agencies</a></li>
            <li><a href="#faq-cloud-service-providers">Cloud Service Providers</a></li>
            <li><a href="#faq-third-party">Third Party Assessors</a></li>
            <li><a href="#faq-authorization">Authorization</a></li>
            <li><a href="#faq-continous-monitoring">Continuous Monitoring</a></li>
            <li><a href="#faq-acquisition">Acquisition</a></li>
 	    <li><a href="#faq-security">Security</a></li>0
 	    <li><a href="#faq-rev-5">Rev. 5</a></li>		  
          </ul>
          <div class="lavalamp"></div>
        </nav>
      </div>
    </div>
  </div>
</section>
-->

<section class="fedramp-page-container in-page-nav-section framework-main-section">
  <div class="grid-container">
    <div class="full-row grid-row grid-gap">
      <div class="full-col tablet:grid-col-9 tablet:grid-offset-3 nav-main-section">

		<div class="intro-text">
			<p>FedRAMP Knowledge Base: Configure Domain-based Message Authentication, Reporting & Conformance (DMARC)</p>

			<p><strong>Author:</strong> FedRAMP Knowledge Base</p>
			<p><strong>Intended Audience:</strong> CSP technical teams, 3PAOs, Agency Reviewers</p>
			<p><strong>Published:</strong> August 2024</p>
			<p><strong>Objective:</strong> Clarify the process for implementing and documenting Domain-based Message Authentication, Reporting, and Conformance (DMARC) in a FedRAMP Authorized (or seeking authorization) Cloud Service Offering (CSO) </p>

		</div>


		<div id="overview" class="">
			<h2>Overview</h2>
			<p>Domain-based Message Authentication, Reporting, and Conformance (DMARC) is an email authentication protocol that helps to detect and prevent email spoofing. By consistently using DMARC for emails sent by the federal government, people and organizations that receive federal email can have high confidence that these emails are legitimate and official. The Cybersecurity and Infrastructure Security Agency (CISA) required the use of DMARC by federal agencies as one of the <a href="https://www.cisa.gov/news-events/directives/bod-18-01-enhance-email-and-web-security">BOD 18-01</a> requirements for all sending email domains. </p>
			
			<h3>Requirement</h3>
			<p>FedRAMP requires enforceable DMARC policies on all cloud service offerings (CSOs) that send emails on behalf of the Federal Government. This might include notifications of business processing events; sending questionnaire links to respondents; and initial customer user provisioning, or customer password resets.</p>

			<h3>How do I meet this requirement?</h3>
			<p>The email domain used in the FROM: field of an email must have an associated DNS record that includes a valid DMARC policy that instructs email servers to reject all unvalidated email, and instructs email servers to notify CISA of rejected emails.</p>

			<p>More technical detail is included in the implementation section below, but the basic requirements are that the DMARC record must be valid and include the following parameters:</p>

			<ul>
				<li><span class="font-mono-sm lightest-gray-bkg">p=reject</span></li>
				<li>either <span class="font-mono-sm lightest-gray-bkg">pct=100</span> or pct not specified (defaults to 100)</li>
				<li>rua email addresses must include <span class="font-mono-sm lightest-gray-bkg">mailto:reports@dmarc.cyber.dhs.gov</span></li>
			</ul>
			<p>This must be documented in SI-8 in the SSP Appendix A per the FedRAMP Rev5 High and Moderate <a href="https://www.fedramp.gov/assets/resources/documents/FedRAMP_Security_Controls_Baseline.xlsx">baselines</a>. For Low and LiSaaS, it should be documented under SI-5. </p>

			
		</div>

		<div id="implementation" class="margin-top-6">
			<h2>Implementation</h2>
			<h3>Actions for CSPs and Independent Assessors</h3>
			<p>At minimum, each second-level CSO domain’s (and subdomains’) and CSO mail-sending hosts’ DMARC configuration policy used to send email on behalf of the government, as defined above, should be checked for:</p>
			<ul>
				<li>The sending <span class="font-mono-sm lightest-gray-bkg">FROM:</span> domain or subdomain has the appropriate DMARC record policy</li>
				<li>Outgoing email is appropriately configured to ensure alignment between the DMARC policy and SPF and/or DKIM</li>
			</ul>

			<p>Usually CSPs will use a unique domain, or subdomain for FedRAMP-related emails from the CSP’s corporate domain to prevent corporate email from also reporting to DHS. Such as fedsaas.com or fed.saas.com.</p>

			<h3>How to check if a DMARC record is valid?</h3>
			<p>Select a “dmarc record checker” (for convenience, three are provided in the Resources list below), and check the <span class="font-mono-sm lightest-gray-bkg">FROM:</span> domain with one or more available tools. In particular, check for:</p>
			<ul>
				<li>Lack of errors returned by the testing tool</li>
				<li>A policy set to reject (<span class="font-mono-sm lightest-gray-bkg">p=reject</span>)</li>
				<li>A percentage set to 100% (<span class="font-mono-sm lightest-gray-bkg">pct=100</span> either explicitly or implicitly by the default)</li>
				<li>Destination for aggregate reports includes DHS (rua parameter includes <a hreft="mailto:reports@dmarc.cyber.dhs.gov">mailto:reports@dmarc.cyber.dhs.gov</a>)</li>
			</ul>

			<h3>Actions for Agencies</h3>
			<p>Please see <a href="https://www.cisa.gov/news-events/directives/bod-18-01-enhance-email-and-web-security">BOD 18-01</a> for more information on DMARC for Agencies.</p>
			<h4>How to check if outgoing email is appropriately configured?</h4>
			<p>Send an email through the CSO to a known address where the receiving email server evaluates inbound email against the sending domain’s SPF/DKIM/DMARC records. Review the email headers for appropriate content, for example:</p>
			<ul>
				<li>If SPF is configured on the <span class="font-mono-sm lightest-gray-bkg">FROM: domain</span>, look for a corresponding spf=pass header</li>
				<li>If DKIM is configured on the <span class="font-mono-sm lightest-gray-bkg">FROM: domain</span>, look for a corresponding dkim=pass header</li>
			</ul>
			
			<p>Note that while it is encouraged to implement both SPF and DKIM, only one is required for a compliant DMARC implementation.</p>
		</div>

		<div id="examples-and-common-issues" class="margin-top-6">
			<h2>Examples and Common Issues</h2>
			<p>DMARC implementation is a common FedRAMP authorization issue, as CSP implementations often fail to meet <a href="https://www.cisa.gov/news-events/directives/bod-18-01-enhance-email-and-web-security">BOD 18-01</a> requirements.</p>

			<h3>Example of a properly configured DMARC record for fedramp.gov</h3>

			<div class="code-box font-mono-sm">
				<p>dig txt _dmarc.fedramp.gov</p>
				<p>; <<>> DiG 9.10.6 <<>> txt _dmarc.fedramp.gov</p>
				<p>;; global options: +cmd</p>
				<p>;; Got answer:</p>
				<p>;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 5307</p>
				<p>;; flags: qr rd ra ad; QUERY: 1, ANSWER: 1, AUTHORITY: 0, ADDITIONAL: 1</p>
				<p>;; OPT PSEUDOSECTION:</p>
				<p>; EDNS: version: 0, flags:; udp: 512</p>
				<p>;; QUESTION SECTION:</p>
				<p>;_dmarc.fedramp.gov.		IN	TXT</p>
				<p>;; ANSWER SECTION:</p>
				<p>_dmarc.fedramp.gov.	10800	IN	TXT	"v=DMARC1; p=reject; pct=100; fo=1; ri=86400; rua=mailto:dmarcreports@gsa.gov,mailto:reports@dmarc.cyber.dhs.gov; ruf=mailto:dmarcfailures@gsa.gov"</p>
				<p>;; Query time: 56 msec</p>
				<p>;; SERVER: 8.8.8.8#53(8.8.8.8)</p>
				<p>;; WHEN: Tue Jun 18 09:23:38 EDT 2024</p>
				<p>;; MSG SIZE  rcvd: 205</p>
				<p>xxxxx</p>
			</div>

			<div class="highlight">
				<div class="chroma">
					<table width="100%" class="dmarc-tables">
						<tbody>
							<tr>
								<th scope="col">DMARC Record without Any Errors</th>
							</tr>
							<tr>
								<td class="">
									<p>fedramp.gov DMARC record:</p>
									<ul>
										<li><span class="font-mono-sm lightest-gray-bkg">v=DMARC1;</span></li>
										<li><span class="font-mono-sm lightest-gray-bkg">p=reject;</span></li>
										<li><span class="font-mono-sm lightest-gray-bkg">pct=100;</span></li>
										<li><span class="font-mono-sm lightest-gray-bkg">fo=1;</span></li>
										<li><span class="font-mono-sm lightest-gray-bkg">ri=86400;</span></li>
										<li><span class="font-mono-sm lightest-gray-bkg">rua=mailto:dmarcreports@example.com,mailto:dmarcreports@gsa.gov,mailto:reports@dmarc.cyber.dhs.gov;</span></li>
										<li><span class="font-mono-sm lightest-gray-bkg">ruf=mailto:dmarcfailures@gsa.gov</span>/li>
									</ul>
								</td>
							</tr>
							<tr>
								<td>
									<p>This example includes <span class="font-mono-sm lightest-gray-bkg">p=reject,pct=100, rua=mailto:reports@dmarc.cyber.dhs.gov</span> and is a valid DMARC record</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>



			<h3>Examples of a misconfigured DMARC record and a properly configured DMARC record</h3>

			<div class="highlight">
				<div class="chroma">
					<table width="100%" class="dmarc-tables">
						<tbody>
							<tr>
								<th scope="col">DMARC Record with Error</th>
								<th scope="col">Issue(s)</th>
							</tr>
							<tr>
								<td>
									<p>subdomain.example.com</p>
									<p class="text-red">Result: No DMARC Record Found</p>
								</td>
								<td>
									<p><strong>There is no DMARC record</strong></p>
									<p><strong>There is no DMARC version set</strong></p>
									<ul>
										<li><span class="font-mono-sm lightest-gray-bkg">V=DMARC1</span></li>
									</ul>
									<p><strong>The minimum properties have not been set.</strong></p>
									<ul>
										<li><span class="font-mono-sm lightest-gray-bkg">p=reject</span></li>
										<li>either <span class="font-mono-sm lightest-gray-bkg">pct=100</span> or pct not specified (defaults to 100)</li>
										<li>rua email addresses must include <span class="font-mono-sm lightest-gray-bkg">mailto:reports@dmarc.cyber.dhs.gov</span></li>
									</ul>	
								</td>
							</tr>
							<tr>
								<td>
									<p>subdomain.example.com</p>
									<ul>
										<li><span class="font-mono-sm lightest-gray-bkg">v=DMARC1;</span></li>
										<li><span class="font-mono-sm lightest-gray-bkg">p=reject;</span></li>
										<li><span class="font-mono-sm lightest-gray-bkg">pct=100;</span></li>
										<li><span class="font-mono-sm lightest-gray-bkg">fo=1;</span></li>
										<li><span class="font-mono-sm lightest-gray-bkg">ri=86400;</span></li>
										<li><span class="font-mono-sm lightest-gray-bkg">rua=mailto:dmarcreports@example.com;</span></li>
										<li><span class="font-mono-sm lightest-gray-bkg">ruf=mailto:dmarcfailures@example.com</span></li>
									</ul>
								</td>
								<td>
									<p>This example is missing rua parameter pointing to reports@dmarc.cyber.dhs.gov </p>
									<p><strong>Corrected subdomain.example.com:</strong></p>
									<ul>
										<li><span class="font-mono-sm lightest-gray-bkg">v=DMARC1;</span></li>
										<li><span class="font-mono-sm lightest-gray-bkg">p=reject;</span></li>
										<li><span class="font-mono-sm lightest-gray-bkg">pct=100;</span></li>
										<li><span class="font-mono-sm lightest-gray-bkg">fo=1;</span></li>
										<li><span class="font-mono-sm lightest-gray-bkg">ri=86400; rua=mailto:dmarcreports@example.com,reports@dmarc.cyber.dhs.gov</span></li>
										<li><span class="font-mono-sm lightest-gray-bkg">ruf=mailto:dmarcfailures@example.com</span></li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
		</div>

		<div id="initial-and-ongoing-authorization-considerations" class="margin-top-6">
			<h2>Initial and Ongoing Authorization Considerations</h2>
			<p>This section outlines factors that FedRAMP considers related to initial and ongoing maintenance of FedRAMP packages.</p>
			<div class="highlight">
				<div class="chroma">
					<table width="100%" class="dmarc-tables">
						<tbody>
							<tr>
								<th scope="col">DMARC Configuration</th>
								<th scope="col">Overview</th>
								<th scope="col">Authorization Impact</th>
							</tr>
							<tr>
								<td colspan="3">Acceptable for FR Authorization</td>
							</tr>
							<tr>
								<td>
									<p>Based on reviews of the The The DMARC record is valid in DNS:</p>
									<ul>
										<li>A policy set to reject (<span class="font-mono-sm lightest-gray-bkg">p=reject</span>)</li>
										<li>A percentage set to 100% (<span class="font-mono-sm lightest-gray-bkg">pct=100</span> either explicitly or implicitly by the default)</li>
										<li>Destination for aggregate reports includes DHS (rua parameter includes <span class="font-mono-sm lightest-gray-bkg">mailto:reports@dmarc.cyber.dhs.gov</span>)</li>
									</ul>
								</td>
								<td>
									<p>These are the requirements as directed by <a href="https://www.cisa.gov/news-events/directives/bod-18-01-enhance-email-and-web-security">BOD 18-01</a> and the FedRAMP baselines (See Resources for testing tools).</p>
								</td>
								<td>
									<p>Will not delay authorization</p>
								</td>
							</tr>
							<tr>
								<td>
									<p>Based on review of sample outgoing emails received onto an email server that checks DMARC:</p>
									<ul>
										<li>If SPF is configured on the <span class="font-mono-sm lightest-gray-bkg">FROM:</span> domain, look for a corresponding “<span class="font-mono-sm lightest-gray-bkg">spf=pass</span>” header</li>
										<li>If DKIM is configured on the <span class="font-mono-sm lightest-gray-bkg">FROM:</span> domain, look for a corresponding <span class="font-mono-sm lightest-gray-bkg">dkim=pass</span> header</li>
									</ul>
								</td>
								<td>
									<p>While it is encouraged to implement both SPF and DKIM, only one is required for a compliant DMARC implementation</p>
								</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td colspan="3">FR Authorization possible with open POA&M item</td>
							</tr>
							<tr>
								<td>
									<p>Any deviation from Acceptable DMARC configurations</p>
								</td>
								<td>
									<p>[see Analyzing Examples]</p>
								</td>
								<td>
									<p>POA&M may be required to be documented as a post authorization action</p>
								</td>
							</tr>
							<tr>
								<td colspan="3">FR Authorization probably delayed until remediated </td>
							</tr>
							<tr>
								<td>n/a</td>
								<td>n/a</td>
								<td>n/a</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
		</div>

		<div id="resources" class="margin-top-6">
			<h2>Resources</h2>
			<ol>
				<li><a href="https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-177r1.pdf">Special Publication 800-177 Rev 1, Trustworthy Email</a>, issued in February 2019 by the National Institute of Standards and Technology. Section 4 discusses the protocols and techniques a sending domain can use to authenticate valid email senders for a given domain.</li>
				<li><a href="https://www.ftc.gov/system/files/documents/reports/businesses-can-help-stop-phishing-protect-their-brands-using-email-authentication-ftc-staff/email_authentication_staff_perspective.pdf">Businesses Can Help Stop Phishing and Protect their Brands Using Email Authentication</a>, issued in 2017 by the Federal Trade Commission’s Bureau of Consumer Protection; identifies the benefits of implementing DMARC. </li>
				<li><a href="https://dmarcguide.globalcyberalliance.org/">“DMARC Guide”</a> from Global Cyber Alliance is a one-off <a href="https://dmarcguide.globalcyberalliance.org/#/spf">SPF</a>, <a href="https://dmarcguide.globalcyberalliance.org/#/dkim">DKIM</a>, and <a href="https://dmarcguide.globalcyberalliance.org/#/dmarc">DMARC</a> policy analyzer and record creator. Provides guidance to organizations through the process of creating a DMARC policy.</li>
				<li>Commercial and free services exist (including at least one <a href="">FedRAMP Authorized DMARC service</a>) that help derive intelligence from DMARC reports. The below examples are provided for convenience only and are not FedRAMP-endorsed.
					<ol>
						<li><a href="https://easydmarc.com/tools/dmarc-lookup">https://easydmarc.com/tools/dmarc-lookup</a></li>
						<li><a href="https://dmarcian.com/domain-checker/">https://dmarcian.com/domain-checker/</a></li>
						<li><a href="https://www.proofpoint.com/us/cybersecurity-tools/dmarc-spf-creation-wizard">https://www.proofpoint.com/us/cybersecurity-tools/dmarc-spf-creation-wizard</a></li>
						<li><a href="https://mxtoolbox.com/dmarc.aspx">https://mxtoolbox.com/dmarc.aspx</a></li>
					</ol>
				</li>
				<li><a href="https://support.google.com/a/answer/2466563?hl=en">“Add a DMARC Record”</a> is a Google help page that offers a stepped approach to enabling DMARC thoughtfully.</li>
				<li><a href="https://technet.microsoft.com/en-us/library/mt734386(v=exchg.150).aspx">“Use DMARC to validate email in Office 365”</a> provides Microsoft Office 365-related guidance for implementing DMARC on outbound and inbound mail delivery.</li>
				<li><a href="https://web.archive.org/web/20190120184651/https://blogs.msdn.microsoft.com/tzink/2015/03/13/how-to-align-with-spf-and-dmarc-for-your-domain-if-you-use-a-lot-of-3rd-parties-to-send-email-as-you/">“How to align with SPF and DMARC for your domain if you use a lot of 3rd parties to send email as you”</a> describes a vendor-agnostic approach to herding third-party </li>
				<li><a href="https://cyber.dhs.gov/bod/18-01/">BOD 18-01: Enhance Email and Web Security</a>, defines agency requirements and how DMARC should be deployed.</li>
				<li><a href="https://www.fedramp.gov/assets/resources/templates/FedRAMP_Agency_Authorization_Review_Report_Sample_Template.pdf">FedRAMP Agency Authorization Review Report Template</a></li>
				<li><a href="https://dmarc.org/">DMARC.org</a> is an initiative under the Trusted Domain Project focused on DMARC education, and development of the standard.</li>
			</ol>
		</div>

      </div>

    </div>
  </div>
</section>
