---
layout: full-width
---
<section class="fedramp-page-container lightest-gray-bkg">
	<div class="padding-2">
		<div class="full-row grid-row">
			<div class="full-col desktop:grid-col-12">
				<p><em>The FedRAMP PMO used to publish monthly Tips and Cues that provided helpful information about FedRAMP to agencies, CSPs, 3PAOs, and other stakeholders. Tips and Cues have been integrated into FAQs. Please reach out to <a href="mailto:info@fedramp.gov">info@fedramp.gov</a> with any questions.</em></p>
			</div>
		</div>
	</div>	
</section>

<section class="teal-bkg fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row">
			<div class="full-col desktop:grid-col-12">
				<h2 class="text-white center">How Can We Help You?</h2>
				<section aria-label="Small search component" class="faq-search">
					<form class="usa-search usa-search--small" role="search">
						<label class="usa-sr-only" for="search-field-small">Search</label>
						<input class="usa-input" id="search-field-small" type="search" name="search" placeholder="Type keywords to find answers">
						<button class="usa-button" type="submit">
						<span class="usa-sr-only">Search</span>
						</button>
					</form>
				</section>
				<p class="text-center text-white">You can also browse the topics below.</p>
			</div>
		</div>
	</div>

</section>

<section class="fedramp-page-container position-sticky" style="top: 0;">
	<div class="full-row grid-row">
		<div class="full-col tablet:grid-col-4 tablet:padding-2">
			<div id="main-header" class="lavalamp-menu menu">
				<nav class="navigation">
					<ul class="in-page-nav-menu" id="top-menu" >
						<li class="active"><a href="#faq-general">General</a></li>
						<li><a href="#faq-continous-monitoring" class="Quick-navigation-item">Continuous Monitoring</a></li>
						<li><a href="#faq-federal-agencies" class="Quick-navigation-item">Federal Agencies</a></li>
						<li><a href="#faq-authorization" class="Quick-navigation-item">Authorization</a></li>
						<li><a href="#faq-cloud-service-providers" class="Quick-navigation-item">Cloud Service Providers</a></li>
						<li><a href="#faq-third-party" class="Quick-navigation-item">Third Party Assessment Organizations</a></li>
					</ul>
				</nav>

			  </div>
		</div>
	</div>
</section>

<section class="fedramp-page-container in-page-nav-section">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			
			<div class="full-col tablet:grid-col-8 tablet:grid-offset-4">
				
				<div>
	

					
				
				
				<div class="usa-accordion fedramp-accordian" aria-multiselectable="true">

				
					<section class="page-section" id="faq-general"><h3>General</h3>
						<h4 class="usa-accordion__heading">
						<button class="usa-accordion__button"
						aria-expanded="true"
						aria-controls="gen-1">
						Home
						</button>
						</h4>
						<div id="gen-1" class="usa-accordion__content usa-prose">
							<p>Congress shall make no law respecting an establishment of religion, or prohibiting the free exercise thereof; or abridging the freedom of speech, or of the press; or the right of the people peaceably to assemble, and to petition the Government for a redress of grievances.</p>
						</div>
						
						<h4 class="usa-accordion__heading">
						<button class="usa-accordion__button"
						aria-expanded="false"
						aria-controls="gen-2">
						Home Another Section for Home
						</button>
						</h4>
						<div id="gen-2" class="usa-accordion__content usa-prose">
							<p>Congress shall make no law respecting an establishment of religion, or prohibiting the free exercise thereof; or abridging the freedom of speech, or of the press; or the right of the people peaceably to assemble, and to petition the Government for a redress of grievances.</p>
						</div>
					</section>
					


					<section class="page-section" id="faq-continous-monitoring"><h3>Continuous Monitoring</h3>	
						<h4 class="usa-accordion__heading" >
						<button class="usa-accordion__button"
						aria-expanded="false"
						aria-controls="conmon-1">
						Main
						</button>
						</h4>
						<div id="conmon-1" class="usa-accordion__content usa-prose">
						<p>A well regulated Militia, being necessary to the security of a free State, the right of the people to keep and bear Arms, shall not be infringed.</p> <ul><li>This is a list item</li><li>Another list item</li></ul>

						</div>
						
						<h4 class="usa-accordion__heading">
						<button class="usa-accordion__button"
						aria-expanded="false"
						aria-controls="conmon-2">
						Another Section for Main
						</button>
						</h4>
						<div id="conmon-2" class="usa-accordion__content usa-prose">
						<p>A well regulated Militia, being necessary to the security of a free State, the right of the people to keep and bear Arms, shall not be infringed.</p> <ul><li>This is a list item</li><li>Another list item</li></ul>

						</div>
					</section>	
					
					
					<section class="page-section" id="faq-federal-agencies"><h3>Federal Agencies</h3>
						<h4 class="usa-accordion__heading">
						<button class="usa-accordion__button"
						aria-expanded="false"
						aria-controls="fa-1">
						About
						</button>
						</h4>
						<div id="fa-1" class="usa-accordion__content usa-prose">
						<p>No Soldier shall, in time of peace be quartered in any house, without the consent of the Owner, nor in time of war, but in a manner to be prescribed by law.</p>

						</div>
						
						<h4 class="usa-accordion__heading">
						<button class="usa-accordion__button"
						aria-expanded="false"
						aria-controls="fa-2">
						About Section #2
						</button>
						</h4>
						<div id="fa-2" class="usa-accordion__content usa-prose">
						<p>No Soldier shall, in time of peace be quartered in any house, without the consent of the Owner, nor in time of war, but in a manner to be prescribed by law.</p>
							
						</div>
					</section>
							
							
						<section class="page-section" id="faq-authorization"><h3>Authorization</h3>
							<h4 class="usa-accordion__heading">
							<button class="usa-accordion__button"
							aria-expanded="false"
							aria-controls="m-auth-1">
							About
							</button>
							</h4>
							<div id="m-auth-1" class="usa-accordion__content usa-prose">
							<p>No Soldier shall, in time of peace be quartered in any house, without the consent of the Owner, nor in time of war, but in a manner to be prescribed by law.</p>

							</div>

							<h4 class="usa-accordion__heading">
							<button class="usa-accordion__button"
							aria-expanded="false"
							aria-controls="m-auth-2">
							About Section #2
							</button>
							</h4>
							<div id="m-auth-2" class="usa-accordion__content usa-prose">
							<p>No Soldier shall, in time of peace be quartered in any house, without the consent of the Owner, nor in time of war, but in a manner to be prescribed by law.</p>

							</div>
							
						</section>	
							
						<section class="page-section" id="faq-cloud-service-providers"><h3>Cloud Service Providers</h3>
							<h4 class="usa-accordion__heading">
							<button class="usa-accordion__button"
							aria-expanded="false"
							aria-controls="m-csp-1">
							About
							</button>
							</h4>
							<div id="m-csp-1" class="usa-accordion__content usa-prose">
							<p>No Soldier shall, in time of peace be quartered in any house, without the consent of the Owner, nor in time of war, but in a manner to be prescribed by law.</p>

							</div>

							<h4 class="usa-accordion__heading">
							<button class="usa-accordion__button"
							aria-expanded="false"
							aria-controls="m-csp-2">
							About Section #2
							</button>
							</h4>
							<div id="m-csp-2" class="usa-accordion__content usa-prose">
							<p>No Soldier shall, in time of peace be quartered in any house, without the consent of the Owner, nor in time of war, but in a manner to be prescribed by law.</p>
								</div>	
							
						</section>	
							
						<section class="page-section" id="faq-third-party"><h3>Third Party Assessment Organizations</h3>
							<h4 class="usa-accordion__heading">
							<button class="usa-accordion__button"
							aria-expanded="false"
							aria-controls="m-tpa-1">
							About
							</button>
							</h4>
							<div id="m-tpa-1" class="usa-accordion__content usa-prose">
							<p>No Soldier shall, in time of peace be quartered in any house, without the consent of the Owner, nor in time of war, but in a manner to be prescribed by law.</p>

							</div>


							<h4 class="usa-accordion__heading">
							<button class="usa-accordion__button"
							aria-expanded="false"
							aria-controls="m-tpa-2">
							About Section #2
							</button>
							</h4>
							<div id="m-tpa-2" class="usa-accordion__content usa-prose">
							<p>No Soldier shall, in time of peace be quartered in any house, without the consent of the Owner, nor in time of war, but in a manner to be prescribed by law.</p>

							</div>
							
						</section>
					<div class="padding-bottom-10">
					</div>
	
				</div>
				
					
				
				</div>
			</div>	
		</div>	
	</div>

</section>
