---
layout: full-width
---
<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row">
			<div class="full-col desktop:grid-col-12">
				<p>The FedRAMP PMO used to publish monthly Tips and Cues that provided helpful information about FedRAMP to agencies, CSPs, 3PAOs, and other stakeholders. Tips and Cues have been integrated into FAQs. Please reach out to info@fedramp.gov with any questions.</p>
			</div>
		</div>
	</div>	
</section>

<section class="teal-bkg fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row">
			<div class="full-col desktop:grid-col-12">
				<h2 class="text-white center">How Can We Help You?</h2>
				<section aria-label="Small search component">
					<form class="usa-search usa-search--small" role="search">
						<label class="usa-sr-only" for="search-field-small">Search</label>
						<input class="usa-input" id="search-field-small" type="search" name="search">
						<button class="usa-button" type="submit">
						<span class="usa-sr-only">Search</span>
						</button>
					</form>
				</section>
				<p class="text-center text-white">You can also browse the topics below.</p>
			</div>
		</div>
	</div>

</section>

<section class="fedramp-page-container position-sticky" style="top: 0;">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col tablet:grid-col-4">
				<div id="main-header" class="lavalamp-menu">
					<nav>
						<ul>
							<li class="active"><a href="#faq-general">General</a></li>
							<li><a href="#faq-continous-monitoring">Continuous Monitoring</a></li>
							<li><a href="#faq-federal-agencies">Federal Agencies</a></li>
							<li><a href="#faq-authorization">Authorization</a></li>
							<li><a href="#faq-cloud-service-providers">Cloud Service Providers</a></li>
							<li><a href="#faq-third-party">Third Party Assessment Organizations</a></li>
						</ul>
						<div class="lavalamp"></div>
					</nav>
				  </div>
			</div>
		</div>
	</div>
</section>

<section class="fedramp-page-container in-page-nav-section">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			
			<div class="full-col tablet:grid-col-8 tablet:grid-offset-4">
				
				<div>
				<!--
				
				<h4 id="faq-general">General</h4>
					<div class="tabs">
						<div class="tab">
							<input class="accordian-check" type="checkbox" id="chck1">
							<label class="tab-label" for="chck1">Item 1</label>
							<div class="tab-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada urna eget risus fringilla, id semper arcu semper. Integer pellentesque elit sit amet erat blandit, et mattis odio congue. Proin odio sapien, varius et lorem at, ultrices fringilla turpis. Vestibulum at vestibulum ex, eu pellentesque leo. Sed leo est, porta molestie commodo id, aliquam quis quam. Duis pretium enim ligula, consectetur suscipit dolor vulputate sit amet. Etiam tincidunt nec justo id imperdiet. Aliquam vulputate nunc id turpis mollis, a finibus erat dapibus. Suspendisse vel ex sed quam pulvinar tempor at ac magna. Pellentesque sit amet ex sem. Aliquam faucibus magna id turpis bibendum venenatis. Integer rutrum lectus nisl, eget feugiat lectus pretium non. Proin mauris metus, molestie sed dignissim vel, vestibulum et dolor. Mauris vel lectus ut ex placerat cursus. Nulla auctor ipsum sagittis ipsum lacinia tempus. Cras a luctus dui, in fermentum odio.</p>
							</div>
						</div>
					
						<div class="tab">
							<input class="accordian-check" type="checkbox" id="chck2">
							<label class="tab-label" for="chck2">Item 2</label>
							<div class="tab-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada urna eget risus fringilla, id semper arcu semper. Integer pellentesque elit sit amet erat blandit, et mattis odio congue. Proin odio sapien, varius et lorem at, ultrices fringilla turpis. Vestibulum at vestibulum ex, eu pellentesque leo. Sed leo est, porta molestie commodo id, aliquam quis quam. Duis pretium enim ligula, consectetur suscipit dolor vulputate sit amet. Etiam tincidunt nec justo id imperdiet. Aliquam vulputate nunc id turpis mollis, a finibus erat dapibus. Suspendisse vel ex sed quam pulvinar tempor at ac magna. Pellentesque sit amet ex sem. Aliquam faucibus magna id turpis bibendum venenatis. Integer rutrum lectus nisl, eget feugiat lectus pretium non. Proin mauris metus, molestie sed dignissim vel, vestibulum et dolor. Mauris vel lectus ut ex placerat cursus. Nulla auctor ipsum sagittis ipsum lacinia tempus. Cras a luctus dui, in fermentum odio.</p>
							</div>
						</div>
					</div>

				
				<h4 id="faq-continous-monitoring">Continuous Monitoring</h4>
				<div class="tabs">
					<div class="tab">
						<input class="accordian-check" type="checkbox" id="main-1">
						<label class="tab-label" for="main-1">Item 1</label>
						<div class="tab-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada urna eget risus fringilla, id semper arcu semper. Integer pellentesque elit sit amet erat blandit, et mattis odio congue. Proin odio sapien, varius et lorem at, ultrices fringilla turpis. Vestibulum at vestibulum ex, eu pellentesque leo. Sed leo est, porta molestie commodo id, aliquam quis quam. Duis pretium enim ligula, consectetur suscipit dolor vulputate sit amet. Etiam tincidunt nec justo id imperdiet. Aliquam vulputate nunc id turpis mollis, a finibus erat dapibus. Suspendisse vel ex sed quam pulvinar tempor at ac magna. Pellentesque sit amet ex sem. Aliquam faucibus magna id turpis bibendum venenatis. Integer rutrum lectus nisl, eget feugiat lectus pretium non. Proin mauris metus, molestie sed dignissim vel, vestibulum et dolor. Mauris vel lectus ut ex placerat cursus. Nulla auctor ipsum sagittis ipsum lacinia tempus. Cras a luctus dui, in fermentum odio.</p>
						</div>
					</div>
					
					<div class="tab">
						<input class="accordian-check" type="checkbox" id="main-2">
						<label class="tab-label" for="main-2">Item 2</label>
						<div class="tab-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada urna eget risus fringilla, id semper arcu semper. Integer pellentesque elit sit amet erat blandit, et mattis odio congue. Proin odio sapien, varius et lorem at, ultrices fringilla turpis. Vestibulum at vestibulum ex, eu pellentesque leo. Sed leo est, porta molestie commodo id, aliquam quis quam. Duis pretium enim ligula, consectetur suscipit dolor vulputate sit amet. Etiam tincidunt nec justo id imperdiet. Aliquam vulputate nunc id turpis mollis, a finibus erat dapibus. Suspendisse vel ex sed quam pulvinar tempor at ac magna. Pellentesque sit amet ex sem. Aliquam faucibus magna id turpis bibendum venenatis. Integer rutrum lectus nisl, eget feugiat lectus pretium non. Proin mauris metus, molestie sed dignissim vel, vestibulum et dolor. Mauris vel lectus ut ex placerat cursus. Nulla auctor ipsum sagittis ipsum lacinia tempus. Cras a luctus dui, in fermentum odio.</p>
						</div>
					</div>
				</div>

				<h4 id="faq-federal-agencies">Federal Agencies</h4>
				<div class="tabs">
					<div class="tab">
						<input class="accordian-check" type="checkbox" id="about-1">
						<label class="tab-label" for="about-1">Item 1</label>
						<div class="tab-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada urna eget risus fringilla, id semper arcu semper. Integer pellentesque elit sit amet erat blandit, et mattis odio congue. Proin odio sapien, varius et lorem at, ultrices fringilla turpis. Vestibulum at vestibulum ex, eu pellentesque leo. Sed leo est, porta molestie commodo id, aliquam quis quam. Duis pretium enim ligula, consectetur suscipit dolor vulputate sit amet. Etiam tincidunt nec justo id imperdiet. Aliquam vulputate nunc id turpis mollis, a finibus erat dapibus. Suspendisse vel ex sed quam pulvinar tempor at ac magna. Pellentesque sit amet ex sem. Aliquam faucibus magna id turpis bibendum venenatis. Integer rutrum lectus nisl, eget feugiat lectus pretium non. Proin mauris metus, molestie sed dignissim vel, vestibulum et dolor. Mauris vel lectus ut ex placerat cursus. Nulla auctor ipsum sagittis ipsum lacinia tempus. Cras a luctus dui, in fermentum odio.</p>
						</div>
					</div>
					
					<div class="tab">
						<input class="accordian-check" type="checkbox" id="about-2">
						<label class="tab-label" for="about-2">Item 2</label>
						<div class="tab-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada urna eget risus fringilla, id semper arcu semper. Integer pellentesque elit sit amet erat blandit, et mattis odio congue. Proin odio sapien, varius et lorem at, ultrices fringilla turpis. Vestibulum at vestibulum ex, eu pellentesque leo. Sed leo est, porta molestie commodo id, aliquam quis quam. Duis pretium enim ligula, consectetur suscipit dolor vulputate sit amet. Etiam tincidunt nec justo id imperdiet. Aliquam vulputate nunc id turpis mollis, a finibus erat dapibus. Suspendisse vel ex sed quam pulvinar tempor at ac magna. Pellentesque sit amet ex sem. Aliquam faucibus magna id turpis bibendum venenatis. Integer rutrum lectus nisl, eget feugiat lectus pretium non. Proin mauris metus, molestie sed dignissim vel, vestibulum et dolor. Mauris vel lectus ut ex placerat cursus. Nulla auctor ipsum sagittis ipsum lacinia tempus. Cras a luctus dui, in fermentum odio.</p>
						</div>
					</div>
				</div>
				
				<h4 id="faq-authorization">Authorization</h4>
				<div class="tabs">
					<div class="tab">
						<input class="accordian-check" type="checkbox" id="auth-1">
						<label class="tab-label" for="auth-1">Item 1</label>
						<div class="tab-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada urna eget risus fringilla, id semper arcu semper. Integer pellentesque elit sit amet erat blandit, et mattis odio congue. Proin odio sapien, varius et lorem at, ultrices fringilla turpis. Vestibulum at vestibulum ex, eu pellentesque leo. Sed leo est, porta molestie commodo id, aliquam quis quam. Duis pretium enim ligula, consectetur suscipit dolor vulputate sit amet. Etiam tincidunt nec justo id imperdiet. Aliquam vulputate nunc id turpis mollis, a finibus erat dapibus. Suspendisse vel ex sed quam pulvinar tempor at ac magna. Pellentesque sit amet ex sem. Aliquam faucibus magna id turpis bibendum venenatis. Integer rutrum lectus nisl, eget feugiat lectus pretium non. Proin mauris metus, molestie sed dignissim vel, vestibulum et dolor. Mauris vel lectus ut ex placerat cursus. Nulla auctor ipsum sagittis ipsum lacinia tempus. Cras a luctus dui, in fermentum odio.</p>
						</div>
					</div>
					
					<div class="tab">
						<input class="accordian-check" type="checkbox" id="auth-2">
						<label class="tab-label" for="auth-2">Item 2</label>
						<div class="tab-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada urna eget risus fringilla, id semper arcu semper. Integer pellentesque elit sit amet erat blandit, et mattis odio congue. Proin odio sapien, varius et lorem at, ultrices fringilla turpis. Vestibulum at vestibulum ex, eu pellentesque leo. Sed leo est, porta molestie commodo id, aliquam quis quam. Duis pretium enim ligula, consectetur suscipit dolor vulputate sit amet. Etiam tincidunt nec justo id imperdiet. Aliquam vulputate nunc id turpis mollis, a finibus erat dapibus. Suspendisse vel ex sed quam pulvinar tempor at ac magna. Pellentesque sit amet ex sem. Aliquam faucibus magna id turpis bibendum venenatis. Integer rutrum lectus nisl, eget feugiat lectus pretium non. Proin mauris metus, molestie sed dignissim vel, vestibulum et dolor. Mauris vel lectus ut ex placerat cursus. Nulla auctor ipsum sagittis ipsum lacinia tempus. Cras a luctus dui, in fermentum odio.</p>
						</div>
					</div>
				</div>
				
				<h4 id="faq-cloud-service-providers">Cloud Service Providers</h4>
				<div class="tabs">
					<div class="tab">
						<input class="accordian-check" type="checkbox" id="csp-1">
						<label class="tab-label" for="csp-1">Item 1</label>
						<div class="tab-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada urna eget risus fringilla, id semper arcu semper. Integer pellentesque elit sit amet erat blandit, et mattis odio congue. Proin odio sapien, varius et lorem at, ultrices fringilla turpis. Vestibulum at vestibulum ex, eu pellentesque leo. Sed leo est, porta molestie commodo id, aliquam quis quam. Duis pretium enim ligula, consectetur suscipit dolor vulputate sit amet. Etiam tincidunt nec justo id imperdiet. Aliquam vulputate nunc id turpis mollis, a finibus erat dapibus. Suspendisse vel ex sed quam pulvinar tempor at ac magna. Pellentesque sit amet ex sem. Aliquam faucibus magna id turpis bibendum venenatis. Integer rutrum lectus nisl, eget feugiat lectus pretium non. Proin mauris metus, molestie sed dignissim vel, vestibulum et dolor. Mauris vel lectus ut ex placerat cursus. Nulla auctor ipsum sagittis ipsum lacinia tempus. Cras a luctus dui, in fermentum odio.</p>
						</div>
					</div>
					
					<div class="tab">
						<input class="accordian-check" type="checkbox" id="csp-2">
						<label class="tab-label" for="csp-2">Item 2</label>
						<div class="tab-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada urna eget risus fringilla, id semper arcu semper. Integer pellentesque elit sit amet erat blandit, et mattis odio congue. Proin odio sapien, varius et lorem at, ultrices fringilla turpis. Vestibulum at vestibulum ex, eu pellentesque leo. Sed leo est, porta molestie commodo id, aliquam quis quam. Duis pretium enim ligula, consectetur suscipit dolor vulputate sit amet. Etiam tincidunt nec justo id imperdiet. Aliquam vulputate nunc id turpis mollis, a finibus erat dapibus. Suspendisse vel ex sed quam pulvinar tempor at ac magna. Pellentesque sit amet ex sem. Aliquam faucibus magna id turpis bibendum venenatis. Integer rutrum lectus nisl, eget feugiat lectus pretium non. Proin mauris metus, molestie sed dignissim vel, vestibulum et dolor. Mauris vel lectus ut ex placerat cursus. Nulla auctor ipsum sagittis ipsum lacinia tempus. Cras a luctus dui, in fermentum odio.</p>
						</div>
					</div>
				</div>
				
				
				<h4 id="faq-third-party">Third Party Assessment Organizations</h4>
				<div class="tabs">
					<div class="tab">
						<input class="accordian-check" type="checkbox" id="tpa-1">
						<label class="tab-label" for="tpa-1">Item 1</label>
						<div class="tab-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada urna eget risus fringilla, id semper arcu semper. Integer pellentesque elit sit amet erat blandit, et mattis odio congue. Proin odio sapien, varius et lorem at, ultrices fringilla turpis. Vestibulum at vestibulum ex, eu pellentesque leo. Sed leo est, porta molestie commodo id, aliquam quis quam. Duis pretium enim ligula, consectetur suscipit dolor vulputate sit amet. Etiam tincidunt nec justo id imperdiet. Aliquam vulputate nunc id turpis mollis, a finibus erat dapibus. Suspendisse vel ex sed quam pulvinar tempor at ac magna. Pellentesque sit amet ex sem. Aliquam faucibus magna id turpis bibendum venenatis. Integer rutrum lectus nisl, eget feugiat lectus pretium non. Proin mauris metus, molestie sed dignissim vel, vestibulum et dolor. Mauris vel lectus ut ex placerat cursus. Nulla auctor ipsum sagittis ipsum lacinia tempus. Cras a luctus dui, in fermentum odio.</p>
						</div>
					</div>
					
					<div class="tab">
						<input class="accordian-check" type="checkbox" id="tpa-2">
						<label class="tab-label" for="tpa-2">Item 2</label>
						<div class="tab-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada urna eget risus fringilla, id semper arcu semper. Integer pellentesque elit sit amet erat blandit, et mattis odio congue. Proin odio sapien, varius et lorem at, ultrices fringilla turpis. Vestibulum at vestibulum ex, eu pellentesque leo. Sed leo est, porta molestie commodo id, aliquam quis quam. Duis pretium enim ligula, consectetur suscipit dolor vulputate sit amet. Etiam tincidunt nec justo id imperdiet. Aliquam vulputate nunc id turpis mollis, a finibus erat dapibus. Suspendisse vel ex sed quam pulvinar tempor at ac magna. Pellentesque sit amet ex sem. Aliquam faucibus magna id turpis bibendum venenatis. Integer rutrum lectus nisl, eget feugiat lectus pretium non. Proin mauris metus, molestie sed dignissim vel, vestibulum et dolor. Mauris vel lectus ut ex placerat cursus. Nulla auctor ipsum sagittis ipsum lacinia tempus. Cras a luctus dui, in fermentum odio.</p>
						</div>
					</div>
				</div>


					</div>
-->
  


				
				
				<div class="usa-accordion" aria-multiselectable="true">

				
					<div><h3 id="faq-general">General</h3></div>
						<h4 class="usa-accordion__heading">
						<button class="usa-accordion__button"
						aria-expanded="true"
						aria-controls="m-a1">
						Home
						</button>
						</h4>
						<div id="m-a1" class="usa-accordion__content usa-prose">
							<p>Congress shall make no law respecting an establishment of religion, or prohibiting the free exercise thereof; or abridging the freedom of speech, or of the press; or the right of the people peaceably to assemble, and to petition the Government for a redress of grievances.</p>
						</div>
						
						<h4 class="usa-accordion__heading">
						<button class="usa-accordion__button"
						aria-expanded="false"
						aria-controls="m-home">
						Home Another Section for Home
						</button>
						</h4>
						<div id="m-home" class="usa-accordion__content usa-prose">
							<p>Congress shall make no law respecting an establishment of religion, or prohibiting the free exercise thereof; or abridging the freedom of speech, or of the press; or the right of the people peaceably to assemble, and to petition the Government for a redress of grievances.</p>
						</div>

					


					<div><h3 id="faq-continous-monitoring">Continuous Monitoring</h3></div>	
						<h4 class="usa-accordion__heading" >
						<button class="usa-accordion__button"
						aria-expanded="false"
						aria-controls="m-a2">
						Main
						</button>
						</h4>
						<div id="m-a2" class="usa-accordion__content usa-prose">
						<p>A well regulated Militia, being necessary to the security of a free State, the right of the people to keep and bear Arms, shall not be infringed.</p> <ul><li>This is a list item</li><li>Another list item</li></ul>

						</div>
						
						<h4 class="usa-accordion__heading">
						<button class="usa-accordion__button"
						aria-expanded="false"
						aria-controls="m-main-2">
						Another Section for Main
						</button>
						</h4>
						<div id="m-main-2" class="usa-accordion__content usa-prose">
						<p>A well regulated Militia, being necessary to the security of a free State, the right of the people to keep and bear Arms, shall not be infringed.</p> <ul><li>This is a list item</li><li>Another list item</li></ul>

						</div>
					
					
					<div><h3 id="faq-federal-agencies">Federal Agencies</h3></div>
						<h4 class="usa-accordion__heading">
						<button class="usa-accordion__button"
						aria-expanded="false"
						aria-controls="m-a3">
						About
						</button>
						</h4>
						<div id="m-a3" class="usa-accordion__content usa-prose">
						<p>No Soldier shall, in time of peace be quartered in any house, without the consent of the Owner, nor in time of war, but in a manner to be prescribed by law.</p>

						</div>
						
						<h4 class="usa-accordion__heading">
						<button class="usa-accordion__button"
						aria-expanded="false"
						aria-controls="m-about-2">
						About Section #2
						</button>
						</h4>
						<div id="m-about-2" class="usa-accordion__content usa-prose">
						<p>No Soldier shall, in time of peace be quartered in any house, without the consent of the Owner, nor in time of war, but in a manner to be prescribed by law.</p>
							
					</div>
							
							
						<div><h3 id="faq-authorization">Authorization</h3></div>
						<h4 class="usa-accordion__heading">
						<button class="usa-accordion__button"
						aria-expanded="false"
						aria-controls="m-auth-1">
						About
						</button>
						</h4>
						<div id="m-auth-1" class="usa-accordion__content usa-prose">
						<p>No Soldier shall, in time of peace be quartered in any house, without the consent of the Owner, nor in time of war, but in a manner to be prescribed by law.</p>

						</div>
						
						<h4 class="usa-accordion__heading">
						<button class="usa-accordion__button"
						aria-expanded="false"
						aria-controls="m-auth-2">
						About Section #2
						</button>
						</h4>
						<div id="m-auth-2" class="usa-accordion__content usa-prose">
						<p>No Soldier shall, in time of peace be quartered in any house, without the consent of the Owner, nor in time of war, but in a manner to be prescribed by law.</p>
							
							</div>
							
							
						<div><h3 id="faq-cloud-service-providers">Cloud Service Providers</h3></div>
						<h4 class="usa-accordion__heading">
						<button class="usa-accordion__button"
						aria-expanded="false"
						aria-controls="m-csp-1">
						About
						</button>
						</h4>
						<div id="m-csp-1" class="usa-accordion__content usa-prose">
						<p>No Soldier shall, in time of peace be quartered in any house, without the consent of the Owner, nor in time of war, but in a manner to be prescribed by law.</p>

						</div>
						
						<h4 class="usa-accordion__heading">
						<button class="usa-accordion__button"
						aria-expanded="false"
						aria-controls="m-auth-2">
						About Section #2
						</button>
						</h4>
						<div id="m-csp-2" class="usa-accordion__content usa-prose">
						<p>No Soldier shall, in time of peace be quartered in any house, without the consent of the Owner, nor in time of war, but in a manner to be prescribed by law.</p>
							</div>	
							
							<div><h3 id="faq-third-party">Third Party Assessment Organizations</h3></div>
						<h4 class="usa-accordion__heading">
						<button class="usa-accordion__button"
						aria-expanded="false"
						aria-controls="m-tpa-1">
						About
						</button>
						</h4>
						<div id="m-tpa-1" class="usa-accordion__content usa-prose">
						<p>No Soldier shall, in time of peace be quartered in any house, without the consent of the Owner, nor in time of war, but in a manner to be prescribed by law.</p>

						</div>
						
						<h4 class="usa-accordion__heading">
						<button class="usa-accordion__button"
						aria-expanded="false"
						aria-controls="m-tpa-2">
						About Section #2
						</button>
						</h4>
						<div id="m-tpa-2" class="usa-accordion__content usa-prose">
						<p>No Soldier shall, in time of peace be quartered in any house, without the consent of the Owner, nor in time of war, but in a manner to be prescribed by law.</p>

						</div>
					
	
				</div>
				
					
				
			</div>
		</div>	
	</div>

</section>
