---
layout: base
---

<div class="page-banner">
<h1> {{ page.title }}</h1>
</div>
<div class="usa-grid usa-section usa-content">
  <div class="usa-width-three-fourths usa-content">
  {% if page.image %}
  <img src="{{ page.image | prepend: site.baseurl }}">
  {% endif %}
  {{ content }}
  </div>
  <aside class="usa-width-one-fourth">
  <div class="dashboard">
  <div class="inner">
  <h4>WHAT ARE YOU LOOKING FOR?</h4>
  <p>Click the actions below for all the resources you need</p>
  <ul class="assessors">
  <li><a href="{{site.baseurl}}/learning-more-about-fedramp"><img src="../assets/img/dashboard-icons/LearnMore-icon.png">Learning More About FedRAMP</a></li>
  <li><a href="{{site.baseurl}}/acquiring-a-cloud-service"><img src="../assets/img/dashboard-icons/AcquireCloud_icon.png">Acquiring a Cloud Service Offering</a></li>
  <li><a href="{{site.baseurl}}/working-with-a-csp-pursuing-a-jab-authorization"><img src="../assets/img/dashboard-icons/WorkingCSP_icon.png">Understanding a JAB Authorization</a></li>
  <li><a href="{{site.baseurl}}/pursuing-an-agency-authorization"><img src="../assets/img/dashboard-icons/pursuingAgency_icon.png">Pursuing an Agency Authorization</a></li>
  <li><a href="{{site.baseurl}}/pursuing-a-fedramp-tailored-authorization"><img src="../assets/img/dashboard-icons/pursuingTailored_icon.png">Pursuing a FedRAMP Tailored Authorization</a></li>
  <li><a href="{{site.baseurl}}/reviewing-a-security-package"><img src="../assets/img/dashboard-icons/ReviewSecurity_icon.png">Reviewing a Security Package</a></li>
  <li><a href="{{site.baseurl}}/issuing-an-authority-to-operate"><img src="../assets/img/dashboard-icons/IssuingAuthority_icon.png">Issuing an Authority to Operate (ATO)</a></li>
  <li><a href="{{site.baseurl}}/conducting-continuous-monitoring"><img src="../assets/img/dashboard-icons/Monitor_icon.png">Conducting Continuous Monitoring</a></li>
  <li><a href="{{site.baseurl}}/completing-an-annual-assessment"><img src="../assets/img/dashboard-icons/AnnualAssessment_icon.png">Completing an Annual Assessment</a></li>
  </ul>
  </div>
  </div>
    <div class="blog-sidebar">
    <h3>Recent Posts</h3>
    <ul>
      {% for post in site.posts limit:5 %}
        <li>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
    </div>
  </aside>
</div>
</div>
