---
layout: full-width
---
<section class="overview">
	<div>
		<div class="grid-container">
			<div class="full-row grid-row grid-gap">
				<div class="full-col desktop:grid-col-6">
					<h2>FedRAMP Authorization: An Agency’s Perspective</h2>
				</div>
				<div class="full-col desktop:grid-col-6 intro-text">
					<p>Agencies are required by law to protect any federal information that is collected, maintained, processed, disseminated, or disposed of by cloud service offerings, in accordance with <a href="">FedRAMP requirements</a>.</p>
					
					<p>FedRAMP provides a standardized framework to security assessment, authorization, and continuous monitoring for cloud products and services. This framework uses a “do once, use many” approach that eliminates duplicative efforts.</p>
				</div>
			</div>
		</div>	
	</div>	
</section>

<section class="agency-tabs">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">

			<div class="full-col desktop:grid-col-12">
				<p class="text-center">Click each step in the process for more information:</p>

					<div class="tab">
						<button class="tablinks pointer-button" onclick="openTab(event, 'pre-authorization')" id="defaultOpen">Pre-Authorization<span class="button-border"></span></button>
						<button class="tablinks pointer-button" onclick="openTab(event, 'during-authorization')">During Authorization<span class="button-border"></span></button>
						<button class="tablinks pointer-button" onclick="openTab(event, 'post-authorization')">Post Authorization<span class="button-border"></span></button>
					</div>

					<div id="pre-authorization" class="tabcontent padding-8">
						<div class="full-row grid-row grid-gap">
							<div class="full-col desktop:grid-col-12">
								<h3>Selecting a CSO</h3>
								<p>Agencies should begin by defining their mission needs and specific requirements for a Cloud Service Offering (CSO), and research potential providers. We recommend agencies first check the FedRAMP Marketplace to see if there is a CSO that meets their needs that has already started the FedRAMP process or is authorized.</p>
								<p>Prior to engaging a Cloud Service Provider (CSP), it is important that agencies understand their technical requirements, to include determination of the type of cloud service/scope of services needed, cloud deployment model, data sensitivities, and other pertinent information.</p>

								<p><strong>Interested in a CSO that is already FedRAMP Authorized?</strong></p>
								<p>Request access to their package through our <a href="#">Package Request Form</a>.</p>

								<p><strong>Interested in a CSO that is In Process?</strong></p>
								<p>Inquire about their status by contacting the CSP directly, or emailing <a href="mailto:info@fedramp.gov">info@fedramp.gov</a>.</p>

								<p><strong>Interested in acquiring a CSO that is not yet FedRAMP Authorized or FedRAMP In Process?</strong></p>
								<p>Contact the PMO to learn more about how to partner with the CSP to issue a FedRAMP authorization.</p>
								<p>We recommend reviewing our Agency Authorization Playbook for more information on the Initial Authorization process. </p>

								<p><strong>Having difficulty selecting a CSO?</strong></p>
								<p>Reach out to <a href="mailto:info@fedramp.gov">info@fedramp.gov</a>. The PMO would be happy to discuss options and share lessons learned from other agencies.</p>
							</div>
						</div>
					</div>

					<div id="during-authorization" class="tabcontent padding-8">
						<div class="full-row grid-row grid-gap">
							<div class="full-col desktop:grid-col-12">
								<h3>Getting Authorized</h3>
								<p>The authorization process begins with a kick-off discussion with all stakeholders. Following the kick-off, the CSP and Third-Party Assessment Organization (3PAO) begin system vulnerability testing of the CSO and consolidate security documentation within the security authorization package. </p>
							</div>
						</div>

						<div class="full-row grid-row grid-gap">
							<div class="full-col desktop:grid-col-6 padding-4">
								<p>A FedRAMP security package is a comprehensive documentation of a cloud service offering’s (CSO) system security. A FedRAMP security package provides a:</p>
							</div>
							<div class="full-col desktop:grid-col-6 padding-4">
								<ul>
									<li>Complete system description</li>
									<li>Complete detail of the system’s security control implementation</li>
									<li>Overview of the system’s assessment and assessment methodology, and</li>
									<li>Risk assessment that qualifies whether the system should be used by a federal agency</li>
								</ul>
							</div>
						</div>

						<div class="full-row grid-row">
							<div class="full-col desktop:grid-col-12">
								<div class="callout-box padding-4 margin-bottom-8">
									<p><strong>Agency’s role in authorization:</strong></p>
									<ul>
										<li>Review the security authorization package, which includes:</li>
											<ul>
												<li>System Security Plan (SSP) detailing the CSP’s system security environment</li>
												<li>System Assessment Plan (SAP) detailing the 3PAO’s approach for vulnerability testing of the CSP’s system</li>
												<li>System Assessment Report (SAR) detailing the 3PAO’s findings and recommendations pursuant to performance of the SAP</li>
												<li>Plan of Actions and Milestones (POA&amp;M) detailing the CSP’s and 3PAO’s approach to addressing or identifying system vulnerabilities as well as the approach to continuous monitoring of the system</li>
											</ul>
										<li>Direct the CSP for remediation of security vulnerabilities identified in the SAR, as needed</li>
										<li>Perform final review of a security authorization package, with a focus toward understanding the risk posture the agency must accept by using the cloud service</li>
									</ul>

								</div>
							</div>
						</div>

						<div class="full-row grid-row grid-gap">
							<div class="full-col desktop:grid-col-12">
								<h3>Reviewing a Security Package</h3>
								<p>There are two approaches to reviewing a FedRAMP security package: (1) Just-in-Time and (2) All Deliverables Simultaneously.</p>
								<h4>Approach I: Just-In-Time</h4>
								<p>The CSP and 3PAO provide the security documents to the agency for review and approval as they are prepared, creating an agile workflow for the evaluation of a system’s security and assessment. A Just-In-Time approach is recommended for agencies and CSPs new to the FedRAMP process.</p>
								<h4>Approach II: All Deliverable Simultaneously</h4>
								<p>The CSP and 3PAO provide the agency a complete security package at once, upon completion. This approach is most appropriate for CSPs and agencies that have mature cloud security programs in place and have developed collaborative prior working relationships for the purpose of achieving FedRAMP authorization. In either approach, FedRAMP encourages agencies to establish a cadence of frequent touchpoints with their partnered CSP(s) to understand progress against milestones and iteratively review documentation.</p>
								<p class="margin-bottom-4">If an agency accepts the risk posture illustrated by a CSP’s security authorization package, it falls to the Agency Authorizing Official (AO) to issue an Authority to Operate (ATO) letter. Submission of the ATO letter to the CSP and FedRAMP imparts authorization status and prompts listing of the cloud service offering in the FedRAMP Marketplace.</p>

								<h3>Issuing an ATO</h3>
								<p>An agency’s Authorizing Official (AO) is responsible for making a risk-based decision to grant a CSO an Authority to Operate (ATO) for use of the system. To issue an ATO for a cloud service offering that is already FedRAMP Authorized, agencies should:</p>
								<ul>
									<li>Conduct a risk analysis by reviewing the CSP’s authorization package</li>
									<li>Determine if the risk posture is acceptable</li>
									<li>Determine if the CSP needs to meet additional requirements for agency mission/business needs</li>
									<li>Approve the CSP package for authorization</li>
									<li>Issue an ATO for the CSP service/system</li>
									<li>Send the ATO letter to the FedRAMP PMO at info@fedramp.gov</li>
								</ul>
								<p>A complete ATO letter should explicitly state the AO’s acceptance of:</p>
								<ul>
									<li>Use of the system at the agency at the determined FIPS 199 impact level</li>
									<li>All leveraged external services (to be listed in the ATO) supporting the system</li>
									<li>Any exceptions or exclusions of the CSO to be considered for use at the Agency</li>
								</ul>
								<p>Once a CSO is deemed FedRAMP Authorized, the CSO is reflected as such on the FedRAMP Marketplace. Other agencies can utilize FedRAMP’s reuse model to issue their own ATO for their use of the CSO. The reuse model allows agencies to review a CSO’s security package, make a risk-based decision on the use of that system, and issue their own ATO. </p>
							</div>
						</div>	
					</div>	

					<div id="post-authorization" class="tabcontent padding-8">
						<div class="full-row grid-row grid-gap">
							<div class="full-col desktop:grid-col-12">
								<h3>Continuous Monitoring</h3>
							</div>
						</div>
						<div class="full-row grid-row grid-gap">
							<div class="full-col desktop:grid-col-6">
								<p>Each agency must ensure the risk posture that was agreed upon at the time of authorization remains consistent throughout the lifecycle of the system at that agency. Continuous monitoring of a cloud system includes monthly meetings between the agency and CSP to review a system’s high-level transaction reports, security scans, and updated POA&amp;M. Agencies should also assess CSPs annually, reviewing details about system changes and updates, and ensuring compliance with the originally accepted risk posture. Agency AOs should review a CSP’s Annual Assessment and upload it to OMB MAX.</p>
							</div>
							<div class="desktop:grid-col-6 callout-box padding-4">
								<p>As part of continuous monitoring, FedRAMP recommends the following best practices:</p>
								<ul>
									<li>Perform system scanning at least monthly, with a recommendation for even greater frequency (CSPs and Agencies should define and agree to a monthly meeting cadence early in the Authorization process. )</li>
									<li>Require the CSP to seek approval following monthly and annual assessments as an operational requirement (OR) for continued use of the system</li>
									<li>Conduct remediation of system vulnerabilities</li>
									<ul style="list-style: none;">
										<li><strong>within 30 days</strong> of discovery of high and critical vulnerabilities</li>
										<li><strong>within 90 days</strong> of discovery for moderate vulnerabilities</li>
										<li><strong>within 180 days</strong> of discovery for low vulnerabilities.</li>
									</ul>
								</ul>
							</div>
						</div>
					</div>

			</div>
		</div>
	</div>
	
</section>
<section>
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">

			<div class="full-col desktop:grid-col-12">
				<h3>Support</h3>
				<p>FedRAMP creates a partnership between the federal government and industry. It is one of FedRAMP’s priorities to support agencies and their journey to using the latest cloud technologies. We are here to assist and guide agencies through the FedRAMP authorization process. For any support, please contact us at info@fedramp.gov.</p>
			</div>
		</div>
	</div>
</section>
