---
layout: full-width
---
<section class="fedramp-page-container">
	<div class="grid-container">
		
		<div class="full-row grid-row grid-gap padding-top-2 grid-gap partners-main">
			<div class="full-col desktop:grid-col-6 partners-col">
				<h2 class="partner-header">Piloting Progress: Refine, Define, Deliver</h2>

				<div class="intro-text">
					<p>Help improve FedRAMP by participating in the FedRAMP Pilot Program</p>
				</div>
				<div class="partners-main-top-desktop">
					<p>To help us scale the program, we are inviting cloud service providers, federal agencies, and other interested stakeholders to participate in FedRAMP's pilot program.</p>
						<p>Our aim with these pilots is to focus on programmatic changes that improve FedRAMP and the customer experience for agencies and cloud providers alike. Each pilot will explore a hypothesis and will take a data-informed approach to evaluating the results of the pilot and how we can scale across the program.</p>
						<p>As a pilot participant, you will work with FedRAMP on projects that strengthen security, streamline the FedRAMP process, and reduce the cost of participating in FedRAMP.</p>
						<p>Current pilot opportunities are listed below. If you have more questions, you can email us at <a href="mailto:pilots@fedramp.gov">pilots@fedramp.gov</a>.</p>					
				</div>
			</div>
			<div class="full-col desktop:grid-col-6 partners-col parners-image">
				<img class="partners-images display-none partners-img-1200" src="{{site.baseurl}}/assets/img/partners_pilots_desktop.svg" alt="">
				<img class="partners-images display-none partners-img-648" src="{{site.baseurl}}/assets/img/partners_pilots_tablet.svg" alt="">
				<img class="partners-images display-none partners-img-320" src="{{site.baseurl}}/assets/img/partners_pilots_mobile.svg" alt="">
			</div>
		</div>

	</div>	
</section>

<!-- Pilot Programs -->
<section class="fedramp-page-container lightest-gray-bkg">
	<div class="grid-container partners-callout">
		<div class="full-row grid-row ">
				<div class="full-col desktop:grid-col-12">
					<div class="padding-2">
				<!-- Open Pilots -->
				<div class="fedramp-pilot-positions margin-bottom-8">
					<h2>Open Pilots</h2>
					<div class="pilot-positions">
						<h3><a href="{{site.baseurl}}/agile-delivery-pilot-non-blocking-change-request-phase1/">Agile Delivery Pilot: Non-Blocking Change Request - Phase 1 New Features</a></h3>
						<p><strong>Open To:</strong> Cloud service providers</p>
						<p><strong>Application Form:</strong> <a href="https://app.smartsheetgov.com/b/form/411b833d76f246d297b5ed5a6ecbe915" target="_blank" rel="noopener noreferrer">Agile Delivery Pilot: Non-Blocking Change Request - Phase 1 Features ﻿Application Sign Up Form</a> <i class="fas fa-external-link-alt fa-sm"></i></p>
						<p><strong>Application Window:</strong> July 10, 2024 - July 26, 2024</p>
						<p><strong>Target Selection Date:</strong> August 16, 2024</p>
					</div>
				</div>

					</div>
				</div>
			</div>
			</div>
	</div>
</section>




<section class="fedramp-page-container">
	<div class="grid-container">

				<!-- Upcoming Pilots -->
				<div class="fedramp-pilot-positions margin-bottom-8">
					<h2>Upcoming Pilots</h2>
					<div class="pilot-positions">					
						<h3>Digital Authorization Packages (coming soon)</h3>
						<p><strong>Open To:</strong> CSPs, Agencies, 3PAOs,  OSCAL Tool Providers</p>
					</div>
				</div>	
				
		</div>
		</div>

	</div>

</section>
