---
layout: full-width
---
<section class="fedramp-page-container">
	<div class="grid-container">
		
		<div class="full-row grid-row grid-gap padding-top-2 grid-gap partners-main">
			<div class="full-col desktop:grid-col-6 partners-col">
				<h2 class="partner-header">Piloting Progress: Streamlining, Innovating, Securing</h2>

				<div class="intro-text">
					<p>Explore opportunities to make a difference in improving FedRAMP by participating in the FedRAMP Pilot Program.</p>
				</div>
				<div class="partners-main-top-desktop">
					<p>Making FedRAMP better is a team effort! As we modernize, we have to engage and innovate with stakeholders. To help us grow and scale the program, we are inviting cloud service providers, federal agencies, and other interested stakeholders to apply to participate in our new pilot program. Our aim is to use learnings from these pilots to refine our approach, improve processes, and explore new ways to deliver modern, secure cloud services across government. FedRAMP’s pilots will focus on innovations that benefit participants and the program as a whole, from improving the experience of cloud service providers considering FedRAMP, to making it easier for agencies to leverage market products in a secure way. </p>
				</div>
			</div>
			<div class="full-col desktop:grid-col-6 partners-col parners-image">
				<img class="partners-images display-none partners-img-1200" src="{{site.baseurl}}/assets/img/partners_fed-agencies_top_desktop.svg" alt="">
				<img class="partners-images display-none partners-img-648" src="{{site.baseurl}}/assets/img/partners_fed-agencies_top_tablet.svg" alt="">
				<img class="partners-images display-none partners-img-320" src="{{site.baseurl}}/assets/img/partners_fed-agencies_top_mobile.svg" alt="">
			</div>
		</div>

	</div>	
</section>

<section class="fedramp-page-container lightest-gray-bkg">
	<div class="grid-container partners-callout">
		<div class="full-row grid-row ">
				<div class="full-col desktop:grid-col-12">
					<div class="padding-2">
						<p class="text-center">To make this program a success, we are keeping three things in mind:</p>
					</div>
				</div>
			</div>
			<div class="full-row grid-row grid-gap fedramp-pilots-card">
				<div class="full-col desktop:grid-col-4 margin-bottom-4">
					<div class="padding-2 red-bkg text-white text-center">
						<h4>Ensuring that we are considering all stakeholder points of view.</h4>
					</div>
					<div class="white-bkg padding-2 minh-card-lg">
						<p>To achieve this, our aim is to include partners across agencies, academia, industry, and internal teams in the pilot process.</p>
					</div>
				</div>

				<div class="full-col desktop:grid-col-4 margin-bottom-4">
					<div class="padding-2 teal-bkg text-white text-center">
						<h4>Making a measurable, positive difference in FedRAMP’s operations.</h4>
					</div>
					<div class="white-bkg padding-2 minh-card-lg">
						<p>Our pilot programs will start with a defined transformative hypothesis to test and the anticipated results for our stakeholders. </p>
					</div>
				</div>

				<div class="full-col desktop:grid-col-4 margin-bottom-4">
					<div class="padding-2 blue-bkg text-white text-center">
						<h4>Increasing collaboration between FedRAMP and stakeholders. </h4>
					</div>
					<div class="white-bkg padding-2 minh-card-lg">
						<p>Communication between participants and the program during the pilot testing period will be key, and participants will regularly share processes, best practices, and successful examples to improve program effectiveness and turn the pilot experience into actualized change. </p>
					</div>
				</div>
				<div class="full-col desktop:grid-col-12 margin-bottom-2">
					<div class="padding-2 white-bkg">
						<p>As a pilot participant, you will have the opportunity to:</p>
						<ul>
							<li>collaborate on projects that work to design, refine, and deliver a more streamlined approach to security and FedRAMP processes. </li>
							<li>identify ways to reduce the costs of getting or staying authorized </li>
							<li>improve the experience of agencies and cloud service providers reuseing offerings</li>
							<li>explore and showcase innovative cybersecurity approaches</li>
						</ul>
						<p>Participants’ varying expertise and points of view will be vital in improving the accessibility of the market to cloud service providers and making sure agencies have the most up-to-date technology to help government work better for everyone. 
						</p>
						<p>We invite stakeholders to explore current pilot opportunities to participate. Stay informed about future pilot opportunities by joining our mailing list and be the first to know when new pilots are announced. </p>

					</div>
				</div>

			</div>
	</div>
</section>


<!-- Pilot Programs -->

<section class="fedramp-page-container">
	<div class="grid-container">
	
		
		<div class="grid-row">
			<div class="desktop:grid-col-12">
				<!-- Open Pilots -->
				<div class="fedramp-pilot-positions margin-bottom-8">
					<h2>Open Pilots</h2>
					<p><em>Here you will find information about currently open pilots</em></p>
					<div class="pilot-positions">
						<h3><a href="{{site.baseurl}}/significant-change-pilot/">Significant Change Request Pilot: Non-Blocking Change Request: Phase 1 New Features</a></h3>
						<p><strong>Open To:</strong> Cloud Service Providers </p>
						<p><strong>Apply Today:</strong> SCR Pilot application</p>
						<p><strong>Application Window:</strong> 7/8 - 7/26</p>
						<p><strong>Target Selection Date:</strong> 8/9</p>
					</div>
				</div>


				<!-- Upcoming Pilots -->
				<div class="fedramp-pilot-positions margin-bottom-8">
					<p><em>Here you will find information about upcoming pilots</em></p>
					<h2>Upcoming Pilots</h2>
					<div class="pilot-positions">					
						<h3>Digital Authorization Packages</h3>
						<p><strong>Open To:</strong> CSP, Agencies, Tool Providers</p>
					</div>
					<div class="pilot-positions">					
						<h3>Low Review Process</h3>
						<p><strong>Open To:</strong> TBD</p>
					</div>
					<div class="pilot-positions">					
						<h3>SCUBA</h3>
						<p><strong>Open To:</strong> TBD</p>
					</div>
				</div>

				<!-- Closed/Currently Underway Pilots -->
				<div class="fedramp-pilot-positions margin-bottom-8">
					<h2>Closed/Currently Underway Pilots</h2>
					<p><em>Here you will find information about pilots in process, and summary reports of findings, including next steps.</em></p>
				</div>
				
				<!-- Completed Pilots -->
				<div class="fedramp-pilot-positions margin-bottom-8">
					<h2>Completed Pilots</h2>
					<p><em>Here you will find information about completed pilots, and summary reports of findings, including next steps.</em></p>
				</div>
			</div>
		</div>

	</div>

</section>
