---
layout: full-width
---
<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row padding-top-2 grid-gap">
			<div class="tablet:grid-col-12">
				<h2 class="partner-header">Partnering with FedRAMP<sup>®</sup></h2>
			</div>	
		</div>
		
		<div class="full-row grid-row grid-gap padding-top-2 grid-gap partners-main">
			<div class="full-col desktop:grid-col-6 partners-col">
				<div class="intro-text">
					<p>FedRAMP helps federal agencies use cloud services to securely modernize their technology and support their mission. </p>
				</div>
				<div class="partners-main-top-desktop">
					<p>To do this, agencies use FedRAMP’s standardized baselines to evaluate the security of cloud services. For any cloud services that they wish to use, agencies work with Cloud Service Providers (CSPs) to review the security posture and authorize the Cloud Service Offering (CSO). Agencies can review and reuse CSO security packages once they are designated as “Authorized” within the FedRAMP Marketplace by issuing their own authorization to use the product.  FedRAMP’s “do once, use many” principle enables agencies to expand the marketplace of secure cloud services available to the federal government.
</p>
				</div>
			</div>
			<div class="full-col desktop:grid-col-6 partners-col parners-image">
				<img class="partners-images display-none partners-img-1200" src="{{site.baseurl}}/assets/img/partners_fed-agencies_top_desktop.svg" alt="">
				<img class="partners-images display-none partners-img-648" src="{{site.baseurl}}/assets/img/partners_fed-agencies_top_tablet.svg" alt="">
				<img class="partners-images display-none partners-img-320" src="{{site.baseurl}}/assets/img/partners_fed-agencies_top_mobile.svg" alt="">
			</div>
		</div>

	</div>	
</section>

<section class="fedramp-page-container lightest-gray-bkg">
	<div class="grid-container partners-callout">
		<div class="full-row grid-row">
				<div class="full-col desktop:grid-col-12">
					<div class="padding-2">
						<div class="grid-row padding-y-4">
							<div class="tablet:grid-col-2">
								<div class="callout-img-container">
									<img class="partners-callout-icon" src="{{site.baseurl}}/assets/img/fedramp-can-help.svg" alt="">
								</div>
							</div>
							<div class="tablet:grid-col-10 tablet:padding-x-4 can-help">

								<h3 class="no-line margin-top-0">How FedRAMP Can&nbsp;Help</h3>
								<p class="tablet:margin-bottom-0">It is one of FedRAMP’s priorities to support agencies and their journey to using the latest cloud technologies. The FedRAMP PMO is here to assist and guide agencies through the FedRAMP Authorization process. To get started, please contact us at <a href="mailto:info@fedramp.gov"  target="_blank">info@fedramp.gov</a>.</p>
								<p class="margin-top-4"><a href="mailto:info@fedramp.gov"  target="_blank" class="partner-learn-more">Get Support</a></p>
							</div>
						</div>
					
					</div>
				</div>
			</div>
	</div>
</section>


<section class="teal-bkg fedramp-page-container">
	<div class="grid-container">
		
		<div class="grid-row">
			<div class="desktop:grid-col-12">
				<h2 class="text-white center">Resources for Federal Agencies</h2>
			</div>
		</div>

		<div class="grid-row margin-top-4">
			<div class="tablet:grid-col-6">
				<div class="partners-card padding-4 tablet:margin-right-2">
					<h3 class="margin-top-0 margin-bottom-3">Package Access Request Form</h3>
					<p>The <em>Package Access Request Form</em> can be used by any federal agency that is seeking to use a CSO that is already FedRAMP Authorized. Once it is completed and approved by the FedRAMP PMO, agencies can gain access to FedRAMP security assessment packages for up to 60 days. Additional 30 day increments may be granted upon request.</p>
					<p class="file-type">[File Info: PDF - 285KB]</p>
					<div class="margin-top-4 margin-bottom-2">
						<a class="partners-download policy-pdf" href="https://www.fedramp.gov/assets/resources/documents/Agency_Package_Request_Form.pdf" target="_blank">Download</a>
					</div>
				</div>
				
			</div>

			<div class="tablet:grid-col-6 partners-card-mobile-row ">
				<div class="partners-card padding-4 tablet:margin-left-2 mobile:margin-top-2 tablet:margin-top-0">

					<h3 class="margin-top-0 margin-bottom-3">Agency Authorization Playbook</h3>
					<p>The <em>Agency Authorization Playbook</em> provides agencies with step-by-step guidance, best practices, and tips to successfully implement the FedRAMP Agency Authorization process.</p>
					<p class="file-type">[File Info: PDF - 1.3MB]</p>
					<div class="margin-top-4 margin-bottom-2">
						<a class="partners-download policy-pdf" href="https://www.fedramp.gov/assets/resources/documents/Agency_Authorization_Playbook.pdf" target="_blank">Download</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="grid-row margin-top-4">
			<div class="tablet:grid-col-6">
				<div class="partners-card padding-4 tablet:margin-right-2">
					<h3 class="margin-top-0 margin-bottom-3">Reusing Authorizations for Cloud Products Quick Guide</h3>
					<p>The <em>Reusing Authorizations for Cloud Products Quick Guide</em> outlines steps and guidance to help agencies quickly and efficiently reuse authorized cloud products within the FedRAMP Marketplace.</p>
					<p class="file-type">[File Info: PDF - 74KB]</p>
					<div class="margin-top-4 margin-bottom-2">
						<a class="partners-download policy-pdf" href="https://www.fedramp.gov/assets/resources/documents/Reusing_Authorizations_for_Cloud_Products_Quick_Guide.pdf" target="_blank">Download</a>
					</div>
				</div>
				
			</div>

			<div class="tablet:grid-col-6 partners-card-mobile-row ">
				<div class="partners-card padding-4 tablet:margin-left-2">
<h3 class="margin-top-0 margin-bottom-3">FedRAMP’s Training Page</h3>
					<p><em>FedRAMP’s Training page</em> has a path specifically for agencies. Courses that are available to agencies include the Information System Security Officer (ISSO) On-demand modules and live, virtual half-day virtual ISSO Training sessions. These trainings provide agency stakeholders with step-by-step guidance, best practices, and tips to successfully implement the FedRAMP Authorization process.</p>
					<div class="margin-top-4 margin-bottom-2">
						<a class="partners-download policy-web" href="{{site.baseurl}}/training/">Visit Page</a>
					</div>
					
				</div>
			</div>
		</div>
		
	
	</div>

</section>
