---
layout: full-width
---
<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row padding-top-2">
			<div class="full-col">
			</div>
		</div>
		<div class="full-row grid-row tablet:padding-top-2 grid-gap">
			<div class="full-col">
				<div class="intro-text">
					<p>The Federal Risk and Authorization Management Program operates in a complex matrix of shared or distributed responsibilities across the federal government. It can be difficult to keep track of who is involved in different areas, what their responsibilities are, and how they will interact with FedRAMP.</p>
					
				</div>
			</div>
			
		</div>
	</div>	
</section>






<section class="lightest-gray-bkg fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row padding-bottom-4">
			<p class="margin-top-0 margin-bottom-2">When applicable, FedRAMP coordinates among the key entities who make up the operation of the program itself and represents them in interactions with FedRAMP stakeholders. Each entity will interact with different groups related to FedRAMP.</p>
		<div class="grid-row">
			<div class="desktop:grid-col-4">
				<div class="full-row grid-row grid-gap fedramp-pilots-card">
				<div class="full-col desktop:grid-col-4 margin-bottom-4">
					<div class="padding-2 red-bkg text-white text-center">
						<h4>Ensuring that we are considering all stakeholder points of view.</h4>
					</div>
					<div class="white-bkg padding-2 minh-card-lg">
						<p>To achieve this, our aim is to include partners across agencies, academia, industry, and internal teams in the pilot process.</p>
					</div>
				</div>

				<div class="full-col desktop:grid-col-4 margin-bottom-4">
					<div class="padding-2 teal-bkg text-white text-center">
						<h4>Making a measurable, positive difference in FedRAMP’s operations.</h4>
					</div>
					<div class="white-bkg padding-2 minh-card-lg">
						<p>Our pilot programs will start with a defined transformative hypothesis to test and the anticipated results for our stakeholders. </p>
					</div>
				</div>

				<div class="full-col desktop:grid-col-4 margin-bottom-4">
					<div class="padding-2 blue-bkg text-white text-center">
						<h4>Increasing collaboration between FedRAMP and stakeholders. </h4>
					</div>
					<div class="white-bkg padding-2 minh-card-lg">
						<p>Communication between participants and the program during the pilot testing period will be key, and participants will regularly share processes, best practices, and successful examples to improve program effectiveness and turn the pilot experience into actualized change. </p>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
