---
layout: full-width
---
<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row padding-top-2">
			<div class="full-col">
				<h2 class="">The FedRAMP Governance & Advisory Ecosystem</h2>
			</div>
		</div>
		<div class="full-row grid-row tablet:padding-top-2 grid-gap">
			<div class="full-col">
				<div class="intro-text">
					<p>The Federal Risk and Authorization Management Program operates in a complex matrix of shared or distributed responsibilities across the federal government. It can be difficult to keep track of who is involved in different areas, what their responsibilities are, and how they will interact with FedRAMP.</p>
					
				</div>
			</div>
			
		</div>
	</div>	
</section>






<section class="lightest-gray-bkg fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row padding-bottom-4">
			<p>When applicable, FedRAMP coordinates among the key entities who make up the operation of the program itself and represents them in interactions with FedRAMP stakeholders. Each entity will interact with different groups related to FedRAMP.</p>
			<div class="full-col padding-x-2 tablet:padding-x-8 padding-y-4 desktop:grid-col-12 white-bkg">
				<div class="full-row grid-row">
					<div class="full-col tablet:grid-col-8 tablet:grid-offset-2 tablet-lg:grid-col-6 tablet-lg:grid-offset-3 desktop:grid-col-4 desktop:grid-offset-4">
							<div class="grid-row">
								<div class="grid-col-4">
									<div class="authorization-phase-icon">
										<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/governance-dhs.svg" alt="">
									</div>
								</div>
								<div class="grid-col-4">
									<div class="authorization-phase-icon">
										<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/governance-gsa.svg" alt="">
									</div>
								</div>
								<div class="grid-col-4">
									<div class="authorization-phase-icon">
										<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/governance-dod.svg" alt="">
									</div>
								</div>
							</div>
					</div>
				</div>	
				<p>When applicable, FedRAMP coordinates among the key entities who make up the operation of the program itself and represents them in interactions with FedRAMP stakeholders. Each entity will interact with different groups related to FedRAMP.</p>
				<ul class="red-bullets">
					<li>Defining and regularly updating the FedRAMP security authorization requirements</li>
					<li>Approving accreditation criteria for Third Party Assessment Organizations (3PAOs)</li>
					<li>Reviewing authorization packages for cloud services based on the priority queue</li>
					<li>Granting provisional authorizations for cloud services that can be used as an initial approval that Executive departments and agencies leverage in granting security authorizations and an accompanying Authority to Operate (ATO) for use</li>
					<li>Ensuring that provisional authorizations are reviewed and updated regularly and notify Executive departments and agencies of any changes to provisional authorizations including removal of such authorizations</li>
					<li>Establishing and publishing priority queue requirements for authorization package reviews</li>
				</ul>
			</div>
		</div>

		<div class="grid-row">
			<div class="desktop:grid-col-3">
				<div class="governance-card padding-4 desktop:margin-right-2">
					<div class="authorization-phase-icon">
						<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/governance-omb.svg" alt="">
					</div>	
					<h3 class="center margin-top-0">Office of Management and Budget (OMB)</h3>
					<p>The governing body that issued the FedRAMP policy memo which defines the key requirements and capabilities of the program.</p>
				</div>
				
			</div>
			<div class="desktop:grid-col-3">
				<div class="governance-card padding-4 desktop:margin-x-2">
					<div class="authorization-phase-icon">
						<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/governance-cio-council.svg" alt="">
					</div>
					<h3 class="center margin-top-0">Chief Information Officer (CIO) Council</h3>
					<p>Disseminates FedRAMP information to Federal CIOs and other representatives through cross-agency communications and events.</p>
				</div>
			</div>
			<div class="desktop:grid-col-3">
				<div class="governance-card padding-4 desktop:margin-left-2">
					<div class="authorization-phase-icon">
						<img class="home-partners-icon nist-logo" src="{{site.baseurl}}/assets/img/governance-nist.svg" alt="">
					</div>
					<h3 class="center margin-top-0">National Institute for Standards and Technology (NIST)</h3>
					<p>Advises FedRAMP on Federal Information Security Modernization Act (FISMA) compliance requirements.</p>
				</div>
				
			</div>

			<div class="desktop:grid-col-3">
				<div class="governance-card padding-4 desktop:margin-left-2">
					<div class="authorization-phase-icon">
						<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/FSCAC-stacked-logo.png" alt="">
					</div>
					<h3 class="center margin-top-0">Federal Secure Cloud Advisory Committee (FSCAC)</h3>
					<p>Provides advice and recommendations to the GSA Administrator, the FedRAMP Board, and agencies on technical, financial, programmatic, and operational matters regarding secure adoption of cloud computing products and services.</p>
				</div>
				
			</div>
		</div>
	</div>

</section>
