---
layout: full-width
---
<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row padding-top-2">
			<div class="full-col">
			</div>
		</div>
		<div class="full-row grid-row tablet:padding-top-2 grid-gap">
			<div class="full-col">
				<div class="intro-text">
					<p>The Federal Risk and Authorization Management Program operates in a complex matrix of shared or distributed responsibilities across the federal government. Learn more about who is involved, their responsibilities, and how they interact with FedRAMP.</p>
					
				</div>
			</div>
			
		</div>
	</div>	
</section>






<section class="fedramp-page-container lightest-gray-bkg">
	<div class="grid-container partners-callout">
		<div class="full-row grid-row ">
				<div class="full-col desktop:grid-col-12">
					<div class="padding-2">
						<p class="text-left">When applicable, FedRAMP coordinates among the key entities who make up the operation of the program itself and represents them in interactions with FedRAMP stakeholders. Each entity will interact with different groups related to FedRAMP.</p>
					</div>
				</div>
			</div>
			<div class="full-row grid-row grid-gap fedramp-pilots-card">
				<div class="full-col desktop:grid-col-4 margin-bottom-4">
					<div class="padding-2 red-bkg text-white text-center gov-card-head">
						<h4>Cloud service providers (CSPs):</h4>
					</div>
					<div class="white-bkg padding-2 minh-card-lg">
						<ul class="red-bullets">
						<li>FedRAMP</li>
						<li>The Office of the Chief Information Officer at any agency who intends to use your offering</li>
						<li>The 3PAO contracted to provide independent assessment of your offering</li>
						</ul>
					</div>
				</div>

				<div class="full-col desktop:grid-col-4 margin-bottom-4">
					<div class="padding-2 teal-bkg text-white text-center gov-card-head">
						<h4>Government agencies:</h4>
					</div>
					<div class="white-bkg padding-2 minh-card-lg">
						<ul class="red-bullets">
						<li>FedRAMP</li>
						<li>The CSP who operates the offering</li>
						<li>The 3PAO contracted by the CSP to assess the offering</li>
						</ul>
					</div>
				</div>

				<div class="full-col desktop:grid-col-4 margin-bottom-4">
					<div class="padding-2 blue-bkg text-white text-center gov-card-head">
						<h4>Third party assessment organizations (3PAOs):</h4>
					</div>
					<div class="white-bkg padding-2 minh-card-lg">
						<ul class="red-bullets">
						<li>FedRAMP</li>
						<li>The CSP who operates the offering</li>
						<li>The Office of the Chief Information Officer at any agency who intends to use the offering you are assessing</li>
							</ul>
					</div>

			</div>
		</div>
	</div>

</section>

<section class="fedramp-page-container in-page-nav-section in-page-nav-section-horizontal training-courses">
		<div class="grid-container">
			
	<div class="full-row grid-row">
            <div class="full-col desktop:grid-col-12 padding-3">
              <h2  class="margin-top-1">Who makes up FedRAMP within the government?</h2>
                <p><FedRAMP coordinates with multiple groups who represent various interests and who play complementary roles within the FedRAMP ecosystem. These groups are:</p>
			<ul class="red-bullets">
				<li>The FedRAMP Board</li>
				<li>The FedRAMP Technical Advisory Group</li>
				<li><a href="https://www.gsa.gov/technology/government-it-initiatives/federal-secure-cloud-advisory-committee" target="_blank" rel="noopener noreferrer">The Federal Secure Cloud Advisory Committee (FSCAC)</a></li>
				<li><a href="https://www.gsa.gov/" target="_blank" rel="noopener noreferrer">The General Services Administration</a></li>
				<li><a href="https://www.whitehouse.gov/omb/" target="_blank" rel="noopener noreferrer">The Office of Management and Budget (OMB) within the Executive Office of the President</a></li>
				<li><a href="https://www.dhs.gov/" target="_blank" rel="noopener noreferrer">The Department of Homeland Security (DHS)</a></li>
				<li><a href="https://www.cisa.gov/" target="_blank" rel="noopener noreferrer">The Cybersecurity and Infrastructure Security Agency (CISA) within the Department of Homeland Security</a></li>
				<li><a href="https://www.nist.gov/" target="_blank" rel="noopener noreferrer">The National Institute of Standards and Technology (NIST) within the Department of Commerce</a></li>
				<li><a href="https://www.cio.gov/" target="_blank" rel="noopener noreferrer">The Chief Information Officers Council</a></li>
				<li><a href="https://www.acquisition.gov/cao-home" target="_blank" rel="noopener noreferrer">The Chief Acquisition Officers Council</a></li>
			</ul>
			
		</div>
	</div>
		</div>
</section>

<section class="lightest-gray-bkg fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col tablet:grid-offset-1 tablet:grid-col-10 padding-4 margin-bottom-4 white-bkg auth-resources">
				<div class="full-row grid-row grid-gap auth-resources-row">
					<h3>The FedRAMP Board</h3>
					<p>A body of federal executives that are responsible for reviewing and approving FedRAMP policies, and for bringing together their fellow federal technology leaders to expand FedRAMP’s capacity for authorizing cloud services.</p>
					<p>The FedRAMP Board is defined in <a href="https://uscode.house.gov/view.xhtml?req=granuleid:USC-prelim-title44-section3610&num=0&edition=prelim#futureamendment-note" target="_blank" rel="noopener noreferrer">44 USC 3610</a> and reinforced in <a href="https://www.whitehouse.gov/omb/management/ofcio/m-24-15-modernizing-the-federal-risk-and-authorization-management-program-fedramp/" target="_blank" rel="noopener noreferrer">M-24-15</a>.</p>					
					<div class="full-col tablet:grid-col-10 padding-right-4">
						<p><b><a href="https://uscode.house.gov/view.xhtml?req=granuleid:USC-prelim-title44-section3610&num=0&edition=prelim#futureamendment-note" target="_blank" rel="noopener noreferrer">44 USC 3610</a></b></p>
						<p><em>“to provide input and recommendations to the Administrator regarding the requirements and guidelines for, and the prioritization of, security assessments of cloud computing products and services.”</em></p>
						<p><b><a href="https://www.whitehouse.gov/omb/management/ofcio/m-24-15-modernizing-the-federal-risk-and-authorization-management-program-fedramp/" target="_blank" rel="noopener noreferrer">M-24-15</a></b></p>
						<p><em>“The FedRAMP Board, composed of Federal technology leaders appointed by OMB, provides input to GSA, establishes guidelines and requirements for security authorizations, consistent with relevant standards and guidelines of NIST, and supports and promotes the program within the Federal community.“</em></p>
					</div>
				</div>
			</div>
			<div class="full-col tablet:grid-offset-1 tablet:grid-col-10 padding-4 margin-bottom-4 white-bkg auth-resources">	
				<div class="full-row grid-row grid-gap auth-resources-row">
					<h3>The Federal Secure Cloud Advisory Committee (FSCAC)</h3>
					<p>An independent advisory body with government and private-sector members that makes recommendations to GSA on making FedRAMP a more effective program.</p>
					<p>More about the FSCAC can be found in <a href="https://uscode.house.gov/view.xhtml?req=granuleid:USC-prelim-title44-section3616&num=0&edition=prelim#futureamendment-note" target="_blank" rel="noopener noreferrer">44 USC 3616</a></b>, <a href="https://www.whitehouse.gov/omb/management/ofcio/m-24-15-modernizing-the-federal-risk-and-authorization-management-program-fedramp/" target="_blank" rel="noopener noreferrer">M-24-15</a>, and <a href="https://www.gsa.gov/technology/government-it-initiatives/federal-secure-cloud-advisory-committee" target="_blank" rel="noopener noreferrer">FSCAC's web page</a>.</p>					
					<div class="full-col tablet:grid-col-10 padding-right-4">
						<p><b><a href="https://uscode.house.gov/view.xhtml?req=granuleid:USC-prelim-title44-section3616&num=0&edition=prelim#futureamendment-note" target="_blank" rel="noopener noreferrer">44 USC 3616</a></b></p>
						<p><em>“ensure effective and ongoing coordination of agency adoption, use, authorization, monitoring, acquisition, and security of cloud computing products and services to enable agency mission and administrative priorities.”</em></p>

						<p><b><a href="https://www.whitehouse.gov/omb/management/ofcio/m-24-15-modernizing-the-federal-risk-and-authorization-management-program-fedramp/" target="_blank" rel="noopener noreferrer">M-24-15</a></b></p>
						<p><em>“...GSA and the FedRAMP Board should engage with industry, through the FSCAC and other mechanisms as appropriate...“</em></p>
					</div>
				</div>
			</div>
			<div class="full-col tablet:grid-offset-1 tablet:grid-col-10 padding-4 white-bkg auth-resources">	
				<div class="full-row grid-row grid-gap auth-resources-row">
					<h3>The FedRAMP Technical Advisory Group (TAG)</h3>
					<p>An advisory body made up of federal employees with significant practical experience and expertise in modern cloud technology. The Technical Advisory Group provides advice to FedRAMP and the FedRAMP Board as requested.</p>
					<p>More about the TAG can be found in <a href="https://www.whitehouse.gov/omb/management/ofcio/m-24-15-modernizing-the-federal-risk-and-authorization-management-program-fedramp/" target="_blank" rel="noopener noreferrer">M-24-15</a>.</b></p>					
					<div class="full-col tablet:grid-col-10 padding-right-4">
						<p><b><a href="https://www.whitehouse.gov/omb/management/ofcio/m-24-15-modernizing-the-federal-risk-and-authorization-management-program-fedramp/" target="_blank" rel="noopener noreferrer">M-24-15</a></b></b></p>
						<p><em>“OMB and GSA will establish a Technical Advisory Group (TAG) to provide additional subject matter expertise to FedRAMP. The FedRAMP TAG will consist of a team of Federal practitioners not directly associated with the FedRAMP program that will provide advice and insights to FedRAMP on an as-needed basis. The TAG is not a governance body and only provides technical advice on pre-decisional information and situations, making it distinct from the FSCAC or the FedRAMP Board.”</em></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
