---
layout: base
---

<section id="home-banner">
	<div class="hero-unit" style="">
    	<div class="usa-grid">
			<div class="hero-text">
			<h1>Securing Cloud Services</h1>
			<h3>For the Federal Government</h3>
				<div class="hero-text-description">
					<p>{{ page.hero-secondary-text }}</p>
				</div>
			
				<div class="home-hero-buttons">
					<a href="#" class="hero-program"><button>Learn Program Basics</button></a>
					<a href="#" class="hero-process"><button>Meet The Process</button></a>
				</div>
			</div>
    	</div>
	</div>
</section>

<div class="partners-container">
	<div class="home-partners-title">
		<h3>Information for Our Partners</h3>
	</div>
	<div class="home-partners-icons">
		<div class="parnters-col home-partners-col-1">
			<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/partners-cloud-service.svg" alt="Cloud Services Providers">
			<div class="home-partners-text">
				<h2>Cloud Service Providers</h2>
				<p>Provide your cloud service offering to the Federal Government</p>
				<a href="#" class="partner-learn-more"><button>Learn More</button></a>
			</div>
		</div>
		
		<div class="parnters-col home-partners-col-2">
			<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/partners-agencies.svg" alt="Agencies">
			<div class="home-partners-text">
				<h2>Agencies</h2>
				<p>Adopt secure innovative cloud services to meet your Agency’s critical mission needs</p>
				<a href="#" class="partner-learn-more"><button>Learn More</button></a>
			</div>
		</div>
		
		<div class="parnters-col home-partners-col-3">
			<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/partners-assessors.svg" alt="Assesors">
			<div class="home-partners-text">
				<h2>Assessors</h2>
				<p>Assess cloud services to ensure they meet FedRAMP requirements</p>
				<a href="#" class="partner-learn-more"><button>Learn More</button></a>
			</div>
		</div>
		
	</div>
	<div class="clearfix"></div>
</div>

<div class="blog-market-links-wrapper">
<section class="blog-market-links">
	<div class="blog-group">
    <h4>Focus on FedRAMP Blog</h4>
    {% include posts-front.html %}
	</div>
	<div class="market">
		<h4>Marketplace</h4>
		<p>{{ page.marketplace-text }}</p>
		<a href="https://marketplace.fedramp.gov/"><span><button>VISIT</button><i class="fas fa-shopping-basket"></i></span></a>
	</div>
	<div class="links">
		<h4>Quick Links</h4>
		<ul>
			<li><i class="fas fa-compass"></i><a href="{{site.baseurl}}/documents">FedRAMP Documents</a></li>
			<li><i class="fas fa-compass"></i><a href="{{site.baseurl}}/templates">FedRAMP Templates</a></li>
			<li><i class="fas fa-compass"></i><a href="{{site.baseurl}}/faqs">Frequently Asked Questions</a></li>
			<li><i class="fas fa-compass"></i><a href="{{site.baseurl}}/team">Meet Our Team</a></li>
		</ul>
	</div>
	</section>
</div>
<section class="auth-process">
	<h2>{{ page.fed-authorize-header }}</h2>
	<p>{{ page.fed-authorize-text }}</p>
</section>
<div class="process-diagram">
	<p>Click within the below diagram to learn more.</p>
	<div class="process-container">
	<ul class="column-1">
		<li class="jab-first">JAB<i class="fas fa-arrow-circle-right"></i></li>
		<li class="seek">WAYS TO SEEK AUTHORIZATION</li>
		<li class="agency-first">AGENCY<i class="fas fa-arrow-circle-right"></i></li>
	</ul>
	<ul class="column-2">
		<li class="jab-one-two">
			<ul>
				<li class="readiness"><span>1</span>Readiness Assessment & FedRAMP Connect</li>
				<li class="security"><span>2</span>Full Security Assessment</li>
			</ul>
		</li>
			<li class="prep">PREPARATION</li>
		<li class="agency-one-two">
			<ul>
				<li class="one"><span>1</span>Partnership Establishment</li>
				<li class="two"><span>2</span>Full Security Assessment</li>
			</ul>
		</li>
	</ul>
	<ul class="column-3">
		<li class="jab-auth"><span>3</span>JAB Authorization <br/>Process</li>
			<li class="auth">AUTHORIZATION</li>
			<li class="agency-auth"><span>3</span>Agency Authorization <br/>Process</li>
	</ul>
	<ul class="column-4">
			<li class="jab-conmon"><span><img src="{{site.baseurl}}/assets/img/conmon-process.png"></span>JAB ConMon</li>
			<li class="conmon">CONTINUOUS MONITORING</li>
			<li class="agency-conmon"><span><img src="{{site.baseurl}}/assets/img/conmon-process-red.png"></span>Agency ConMon</li>
	</ul>
	</div>
</div>
<!--<div class="values-wrapper">
<section class="values-section">
    <h2>Read about the FedRAMP Values</h2>
	<button><a href="#">CLICK HERE</a></button>
</section>
</div>-->



