---
layout: base
---

<section tabindex="-1" id="home-banner" class="clear-fix">
	<div class="hero-unit">
    	<div class="usa-grid grid-gap">
			<div class="hero-text grid-col-8">
			<h1>Securing Cloud Services</h1>
			<h2>For the Federal Government</h2>
				<div class="hero-text-description margin-bottom-4">
					<p>The Federal Risk and Authorization Management Program (FedRAMP) provides a standardized approach to security authorizations for cloud service offerings.</p>
				</div>
			
				<div class="home-hero-buttons">
					<a class="hero-program" href="{{site.baseurl}}/program-basics/">Learn Program Basics</a><div class="hero-button-break"></div>
					<a class="hero-process" href="#auth-process">Meet The Process</a>
				</div>
			</div>
    	</div>
	</div>
</section>

<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="partners-container grid-row">
			<div class="desktop:grid-col-12">
				<div class="home-partners-title">
					<h2 class="text-center margin-bottom-2">Information for <span class="text-no-wrap">Our Partners</span></h2>
				</div>
			</div>
		</div>
		<div class="partners-container grid-row home-partners-title" style="margin-top: 0;">
			<div class="desktop:grid-col-4 padding-2">
				<div class="grid-row">
					<div class="desktop:grid-col-3 grid-col-auto text-left">
						<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/partners-cloud.svg" alt="">
					</div>
					<div class="desktop:grid-col-9 grid-col-fill padding-left-4">
						<div class="home-partners-text">
							<h3>Cloud Service Providers</h3>
							<p class="margin-bottom-4">Provide your cloud service offering to the Federal Government</p>
							<a href="{{site.baseurl}}/cloud-service-providers/" class="partner-learn-more">Start Process</a>
						</div>
					</div>
				</div>
				<hr class="partner-divider desktop:display-none">
			</div>
			
			<div class="desktop:grid-col-4 padding-2">
				<div class="grid-row">
					<div class="desktop:grid-col-3 grid-col-auto text-left">
						<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/partners-agencies.svg" alt="">
					</div>
					<div class="desktop:grid-col-9 grid-col-fill padding-left-4">
						<div class="home-partners-text">
							<h3>Federal Agencies</h3>
							<p class="margin-bottom-4">Adopt secure innovative cloud services to meet your agency’s critical mission needs</p>
							<a href="{{site.baseurl}}/federal-agencies/" class="partner-learn-more">Learn How</a>
						</div>
					</div>
				</div>
				<hr class="partner-divider desktop:display-none">
			</div>
			
			
			<div class="desktop:grid-col-4 padding-2">
				<div class="grid-row">
					<div class="desktop:grid-col-3 grid-col-auto text-left">
						<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/partners-assessors.svg" alt="">
					</div>
					<div class="desktop:grid-col-9 grid-col-fill padding-left-4">
						<div class="home-partners-text">
							<h3>Assessors</h3>
							<p class="margin-bottom-4">Assess cloud services to ensure they meet FedRAMP requirements</p>
							<a href="{{site.baseurl}}/assessors/" class="partner-learn-more">Review Steps</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>	
</section>

<section id="auth-process" class="auth-process fedramp-page-container">
	<div class="grid-container">
		<div class="grid-row">
			<div class="desktop:grid-col-12">
					<h2 class="center">FedRAMP Authorization Process</h2>
					<p class="auth-process-description margin-bottom-8">There are two ways to authorize a cloud service offering (CSO) through FedRAMP, through an individual agency or the Joint Authorization Board (JAB).</p>
			</div>
			
		</div>
		<div class="grid-row">
			<div class="desktop:grid-col-12">
				
				<a href="{{site.baseurl}}/agency-authorization/" class="agency-home desktop:dispay-block"><img class="" src="{{site.baseurl}}/assets/img/agency-process-button.svg" alt="Federal Agency Process"></a>
				
				<a href="{{site.baseurl}}/jab-authorization/" class="jab-home desktop:dispay-block"><img class="" src="{{site.baseurl}}/assets/img/jab-process-button.svg" alt="JAB Authorization Process"></a>
				

				<img class="display-none authorization-desktop" src="{{site.baseurl}}/assets/img/fedramp-authorization-process-home-desktop.svg" alt="There are 2 main paths available to follow as a part of the FedRAMP authorization process. The path a CSP selects depends on their business strategy." aria-describedby="chart-description">
				<img class="display-none authorization-tablet" src="{{site.baseurl}}/assets/img/fedramp-authorization-process-home-tablet.svg" alt="There are 2 main paths available to follow as a part of the FedRAMP authorization process. The path a CSP selects depends on their business strategy." aria-describedby="chart-description">
				<img class="display-none authorization-mobile" src="{{site.baseurl}}/assets/img/fedramp-authorization-process-home-mobile.svg" alt="There are 2 main paths available to follow as a part of the FedRAMP authorization process. The path a CSP selects depends on their business strategy." aria-describedby="chart-description">
				
				<div id="chart-description" style="display: none;">
					<p>The first step of the process is for a cloud service provider to select an authorization approach. There are two approaches to obtaining a FedRAMP Authorization, through the Joint Authorization Board or through an agency. </p>

					<p>The next phase is preparation. The first step in the agency path is Partnership Establishment and the second is Readiness Assessment. In the agency process, the Readiness Assessment is not required, but is highly recommended. Within the JAB path, Preparation includes the steps FedRAMP Connect and the Readiness Assessment. Some CSPs may pursue FedRAMP Ready prior to FedRAMP Connect, and some may pursue it after they are prioritized. Unlike in the agency process, the Readiness Assessment is required. </p>

					<p>The next phase is Authorization. The authorization phase looks different for both agency and JAB, however the overarching steps remain the same, starting with a full security assessment and finishing with an authorization process. Present throughout this entire process, regardless of which path you choose, is continuous monitoring to ensure a smooth and proper authorization process.</p>
				</div>
				
				<p class="optional-auth margin-top-4"><em>Note&#58; Readiness Assessment is optional but highly recommended</em></p>
			</div>
		</div>
	</div>	
</section>

<section class="fedramp-glance">
<h2>FedRAMP at a Glance</h2>
<ul class="glance-numbers">
	<li>
	<img src="{{site.baseurl}}/assets/img/glance-ready.svg" alt="">
	<span>
	<p>Ready</p>
	<p class="number">23</p>
	</span>
	</li>
	
	<li>
		<img src="{{site.baseurl}}/assets/img/glance-process.svg" alt="">
	<span>
	<p>In Process</p>
	<p class="number">49</p>
	</span>
	</li>
	
	<li>
		<img src="{{site.baseurl}}/assets/img/glance-authorized.svg" alt="">
	<span>
	<p>Authorized</p>
	<p class="number">199</p>
	</span>
	</li>
</ul>
</section>

<a id="topButton"></a>
