---
layout: base
---

<section id="home-banner">
	<div class="hero-unit">
    	<div class="usa-grid grid-gap">
			<div class="hero-text grid-col-8">
			<h1>Securing Cloud Services</h1>
			<h3>For the Federal Government</h3>
				<div class="hero-text-description margin-bottom-4">
					<p>The Federal Risk and Authorization Management Program (FedRAMP) provides a standardized approach to security authorizations for cloud service offerings.</p>
				</div>
			
				<div class="home-hero-buttons">
					<button class="hero-program"><a href="{{site.baseurl}}/program-basics/">Learn Program Basics</a></button>
					<button class="hero-process"><a href="#auth-process">Meet The Process</a></button>
				</div>
			</div>
    	</div>
	</div>
</section>

<section>
	<div class="grid-container">
		<div class="partners-container grid-row grid-gap">
			<div class="desktop:grid-col-12">
				<div class="home-partners-title">
					<h2 class="text-center">Information for Our Partners</h2>
				</div>
			</div>
		</div>
		<div class="partners-container grid-row home-partners-title" style="margin-top: 0;">
			<div class="tablet:grid-col-4 padding-x-2">
				<div class="grid-row">
					<div class="grid-col-4">
						<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/partners-cloud.svg" alt="">
					</div>
					<div class="grid-col-8">
						<div class="home-partners-text">
							<h3>Cloud Service Providers</h3>
							<p>Provide your cloud service offering to the Federal Government</p>
							<a href="{{site.baseurl}}/cloud-service-providers/" class="partner-learn-more"><button>Learn More</button></a>
						</div>
					</div>
				</div>	
			</div>
			<div class="tablet:grid-col-4 padding-x-2">
				<div class="grid-row">
					<div class="grid-col-4">
						<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/partners-agencies.svg" alt="">
					</div>
					<div class="grid-col-8">
						<div class="home-partners-text">
							<h3>Agencies</h3>
							<p>Adopt secure innovative cloud services to meet your agency’s critical mission needs</p>
							<a href="/federal-agencies/" class="partner-learn-more"><button>Learn More</button></a>
						</div>
					</div>
				</div>
			</div>

			<div class="tablet:grid-col-4 padding-x-2">
				<div class="grid-row">
					<div class="grid-col-4">
						<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/partners-assessors.svg" alt="">
					</div>
					<div class="grid-col-8">
						<div class="home-partners-text">
							<h3>Assessors</h3>
							<p>Assess cloud services to ensure they meet FedRAMP requirements</p>
							<a href="{{site.baseurl}}/assessors/" class="partner-learn-more"><button>Learn More</button></a>
						</div>
					</div>
				</div>
			</div>

			<div class="clearfix"></div>
		</div>
	</div>	
</section>

<section id="auth-process" class="auth-process padding-y-8">
	<h2>FedRAMP Authorization Process</h2>
	<p class="auth-process-description margin-bottom-8">There are two ways to authorize a cloud service offering (CSO) through FedRAMP through an individual Agency or the Joint Authorization Board (JAB).</p>
		
	<!-- Process Diagram -->
		<div class="process-diagram">
			<div class="grid-row">
				<div class="desktop:grid-col-12">
					
					<img class="display-none authorization-desktop" src="{{site.baseurl}}/assets/img/fedramp-authorization-process-home-desktop.svg" alt="{{ page.fedramp-authorization-chart-alt-text }}">
					<img class="display-none authorization-tablet" src="{{site.baseurl}}/assets/img/fedramp-authorization-process-home-tablet.svg" alt="{{ page.fedramp-authorization-chart-alt-text }}">
					<img class="display-none authorization-mobile" src="{{site.baseurl}}/assets/img/fedramp-authorization-process-home-mobile.svg" alt="{{ page.fedramp-authorization-chart-alt-text }}">
				</div>
			</div>
			
		
			<p class="optional-auth"><span class="asterisk">*</span><em> Optional but highly recommended for agency authorizations</em></p>
		</div>
	
</section>
<section class="fedramp-glance">
<h2>FedRAMP at a Glance</h2>
<ul class="glance-numbers">
	<li>
	<img src="{{site.baseurl}}/assets/img/glance-ready.svg" alt="">
	<span>
	<p>Ready</p>
	<p class="number">22</p>
	</span>
	</li>
	
	<li>
		<img src="{{site.baseurl}}/assets/img/glance-process.svg" alt="">
	<span>
	<p>In Process</p>
	<p class="number">54</p>
	</span>
	</li>
	
	<li>
		<img src="{{site.baseurl}}/assets/img/glance-authorized.svg" alt="">
	<span>
	<p>Authorized</p>
	<p class="number">179</p>
	</span>
	</li>
</ul>
</section>



