---
layout: base
---

<section>
  <div class="hero-unit" style="background-image: url('{{ page.hero-image | prepend: site.baseurl }}')">
    <div class="usa-grid">
      <div class="usa-width-whole hero-content">
        <h1>{{ page.hero-text }}</h1>
        <p>{{ page.hero-secondary-text }}</p>
      </div>
    </div>
  </div>
</section>

<section class="usa-grid usa-section">
    <h2>Partners We Serve</h2>
    {% include projects.html %}
</section>

<section class="usa-grid usa-section home-blog">
    <h2>Focus on FedRAMP Blog</h2>
    {% include posts.html %}
</section>


