---
layout: full-width
---
<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row padding-top-2">
			<div class="full-col desktop:grid-col-12">
				<h2 class="">The Joint Authorization Board Authorization Path</h2>
			</div>
		</div>
		<div class="full-row grid-row tablet:padding-top-2 grid-gap">
			<div class="full-col desktop:grid-col-6 intro-text">
				<p>The first step for any Cloud Service Provider (CSP) interested in pursuing a FedRAMP authorization for their Cloud Service Offering (CSO) is to determine their authorization strategy. There are two paths a CSP can pursue to achieve a FedRAMP authorization&#58; a Provisional Authority to Operate (P-ATO) from the Joint Authorization Board (JAB) and an Agency Authority to Operate (ATO).</p>
			</div>
			<div class="full-col desktop:grid-col-6">
				<h3 class="desktop:margin-top-0">Pursuing a JAB P-ATO Authorization</h3>
				<p>The JAB is the primary governing body for FedRAMP and includes representatives from the Department of Defense (DOD), Department of Homeland Security (DHS), and General Services Administration (GSA). More information on the authority, objectives, roles and responsibilities, and establishment of the JAB can be found in the <a href="https://www.fedramp.gov/assets/resources/documents/FedRAMP_Joint_Authorization_Board_Charter.pdf" target="_blank">JAB Charter (pdf)</a>.</p> 

				<p>Below is a high-level overview of the JAB Authorization Process. The document <a href="https://www.fedramp.gov/assets/resources/documents/CSP_JAB_P-ATO_Roles_and_Responsibilites.pdf" target="_blank">JAB P-ATO CSP Roles &amp; Responsibilities (pdf)</a> provides further detail on the JAB P-ATO authorization process.</p>
			</div>
		</div>
	</div>	
</section>

<section class="lightest-gray-bkg fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col desktop:grid-col-12">
				<h2 class="center">The JAB Authorization Process</h2>
				<img class="display-none auth-graphic-580" src="{{site.baseurl}}/assets/img/JAB-Authorization-Process_580.svg" alt="To become certified in the JAB path, a CSP must complete the preparation and authorization phases in order while undergoing continuous monitoring." aria-describedby="jab-description">
				<img class="display-none auth-graphic-768" src="{{site.baseurl}}/assets/img/JAB-Authorization-Process_768.svg" alt="To become certified in the JAB path, a CSP must complete the preparation and authorization phases in order while undergoing continuous monitoring." aria-describedby="jab-description">
				<img class="display-none auth-graphic-980" src="{{site.baseurl}}/assets/img/JAB-Authorization-Process_980.svg" alt="To become certified in the JAB path, a CSP must complete the preparation and authorization phases in order while undergoing continuous monitoring." aria-describedby="jab-description">
				<img class="display-none auth-graphic-1200" src="{{site.baseurl}}/assets/img/JAB-Authorization-Process_1200.svg" alt="To become certified in the JAB path, a CSP must complete the preparation and authorization phases in order while undergoing continuous monitoring." aria-describedby="jab-description">
				
				<div id="jab-description" style="display: none;">
					<p>If the JAB path is the selected authorization process, the first major phase is preparation. There are two steps within this phase: FedRAMP Connect and the readiness assessment, which is required unlike in the agency process. As a part of the FedRAMP connect step a CSP must submit the FedRAMP connect business case and then become prioritized to work with JAB. After this the CSP begins the readiness assessment step, beginning with securing an RAR development which is then reviewed by the FedRAMP PMO. Remediation will take place if needed followed by the issuing of the FedRAMP ready designation. </p>

					<p>Once the CSP is prioritized for JAB and FedRAMP ready they may begin the authorization phase. The first step involves securing a full security authorization package which includes deliverables such as the SSP, SAP, SAR, and POA&M. After this starts the next step, the JAB authorization process. After a kick-off meeting servicing as a review for the offering is held, periods of time dedicated to remediation, review, and a final review take place. After all of this is complete, the JAB will issue the CSP a P-ATO letter in coordination with becoming FedRAMP authorized. </p>


				</div>
			</div>
		</div>
	</div>

</section>

<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col desktop:grid-col-3 tablet:padding-bottom-4">
				<div class="grid-row">
					<div class="tablet:grid-col-5 desktop:grid-col-12">
						<div class="authorization-phase-icon">
							<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/jab-authorization-phase-1.svg" alt="">
						</div>
					</div>
					<div class="tablet:grid-col-4 desktop:grid-col-12">
						<h2 class="center no-line phase-header">Phase 1</h2>
						<h3 class="center no-line margin-top-0 phase-header">Readiness Assessment and FedRAMP Connect</h3>
					</div>
				</div>
			</div>
			
			<div class="full-col desktop:grid-col-9">
				<p class="margin-top-0">The JAB invests heavily into creating a <a href="https://marketplace.fedramp.gov/#/products">broad marketplace</a> of CSOs and, based on current resources and funding, has the capacity to authorize a limited number of CSOs each year. To ensure the JAB’s resources are used most effectively, the FedRAMP Program Management Office (PMO)and JAB evaluate CSOs through FedRAMP Connect.</p>
				
				<h4>FedRAMP Connect</h4>
				
				<p>FedRAMP Connect is the process by which CSPs are evaluated based on the <a href="https://www.fedramp.gov/assets/resources/documents/CSP_JAB_P-ATO_Prioritization_Criteria_and_Guidance.pdf">JAB Prioritization Criteria (pdf)</a> and prioritized to work with the JAB. The only mandatory prioritization criteria for CSPs is demonstrated demand for their service by a wide variety of federal agencies.</p>

				<p>CSPs interested in working with the JAB are required to review the <a href="https://www.fedramp.gov/assets/resources/documents/CSP_JAB_P-ATO_Prioritization_Criteria_and_Guidance.pdf">JAB Prioritization Criteria and Guidance document</a> and follow the instructions on how to submit a Business Case to <a href="mailto:info@fedramp.gov">info@fedramp.gov</a>. The FedRAMP PMO collects Business Cases on an ongoing basis and has cut off dates for each round of prioritization when all Business Cases will be reviewed together. The next Business Case due date will be in Fall/Winter 2020. </p>

				<p>After a CSP is prioritized, it has 60 days to become FedRAMP Ready to JAB standards (if it isn’t already). Being prioritized to work with the JAB and being deemed FedRAMP Ready constitute the first phase of the JAB Authorization Process.</p>

				
				<h4>FedRAMP Ready</h4>
				
				<p>To achieve the FedRAMP Ready designation, a CSP must work with an accredited 3PAO to complete a readiness assessment of its service offering. At the conclusion of the assessment, the 3PAO delivers a <a href="https://www.fedramp.gov/assets/resources/templates/FedRAMP-Moderate-RAR-Template.docx" target="_blank">Readiness Assessment Report (RAR)</a> attesting to the CSO’s readiness for the authorization process. The RAR documents the CSP’s capability to meet FedRAMP and the JAB’s security requirements and is intended to help the JAB have a snapshot of the security posture of a cloud service without the full investment of going through the entire FedRAMP assessment process of testing and documentation.</p>

				<p>RARs are reviewed by the FedRAMP PMO within one to two weeks of submission. Once the RAR is deemed satisfactory by the PMO, the CSO will be designated FedRAMP Ready and advertised in the <a href="https://marketplace.fedramp.gov/#/products">FedRAMP Marketplace</a>.</p>
			</div>
		</div>
	</div>
</section>

<section class="lightest-gray-bkg fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col desktop:grid-col-3 tablet:padding-bottom-4">
				<div class="grid-row">
					<div class="tablet:grid-col-5 desktop:grid-col-12">
						<div class="authorization-phase-icon">
							<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/jab-authorization-phase-2.svg" alt="">
						</div>
					</div>
					<div class="tablet:grid-col-4 desktop:grid-col-12">
						<h2 class="center no-line phase-header">Phase 2</h2>
						<h3 class="center no-line margin-top-0 phase-header">Full Security Assessment</h3>
					</div>
				</div>
			</div>
		
			<div class="full-col desktop:grid-col-9">
				<p class="margin-top-0">After a CSO is prioritized to work with the JAB and is deemed FedRAMP Ready&#58;</p>
				<ol class="red-numbers">
					<li><strong>CSP finalizes the System Security Plan (SSP) and engages an accredited 3PAO.</strong></li>

					<li><strong>3PAO develops a Security Assessment Plan (SAP)</strong>, conducts a full security assessment of the service offering, and produces a <strong>Security Assessment Report (SAR)</strong>. </li>
						
						<p class="sub-bullet">The CSP facilitates and participates in the assessment activities, in accordance with the SAP. </p>
		

					<li><strong>CSP develops a Plan of Actions and Milestones (POA&amp;M)</strong> to track and manage system security risks identified in the SAR.</li>
				</ol>
				<p>The SSP, SAP, SAR, POA&amp;M, and one month of Continuous Monitoring (ConMon) deliverables must be completed using FedRAMP-provided templates and submitted together. The FedRAMP PMO will then work with the CSP and 3PAO to conduct a completeness check and coordinate the JAB kick-off meeting. The JAB must have a CSP’s full security package for a minimum of two weeks prior to kicking off with the JAB. </p>
				
			</div>
		</div>
	</div>
</section>

<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			
			<div class="full-col desktop:grid-col-3 tablet:padding-bottom-4">
				<div class="grid-row">
					<div class="tablet:grid-col-5 desktop:grid-col-12">
						<div class="authorization-phase-icon">
							<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/jab-authorization-phase-3.svg" alt="">
						</div>
					</div>
					<div class="tablet:grid-col-4 desktop:grid-col-12">
						<h2 class="center no-line phase-header">Phase 3</h2>
						<h3 class="center no-line margin-top-0 phase-header">Authorization Process</h3>
					</div>
				</div>
			</div>
			
			<div class="full-col desktop:grid-col-9">
				<ol class="red-numbers left-numbers margin-top-0">
					<li><strong class="text-red">Kickoff&#58;</strong> <strong>A kickoff meeting is held with the CSP, 3PAO, JAB, and PMO to conduct a collaborative review of the service offering, system architecture, security capabilities, and risk posture.</strong> Based on the outcomes of the kickoff meeting, the JAB will issue a “go” or “no-go” decision to proceed with the authorization.</li>

					<li><strong class="text-red">Review&#58;</strong> <strong>The JAB conducts an in-depth review of the security authorization package.</strong> The CSP and 3PAO are expected to support JAB Reviewers by addressing questions and comments in a timely manner and participating in regular meetings with the PMO and JAB Reviewers. The CSP must also submit monthly ConMon deliverables (scan files, POA&amp;M and up-to-date inventory), during the JAB’s review of the authorization package.</li>

					<li><strong class="text-red">Remediation&#58;</strong> Once the JAB’s review is complete, the <strong>CSP and 3PAO remediate system and documentation issues</strong> and ensure all JAB Reviewer comments are appropriately addressed.</li>

					<li><strong class="text-red">Final Review and P-ATO&#58;</strong> <strong>The JAB CIOs will issue a formal authorization decision of the CSO and P-ATO Letter</strong> to the CSP once the JAB Reviewers have reviewed and validated the remediation efforts.</li>
				</ol>
				<p>A JAB P-ATO is not a risk acceptance, but an assurance to agencies that the risk posture of the system has been reviewed and approved by DoD, DHS, and GSA. Each agency planning to use the CSO must then review and issue their own ATO, which covers their agency’s use of the cloud service.</p>
				
			</div>
		</div>
	</div>
</section>

<section class="lightest-gray-bkg fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col desktop:grid-col-3 tablet:padding-bottom-4">
				<div class="grid-row">
					<div class="tablet:grid-col-5 desktop:grid-col-12">
						<div class="authorization-phase-icon">
							<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/jab-authorization-phase-4.svg" alt="">
						</div>
					</div>
					<div class="tablet:grid-col-4 desktop:grid-col-12">
						<h2 class="center no-line phase-header">Phase 4</h2>
						<h3 class="center no-line margin-top-0 phase-header">Continuous Monitoring</h3>
					</div>
				</div>
			</div>
		
			<div class="full-col desktop:grid-col-9">
				<p class="margin-top-0">After the JAB Authorization is complete, a CSP must continue to provide monthly ConMon deliverables to the JAB and agencies that are using their service. While each Agency Authorizing Official (AO) maintains the final approval authority for the use of a system by that Agency, the JAB acts as a focal point for ConMon activities of systems with a P-ATO. The JAB&#58;</p>
				<ul class="red-bullets">
					<li>Reviews continuous monitoring and security artifacts on a regular basis;</li>
					<li>Authorizes, denies, monitors, suspends, and revokes a system’s P-ATO as appropriate;</li>
					<li>Authorizes or denies significant change and deviation requests; and</li>
					<li>Ensures the FedRAMP PMO is providing artifacts to leveraging agencies in a timely manner.</li>

				</ul>
				<p>For more information about FedRAMP’s ConMon requirements, please review FedRAMP’s <a href="https://www.fedramp.gov/assets/resources/documents/CSP_Continuous_Monitoring_Strategy_Guide.pdf" target="_blank">Continuous Monitoring Strategy Guide (pdf)</a> and <a href="https://www.fedramp.gov/assets/resources/documents/CSP_Continuous_Monitoring_Performance_Management_Guide.pdf" target="_blank">Continuous Monitoring Performance Management Guide (pdf)</a>. </p>
				
			</div>
		</div>
	</div>
</section>

