---
layout: full-width
---
<section class="overview">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col desktop:grid-col-12">
				<h2 class="center">The Joint Authorization Board Authorization Path</h2>
			</div>
		</div>
		<div class="full-row grid-row grid-gap">
			<div class="full-col desktop:grid-col-6 intro-text">
				<p>The first step for any Cloud Service Provider (CSP) interested in pursuing a FedRAMP authorization for their Cloud Service Offering (CSO) is to determine their authorization strategy. There are two paths a CSP can pursue to achieve a FedRAMP authorization: a Provisional Authority to Operate (P-ATO) from the Joint Authorization Board (JAB) and an Agency Authority to Operate (ATO).</p>
			</div>
			<div class="full-col desktop:grid-col-6">
				<h3>Pursuing a JAB P-ATO  Authorization</h3>
				<p>The JAB is the primary governing body for FedRAMP and includes representatives from the Department of Defense (DOD), Department of Homeland Security (DHS), and General Services Administration (GSA). Learn more about the JAB here. </p>
				<p>CSPs that make a business decision to pursue a Joint Authorization Board (JAB) Provisional Authority to Operate (P-ATO) for their CSO are prioritized quarterly. The prioritization process allows the JAB to authorize cloud services it believes are most likely to be leveraged government-wide. </p>
				<p>Below is a high-level overview of the JAB Authorization Process. Information on a CSP’s role and responsibilities within the JAB P-ATO authorization process can be found here.</p>
			</div>
		</div>
	</div>	
</section>

<section class="lightest-gray-bkg">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col desktop:grid-col-12">
				<h2 class="center">The Authorization Process</h2>
				<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/jab-authorization-process.svg" alt="">
				<p><em>Note&#58; During the authorization process a CSP must be prioritized by the JAB before entering the JAB P-ATO process. The CSP can obtain FedRAMP Ready status either before or after the JAB’s prioritization</em></p>
			</div>
		</div>
	</div>

</section>

<section>
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col desktop:grid-col-3">
				<h2 class="center no-line">Phase 1</h2>
				<div class="authorization-phase-icon">
					<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/jab-authorization-phase-1.svg" alt="">
				</div>
				<h3 class="center no-line">Readiness Assessment and FedRAMP Connect</h3>
			</div>
			<div class="full-col desktop:grid-col-9">
				<p>The JAB invests heavily into creating a broad <a href="#">marketplace</a> of CSOs and, based on current resources and funding, has the capacity to authorize a limited number of CSOs a year. To ensure the JAB’s resources are used most effectively, the FedRAMP Program Management Office (PMO), CIO Council, and JAB evaluate CSOs through FedRAMP Connect.</p>
				
				<h4>FedRAMP Connect</h4>
				
				<p>FedRAMP Connect allows for the JAB to prioritize three (3) CSPs each quarter. CSPs are evaluated and prioritized to work with the JAB based on the <a href="#">JAB Prioritization Criteria</a>. The only mandatory prioritization criteria for CSPs is demonstrated demand for their service by a wide variety of federal agencies.</p>
				
				<p>CSPs interested in working with the JAB are required to review the <a href="#">JAB Prioritization Criteria and Guidance document</a> and follow the instructions on how to submit a Business Case to <a href="mailto:info@fedramp.gov">info@fedramp.gov</a>. The FedRAMP PMO collects Business Cases on a rolling basis and has cut off dates for each quarter’s prioritization decision. Contact the FedRAMP PMO at <a href="mailto:info@fedramp.gov">info@fedramp.gov</a> to submit a Business Case and find out the next Business Case deadline. </p>
				
				<p>After a CSP is prioritized, it has 60 days to become FedRAMP Ready (if it isn’t already). Being prioritized to work with the JAB and being deemed FedRAMP Ready constitute the first phase of the JAB Authorization Process.</p>
				
				<h4>FedRAMP Ready</h4>
				
				<p>To achieve the FedRAMP Ready designation, a CSP must work with an accredited 3PAO to complete a readiness assessment of its service offering. At the conclusion of the assessment, the 3PAO delivers a <a href="#">Readiness Assessment Report (RAR)</a> attesting to the CSO’s readiness for the authorization process. The RAR documents the CSP’s capability to meet FedRAMP’s security requirements and is intended to help the JAB have a snapshot of the security posture of a cloud service without the full investment of going through the entire FedRAMP process of testing and documentation.</p>
				
				<p>RARs are reviewed by the FedRAMP PMO within one business week of submission. Once the RAR is deemed satisfactory by the PMO, the CSO will be designated FedRAMP Ready and advertised in the <a href="#">FedRAMP Marketplace</a>.</p>
			</div>
		</div>
	</div>
</section>

<section class="lightest-gray-bkg">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col desktop:grid-col-3">
				<h2 class="center no-line">Phase 2</h2>
				<div class="authorization-phase-icon">
					<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/jab-authorization-phase-2.svg" alt="">
				</div>
				<h3 class="center no-line">Full Security Assessment</h3>
			</div>
			<div class="full-col desktop:grid-col-9">
				<p>After a CSO is prioritized to work with the JAB and is deemed FedRAMP Ready&#58;</p>
				<ol>
					<li><strong>CSP finalizes the System Security Plan (SSP)</strong> and engages an accredited 3PAO.</li>
					<li><p><strong>3PAO develops a Security Assessment Plan (SAP),</strong> conducts a full security assessment of the service offering, and produces a Security Assessment Report (SAR).</p> 
					<p>- The CSP facilitates and participates in the assessment activities, in accordance with the SAP.</p> </li>
					
					<li><strong>CSP develops a Plan of Actions and Milestones (POA&amp;M)</strong> to track and manage system security risks identified in the SAR. </li>
				</ol>
				<p>The SSP, SAP, SAR, and POA&amp;M must be completed using FedRAMP-provided templates and submitted together. The FedRAMP PMO will then work with the CSP and 3PAO to conduct a completeness check and coordinate the JAB kick-off meeting.</p>
				
			</div>
		</div>
	</div>
</section>

<section>
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col desktop:grid-col-3">
				<h2 class="center no-line">Phase 3</h2>
				<div class="authorization-phase-icon">
					<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/jab-authorization-phase-3.svg" alt="">
				</div>
				<h3 class="center no-line">Authorization Process</h3>
			</div>
			<div class="full-col desktop:grid-col-9">
				<ol>
					<li><strong>Kickoff to conduct a collaborative the service offering, system architecture, security capabilities, and risk posture.</strong> The outcome of the kickoff meeting will be a “go” or “no-go” decision to proceed with the authorization phase.</li>
					<li><strong>JAB conducts an in-depth review of the security authorization package.</strong> The CSP and 3PAO are expected to support JAB Reviewers by addressing questions and comments in a timely manner and participating in regular meetings with the PMO and JAB Reviewers. </li>
					<li><strong>The CSP must submit monthly continuous monitoring deliverables</strong> (scan files, POA&amp;M and up-to-date inventory), during the JAB’s review of the authorization package.</li>
				</ol>
				<p>Once the JAB review is complete&#58;</p>
				<ol>
					<li>CSP and 3PAO remediate system and documentation issues, as needed, and ensure all JAB Reviewer comments are appropriately addressed.</li>
					<li>FedRAMP PMO will issue a P-ATO decision and formal authorization of the CSO once the JAB Reviewers have reviewed and validated the remediation efforts</li>
				</ol>
				<p>A JAB P-ATO is not a risk acceptance, but an assurance to agencies that the risk posture of the system has been reviewed and approved by DoD, DHS, and GSA. Each agency planning to use the CSO must then review and issue their own ATO, which covers their agency’s use of the cloud service.</p>
				
			</div>
		</div>
	</div>
</section>

