---
layout: full-width
---
<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row padding-top-2">
			<div class="full-col desktop:grid-col-12">
				<h2 class="partner-header">Pursuing a FedRAMP<sup>®</sup> JAB Provisional Authorization</h2>
			</div>
		</div>
		
		<div class="full-row grid-row desktop:padding-top-2 grid-gap">
			<div class="full-col tablet:grid-col-6 partners-col auth-image-container">
				<img class="authorization-images display-none partners-img-1200" src="{{site.baseurl}}/assets/img/authorized_jab_top_desktop.svg" alt="">
				<img class="authorization-images display-none partners-img-648" src="{{site.baseurl}}/assets/img/authorized_jab_top_tablet.svg" alt="">
				<img class="authorization-images display-none partners-img-320" src="{{site.baseurl}}/assets/img/authorized_jab_top_mobile.svg" alt="">
			</div>
			<div class="full-col desktop:grid-col-6 partners-col">
				<div class="intro-text">
					<p class="margin-bottom-0">There are two approaches to obtaining a FedRAMP Authorization, a provisional authorization through the Joint Authorization Board (JAB) or an authorization through an agency. The JAB is the primary governing body for FedRAMP and includes the Department of Defense (DoD), Department of Homeland Security (DHS), and General Services Administration (GSA). The JAB selects approximately 12 cloud products a year to work with for a JAB Provisional Authority to Operate (P-ATO). Additionally, the JAB is responsible for performing the continuous monitoring for all JAB Authorized cloud products.</p>
				</div>
			</div>
		</div>
	</div>	
</section>



<section class="fedramp-page-container lightest-gray-bkg">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col desktop:grid-col-12">
				<h2 id="authorization-graph" class="center" style="margin-bottom: 2rem;">JAB Authorization Process</h2>
				
				<div class="text-center">
					<img class="display-none auth-graphic-320" src="{{site.baseurl}}/assets/img/authorized_jab_process_320px.svg" alt="To become certified in the JAB path, a CSP must complete the preparation and authorization phases in order while undergoing continuous monitoring." aria-describedby="jab-description">
					<img class="display-none auth-graphic-648" src="{{site.baseurl}}/assets/img/authorized_jab_process_648px.svg" alt="To become certified in the JAB path, a CSP must complete the preparation and authorization phases in order while undergoing continuous monitoring." aria-describedby="jab-description">
					<img class="display-none auth-graphic-968" src="{{site.baseurl}}/assets/img/authorized_jab_process_968px.svg" alt="To become certified in the JAB path, a CSP must complete the preparation and authorization phases in order while undergoing continuous monitoring." aria-describedby="jab-description">
					<img class="display-none auth-graphic-1200" src="{{site.baseurl}}/assets/img/authorized_jab_process_1200px.svg" alt="To become certified in the JAB path, a CSP must complete the preparation and authorization phases in order while undergoing continuous monitoring." aria-describedby="jab-description">
				</div>
				
				<div id="jab-description" style="display: none;">
					<p>If the JAB path is the selected authorization process, the first major phase is preparation. There are two steps within this phase: FedRAMP Connect and the readiness assessment, which is required unlike in the agency process. As a part of the FedRAMP connect step a CSP must submit the FedRAMP connect business case and then become prioritized to work with JAB. After this the CSP begins the readiness assessment step, beginning with securing an RAR development which is then reviewed by the FedRAMP PMO. Remediation will take place if needed followed by the issuing of the FedRAMP ready designation. </p>

					<p>Once the CSP is prioritized for JAB and FedRAMP ready they may begin the authorization phase. The first step involves securing a full security authorization package which includes deliverables such as the SSP, SAP, SAR, and POA&M. After this starts the next step, the JAB authorization process. After a 
						meeting servicing as a review for the offering is held, periods of time dedicated to remediation, review, and a final review take place. After all of this is complete, the JAB will issue the CSP a P-ATO letter in coordination with becoming FedRAMP authorized. </p>


				</div>
			</div>
		</div>
	</div>

</section>

<section id="jab-fedramp-connect" class="blue-bkg fedramp-page-container">
	<div class="grid-container auth-container-steps">
		<div class="full-row grid-row grid-gap">
			<div class="full-col tablet:grid-col-2 step-numbers-container authorization-information-col">
				<img src="{{site.baseurl}}/assets/img/auth-1.svg" class="auth-numbers" alt="" />
			</div>
			<div class="full-col tablet:grid-col-10 intro-text authorization-information-col">
				<h2 class="text-white">Preparation</h2>
				<p class="text-white auth-steps-text">The Preparation phase consists of three steps: FedRAMP Connect, Readiness Assessment, and the Full Security Assessment. Timetables associated with this phase vary depending on a Cloud Service Offering’s (CSO) architecture and current security posture compared to federal requirements. </p>
			</div>
		</div>
	</div>
</section>

<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap step-reversed">
			<div class="full-col tablet:grid-col-7 authorization-information-col">
				<h3 class="margin-top-0">FedRAMP Connect</h3>

				<p>The JAB prioritizes approximately 12 CSOs each year. The JAB evaluates CSOs through a process called FedRAMP Connect.</p>

				<p>FedRAMP Connect is the process by which Cloud Service Providers (CSPs) are evaluated based on the JAB Prioritization Criteria and prioritized to work with the JAB. CSPs interested in working with the JAB are required to review the <a href="https://www.fedramp.gov/assets/resources/documents/CSP_JAB_P-ATO_Prioritization_Criteria_and_Guidance.pdf" target="_blank">JAB Prioritization Criteria and Guidance document [PDF - 388KB]</a>, complete the FedRAMP  Business Case and send it to <a href="mailto:info@fedramp.gov">info@fedramp.gov</a>. CSOs are selected during specific time frames throughout the year, which are announced on <a href="https://www.fedramp.gov/blog/">FedRAMP Blog</a>. </p>
				
				<p><a href="#authorization-graph" class="authorization-link"><i class="fas fa-arrow-circle-up auth-graph-top-icon"></i>Back to Graphic for Reference</a></p>
				
			</div>
				
			<div class="full-col tablet:grid-col-5 auth-steps-info text-center authorization-information-col">
				<img src="{{site.baseurl}}/assets/img/authorized_jab_process_CALLOUT_1.a.svg" class="step-reversed display-none authorizatoin-callouts-desktop" alt="" />
			</div>
		</div>
	</div>
</section>

<section id="jab-readiness-assessment" class="lightest-gray-bkg fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col tablet:grid-col-5 auth-steps-info text-center authorization-information-col">
				<img src="{{site.baseurl}}/assets/img/authorized_jab_process_CALLOUT_1.b.svg" class="display-none authorizatoin-callouts-desktop" alt="" />
			</div>
				
			<div class="full-col tablet:grid-col-7 authorization-information-col">
				<h3 class="margin-top-0">Readiness Assessment</h3>
 
				<p>In order to Kickoff with the JAB, CSPs must achieve the FedRAMP Ready JAB designation for their CSO. If the JAB selects a CSO that has not yet achieved FedRAMP Ready status, the CSP has 60 days to become FedRAMP Ready in compliance with JAB standards.</p>

				<p>To achieve the FedRAMP Ready designation, a CSP must work with an accredited Third Party Assessment Organization (3PAO) to complete a Readiness Assessment of its service offering. The Readiness Assessment Report (RAR) documents the CSP's capability to provide the JAB with a snapshot of a CSO’s security posture. More information regarding steps to achieve FedRAMP Ready can be found on the <a href="https://www.fedramp.gov/about-marketplace/" target="_blank">About FedRAMP Marketplace Page</a>.</p>
				
				<p><a href="#authorization-graph" class="authorization-link"><i class="fas fa-arrow-circle-up auth-graph-top-icon"></i>Back to Graphic for Reference</a></p>
				
			</div>
		</div>
	</div>
</section>

<section id="jab-full-security-assessment" class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap step-reversed">
			<div class="full-col tablet:grid-col-7 authorization-information-col">
				<h3 class="margin-top-0">Full Security Assessment</h3>

				<p>During this step, after a CSO is both prioritized to work with the JAB and deemed FedRAMP Ready:</p>
				<ul class="red-bullets">
					<li>The CSP finalizes the System Security Plan (SSP) and engages an accredited 3PAO.</li>
	
					<li>The 3PAO develops a Security Assessment Plan (SAP), conducts a full security assessment of the service offering, and produces a Security Assessment Report (SAR). </li>
					<li>The CSP develops a Plan of Action and Milestones (POA&M) to track and manage system security risks identified in the SAR.</li>
				
				</ul>

				<p>The SSP, SAP, SAR, POA&M, and one month of continuous monitoring deliverables must be completed using FedRAMP-provided templates and should be submitted together. The JAB must have a CSP’s full security package for a minimum of two weeks prior to kicking off with the JAB.</p>
				
				<p><a href="#authorization-graph" class="authorization-link"><i class="fas fa-arrow-circle-up auth-graph-top-icon"></i>Back to Graphic for Reference</a></p>

				
			</div>
				
			<div class="full-col tablet:grid-col-5 auth-steps-info text-center authorization-information-col">
				<img src="{{site.baseurl}}/assets/img/authorized_jab_process_CALLOUT_1.c.svg" class="display-none authorizatoin-callouts-desktop" alt="" />
			</div>
		</div>
	</div>
</section>

<section id="jab-authorization-process" class="blue-bkg fedramp-page-container">
	<div class="grid-container auth-container-steps">
		<div class="full-row grid-row grid-gap">
			<div class="full-col tablet:grid-col-2 step-numbers-container authorization-information-col">
				<img src="{{site.baseurl}}/assets/img/auth-2.svg" class="auth-numbers" alt="" />
			</div>
			<div class="full-col tablet:grid-col-10 intro-text authorization-information-col">
				<h2 class="text-white">Authorization</h2>
				<p class="text-white auth-steps-text">The Authorization phase consists of the authorization Kickoff, security deliverable review and P-ATO issuance from the JAB. Timetables associated with this phase are approximately 3-6 months. </p>
			</div>
		</div>
	</div>
</section>

<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap step-reversed">
			<div class="full-col tablet:grid-col-7 authorization-information-col">
				<h3 class="margin-top-0">JAB Authorization Process</h3>

				<p>The JAB Authorization Process uses an agile methodology with multiple stage gates and the “fail fast” principle. The first stage gate is JAB Kickoff. During this step, the CSP, 3PAO, and FedRAMP collaboratively review the CSO’s system architecture, security capabilities, and risk posture. Based on the outcome of the Kickoff Meeting, the JAB will issue a “go” or “no-go” decision to proceed with the authorization process.</p>

				<p>Following the Kickoff, the JAB conducts an in-depth review of the security authorization package. The CSP and 3PAO are expected to support JAB reviewers by addressing questions and comments in a timely manner and participating in regular meetings. Monthly continuous monitoring deliverables (scan files, POA&M, and up-to-date inventory) are required to be prepared and submitted to the JAB through-out the JAB Authorization process.</p>

				<p>Once the JAB’s review is complete, the CSP and 3PAO remediate outstanding issues. Once completed, the JAB will issue a formal authorization decision and if favorable, issue a Provisional Authority to Operate (P-ATO).</p>
				
				<p>Note: The JAB P-ATO signifies that all three JAB Agencies reviewed the security package and deemed it acceptable for the federal community. In turn, agencies review the JAB P-ATO and the associated security package and clear it for their Agencies’ use. In doing so, the agency issues their own authorization to use the product.</p>
				
				<p><a href="#authorization-graph" class="authorization-link"><i class="fas fa-arrow-circle-up auth-graph-top-icon"></i>Back to Graphic for Reference</a></p>
				
			</div>
				
			<div class="full-col tablet:grid-col-5 auth-steps-info text-center authorization-information-col">
				<img src="{{site.baseurl}}/assets/img/authorized_jab_process_CALLOUT_2.a.svg" class="display-none authorizatoin-callouts-desktop" alt="" />
			</div>
		</div>
	</div>
</section>

<section class="blue-bkg fedramp-page-container">
	<div class="grid-container auth-container-steps">
		<div class="full-row grid-row grid-gap">
			<div class="full-col tablet:grid-col-2 step-numbers-container authorization-information-col">
				<img src="{{site.baseurl}}/assets/img/auth-3.svg" class="auth-numbers" alt="" />
			</div>
			<div class="full-col tablet:grid-col-10 intro-text authorization-information-col">
				<h2 class="text-white">Continuous Monitoring</h2>
				<p class="text-white auth-steps-text">The continuous monitoring phase consists of post authorization activities in support of maintaining a security authorization that meets the FedRAMP requirements.</p>
			</div>
		</div>
	</div>
</section>

<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap step-reversed">
			<div class="full-col tablet:grid-col-7 authorization-information-col">
				<h3 class="margin-top-0">Post Authorization</h3>

				<p>During the continuous monitoring phase, a CSP must continue to provide monthly continuous monitoring deliverables, to include incident reporting, to the JAB and agencies that are using their service. While each agency’s Authorizing Official (AO) maintains the final approval authority for the use of a system by that agency, the JAB acts as a focal point for continuous monitoring activities of systems with a P-ATO. The JAB:</p>
				<ul class="red-bullets">
					<li>Reviews continuous monitoring and security artifacts on a regular basis;</li>
					<li>Monitors, suspends, and revokes a system’s P-ATO as appropriate;</li>
					<li>Authorizes or denies significant change and deviation requests; and</li>
					<li>Ensures continuous monitoring deliverables are provided to leveraging agencies in a timely manner.</li>
				</ul>

				<p>For more information about FedRAMP’s continuous monitoring requirements, please review FedRAMP’s <a href="https://www.fedramp.gov/assets/resources/documents/CSP_Continuous_Monitoring_Strategy_Guide.pdf" target="_blank">Continuous Monitoring Strategy Guide [PDF - 1.1MB]</a> and <a href="https://www.fedramp.gov/assets/resources/documents/CSP_Continuous_Monitoring_Performance_Management_Guide.pdf" target="_blank">Continuous Monitoring Performance Management Guide [PDF - 800KB]</a>.</p>
				
				<p><a href="#authorization-graph" class="authorization-link"><i class="fas fa-arrow-circle-up auth-graph-top-icon"></i>Back to Graphic for Reference</a></p>
				
			</div>
				
			<div class="full-col tablet:grid-col-5 auth-steps-info text-center authorization-information-col">
				<img src="{{site.baseurl}}/assets/img/authorized_jab_process_CALLOUT_3.a.svg" class="display-none authorizatoin-callouts-desktop" alt="" />								
			</div>
		</div>
	</div>
</section>

<section class="lightest-gray-bkg fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col grid-col-12">
				<div class="full-row grid-row grid-gap">
					<div class="full-col tablet:grid-col-10 tablet:grid-offset-1 padding-bottom-4">
						<h2 class="text-center">Resources</h2>
						<p class="text-center">The resources below provide additional guidance on the JAB Provisional Authorization path. Additional technical guidance as well as FedRAMP templates are located on our <a href="{{site.baseurl}}/documents-templates/">Documents & Templates</a> page under Resources.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="full-row grid-row grid-gap">
			<div class="full-col tablet:grid-offset-1 tablet:grid-col-10 padding-4 white-bkg auth-resources">
				<div class="full-row grid-row grid-gap auth-resources-row">
					<div class="full-col tablet:grid-col-2 auth-pdf-download-img">
						<img src="{{site.baseurl}}/assets/img/auth-pdf-download.svg" class="" alt="" />
					</div>
					<div class="full-col tablet:grid-col-10 padding-right-2">
						<h3>CSP JAB P-ATO Roles and Responsibilities</h3>
						<p>This document provides an overview of a CSP’s roles and responsibilities in the JAB P-ATO Process.</p>
						<p><a class="auth-resources-download" href="https://www.fedramp.gov/assets/resources/documents/CSP_JAB_P-ATO_Roles_and_Responsibilites.pdf" target="_blank">Download [PDF - 234KB]</a></p>
						
						
					</div>
				</div>
				
				<div class="full-row grid-row grid-gap auth-resources-row">
					<div class="full-col tablet:grid-col-2 auth-pdf-download-img">
							<img src="{{site.baseurl}}/assets/img/auth-pdf-download.svg" class="" alt="" />
					</div>
					<div class="full-col tablet:grid-col-10 padding-right-2">
						<h3>JAB Prioritization Criteria and Guidance</h3>
						<p>This document outlines the criteria by which CSPs are prioritized to work with the JAB, the prioritization process, and the Business Case requirements.</p>
						<p><a class="auth-resources-download" href="https://www.fedramp.gov/assets/resources/documents/CSP_JAB_P-ATO_Prioritization_Criteria_and_Guidance.pdf" target="_blank">Download [PDF - 398KB]</a></p>
					</div>
				</div>
				
				<div class="full-row grid-row grid-gap auth-resources-row">
					<div class="full-col tablet:grid-col-2 auth-pdf-download-img">
							<img src="{{site.baseurl}}/assets/img/auth-pdf-download.svg" class="" alt="" />
					</div>
					<div class="full-col tablet:grid-col-10 padding-right-2">
						<h3>FedRAMP Authorization Boundary Guidance</h3>
						<p>This document provides CSPs guidance for developing the authorization boundary for their offering(s) which is required for their FedRAMP Authorization package.</p>
						<p><a class="auth-resources-download" href="https://www.fedramp.gov/assets/resources/documents/CSP_A_FedRAMP_Authorization_Boundary_Guidance.pdf" target="_blank">Download [PDF - 293KB]</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

