---
layout: base-no-footer
---

<div class="page-banner">
<h1> {{ page.title }}</h1>
</div>
<div class="usa-grid usa-section usa-content">
  <div class="usa-width-three-fourths usa-content">
  {% if page.image %}
  <img src="{{ page.image | prepend: site.baseurl }}">
  {% endif %}
  {{ content }}
  </div>
  <aside class="usa-width-one-fourth">
    <div class="blog-sidebar">
    <h3>Recent Posts</h3>
    <ul>
      {% for post in site.posts limit:5 %}
        <li>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
    </div>
  </aside>
</div>
<div class="blue-bottom">
<div class="inner">
<div class="instructions">
<h2>Instructions for completing online courses:</h2>
<h3>New users:</h3>
<ol>
<li>Go to the <a href="https://meetcqpub1.gsa.gov/content/connect/c1/7/en/events/event/private/33365014/129951077/event_login.html?sco-id=130142164&_charset_=utf-8" target="_blank">training platform home page</a> using Chrome or Firefox</li>
<li>Complete the user information to set up an account (password length must be between 16 and 32 characters) and click “View”</li>
<li>Select the course you’d like to view and complete</li>
</ol>
<h3>Returning users:</h3>
<ol>
<li>Navigate to the <a href="https://meetcqpub1.gsa.gov/content/connect/c1/7/en/events/event/private/33365014/129951077/event_login.html?sco-id=130142164&_charset_=utf-8" target="_blank">training platform home page</a></li>
<li>Log in using Chrome or Firefox</li>
<li>Enter your user name and password and you’ll resume where you left off in the training</li>
</ol>
</div>
<div class="learning-events">
<h2>Upcoming Learning events </h2>
<ul>
<li>There are no upcoming learning events at this time.</li>
</ul>
<p>Please email <a href="info@fedramp.gov">info@fedramp.gov</a> with any ideas around additional training topics.</p>
</div>
</div>
</div>

