---
layout: full-width
---
<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row ">
			<div class="full-col tablet:grid-col-3 tablet:padding-right-4 lightest-teal-bkg">
				
			</div>
			<div class="full-col tablet:grid-col-9 tablet:padding-left-4">
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind padding-right-2 tablet:padding-right-4">FedRAMP Program Documents</p>
                          	<p class="document-date padding-left-2 tablet:padding-left-4">December 8, 2011</p>
						</div>
						<h3>FedRAMP Policy Memo</h3>
						<p>This memorandum: 1) establishes Federal policy for the protection of Federal information in cloud services; 2) describes the key components of FedRAMP and its operational capabilities; 3) defines Executive department and Agency responsibilities in developing, implementing, operating, and maintaining FedRAMP; and 4) defines the requirements for Executive departments and Agencies using FedRAMP in the acquisition of cloud services.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3">
						<a href="{{site.baseurl}}/assets/resources/documents/FedRAMP_Policy_Memo.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				
				</div>
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind padding-right-2 tablet:padding-right-4">FedRAMP Program Documents</p>
                          	<p class="document-date padding-left-2 tablet:padding-left-4">December 8, 2011</p>
						</div>
						<h3>FedRAMP Policy Memo</h3>
						<p>This memorandum: 1) establishes Federal policy for the protection of Federal information in cloud services; 2) describes the key components of FedRAMP and its operational capabilities; 3) defines Executive department and Agency responsibilities in developing, implementing, operating, and maintaining FedRAMP; and 4) defines the requirements for Executive departments and Agencies using FedRAMP in the acquisition of cloud services.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3">
						<a href="{{site.baseurl}}/assets/resources/documents/FedRAMP_Policy_Memo.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				
				</div>
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind padding-right-2 tablet:padding-right-4">FedRAMP Program Documents</p>
                          	<p class="document-date padding-left-2 tablet:padding-left-4">December 8, 2011</p>
						</div>
						<h3>FedRAMP Policy Memo</h3>
						<p>This memorandum: 1) establishes Federal policy for the protection of Federal information in cloud services; 2) describes the key components of FedRAMP and its operational capabilities; 3) defines Executive department and Agency responsibilities in developing, implementing, operating, and maintaining FedRAMP; and 4) defines the requirements for Executive departments and Agencies using FedRAMP in the acquisition of cloud services.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3">
						<a href="{{site.baseurl}}/assets/resources/documents/FedRAMP_Policy_Memo.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				
				</div>
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind padding-right-2 tablet:padding-right-4">FedRAMP Program Documents</p>
                          	<p class="document-date padding-left-2 tablet:padding-left-4">December 8, 2011</p>
						</div>
						<h3>FedRAMP Policy Memo</h3>
						<p>This memorandum: 1) establishes Federal policy for the protection of Federal information in cloud services; 2) describes the key components of FedRAMP and its operational capabilities; 3) defines Executive department and Agency responsibilities in developing, implementing, operating, and maintaining FedRAMP; and 4) defines the requirements for Executive departments and Agencies using FedRAMP in the acquisition of cloud services.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3">
						<a href="{{site.baseurl}}/assets/resources/documents/FedRAMP_Policy_Memo.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				
				</div>
				
				<div class="grid-row policy-card padding-y-4">
					<div class="desktop:grid-col-9">
						<div class="policy-document-date">
							<p class="document-kind padding-right-2 tablet:padding-right-4">FedRAMP Program Documents</p>
                          	<p class="document-date padding-left-2 tablet:padding-left-4">December 8, 2011</p>
						</div>
						<h3>FedRAMP Policy Memo</h3>
						<p>This memorandum: 1) establishes Federal policy for the protection of Federal information in cloud services; 2) describes the key components of FedRAMP and its operational capabilities; 3) defines Executive department and Agency responsibilities in developing, implementing, operating, and maintaining FedRAMP; and 4) defines the requirements for Executive departments and Agencies using FedRAMP in the acquisition of cloud services.</p>
						<div class="policy-tags">
							<img class="tag-icon" src="{{site.baseurl}}/assets/img/policy-tag.svg" alt="">
							<a class="tags"><button>Guidance</button></a>
							<a class="tags"><button>OMB</button></a>
							<a class="tags"><button>Policy</button></a>
						</div>
					</div>
					<div class="desktop:grid-col-3">
						<a href="{{site.baseurl}}/assets/resources/documents/FedRAMP_Policy_Memo.pdf" class="policy-download policy-pdf"><button>Download</button></a>
					</div>
				
				</div>
				
			</div>
		</div>
	</div>

</section>
