---
layout: full-width
---
<section class="fedramp-page-container lightest-gray-bkg">
	<div class="grid-container">
		<div class="full-row grid-row padding-top-2">
			<div class="full-col desktop:grid-col-6 intro-text">
				<h2 class="secondary-lighter">{{ page.program-header }}</h2>
				<p>{{ page.program-intro-text }}</p>
			</div>
			<div class="full-col desktop:grid-col-6 desktop:padding-left-4">
				<div class="youTube-container padding-x-4">
					<iframe class="fedramp-youtube" width="560" height="300" src="https://www.youtube.com/embed/I_3YFkmGTt4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" controls="0" modestbranding="1"  allowfullscreen></iframe>
					
				</div>
				<p class="text-center"><a href="{{site.baseurl}}/assets/resources/documents/Transcript-FedRAMP-Overview.pdf" target="_blank">Read Transcript [PDF - 27KB]</a></p>
			</div>
		</div>
	</div>	
</section>
<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row">
			<div class="full-col desktop:grid-col-12 padding-bottom-2">
				<h3 class="margin-top-0">{{ page.mission-title }}</h3>
				<p style="margin-bottom: 0;">{{ page.mission-text }}</p>
			</div>
		</div>
		<div class="full-row grid-row grid-gap padding-top-2">
			<div class="full-col desktop:grid-col-6">
				<div class="">
					<h3 class="margin-top-0">{{ page.benefits-title }}</h3>
				</div>
				<ul class="program-basics-benefits">
					<li>{{ page.benefits-checklist-1 }}</li>
					<li>{{ page.benefits-checklist-2 }}</li>
					<li class="margin-bottom-0">{{ page.benefits-checklist-3 }}</li>
				</ul>
			</div>
			
			<div class="full-col desktop:grid-col-6 margin-top-4 desktop:margin-top-0">
				<div class="">
					<h3 class="margin-top-0">{{ page.goals-title }}</h3>
				</div>
				<ul class="program-basics-goals">
					<li>{{ page.goals-checklist-1 }}</li>
					<li>{{ page.goals-checklist-2 }}</li>
					<li>{{ page.goals-checklist-3 }}</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<section class="blue-bkg fedramp-page-container">
	<div>
		<div class="grid-container">
			<div class="full-row grid-row">
				<div class="full-col desktop:grid-col-4 desktop:padding-right-4 padding-bottom-4 intro-text">
					<h2 class="text-white margin-bottom-3rem padding-bottom-0">{{ page.framework-title }}</h2>
					<p class="text-white">{{ page.framework-text }}</p>
				</div>
				<div class="full-col desktop:padding-left-4 desktop:grid-col-7">
						<div class="full-row grid-row">
							<div class="full-col desktop:grid-col-12">
								<div class="grid-row">
									<div class="tablet:grid-col-2">
										<div class="framework-image">
											<img src="{{site.baseurl}}/assets/img/fisma-graphic.svg" alt=" " />
										</div>
									</div>
									<div class="tablet:grid-col-10 tablet:padding-left-2 framework-text">
										<h3 class="no-line margin-top-0 text-lighter-teal legal-framework-titles">{{ page.fisma-title }}</h3>
										<p class="text-white margin-top-0 margin-bottom-0">{{ page.fisma-text }}</p>
									</div>
								</div>
								<div class="grid-row margin-top-4">
									<div class="tablet:grid-col-2">
										<div class="framework-image">
											<img src="{{site.baseurl}}/assets/img/omb-circular-graphic.svg" alt=" " />
										</div>
									</div>
									<div class="tablet:grid-col-10 tablet:padding-left-2  framework-text">
										<h3 class="no-line margin-top-0 text-lighter-teal legal-framework-titles">{{ page.omb-circular-title }}</h3>
										<p class="text-white margin-top-0 margin-bottom-0">{{ page.omb-circular-text }}</p>
									</div>
								</div>
								<div class="grid-row margin-top-4">
									<div class="tablet:grid-col-2">
										<div class="framework-image">
											<img src="{{site.baseurl}}/assets/img/fedramp-policy.svg" alt=" " />
										</div>
									</div>
									<div class="tablet:grid-col-10 tablet:padding-left-2  framework-text">
										<h3 class="no-line margin-top-0 text-lighter-teal legal-framework-titles">{{ page.policy-title }}</h3>
										<p class="text-white margin-top-0 margin-bottom-0 ">{{ page.policy-text }}</p>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="grid-row margin-top-4">
									<div class="tablet:grid-col-2">
										<div class="framework-image">
											<img src="{{site.baseurl}}/assets/img/legal_framework_authorization_act.png" alt=" " />
										</div>
									</div>
									<div class="tablet:grid-col-10 tablet:padding-left-2  framework-text">
										<h3 class="no-line margin-top-0 text-lighter-teal legal-framework-titles">{{ page.authorization-title }}</h3>
										<p class="text-white margin-top-0 margin-bottom-0 ">{{ page.authorization-text }}</p>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</section>
