---
layout: full-width
---
<section class="overview">
	<div style="background: #f7f7f7;">
		<div class="grid-container">
			<div class="full-row grid-row grid-gap">
				<div class="full-col desktop:grid-col-6">
					<h2>{{ page.program-header }}</h2>
					<p>{{ page.program-intro-text }}</p>
				</div>
			</div>
		</div>	
	</div>
	
		<div class="grid-container">
			<div class="full-row grid-row">
				<div class="full-col desktop:grid-col-12">
					<h3 class="mission-title">{{ page.mission-title }}</h3>
					<p>{{ page.mission-text }}</p>
				</div>
			</div>
			<div class="full-row grid-row grid-gap">
				<div class="full-col desktop:grid-col-6">
					<div class="program-basics-title">
						<h3 class="benefits-title">{{ page.benefits-title }}</h3>
					</div>
					<ul class="program-basics-benefits">
						<li>{{ page.benefits-checklist-1 }}</li>
						<li>{{ page.benefits-checklist-2 }}</li>
						<li>{{ page.benefits-checklist-3 }}</li>
					</ul>
				</div>
				<div class="full-col desktop:grid-col-6">
					<div class="program-basics-title">
						<h3 class="goals-title">{{ page.goals-title }}</h3>
					</div>
					<ul class="program-basics-goals">
						<li>{{ page.benefits-checklist-1 }}</li>
						<li>{{ page.benefits-checklist-2 }}</li>
						<li>{{ page.benefits-checklist-3 }}</li>
					</ul>
				</div>
			</div>
		</div>
	
</section>

<section class="fedramp-legal-framework">
	<div style="background: #1A4480;">
		<div class="grid-container">
			<div class="full-row grid-row grid-gap">
				<div class="full-col desktop:grid-col-5">
					<h2>{{ page.framework-title }}</h2>
					<p>{{ page.framework-text }}</p>
				</div>
				
				<div class="full-col desktop:grid-col-7">
					<div class="framework-list">
						<div class="framework-image">
							{{ page.fisma-image }}
						</div>
						<div class="framework-text">
							<h4>{{ page.fisma-title }}</h4>
							<p>{{ page.fisma-text }}</p>
						</div>
						<div class="clearfix"></div>
					</div>
					
					<div class="framework-list">
						<div class="framework-image">
							{{ page.omb-circular-image }}
						</div>
						<div class="framework-text">
							<h4>{{ page.omb-circular-title }}</h4>
							<p>{{ page.omb-circular-text }}</p>
						</div>
						<div class="clearfix"></div>
					</div>
					
					<div class="framework-list">
						<div class="framework-image">
							{{ page.policy-image }}
						</div>
						<div class="framework-text">
							<h4>{{ page.policy-title }}</h4>
							<p>{{ page.policy-text }}</p>
						</div>
						<div class="clearfix"></div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
</section>
