---
layout: page
---

<div class="dashboard">
<h4>WHAT ARE YOU LOOKING FOR?</h4>
<p>Click the actions below for all the resources you need</p>
<ul class="assessors">
<li class="learning">Learning More About FedRAMP</li>
<li class="learning">Learning More About FedRAMP</li>
<li class="learning">Learning More About FedRAMP</li>
<li class="learning">Learning More About FedRAMP</li>
<li class="learning">Learning More About FedRAMP</li>
<li class="learning">Learning More About FedRAMP</li>
<li class="learning">Learning More About FedRAMP</li>
<li class="learning">Learning More About FedRAMP</li>
<li class="learning">Learning More About FedRAMP</li>
<li class="learning">Learning More About FedRAMP</li>
<li class="learning">Learning More About FedRAMP</li>
<li class="learning">Learning More About FedRAMP</li>
<li class="learning">Learning More About FedRAMP</li>
</ul>
</div>
{{ content }}

{% if page.abstract %}
<a class="usa-button" href="{{ page.abstract | prepend: site.baseurl }}">View Abstract</a>
{% endif %}

<p><br></p>
