---
layout: full-width
---


<section class="fedramp-page-container">
  <div class="grid-container">
    <div class="full-row grid-row grid-gap">
      <div class="full-col tablet:grid-col-12 nav-main-section">
        
		<div id="" class="margin-top-6">
			<h2> Emerging Technology Prioritization Framework RACI Matrix</h2>
			<p>To assist in clarifying roles and responsibilities as related to the Emerging Technology Prioritization Framework, this RACI Matrix is provided as an alternate view of what each member in the ecosystem is performing.</p>

			<p>R = Responsible&nbsp;&nbsp;&nbsp;A = Accountable&nbsp;&nbsp;&nbsp;C = Consulted&nbsp;&nbsp;&nbsp;I = Informed</p>
		</div>

		<div>
			<table width="100%" class="raci-matrix">
				<tbody>
				  <tr class="head-row">
					<th scope="col">&nbsp;</th>
					<th scope="col" width="8%">FedRAMP</th>
					<th scope="col" width="8%">FedRAMP Board</th>
					<th scope="col" width="8%">CIO & Federal Councils</th>
					<th scope="col" width="8%">OMB</th>
					<th scope="col" width="8%">FSCAC</th>
					<th scope="col" width="8%">NIST</th>
					<th scope="col" width="8%">Agency Partners &amp; Liaisons</th>
					<th scope="col" width="8%">CSPs</th>
					<th scope="col" width="8%">3PAOs</th>
					<th scope="col" width="8%">Tag</th>
				  </tr>
				  <tr>
					<th scope="row" colspan="11" class="blue-bkg text-white row-header">Governance Process</th>
				  </tr>
				  <tr>
					<th scope="row" class="row-header">Nominate ETs for Prioritization</th>
					<td>A</td>
					<td>I</td>
					<td>R</td>
					<td>&nbsp;</td>
					<td>C</td>
					<td>C</td>
					<td>C</td>
					<td>C</td>
					<td>C</td>
					<td>C</td>
				  </tr>
				  <tr class="lightest-gray-bkg">
					<th scope="row" class="row-header">Propose ET List</th>
					<td>R A</td>
					<td>&nbsp;</td>
					<td>I</td>
					<td>C</td>
					<td>I</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>C</td>
					<td>&nbsp;</td>
				  </tr>
				  <tr>
					<th scope="row" class="row-header">FedRAMP Board Decision on the ET List</th>
					<td>C</td>
					<td>R A</td>
					<td>I</td>
					<td>C</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				  </tr>
				  <tr class="lightest-gray-bkg">
					<th scope="row" class="row-header">Update ET Capability List and Criteria</th>
					<td>R A</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>C</td>
					<td>C</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				  </tr>
				  <tr>
					<th scope="row" class="row-header">Shifting Prioritization of CSOs with ET </th>
					<td>R A</td>
					<td>C</td>
					<td>C</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>C</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				  </tr>
				  <tr>
					<th scope="row" colspan="11" class="blue-bkg text-white row-header">Evaluation Process</th>
				  </tr>
				  
				  <tr>
					<th scope="row" class="row-header">Submit the ET CSO Request Form and Demand Forms</th>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>C</td>
					<td>R A</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				  </tr>
				  <tr class="lightest-gray-bkg">
					<th scope="row" class="row-header">Qualification Determination and Queue Placement</th>
					<td>R A</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>C</td>
					<td>C</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				  </tr>
				  <tr>
					<th scope="row" class="row-header">Monitor ET Approvals</th>
					<td>R A</td>
					<td>C</td>
					<td>I</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				  </tr>
				</tbody>
			  </table>

		</div>

      </div>

	
    </div>
  </div>
</section>
