---
layout: full-width
---
<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row padding-top-2 grid-gap">
			<div class="grid-col-12">
				<h2 class="partner-header">Understanding the transition from Rev. 4 to Rev. 5</h2>
			</div>	
		</div>
	
		<div class="full-row grid-row grid-gap padding-top-2 partners-main">
			<div class="full-col desktop:grid-col-6 partners-col">
				<div class="intro-text">
					<p>The FedRAMP Joint Authorization Board (JAB) updated the FedRAMP security controls baseline to align with National Institutes of Standards and Technology (NIST) Special Publication (SP) 800-53 (SP 800-53), Security and Privacy Controls for Federal Information Systems and Organizations, Revision 5 (Rev. 5). The FedRAMP Program Management Office (PMO) updated the FedRAMP documentation and templates to reflect the changes in NIST SP 800-53, Rev. 5, and developed guidance to assist Cloud Service Providers (CSPs) in transitioning to Rev. 5.</p>

					<p>Please refer to the <a href="https://www.fedramp.gov/faqs/#:~:text=Service%20Providers%20(CSPs)%3F-,Security,-When%20is%20Federal">FAQ page</a> for additional information.</p>
					
					<p>Updated Rev. 5 documents can be found on the <a href="https://www.fedramp.gov/documents-templates/">Documents and Templates page</a>.</p>
					
					<p>Below are release transition documents and an archive of the Rev. 4 documents.</p>

					<h2>Transition Documents </h2>
					<ul>
						<li><a href="https://fedramp.gov/assets/resources/documents/FedRAMP_Baselines_Rev5_Transition_Guide.pdf">Cloud Service Provider (CSP) Transition Plan</a></li>
						<li><a href="https://fedramp.gov/assets/resources/documents/FedRAMP_Security_Controls_Baseline.xlsx">Rev. 5 Baselines</a></li>
						<li><a href="https://fedramp.gov/assets/resources/documents/FedRAMP_Security_Controls_Baseline_Rev5_Rev4_comparison_Summary.xlsx">Rev. 4 To Rev. 5 Baseline Comparison Summary</a></li>
					</ul>
		</div>
			</div>
			<div class="full-col desktop:grid-col-6 partners-col parners-image">
				<img class="partners-images display-none partners-img-1200"
					src="{{site.baseurl}}/assets/img/rev5-graphic.svg"
					alt=" ">
				<img class="partners-images display-none partners-img-648"
					src="{{site.baseurl}}/assets/img/rev5-graphic.svg"
					alt=" ">
				<img class="partners-images display-none partners-img-320"
					src="{{site.baseurl}}/assets/img/rev5-graphic.svg"
					alt="">
			</div>
		</div>
	</div>	
</section>

<!-- Table  -->

<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row">
			<div class="full-col desktop:grid-col-12">
				<h2>Documents</h2>
				<p>xxxxxxxx</p>

				<table class="usa-table usa-table--borderless fedramp-rev-table">
					<thead>
					  <tr>
						<th scope="col">Rev. 4 Document</th>
						<th scope="col">Rev. 5 Document</th>
					  </tr>
					</thead>
					<tbody>
						<tr>
							<td><a href="https://demo.fedramp.gov/assets/resources/documents/rev4/REV_4_3PAO_Readiness_Assessment_Report_Guide.pdf">3PAO Readiness Assessment Report Guide</a></td>
							<td><a href="https://demo.fedramp.gov/assets/resources/documents/3PAO_Readiness_Assessment_Report_Guide.pdf">3PAO Readiness Assessment Report Guide</a></td>
						  </tr>
					  <tr>
						<td><a href="https://demo.fedramp.gov/assets/resources/documents/rev4/REV_4_FedRAMP-Moderate-RAR-Template.docx">FedRAMP Moderate Readiness Assessment Report (RAR) Template</a></td>
						<td><a href="https://demo.fedramp.gov/assets/resources/templates/FedRAMP-Moderate-Readiness-Assessment-Report-(RAR)-Template.docx">FedRAMP Moderate Readiness Assessment Report (RAR) Template</a></td>
					  </tr>
					  <tr>
						<td><a href="https://demo.fedramp.gov/assets/resources/documents/rev4/REV_4_FedRAMP-High-RAR-Template.docx">FedRAMP High Readiness Assessment Report (RAR) Template</a></td>
						<td><a href="https://demo.fedramp.gov/assets/resources/templates/FedRAMP-High-Readiness-Assessment-Report-(RAR)-Template.docx">FedRAMP High Readiness Assessment Report (RAR) Template</a></td>
					  </tr>
					  <tr>
						<td><a href="https://demo.fedramp.gov/assets/resources/documents/rev4/REV_4_FedRAMP-SSP-Low-Baseline-Template.docx">FedRAMP System Security Plan (SSP) Low Baseline Template</a></td>
						<td rowspan="3"><a href="https://demo.fedramp.gov/assets/resources/templates/FedRAMP-High-Moderate-Low-LI-SaaS-Baseline-System-Security-Plan-(SSP).docx">FedRAMP High, Moderate, Low, SaaS Baseline SSP</a></td>
					  </tr>
					  <tr>
						<td><a href="https://demo.fedramp.gov/assets/resources/documents/rev4/REV_4_FedRAMP-SSP-Moderate-Baseline-Template.docx">FedRAMP System Security Plan (SSP) Moderate Baseline Template</a></td>
					  </tr>
					  <tr>
						<td><a href="https://demo.fedramp.gov/assets/resources/documents/rev4/REV_4_FedRAMP-SSP-High-Baseline-Template.docx">FedRAMP System Security Plan (SSP) High Baseline Template</a></td>
					  </tr>	
					  <tr>
						<td><a href="#">SSP Attachment 13 - FedRAMP Integrated Inventory Workbook Template</a></td>
						<td><a href="#">SSP Appendix M: Integrated Inventory Workbook Template</a></td>
					  </tr>
					  <tr>
						<td><a href="#">FedRAMP Security Controls Baseline</a></td>
						<td><a href="#">FedRAMP Security Controls Baseline</a></td>
					  </tr>
					  <tr>
						<td><a href="#">FedRAMP Initial Authorization Package Checklist</a></td>
						<td><a href="#">FedRAMP Initial Authorization Package Checklist</a></td>
					  </tr>
					  <tr>
						<td><a href="#">SSP Attachment 9 - FedRAMP Low or Moderate Control Implementation Summary (CIS) Workbook Template</a></td>
						<td rowspan="2"><a href="#">SSP Appendix J: &gt;CSO&lt; CIS and CRM Workbook</a></td>
					  </tr>
					  <tr>
						<td><a href="#">SSP Attachment 9 - FedRAMP High Control Implementation Summary (CIS) Workbook Template</a></td>
					  </tr>
					  <tr>
						<td><a href="#">SSP Attachment 12 - FedRAMP Laws and Regulations Template</a></td>
						<td><a href="#">FedRAMP Laws, Regulations, Standards and Guidance Reference</a></td>
					  </tr>
					  <tr>
						<td><a href="#">FedRAMP Master Acronym & Glossary</a></td>
						<td><a href="#">Retired</a></td>
					  </tr>
					  <tr>
						<td><a href="#">SSP Attachment 6 - FedRAMP Information System Contingency Plan (ISCP) Template</a></td>
						<td><a href="#">SSP Appendix G: Information System Contingency Plan (ISCP) Template</a></td>
					  </tr>
					  <tr>
						<td><a href="#">SSP Attachment 5 - FedRAMP Rules of Behavior (RoB) Template</a></td>
						<td><a href="#">SSP Appendix F: Rules of Behavior (RoB) Template</a></td>
					  </tr>
					  <tr>
						<td><a href="#">SSP Attachment 4 - FedRAMP Privacy Impact Assessment (PIA) Template</a></td>
						<td><a href="#">Retired</a></td>
					  </tr>
					  <tr>
						<td><a href="#">FedRAMP Security Assessment Report (SAR) Template</a></td>
						<td rowspan="2"><a href="#">FedRAMP Security Assessment Report (SAR) Template</a></td>
					  </tr>
					  <tr>
						<td><a href="#">FedRAMP Annual Security Assessment Report (SAR) Template</a></td>
					  </tr>
					  <tr>
						<td><a href="#">FedRAMP Security Assessment Plan (SAP) Template</a></td>
						<td rowspan="2"><a href="#">FedRAMP Security Assessment Plan (SAP) Template</a></td>
					  </tr>
					  <tr>
						<td><a href="#">FedRAMP Annual Security Assessment Plan (SAP) Template</a></td>
					  </tr>
					  <tr>
						<td><a href="#">SAP Appendix A - FedRAMP Moderate Security Test Case Procedures Template</a></td>
						<td><a href="#">SAP Appendix A - FedRAMP Moderate Security Test Case Procedures Template</a></td>
					  </tr>
					  <tr>
						<td><a href="#">SAP Appendix A - FedRAMP Low Security Test Case Procedures Template</a></td>
						<td><a href="#">SAP Appendix A - FedRAMP Low Security Test Case Procedures Template</a></td>
					  </tr>
					  <tr>
						<td><a href="#">SAP Appendix A - FedRAMP High Security Test Case Procedures Template</a></td>
						<td><a href="#">SAP Appendix A - FedRAMP High Security Test Case Procedures Template</a></td>
					  </tr>
					  <tr>
						<td><a href="#">SAR Appendix A - FedRAMP Risk Exposure Table Template</a></td>
						<td><a href="#">SAR Appendix A - FedRAMP Risk Exposure Table Template</a></td>
					  </tr>
					  <tr>
						<td><a href="#">Appendix A - FedRAMP Tailored Security Controls Baseline</a></td>
						<td rowspan="6"><a href="#">SSP Appendix A LI-SaaS &gt;CSO&lt; FedRAMP Security Controls</a></td>
					  </tr>
					  <tr>
						<td><a href="#">Appendix B - FedRAMP Tailored Li-SaaS Template</a></td>
					  </tr>
					  <tr>
						<td><a href="#">Appendix C - FedRAMP Tailored Li-SaaS Ato Letter Template</a></td>
					  </tr>
					  <tr>
						<td><a href="#">Appendix D - FedRAMP Tailored Li-SaaS Continuous Monitoring Guide</a></td>
					  </tr>
					  <tr>
						<td><a href="#">Appendix E - FedRAMP Tailored Li- SaaS Self-Attestation Requirements</a></td>
					  </tr>
					  <tr>
						<td><a href="#">FedRAMP Tailored Li-SaaS Requirements</a></td>
					  </tr>
					  <tr>
						<td><a href="#">N/A- No Rev. 4 version</a></td>
						<td><a href="#">SSP Appendix Q: Cryptographic Modules Table</a></td>
					  </tr>
					  <tr>
						<td><a href="#">N/A- No Rev. 4 version</a></td>
						<td><a href="#">SSP Appendix A: High FedRAMP Security Controls</a></td>
					  </tr>
					  <tr>
						<td><a href="#">N/A- No Rev. 4 version</a></td>
						<td><a href="#">SSP Appendix A: Moderate FedRAMP Security Controls</a></td>
					  </tr>
					  <tr>
						<td><a href="#">N/A- No Rev. 4 version</a></td>
						<td><a href="#">SSP Appendix A: Low FedRAMP Security Controls</a></td>
					  </tr>
					  <tr>
						<td><a href="#">N/A- No Rev. 4 version</a></td>
						<td><a href="#">Selection Controls Worksheet</a></td>
					  </tr>
					  <tr>
						<td><a href="#">xxxxxxxx</a></td>
						<td><a href="#">xxxxxxxx</a></td>
					  </tr>
					  <tr>
						<td><a href="#">xxxxxxxx</a></td>
						<td><a href="#">xxxxxxxx</a></td>
					  </tr>
					  <tr>
						<td><a href="#">xxxxxxxx</a></td>
						<td><a href="#">xxxxxxxx</a></td>
					  </tr>
					  <tr>
						<td><a href="#">xxxxxxxx</a></td>
						<td><a href="#">xxxxxxxx</a></td>
					  </tr>
					</tbody>
				  </table>
				  <h3>Retired Documents</h3>
				  <ul>
					<li>FedRAMP Master Acronym & Glossary</li>
					<li>SSP Attachment 4 - FedRAMP Privacy Impact Assessment (PIA) Template</li>
				  </ul>
			</div>			
		</div>
	</div>
</section>

