---
layout: full-width
---
<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row padding-top-2 grid-gap">
			<div class="grid-col-12">
				<h2 class="partner-header">Understanding the Transition from Rev. 4 to Rev. 5</h2>
			</div>	
		</div>
	
		<div class="full-row grid-row grid-gap padding-top-2 partners-main">
			<div class="full-col desktop:grid-col-6 partners-col">
				<div class="intro-text">
					<p>The FedRAMP Joint Authorization Board (JAB) updated the FedRAMP security controls baseline to align with National Institutes of Standards and Technology (NIST) Special Publication (SP) 800-53 (SP 800-53), Security and Privacy Controls for Federal Information Systems and Organizations, Revision 5 (Rev. 5). The FedRAMP Program Management Office (PMO) updated the FedRAMP documentation and templates to reflect the changes in NIST SP 800-53, Rev. 5, and developed guidance to assist Cloud Service Providers (CSPs) in transitioning to Rev. 5.</p>

					<p>Please refer to the <a href="https://www.fedramp.gov/faqs">FAQ page</a> for additional information.</p>
					
					<p>d Rev. 5 documents can be found on the <a href="https://www.fedramp.gov/documents-templates/">Documents and Templates page</a>.</p>
					
					<p>On the <a href="https://github.com/GSA/fedramp-automation/tree/master/dist/content/rev5/baselines">Automation GitHub</a>, the FedRAMP Open Security Controls Assessment Language (OSCAL) versions of the Rev. 5 baselines for High, Moderate, Low, and Tailored for Low Impact-Software as a Service (LI-SaaS), including XML, JSON, and YAML versions can be found.</p>										
					<p>In the table below, the archived Rev. 4 documents are crosswalked with their d Rev. 5 version to make it easy for stakeholders to locate the documents they need. New Rev. 5 documents are also listed, as well as retiring documents. This mapping illustrates the consolidation of some previous FedRAMP Rev. 4 documents into fewer Rev. 5 documents to reduce the burden on stakeholders.</p>

					<h2>Transition Documents </h2>
					<ul>
						<li><a href="https://fedramp.gov/assets/resources/documents/FedRAMP_Baselines_Rev5_Transition_Guide.pdf">Cloud Service Provider (CSP) Transition Plan</a></li>
						<li><a href="https://fedramp.gov/assets/resources/documents/FedRAMP_Security_Controls_Baseline.xlsx">Rev. 5 Baselines</a></li>
						<li><a href="https://fedramp.gov/assets/resources/documents/FedRAMP_Security_Controls_Baseline_Rev5_Rev4_comparison_Summary.xlsx">Rev. 4 To Rev. 5 Baseline Comparison Summary</a></li>
					</ul>
		</div>
			</div>
			<div class="full-col desktop:grid-col-6 partners-col parners-image">
				<img class="partners-images display-none partners-img-1200"
					src="{{site.baseurl}}/assets/img/rev5-graphic.svg"
					alt=" ">
				<img class="partners-images display-none partners-img-648"
					src="{{site.baseurl}}/assets/img/rev5-graphic.svg"
					alt=" ">
				<img class="partners-images display-none partners-img-320"
					src="{{site.baseurl}}/assets/img/rev5-graphic.svg"
					alt="">
			</div>
		</div>
	</div>	
</section>

<!-- Table  -->

<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row">
			<div class="full-col desktop:grid-col-12">
				<h2>Documents</h2>

				<table class="usa-table usa-table--borderless fedramp-rev-table">
					<thead>
					  <tr>
						<th scope="col">Rev. 4 Document</th>
						<th scope="col">Rev. 5 Document</th>
					  </tr>
					</thead>
					<tbody>
						<tr>
							<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_3PAO_Readiness_Assessment_Report_Guide.pdf">3PAO Readiness Assessment Report Guide</a></td>
							<td><a href="https://fedramp.gov/assets/resources/documents/3PAO_Readiness_Assessment_Report_Guide.pdf">3PAO Readiness Assessment Report Guide</a></td>
						  </tr>
					  <tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_FedRAMP-Moderate-RAR-Template.docx">FedRAMP Moderate Readiness Assessment Report (RAR) Template</a></td>
						<td><a href="https://fedramp.gov/assets/resources/templates/FedRAMP-Moderate-Readiness-Assessment-Report-(RAR)-Template.docx">FedRAMP Moderate Readiness Assessment Report (RAR) Template</a></td>
					  </tr>
					  <tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_FedRAMP-High-RAR-Template.docx">FedRAMP High Readiness Assessment Report (RAR) Template</a></td>
						<td><a href="https://fedramp.gov/assets/resources/templates/FedRAMP-High-Readiness-Assessment-Report-(RAR)-Template.docx">FedRAMP High Readiness Assessment Report (RAR) Template</a></td>
					  </tr>
					  <tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_FedRAMP-SSP-Low-Baseline-Template.docx">FedRAMP System Security Plan (SSP) Low Baseline Template</a></td>
						<td rowspan="3"><a href="https://fedramp.gov/assets/resources/templates/FedRAMP-High-Moderate-Low-LI-SaaS-Baseline-System-Security-Plan-(SSP).docx">FedRAMP High, Moderate, Low, LI-SaaS Baseline System Security Plan (SSP)</a></td>
					  </tr>
					  <tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_FedRAMP-SSP-Moderate-Baseline-Template.docx">FedRAMP System Security Plan (SSP) Moderate Baseline Template</a></td>
					  </tr>
					  <tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_FedRAMP-SSP-High-Baseline-Template.docx">FedRAMP System Security Plan (SSP) High Baseline Template</a></td>
					  </tr>
					  <tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_APPENDIX-A-FedRAMP-Tailored-Security-Controls-Baseline.xlsx">Appendix A - FedRAMP Tailored Security Controls Baseline</a></td>
						<td rowspan="6"><a href="https://fedramp.gov/assets/resources/templates/SSP-Appendix-A-LI-SaaS-FedRAMP-Security-Controls.docx">SSP Appendix A: LI-SaaS FedRAMP Security Controls</a><span style="color:#757575"><i>(updated 8/30/2023)</i></span></td>
					  </tr>
					  <tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_APPENDIX-B-FedRAMP-Tailored-LI-SaaS-Template.docx">Appendix B - FedRAMP Tailored Li-SaaS Template</a></td>
					  </tr>
					  <tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_APPENDIX-C-FedRAMP-Tailored-LI-SaaS-ATO-Letter-Template.docx">Appendix C - FedRAMP Tailored Li-SaaS Ato Letter Template</a></td>
					  </tr>
					  <tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_APPENDIX-D-FedRAMP-Tailored-LI-SaaS-Continuous-Monitoring-Guide.docx">Appendix D - FedRAMP Tailored Li-SaaS Continuous Monitoring Guide</a></td>
					  </tr>
					  <tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_APPENDIX-E-FedRAMP-Tailored-LI-SaaS-Self-Attestation-Requirements.docx">Appendix E - FedRAMP Tailored Li- SaaS Self-Attestation Requirements</a></td>
					  </tr>
					  <tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_FedRAMP-Tailored-LI-SaaS-Requirements.docx">FedRAMP Tailored Li-SaaS Requirements</a></td>
					  </tr>
					  <tr>
						<td>N/A- No Rev. 4 version</td>
						<td><a href="https://fedramp.gov/assets/resources/templates/SSP-Appendix-A-Low-FedRAMP-Security-Controls.docx">SSP Appendix A: Low FedRAMP Security Controls</a><span style="color:#757575"><i> (updated 8/30/2023)</i></span></td>
					  </tr>
					  <tr>
						<td>N/A- No Rev. 4 version</td>
						<td><a href="https://fedramp.gov/assets/resources/templates/SSP-Appendix-A-Moderate-FedRAMP-Security-Controls.docx">SSP Appendix A: Moderate FedRAMP Security Controls</a><span style="color:#757575"><i> (updated 8/30/2023)</i></span></td>
					  </tr>	
					  <tr>
						<td>N/A- No Rev. 4 version</td>
						<td><a href="https://fedramp.gov/assets/resources/templates/SSP-Appendix-A-High-FedRAMP-Security-Controls.docx">SSP Appendix A: High FedRAMP Security Controls</a><span style="color:#757575"><i> (updated 8/30/2023)</i></span></td>
					  </tr>
					  <tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_SSP-A05-FedRAMP-RoB-Template.docx">SSP Attachment 5 - FedRAMP Rules of Behavior (RoB) Template</a></td>
						<td><a href="https://fedramp.gov/assets/resources/templates/SSP-Appendix-F-Rules-of-Behavior-(RoB)-Template.docx">SSP Appendix F: Rules of Behavior (RoB) Template</a></td>
					  </tr>
					  <tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_SSP-A06-FedRAMP-ISCP-Template.docx">SSP Attachment 6 - FedRAMP Information System Contingency Plan (ISCP) Template</a></td>
						<td><a href="https://fedramp.gov/assets/resources/templates/SSP-Appendix-G-Information-System-Contingency-Plan-(ISCP)-Template.docx">SSP Appendix G: Information System Contingency Plan (ISCP) Template</a></td>
					  </tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_SSP-A09-FedRAMP-Low-or-Moderate-CIS-Workbook-Template.xlsx">SSP Attachment 9 - FedRAMP Low or Moderate Control Implementation Summary (CIS) Workbook Template</a></td>
						<td rowspan="2"><a href="{{site.baseurl}}/assets/resources/templates/SSP-Appendix-J-<CSO>-CIS-and-CRM-Workbook.xlsx">SSP Appendix J: <CSO> CIS and CRM Workbook</a> <span style="color:#757575"><i>(updated 7/13/2023)</i></span></td>
					  </tr>
					  <tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_SSP-A09-FedRAMP-High-CIS-Workbook-Template.xlsx">SSP Attachment 9 - FedRAMP High Control Implementation Summary (CIS) Workbook Template</a></td>
					  </tr>						
					  <tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_SSP-A13-FedRAMP-Integrated-Inventory-Workbook-Template.xlsx">SSP Attachment 13 - FedRAMP Integrated Inventory Workbook Template</a></td>
						<td><a href="https://fedramp.gov/assets/resources/templates/SSP-Appendix-M-Integrated-Inventory-Workbook-Template.xlsx">SSP Appendix M: Integrated Inventory Workbook Template</a></td>
					  </tr>
					  <tr>
						<td>N/A- No Rev. 4 version</td>
						<td><a href="https://fedramp.gov/assets/resources/templates/SSP-Appendix-Q-Cryptographic-Modules-Table.docx">SSP Appendix Q: Cryptographic Modules Table</a></td>
					  </tr>	
					  <tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_FedRAMP-SAR-Template.docx">FedRAMP Security Assessment Report (SAR) Template</a></td>
						<td rowspan="2"><a href="https://fedramp.gov/assets/resources/templates/FedRAMP-Security-Assessment-Report-(SAR)-Template.docx">FedRAMP Security Assessment Report (SAR) Template</a></td>
					  </tr>
					  <tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_FedRAMP-Annual-SAR-Template.docx">FedRAMP Annual Security Assessment Report (SAR) Template</a></td>
					  </tr>
					  <tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_SAR-AA-FedRAMP-Risk-Exposure-Table-Template.xlsx">SAR Appendix A - FedRAMP Risk Exposure Table Template</a></td>
						<td><a href="https://fedramp.gov/assets/resources/templates/SAR-Appendix-A-FedRAMP-Risk-Exposure-Table-(RET)-Template.xlsx">SAR Appendix A: FedRAMP Risk Exposure Table (RET) Template</a><span style="color:#757575"><i> (updated 8/30/2023)</i></span></td>
					  </tr>
					  <tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_FedRAMP-SAP-Template.docx">FedRAMP Security Assessment Plan (SAP) Template</a></td>
						<td rowspan="2"><a href="https://fedramp.gov/assets/resources/templates/FedRAMP-Security-Assessment-Plan-(SAP)-Template.docx">FedRAMP Security Assessment Plan (SAP) Template</a></td>
					  </tr>
					  <tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_FedRAMP-Annual-SAP-Template.docx">FedRAMP Annual Security Assessment Plan (SAP) Template</a></td>
					  </tr>
					  <tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_SAP-AA-FedRAMP-Low-Security-Test-Case-Procedures-Template.xlsx">SAP Appendix A - FedRAMP Low Security Test Case Procedures Template</a></td>
						<td><a href="https://fedramp.gov/assets/resources/templates/SAP-Appendix-A-FedRAMP-Low-Security-Test-Case-Procedures-Template.xlsx">SAP Appendix A: FedRAMP Low Security Test Case Procedures Template</a></td>
					  </tr>
					  <tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_SAP-AA-FedRAMP-Moderate-Security-Test-Case-Procedures-Template.xlsx">SAP Appendix A - FedRAMP Moderate Security Test Case Procedures Template</a></td>
						<td><a href="https://fedramp.gov/assets/resources/templates/SAP-Appendix-A-FedRAMP-Moderate-Security-Test-Case-Procedures-Template.xlsx">SAP Appendix A: FedRAMP Moderate Security Test Case Procedures Template</a></td>
					  </tr>
					  <tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_SAP-AA-FedRAMP-High-Security-Test-Case-Procedures-Template.xlsx">SAP Appendix A - FedRAMP High Security Test Case Procedures Template</a></td>
						<td><a href="https://fedramp.gov/assets/resources/templates/SAP-Appendix-A-FedRAMP-High-Security-Test-Case-Procedures-Template.xlsx">SAP Appendix A: FedRAMP High Security Test Case Procedures Template</a></td>
					  </tr>					
					  <tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_FedRAMP_Security_Controls_Baseline.xlsx">FedRAMP Security Controls Baseline</a></td>
						<td><a href="https://fedramp.gov/assets/resources/documents/FedRAMP_Security_Controls_Baseline.xlsx">FedRAMP Security Controls Baseline</a></td>
					  </tr>
					  <tr>
						<td>N/A- No Rev. 4 version</td>
						<td><a href="https://fedramp.gov/assets/resources/templates/FedRAMP-Rev-4-to-Rev-5-Assessment-Controls-Selection-Template.xlsx">FedRAMP Rev. 4 to Rev. 5 Assessment Controls Selection Template</a> <span style="color:#757575"><i>(updated 8/10/2023)</i></span></td>
					  </tr>					
					  <tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_FedRAMP-Initial-Authorization-Package-Checklist.xlsx">FedRAMP Initial Authorization Package Checklist</a></td>
						<td><a href="https://fedramp.gov/assets/resources/templates/FedRAMP-Initial-Authorization-Package-Checklist.xlsx">FedRAMP Initial Authorization Package Checklist</a></td>
					  </tr>
					  <tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_SSP-A12-FedRAMP-Laws-and-Regulations-Template.xlsx">SSP Attachment 12 - FedRAMP Laws and Regulations Template</a></td>
						<td><a href="https://fedramp.gov/assets/resources/templates/FedRAMP-Laws-Regulations-Standards-and-Guidance-Reference.xlsx">FedRAMP Laws, Regulations, Standards and Guidance Reference</a></td>
					  </tr>
						<td><a href="{{site.baseurl}}/assets/resources/documents/rev4/REV_4_FedRAMP-POAM-Template.xlsm">FedRAMP Plan of Action and Milestones (POA&M) Template</a></td>
						<td><a href="{{site.baseurl}}/assets/resources/templates/FedRAMP-POAM-Template.xlsm">FedRAMP Plan of Action and Milestones (POA&M) Template</a></td>
					  </tr>	
					  <tr>
						<td><a href="{{site.baseurl}}/assets/resources/documents/rev4/REV_4_Agency_Guide_for_Multi-Agency_Continuous_Monitoring.pdf">FedRAMP Guide for Multi-Agency Continuous Monitoring</a></td>
						<td><a href="{{site.baseurl}}/assets/resources/documents/FedRAMP_Collaborative_ConMon_Quick_Guide.pdf">Collaborative ConMon Quick Guide</a></td>
					  </tr>
					  <tr>
						<td><a href="{{site.baseurl}}/assets/resources/documents/rev4/REV_4_CSP_Continuous_Monitoring_Performance_Management_Guide.pdf">Continuous Monitoring Performance Management Guide</a></td>
						<td><a href="{{site.baseurl}}/assets/resources/documents/CSP_Continuous_Monitoring_Performance_Management_Guide.pdf">Continuous Monitoring Performance Management Guide</a></td>
					  </tr>	
					  <tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_SSP-A04-FedRAMP-PIA-Template.docx">SSP Attachment 4 - FedRAMP Privacy Impact Assessment (PIA) Template</a></td>
						<td>Retired</td>
					  </tr>					
					  <tr>
						<td>FedRAMP Master Acronym & Glossary</td>
						<td>Retired</td>
					  </tr>
					  <tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_FedRAMP-Low-Authorization-Toolkit.zip">FedRAMP Low Authorization Toolkit</a></td>
						<td>Retired</td>
					  </tr>
					  <tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_FedRAMP-Tailored-Authorization-Toolkit.zip">FedRAMP Tailored Authorization Toolkit</a></td>
						<td>Retired</td>
					  </tr>
					  <tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_FedRAMP-Moderate-Authorization-Toolkit.zip">FedRAMP Moderate Authorization Toolkit</a></td>
						<td>Retired</td>
					  </tr>
					  <tr>
						<td><a href="https://fedramp.gov/assets/resources/documents/rev4/REV_4_FedRAMP-High-Authorization-Toolkit.zip">FedRAMP High Authorization Toolkit</a></td>
						<td>Retired</td>
					  </tr>					
					</tbody>
				  </table>
			</div>			
		</div>
	</div>
</section>

