---
layout: full-width
---
<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row padding-top-2 grid-gap">
			<div class="grid-col-12">
				<h2 class="partner-header">Understanding the transition from Rev. 4 to Rev. 5</h2>
			</div>	
		</div>
	
		<div class="full-row grid-row grid-gap padding-top-2 partners-main">
			<div class="full-col desktop:grid-col-6 partners-col">
				<div class="intro-text">
					<p>The FedRAMP Joint Authorization Board has approved the FedRAMP Rev. 5 baselines! The FedRAMP baselines were updated to correspond with the National Institute of Standards and Technology’s (NIST) Special Publication (SP) 800-53 Rev. 5 Catalog of Security and Privacy Controls for Information Systems and Organizations and SP 800-53B Control Baselines for Information Systems and Organizations.</p>

					<p>Rev. 5 documents can be found on the Documents and Templates page.</p>
					
					<p>Open Security Controls Assessment Language (OSCAL) Templates can be found in the OSCAL GitHub.</p>
					
					<p>Below are release transition documents and an archive of the Rev. 4 documents. Rev. 4 documents will be removed from the FedRAMP site XXXX.</p>

					<h2>Transition Documents </h2>
					<ul>
						<li><a href="#">Cloud Service Provider (CSP) Transition Plan</a></li>
						<li><a href="#">Rev. 5 Baselines</a></li>
						<li><a href="#">Rev. 4 To Rev. 5 Baseline Comparison Summary</a></li>
					</ul>
		</div>
			</div>
			<div class="full-col desktop:grid-col-6 partners-col parners-image">
				<img class="partners-images display-none partners-img-1200"
					src="{{site.baseurl}}/assets/img/baseline-header.svg"
					alt="A stack of boxes marked as cloud service offerings and a moving truck infront of a CSP's office building">
				<img class="partners-images display-none partners-img-648"
					src="{{site.baseurl}}/assets/img/baseline-header.svg"
					alt="A stack of boxes marked as cloud service offerings and a moving truck infront of a CSP's office building">
				<img class="partners-images display-none partners-img-320"
					src="{{site.baseurl}}/assets/img/baseline-header.svg"
					alt="A stack of boxes marked as cloud service offerings and a moving truck infront of a CSP's office building">
			</div>
		</div>
	</div>	
</section>

<!-- Table  -->

<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row">
			<div class="full-col desktop:grid-col-12">
				<h2>Documents</h2>

				<table class="usa-table usa-table--borderless fedramp-rev-table">
					<thead>
					  <tr>
						<th scope="col">Rev. 4 Document</th>
						<th scope="col">Rev. 5 Document</th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td><a href="#">3PAO Readiness Assessment Report Guide</a></td>
						<td><a href="#">3PAO Readiness Assessment Report Guide</a></td>
					  </tr>
					  <tr>
						<td><a href="#">FedRAMP System Security Plan (SSP) Moderate Baseline Template</a></td>
						<td rowspan="3"><a href="#">FedRAMP H-M-L-Li-SaaS Baseline SSP</a></td>
					  </tr>
					  <tr>
						<td><a href="#">FedRAMP System Security Plan (SSP) High Baseline Template</a></td>
					  </tr>
					  <tr>
						<td><a href="#">FedRAMP System Security Plan (SSP) Low Baseline Template</a></td>
						
					  </tr>
					</tbody>
				  </table>
			</div>			
		</div>
	</div>
</section>

