---
layout: full-width
---
<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row padding-top-2 grid-gap">
			<div class="grid-col-12">
				<h2>7 Lessons Learned for Small Businesses and Startups</h2>
			</div>	
		</div>
		
		<div class="full-row grid-row grid-gap padding-top-0">
					<div class="full-col desktop:grid-col-12">
								<div class="grid-row margin-top-4 lightest-gray-bkg">
									<div class="tablet:grid-col-2">
										<div class="framework-image">
											<img src="{{site.baseurl}}/assets/img/fisma-graphic.svg" alt=" " />
										</div>
									</div>
									<div class="tablet:grid-col-10 tablet:padding-left-2 framework-text">
										<h3 class="margin-top-0">1. Understand how your product maps to FedRAMP</h3>
										<p class="text-white margin-top-0 margin-bottom-0">Perform a gap analysis to understand how your current “as-is” environment aligns to the FedRAMP security requirements.</p>
									</div>
								</div>
								<div class="grid-row margin-top-4">
									<div class="tablet:grid-col-2">
										<div class="framework-image">
											<img src="{{site.baseurl}}/assets/img/omb-circular-graphic.svg" alt=" " />
										</div>
									</div>
									<div class="tablet:grid-col-10 tablet:padding-left-2  framework-text">
										<h3 class="margin-top-0">2. Get organizational buy-in and commitment</h3>
										<p class="text-white margin-top-0 margin-bottom-0">Executive Leadership and buy-in is important. Keep in mind that pursuing a FedRAMP Authorization requires potential support from technical teams such as system/database administrators, developers, and architects. The FedRAMP Authorization process runs smoothest when these three best practices are followed: a) your executive leadership agrees on the value of pursuing an authorization and provides the necessary directive and investment, b) your team is comprised of staff who are familiar with other forms of IT audits (e.g., SOC, PCI, ISO, etc.), and c) you have support from your organization’s technical teams to meet the federal security requirements as early as possible in the process.

</p>
									</div>
								</div>
								<div class="grid-row margin-top-4 lightest-gray-bkg">
									<div class="tablet:grid-col-2">
										<div class="framework-image">
											<img src="{{site.baseurl}}/assets/img/fedramp-policy.svg" alt=" " />
										</div>
									</div>
									<div class="tablet:grid-col-10 tablet:padding-left-2  framework-text">
										<h3 class="margin-top-0">3. Find an Agency partner</h3>
										<p class="text-white margin-top-0 margin-bottom-0 ">Agencies are required to issue an “Authorization to Operate” (ATO) if they are using your product. The ATO is the official management decision given by a senior Federal official to authorize operation of an information system and to explicitly accept the risk to agency operations. The natural Agency partner to work with for a FedRAMP authorization is one that is using your product or is committed to using your product. If you are in need of assistance, the FedRAMP PMO is here to help communicate the associated requirements/roles and responsibilities to your Agency customer.

</p>
									</div>
								</div>
							</div>
			
		</div>
		

	</div>	
</section>


