---
layout: full-width
---
<section class="teal-bkg fedramp-page-container">
  <div class="grid-container">
    <div class="full-row grid-row padding-top-2">
      <div class="full-col desktop:grid-col-12">
        <h2 class="text-white text-center" style="padding-bottom: 0; margin-bottom: 2.5rem;">7 Lessons Learned</h2>
        <p class="text-white intro-text margin-bottom-0 text-center">The FedRAMP Program Management Office (PMO) interviewed small businesses and start-ups who achieved a FedRAMP Authorization about their experience and customer journey. Below are the lessons they shared:</p>
      </div>
    </div>
  </div>
</section>
<section class="fedramp-page-container">
  <div class="grid-container">
    <div class="full-row grid-row lightest-gray-bkg margin-top-2">
      <div class="full-col desktop:grid-col-12 padding-6">
        <h3 class="margin-top-0">1. Understand how your product maps to FedRAMP</h3>
        <p class="margin-bottom-0">Perform a gap analysis to understand how your current “as-is” environment aligns to the FedRAMP security requirements.</p>
      </div>
    </div>
    <div class="full-row grid-row">
      <div class="full-col desktop:grid-col-12 padding-6">
        <h3 class="margin-top-0">2. Get organizational buy-in and commitment</h3>
        <p class="margin-bottom-0">Executive Leadership and buy-in is important. Keep in mind that pursuing a FedRAMP Authorization requires potential support from technical teams such as system/database administrators, developers, and architects. The FedRAMP Authorization process runs smoothest when these three best practices are followed: a) your executive leadership agrees on the value of pursuing an authorization and provides the necessary directive and investment, b) your team is comprised of staff who are familiar with other forms of IT audits (e.g., SOC, PCI, ISO, etc.), and c) you have support from your organization’s technical teams to meet the federal security requirements as early as possible in the process.</p>
      </div>
    </div>
    <div class="full-row grid-row lightest-gray-bkg">
      <div class="full-col desktop:grid-col-12 padding-6">
        <h3 class="margin-top-0">3. Find an Agency partner</h3>
        <p class="margin-bottom-0">Agencies are required to issue an “Authorization to Operate” (ATO) if they are using your product. The ATO is the official management decision given by a senior Federal official to authorize operation of an information system and to explicitly accept the risk to agency operations. The natural Agency partner to work with for a FedRAMP authorization is one that is using your product or is committed to using your product. If you are in need of assistance, the FedRAMP PMO is here to help communicate the associated requirements/roles and responsibilities to your Agency customer.</p>
      </div>
    </div>
    <div class="full-row grid-row">
      <div class="full-col desktop:grid-col-12 padding-6">
        <h3 class="margin-top-0">4. Spend time accurately defining your boundary</h3>
        <p class="margin-bottom-0">An authorization boundary should describe a cloud system’s internal components and connections to external services and systems and account for the flow of all federal information and metadata through the system. It illustrates a CSP’s scope of control over the system in addition to any system components or services that are leveraged from external services or controlled by the customer. As a core component of any FedRAMP System Security Plan (SSP), it is imperative that CSPs understand how to accurately describe and illustrate their cloud system’s authorization boundary. The FedRAMP PMO is available to review and provide feedback on your authorization boundary. </p>
      </div>
    </div>
    <div class="full-row grid-row lightest-gray-bkg">
      <div class="full-col desktop:grid-col-12 padding-6">
        <h3 class="margin-top-0">5. Think of FedRAMP as a continuous program, rather than just a project with a start and end date</h3>
        <p class="margin-bottom-0">The initial authorization represents a major milestone, but only represents a system’s risk posture at a single point in time. Security applies throughout the lifecycle of a system; cloud services must be continuously monitored and kept up to date to ensure the appropriate risk posture is maintained.</p>
      </div>
    </div>
    <div class="full-row grid-row">
      <div class="full-col desktop:grid-col-12 padding-6">
        <h3 class="margin-top-0">6. Carefully consider your authorization approach</h3>
        <p class="margin-bottom-0">If you have multiple products, determine if it may be better to pursue authorizations one-by-one rather than all at once. The FedRAMP PMO is here to help walk you through your options.</p>
      </div>
    </div>
    <div class="full-row grid-row lightest-gray-bkg margin-bottom-2">
      <div class="full-col desktop:grid-col-12 padding-6">
        <h3 class="margin-top-0">7. The FedRAMP PMO is here to serve as a valuable resource</h3>
        <p class="margin-bottom-0">Reach out to the FedRAMP PMO to learn more about how to get started with the process, get answers to technical security questions and discuss strategy. We’re here to help! </p>
      </div>
    </div>
  </div>
</section>
