---
layout: full-width
---
<section class="overview">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col desktop:grid-col-12">
				<h2 class="center">Authorization for Low-Impact Software-as-a-Service (LI-SaaS)</h2>
				<p>The FedRAMP Tailored Baseline for Cloud Service Providers (CSPs) with Low-Impact Software-as-a-Service (LI-SaaS) Systems was developed to support industry solutions that are deemed as low risk by the agencies who are using these services.</p>
			</div>
		</div>
	</div>	
</section>

<section class="lightest-teal-bkg">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col desktop:grid-col-12">
				<h3>Benefits of FedRAMP Tailored</h3>
			</div>
		</div>
		<div class="full-row grid-row grid-gap">
			<div class="full-col desktop:grid-col-4">
				<div class="full-row grid-row grid-gap">
					<div class="full-col desktop:grid-col-4">
						<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/tailored-authorization-creates.svg" alt="">
					</div>
					<div class="full-col desktop:grid-col-8">
						<p>Creates a faster and streamlined  process for systems that are low risk for use such as collaboration tools, project management applications, and tools that help develop open-source code</p>
					</div>
				</div>
			</div>
			
			<div class="full-col desktop:grid-col-4">
				<div class="full-row grid-row grid-gap">
					<div class="full-col desktop:grid-col-4">
						<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/tailored-authorization-supports.svg" alt="">
					</div>
					<div class="full-col desktop:grid-col-8">
						<p>Supports government Authorizing Officials’ (AO) need for a standardized approach for determining the risks associated with low-impact cloud applications</p>
					</div>
				</div>
			</div>
			
			<div class="full-col desktop:grid-col-4">
				<div class="full-row grid-row grid-gap">
					<div class="full-col desktop:grid-col-4">
						<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/tailored-authorization-incorporates.svg" alt="">
					</div>
					<div class="full-col desktop:grid-col-8">
						<p>Incorporates industry input in order to provide the government with the agility to leverage valuable services while maintaining appropriate security levels</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>

<section>
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col desktop:grid-col-7">
				<p>FedRAMP was originally built around enterprise-wide solutions that would cover the broadest range of data types for cloud architectures moving into the federal space. FedRAMP currently has three sets of baseline security requirements: <strong>Low</strong>, <strong>Moderate</strong>, and <strong>High</strong> impact based on <a href="#">FIPS 199</a> categorization.</p>
				
				<p>The FedRAMP Tailored baseline provides a minimum set of security control requirements. As always and required by law, agency AOs have the ultimate responsibility of determining if additional security controls are required to remain in compliance with agency-specific policies, procedures, and their own risk tolerance. The FedRAMP program, including our goals for Tailored, is a key part of issuing an informed, risk-based Authority to Operate (ATO).</p>
			</div>
			<div class="full-col desktop:grid-col-5">
				<h4>Relevant documents and templates: </h4>
				<ul class="tailored-downloads">
					<li><a href="#">FedRAMP Tailored Policy <i class="fas fa-download text-red"></i></a></li>
					<li><a href="#">APPENDIX A - Security Controls Baseline <i class="fas fa-download text-red"></i></a></li>
					<li><a href="#">APPENDIX B - Mandatory Templates <i class="fas fa-download text-red"></i></a></li>
					<li><a href="#">APPENDIX C - ATO Letter Template <i class="fas fa-download text-red"></i></a></li>
					<li><a href="#">APPENDIX D - Continuous Monitoring Requirements <i class="fas fa-download text-red"></i></a></li>
					<li><a href="#">APPENDIX E - Self-Attestation Requirements <i class="fas fa-download text-red"></i></a></li>
				</ul>
			</div>
		
		</div>
	</div>
</section>


