---
layout: full-width
---
<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row padding-top-2 grid-gap">
			<div class="full-col desktop:grid-col-6">
				<div class="intro-text">
					<h2>Authorization Baseline for Low-Impact Software-as-a-Service (LI-SaaS)</h2>
					<p>FedRAMP Tailored offers a simple, condensed approach to the authorization process for Low Impact Software-as-a-Service (SaaS) applications, and applies security controls that are commensurate with the risk of the system.</p>
				</div>
			</div>
			<div class="full-col desktop:grid-col-6 desktop:padding-left-1">
				<p>Developed in response to agency demand for innovative, cloud-based tools that pose low-risk to federal agencies, FedRAMP Tailored empowers agencies to focus on risk management and technical security and customize security requirements. While all requirements identified in the FedRAMP Low baseline are required for FedRAMP Tailored, the number of testable controls are reduced to only the most critical. Agency AOs have the ultimate responsibility of determining if additional security controls are required to remain in compliance with agency-specific policies, procedures, and their own risk tolerance. Through this efficient process, agencies and industry have been able to yield a FedRAMP Authorization in as little as a month and greatly reduce authorization costs.</p>

				<p>Cloud Service Providers (CSPs) and agencies who are interested in FedRAMP Tailored should review the criteria outlined in the <a href="https://tailored.fedramp.gov/static/FedRAMP%20Tailored%20LI-SaaS%20Requirements.docx">FedRAMP Tailored LI-SaaS Requirements</a> to determine if a cloud service offering (CSO) qualifies. Agency Authorizing Officials (AOs) hold the ultimate authority in making this decision.</p>
			</div>
		</div>
	</div>	
</section>

<section class="lightest-teal-bkg fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row">
			<div class="full-col tablet:grid-col-8 tablet:padding-right-8">
				<h3 class="margin-top-0">Benefits of FedRAMP Tailored</h3>
				<ul class="program-basics-benefits">
					<li>Creates a faster and streamlined  process for authorizing systems that would contain federal information categorized at the FIPS 199 “Low Impact” level. </li>
						
					<li>Supports government Authorizing Officials’ (AO) need for a standardized approach for determining the risks associated with low-impact data-sets. </li>
					<li>The development of this baseline incorporates industry input to promote agility in order to  leverage valuable cloud services while maintaining appropriate security levels</li>
					<li>Empowers agencies to prioritize their focus on the most critical systems and data</li>
					<li>Encourages a public-private partnership that is focused on transparency into a vendor’s current risk posture and security compliance, enabling agencies to address risk management iteratively and efficiently with vendors</li>
				</ul>
			</div>
			<div class="full-col tablet:grid-col-4 padding-4 callout-box">
				<div class="full-row grid-row">

					<h4 class="margin-top-0">Relevant documents and templates&#58;</h4>
					<ul class="fa-ul relevant-documents margin-bottom-0">
						<li><span class="fa-li"><i class="fas fa-download text-red"></i></span><a href="https://tailored.fedramp.gov/static/FedRAMP%20Tailored%20LI-SaaS%20Requirements.docx">FedRAMP Tailored Policy</a></li>
						<li><span class="fa-li"><i class="fas fa-download text-red"></i></span><a href="https://tailored.fedramp.gov/static/APPENDIX%20A%20-%20FedRAMP%20Tailored%20Security%20Controls%20Baseline.xlsx">APPENDIX A - Security Controls Baseline</a></li>
						<li><span class="fa-li"><i class="fas fa-download text-red"></i></span><a href="https://tailored.fedramp.gov/static/APPENDIX%20B%20-%20FedRAMP%20Tailored%20LI-SaaS%20Template.docx">APPENDIX B - Mandatory Templates</a></li>
						<li><span class="fa-li"><i class="fas fa-download text-red"></i></span><a href="https://tailored.fedramp.gov/static/APPENDIX%20C%20-%20FedRAMP%20Tailored%20LI-SaaS%20ATO%20Letter%20Template.docx">APPENDIX C - ATO Letter Template</a></li>
						<li><span class="fa-li"><i class="fas fa-download text-red"></i></span><a href="https://tailored.fedramp.gov/static/APPENDIX%20D%20-%20FedRAMP%20Tailored%20LI-SaaS%20Continuous%20Monitoring%20Guide.docx">APPENDIX D - Continuous Monitoring Requirements</a></li>
						<li><span class="fa-li"><i class="fas fa-download text-red"></i></span><a href="https://tailored.fedramp.gov/static/APPENDIX%20E%20-%20FedRAMP%20Tailored%20LI-SaaS%20Self-Attestation%20Requirements.docx">APPENDIX E - Self-Attestation Requirements</a></li>
					</ul>
				</div>
				
			</div>
		</div>
	</div>

</section>


