---
layout: full-width
---

<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="grid-row padding-top-2">
			<div class="desktop:grid-col-12">
				<h2 class="">The FedRAMP Team</h2>
			</div>
		</div>
	</div>
</section>

<section class="fedramp-page-container team-bkg">
	<div class="grid-container team-container">
		<div class="full-row grid-row">
			<div class="full-col desktop:grid-col-8 tablet:padding-4">
				
				<div class="full-row grid-row">
						<div class="full-col desktop:grid-col-6 padding-y-2 tablet:padding-2">
							<h3>Office of the Director</h3>
							<ul>
							<li>dfkjg</li>
							<li>dfkjg</li>
							<li>dfkjg</li>
							</ul>
								
							<h3>FedRAMP Authorization Branch</h3>
							<ul>
							<li>dfkjg</li>
							<li>dfkjg</li>
							<li>dfkjg</li>
							</ul>
									
							<h3>FedRAMP Experience Branch</h3>
							<ul>
							<li>dfkjg</li>
							<li>dfkjg</li>
							<li>dfkjg</li>
							</ul>
						</div>	
				</div>
					
			</div>
		</div>
	</div> 		
			
</section>
