---
layout: full-width
---

<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row padding-top-2 grid-gap">
			<div class="tablet:grid-col-12">
				<h2 class="">The FedRAMP Team</h2>
			</div>
		</div>
	</div>

				
				<div class="full-row grid-row grid-gap padding-top-2 grid-gap partners-main">
						<div class="full-col desktop:grid-col-6 padding-y-2 tablet:padding-2">
							<h3>Office of the Director</h3>
							<ul>
							<li>dfkjg</li>
							<li>dfkjg</li>
							<li>dfkjg</li>
							</ul>
								
							<h3>FedRAMP Authorization Branch</h3>
							<ul>
							<li>dfkjg</li>
							<li>dfkjg</li>
							<li>dfkjg</li>
							</ul>
									
							<h3>FedRAMP Experience Branch</h3>
							<ul>
							<li>dfkjg</li>
							<li>dfkjg</li>
							<li>dfkjg</li>
							</ul>
						</div>	
				</div>
					
			
</section>
