---
layout: full-width
---
<section class="fedramp-page-container">
	<div class="padding-x-0  padding-y-8">
		<div class="full-row grid-row padding-top-2">
			<div class="full-col desktop:grid-col-12 intro-text">
				<h2 style="margin-bottom: 3rem; padding-bottom: 0;">Types of FedRAMP<sup>®</sup> Resources Available</h2>
				<p class="margin-top-2" style="margin-bottom: 0;">Learning is a core component of FedRAMP. FedRAMP provides online courses and videos to inform our stakeholders every step of the way. This page captures the various learning opportunities FedRAMP provides to the community.</p>
			</div>
		</div>
		<div class="full-row grid-row padding-x-0 tablet:padding-x-4 padding-top-6">
			<div class="full-col desktop:grid-col-6 desktop:padding-right-4">
				<div class="full-row grid-row">
					<div class="full-col tablet:grid-col-4">
						<div class="training-img-container">
							<img class="training-img" src="{{site.baseurl}}/assets/img/training-online-courses.svg" alt="">
						</div>
					</div>
					<div class="full-col tablet:grid-col-8 tablet:padding-left-2 margin-top-4 tablet:margin-top-0">
						<h3 class="margin-top-0 courses-titles">Online Courses</h3>
						<p class="margin-top-0">Deep-dive courses on various elements of the authorization process and what’s required of specific stakeholder groups. These online courses are available to all stakeholders to better understand the FedRAMP Authorization process.</p>
						<p class="margin-top-4"><a href="#cloud-service-providers" class="partner-learn-more">Browse Courses</a></p>	
					
					</div>
				</div>
			</div>
			
			<div class="full-col desktop:grid-col-6 desktop:padding-left-4 margin-top-8 desktop:margin-top-0">
				<div class="full-row grid-row">
					<div class="full-col tablet:grid-col-4">
						<div class="training-img-container">
							<img class="training-img" src="{{site.baseurl}}/assets/img/training-videos.svg" alt="">
						</div>
					</div>
					<div class="full-col tablet:grid-col-8 tablet:padding-left-2 margin-top-4 tablet:margin-top-0">
						<h3 class="margin-top-0 courses-titles">Videos</h3>
						<p class="margin-top-0"> Relevant and timely videos about FedRAMP requirements and program updates. Videos can be viewed on our YouTube channel.</p>
						<p class="margin-top-4"><a href="https://www.youtube.com/channel/UCkUuvNigxkKnk3SffjdbmQg" target="_blank" class="partner-learn-more">Browse Videos</a></p>	
	
					</div>
				</div>
			</div>
		</div>
	</div>	
</section>

<section class="fedramp-page-container lightest-gray-bkg">
	<div class="full-row grid-row padding-x-0 tablet:padding-x-4 padding-y-8">
		<div class="full-col tablet:grid-col-4 desktop:grid-col-2">
			<div class="person-img-container">
				<img class="training-img" src="{{site.baseurl}}/assets/img/training-in-person.svg" alt="">
			</div>
		</div>
		
		<div class="full-col tablet:grid-col-8 desktop:grid-col-10 margin-top-4 tablet:padding-left-2 tablet:margin-top-0">
			<h3 class="margin-top-0 courses-titles">In-Person Trainings and Events</h3>
			<p class="margin-top-0" style="margin-bottom: 0;">The FedRAMP Program Management Office (PMO) provides hands-on training opportunities on specific topics for all audiences. To receive announcements for in-person trainings, please subscribe for email updates.</p>
			
			<p class="margin-top-4"><a href="https://public.govdelivery.com/accounts/USGSA/subscriber/new?qsp=USGSA_2224" target="_blank" class="partner-learn-more">Subscribe</a></p>	
		
		</div>
	</div>

</section>

<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="full-row grid-row">
			<div class="full-col desktop:grid-col-4">
				<h2>Online Courses</h2>
			</div>

			<div class="full-col desktop:grid-col-8 intro-text">
				<p style="margin-bottom: 0;">These online courses consist of on-demand modules designed for specific stakeholder groups. Each course provides an in-depth focus around a specific step in the FedRAMP Authorization process. Throughout each course, stakeholders will gain a better understanding of roles and responsibilities, security requirements, and best practices.</p>
			</div>
		</div>
	</div>
</section>

<!-- Main In Page Navigation -->
<section class="fedramp-page-container position-sticky resources-nav">
	<div class="full-row grid-row">
		<div class="full-col tablet:grid-col-4 tablet:padding-2">
			<div id="main-header" class="lavalamp-menu">
				<nav>
					<ul class="in-page-nav-menu" id="top-menu">
						<li><a href="#cloud-service-providers">Cloud Service Providers</a></li>
						<li><a href="#third-party-assessors">Third Party Assessors</a></li>
						<li><a href="#federal-agencies">Federal Agencies</a></li>
					</ul>
					<div class="lavalamp"></div>
				</nav>
			  </div>
		</div>
	</div>
</section>


<!-- Mobile Navigation -->
<section class="fedramp-page-container position-relative resources-nav-mobile padding-bottom-2 padding-top-4" style="background-color: white;">
	<div class="full-row grid-row">
		<div>
			<div>
				<nav>
					<ul class="in-page-nav-menu" id="top-menu-mobile">
						<h4 class="text-center mobile-nav-title">You can also browse the topics below.</h4>
						<li><a href="#cloud-service-providers">Cloud Service Providers</a></li>
						<li><a href="#third-party-assessors">Third Party Assessors</a></li>
						<li><a href="#federal-agencies">Federal Agencies</a></li>
					</ul>
					<div class="lavalamp"></div>
				</nav>
			  </div>
		</div>
	</div>
</section>

<section class="fedramp-page-container in-page-nav-section">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			
			<div class="full-col tablet:grid-col-8 tablet:grid-offset-4 nav-main-section">
								
				<div id="cloud-service-providers" class="training-courses padding-top-4">
					<div class="full-row grid-row">
						<div class="full-col desktop:grid-col-2">
							<div class="courses-img-container">
								<img class="courses-img" src="{{site.baseurl}}/assets/img/training-csp.svg" alt="">
							</div>
						</div>
						<div class="full-col desktop:grid-col-10 desktop:padding-left-4">
							<h3>Cloud Service Providers</h3>
							<p class="training-section padding-bottom-2">These online modules are designed to help Cloud Service Providers (CSPs) understand the requirements of security package development and give a detailed overview of the required templates and their supporting documentation.</p>
						</div>				
					</div>
					<div class="grid-row">
						<div class="full-col desktop:grid-col-12">
							<h4>200-A: FedRAMP System Security Plan (SSP) Required Documents (Revised July 2021)</h4>

							<p>This course provides CSPs with a deeper understanding of the detail and rigor required to complete the System Security Plan (SSP). The SSP is the main document of a security package in which a CSP describes all of the security controls in use on the information system and their implementation. This course will familiarize the CSP with the required documentation for initial package submission and give a detailed overview of FedRAMP’s SSP template and its supporting documents.</p>
							
							<div class="training-sign-up">
							
								<i class="far fa-clock"></i> 32 minutes <a href="https://youtu.be/AWqcLWofvf4" target="_blank" class="courses-button">View Course</a> <a href="https://www.fedramp.gov/assets/resources/training/200-A-FedRAMP-Training-FedRAMP-System-Security-Plan-SSP-Required-Documents.pdf" target="_blank" class="courses-button training-download">Download [PDF - 381KB]</a>
								
							</div>


							<h4>200-B: Security Assessment Plan (SAP)</h4>

							<p>This module is designed to help FedRAMP Assessors understand how to write specific sections of the Security Assessment Plan (SAP) documents which contain the test plan to assess the security controls of a system. In addition, this course will cover the program’s reporting requirements for the SAP.</p>
							
							<div class="training-sign-up">
								<i class="far fa-clock"></i> 32 minutes <a href="https://www.youtube.com/watch?v=k4IfvfqrZic" target="_blank" class="courses-button">View Course</a> <a href="https://www.fedramp.gov/assets/resources/training/200-B-FedRAMP-Training-Security-Assessment-Plan-SAP.pdf" target="_blank" class="courses-button training-download">Download [PDF - 637KB]</a>
							</div>


							<h4>200-C: Security Assessment Report (SAR)</h4>

							<p>This course is designed to help FedRAMP Assessors understand how to write specific sections of the Security Assessment Report (SAR). The SAR is required by FedRAMP to evaluate the system’s implementation of, and compliance with, the FedRAMP baseline security controls, and thus the system’s compliance with Federal Information Security Modernization Act (FISMA) security mandates.</p>
							
							<div class="training-sign-up">
								<i class="far fa-clock"></i> 36 minutes <a href="https://www.youtube.com/watch?v=d6RU12WIj4E" target="_blank" class="courses-button">View Course</a> <a href="https://www.fedramp.gov/assets/resources/training/200-C-FedRAMP-Training-Security-Assessment-Report-SAR.pdf" target="_blank" class="courses-button training-download">Download [PDF - 716KB]</a>
							</div>


							<h4>200-D: Continuous Monitoring Overview</h4>

							<p>This course provides guidance on continuous monitoring and ongoing authorization in support of maintaining a security authorization that meets the FedRAMP requirements. This course is structured for a CSP going through the JAB path with a Third Party Assessment Organization (3PAO), or a 3PAO, conducting an assessment of the cloud system.</p>
							
							<div class="training-sign-up">
								<i class="far fa-clock"></i> 33 minutes <a href="https://www.youtube.com/watch?v=gQWctMjfH2M" target="_blank" class="courses-button">View Course</a> <a href="https://www.fedramp.gov/assets/resources/training/200-D-FedRAMP-Training-Continuous-Monitoring-ConMon-Overview.pdf" target="_blank" class="courses-button training-download">Download [PDF - 637KB]</a>
							</div>
							
							<h4>201-B: How to Write a Control</h4>

							<p>This course gives an overview for a CSP of how to properly write a control that will satisfy the program’s requirements. This course is designed for a CSP pursuing a JAB Authorization with a 3PAO, or a 3PAO conducting an assessment of the cloud system.</p>
							
							<div class="training-sign-up no-line">
								<i class="far fa-clock"></i> 42 minutes <a href="https://www.youtube.com/watch?v=-geuTUFA8-g" target="_blank" class="courses-button">View Course</a> <a href="https://www.fedramp.gov/assets/resources/training/201-B-FedRAMP-Training-How-to-Write-a-Control.pdf" target="_blank" class="courses-button training-download">Download [PDF - 637KB]</a>
							</div>
						</div>
					
					</div>
				</div>
				
				
				<div id="third-party-assessors" class="training-courses padding-top-4">
					<div class="full-row grid-row">
						<div class="full-col desktop:grid-col-2">
							<div class="courses-img-container">
								<img class="courses-img" src="{{site.baseurl}}/assets/img/training-3pao.svg" alt="">
							</div>
						</div>
						<div class="full-col desktop:grid-col-10 desktop:padding-left-4">
							<h3 class="no-line">Third Party Assessors</h3>
							<p class="padding-bottom-2 no-line">Training modules are required for all Third Party Assessment Organizations (3PAOs) seeking FedRAMP recognition, and focus on specific functions, processes, procedures, policies, and/or guidance needed for 3PAOs to successfully complete their assessment of a CSP. At the end of each course, there is a mandatory quiz and a certificate of completion is provided to attendees who complete the course and pass the final quiz. 
								<br/><br/><i><b>Note: </b>The American Association for Laboratory Accreditation (A2LA) recently released an updated version of the R311 — the policy document that outlines the requirements for all FedRAMP recognized third party assessment organizations (3PAOs) and organizations seeking A2LA accreditation to be recognized by FedRAMP. To learn more about the changes, please visit <a href="https://www.a2la.org/" target="_blank">A2LA's Website.</a> </i></p>
							
						</div>				
					</div>
					
					
					
					                <div class="full-row grid-row lightest-gray-bkg">
            <div class="full-col desktop:grid-col-12 padding-3">
              <h4  class="margin-top-1">COMING SOON!</h4>
                    <p>The PMO is updating the FedRAMP 3PAO Training Modules and the <b>current series is temporarily unavailable</b>. This effort is to make sure the training content is up to date and the training series is more easily accessible to all partnering stakeholders. The PMO is working hard to ensure that the training content is available, but is also taking this time to update the quality and usability of the training materials. We will provide regular updates on this page and by email as we solidify details and dates for the new training release. If you have any time sensitive questions or concerns, please reach out to <a href="mailto:info@fedramp.gov" target="_blank">info@fedRAMP.gov</a> with the subject line:<i> 3PAO Training</i>.</p>
                  </div>
                  </div>	
					
					
			
					<div id="federal-agencies" class="training-courses padding-top-4">
					<div class="full-row grid-row">
						<div class="full-col desktop:grid-col-2">
							<div class="courses-img-container">
								<img class="courses-img" src="{{site.baseurl}}/assets/img/training-federal-agencies.svg" alt="">
							</div>
						</div>
						<div class="full-col desktop:grid-col-10 desktop:padding-left-4">
							<h3>Federal Agencies</h3>
							<p class="training-section padding-bottom-2">These online modules provide agency stakeholders with best practices, and tips to successfully implement the FedRAMP Authorization process. At the end of the training, there is an optional quiz and a certificate of completion is provided to attendees who take the course and pass the final quiz.</p>
						</div>				
					</div>
					<div class="full-row grid-row">
						<div class="full-col desktop:grid-col-12">
							<h4>400-A: ISSO On-Demand Modules</h4>

							<p>This training is designed for Information System Security Officers (ISSOs) based on <a href="{{site.baseurl}}/assets/resources/documents/Agency_Authorization_Playbook.pdf" target="_blank">FedRAMP’s Agency Authorization Playbook</a> and includes a deep dive into each authorization phase. This course provides ISSOs the knowledge necessary to effectively review FedRAMP Authorization packages for cloud services and understand the FedRAMP framework and available resources.</p>
																					<p><em>This course is currently unavailable</em></p>


						</div>
					</div>
				</div>
				
				
			</div>	
		</div>	
	</div>

</section>
