---
layout: full-width
---
<section class="fedramp-page-container">
	<div class="padding-x-0  padding-y-8">
		<div class="full-row grid-row padding-top-2">
			<div class="full-col desktop:grid-col-12 intro-text">
				<p class="margin-top-2">Knowledge sharing is a primary goal for FedRAMP® to ensure all stakeholders understand the FedRAMP requirements and the authorization process.</p>
				<p>Training is available in a couple different ways, either by pre-recorded courses on our Youtube page, or via live virtual training. Some courses are mandatory for specific roles in the program, but we urge all stakeholders to review the training materials available. FedRAMP creates training  to help stakeholders obtain the knowledge and skills necessary to successfully navigate the FedRAMP process and meet its requirements. 
				</p>
			</div>
		</div>
	</div>	
</section>



<!-- Main In Page Navigation -->
<section class="fedramp-page-container training-nav position-sticky training-navigation" style="">
	<div class="full-row grid-row">
		<div class="full-col tablet:grid-col-12 tablet:padding-2 tablet:padding-bottom-0">
			<div id="main-header" class="lavalamp-menu">
				<nav>
					<ul class="in-page-nav-menu horizontal-menu" id="horizontal-top-menu">
						<li><a href="#cloud-service-providers">Cloud Service Providers</a></li>
						<li><a href="#third-party-assessors">Third Party Assessors</a></li>
						<li><a href="#federal-agencies">Federal Agencies</a></li>
					</ul>
					<div class="lavalamp"></div>
				</nav>
			  </div>
		</div>
	</div>
</section>


<!-- Mobile Navigation 
<section class="fedramp-page-container position-relative resources-nav-mobile padding-bottom-2 padding-top-4" style="background-color: white;">
	<div class="full-row grid-row">
		<div>
			<div>
				<nav>
					<ul class="in-page-nav-menu" id="top-menu-mobile">
						<h4 class="text-center mobile-nav-title">You can also browse the topics below.</h4>
						<li><a href="#cloud-service-providers">Cloud Service Providers</a></li>
						<li><a href="#third-party-assessors">Third Party Assessors</a></li>
						<li><a href="#federal-agencies">Federal Agencies</a></li>
					</ul>
					<div class="lavalamp"></div>
				</nav>
			  </div>
		</div>
	</div>
</section>

-->

<section class="fedramp-page-container in-page-nav-section in-page-nav-section-horizontal lightest-gray-bkg">
	<div class="grid-container padding-y-0">
		<div class="full-row grid-row grid-gap">
			
			<div class="full-col tablet:grid-col-12 nav-main-section">
								
				<div id="cloud-service-providers" class="">
					<div class="full-row grid-row">
						<div class="full-col desktop:grid-col-2">
							<div class="courses-img-container">
								<img class="courses-img" src="{{site.baseurl}}/assets/img/training-csp.svg" alt="">
							</div>
						</div>
						<div class="full-col desktop:grid-col-10 desktop:padding-left-4">
							<h3>Cloud Service Providers</h3>
							<p class="training-section-intro padding-bottom-2">These courses are designed to help cloud service providers (CSPs) understand the requirements of security package development as well as give a detailed overview of the required templates and supporting documentation.</p>

							<p class="training-section-intro padding-bottom-2">See below for an overview of each of the CSP 200 level courses.</p>
						</div>				
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="fedramp-page-container in-page-nav-section in-page-nav-section-horizontal training-courses">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			<div class="full-col tablet:grid-col-12 nav-main-section">	
					<div class="grid-row">
						
						<div class="full-col desktop:grid-col-4 tablet:padding-4">
							<a href="https://youtu.be/AWqcLWofvf4" class="training-video-link" target="_blank"><img class="" src="{{site.baseurl}}/assets/img/training-video-200-a.png" alt=""></a>
						</div>
							
							<div class="full-col desktop:grid-col-8">
								<h4>200-A: FedRAMP System Security Plan (SSP) Required Documents (Revised July 2021)</h4>

								<p>This course provides CSPs with a deeper understanding of the detail and rigor required to complete a System Security Plan (SSP). A SSP is the main document of a security package in which a CSP describes all of the security controls, in use on the information system, and their implementation. This course will familiarize a CSP with the required documentation, for initial package submission, and give a detailed overview of FedRAMP’s SSP template and its supporting documents.</p>

								<div class="training-sign-up">

									<i class="far fa-clock"></i> 32 MIN <a href="https://youtu.be/AWqcLWofvf4" target="_blank" class="courses-button">View Course</a> <a href="https://www.fedramp.gov/assets/resources/training/200-A-FedRAMP-Training-FedRAMP-System-Security-Plan-SSP-Required-Documents.pdf" target="_blank" class="courses-button training-download">Download [PDF - 381KB]</a>

								</div>
							</div>
							
							<div class="full-col desktop:grid-col-4 tablet:padding-4">
							<a href="https://www.youtube.com/watch?v=k4IfvfqrZic" class="training-video-link" target="_blank"><a href="#" class="training-video-link" target="_blank"><img class="" src="{{site.baseurl}}/assets/img/training-video-200-b.png" alt=""></a>
</a>
							</div>
							
							<div class="full-col desktop:grid-col-8">


								<h4>200-B: Security Assessment Plan (SAP)</h4>

								<p>This course is designed to help FedRAMP recognized 3PAO assessors understand how to write specific sections of a Security Assessment Plan (SAP) document, which contains the test plan to assess the security controls of a system. In addition, this course will cover the program’s reporting requirements for a SAP.</p>

								<div class="training-sign-up">
									<i class="far fa-clock"></i> 32 MIN <a href="https://www.youtube.com/watch?v=k4IfvfqrZic" target="_blank" class="courses-button">View Course</a> <a href="https://www.fedramp.gov/assets/resources/training/200-B-FedRAMP-Training-Security-Assessment-Plan-SAP.pdf" target="_blank" class="courses-button training-download">Download [PDF - 637KB]</a>
								</div>
						</div>
						
						<div class="full-col desktop:grid-col-4 tablet:padding-4">
							<a href="https://www.youtube.com/watch?v=d6RU12WIj4E" class="training-video-link" target="_blank"><a href="#" class="training-video-link" target="_blank"><img class="" src="{{site.baseurl}}/assets/img/training-video-200-c.png" alt=""></a>
</a>
						</div>
							
							<div class="full-col desktop:grid-col-8">


								<h4>200-C: Security Assessment Report (SAR)</h4>

								<p>This course is designed to help FedRAMP recognized 3PAO assessors understand how to write specific sections of a Security Assessment Report (SAR). The SAR is required by FedRAMP to evaluate a system’s implementation of, and compliance with, FedRAMP’s baseline security controls.</p>

								<div class="training-sign-up">
									<i class="far fa-clock"></i> 36 MIN <a href="https://www.youtube.com/watch?v=d6RU12WIj4E" target="_blank" class="courses-button">View Course</a> <a href="https://www.fedramp.gov/assets/resources/training/200-C-FedRAMP-Training-Security-Assessment-Report-SAR.pdf" target="_blank" class="courses-button training-download">Download [PDF - 716KB]</a>
								</div>
						</div>
						
						<div class="full-col desktop:grid-col-4 tablet:padding-4">
							<a href="https://www.youtube.com/watch?v=gQWctMjfH2M" class="training-video-link" target="_blank"><img class="" src="{{site.baseurl}}/assets/img/training-video-200-d.png" alt=""></a>

						</div>
							
							<div class="full-col desktop:grid-col-8">


								<h4>200-D: Continuous Monitoring Overview</h4>

								<p>This course provides guidance on continuous monitoring and ongoing authorization in support of maintaining a security authorization that meets FedRAMP requirements.</p>

								<div class="training-sign-up">
									<i class="far fa-clock"></i> 33 MIN <a href="https://www.youtube.com/watch?v=gQWctMjfH2M" target="_blank" class="courses-button">View Course</a> <a href="https://www.fedramp.gov/assets/resources/training/200-D-FedRAMP-Training-Continuous-Monitoring-ConMon-Overview.pdf" target="_blank" class="courses-button training-download">Download [PDF - 637KB]</a>
								</div>
						</div>
						
						<div class="full-col desktop:grid-col-4 tablet:padding-4">
							<a href="https://www.youtube.com/watch?v=-geuTUFA8-g" class="training-video-link" target="_blank"><img class="" src="{{site.baseurl}}/assets/img/training-video-201-b.png" alt=""></a>

						</div>
							
							<div class="full-col desktop:grid-col-8">
							
							<h4>201-B: How to Write a Control</h4>

							<p>This course gives an overview to a CSP of how to properly write a control that will satisfy the program’s requirements. This course is designed for a CSP pursuing a FedRAMP authorization, or a FedRAMP recognized 3PAO conducting an assessment of a cloud system.</p>
							
							<div class="training-sign-up no-line">
								<i class="far fa-clock"></i> 42 MIN <a href="https://www.youtube.com/watch?v=-geuTUFA8-g" target="_blank" class="courses-button">View Course</a> <a href="https://www.fedramp.gov/assets/resources/training/201-B-FedRAMP-Training-How-to-Write-a-Control.pdf" target="_blank" class="courses-button training-download">Download [PDF - 637KB]</a>
							</div>
						</div>
					
					</div>
				</div>
		</div>
	</div>

</section>

<section class="fedramp-page-container in-page-nav-section in-page-nav-section-horizontal lightest-gray-bkg">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			
			<div class="full-col tablet:grid-col-12 nav-main-section">
								
				<div id="third-party-assessors" class="">
					<div class="full-row grid-row">
						<div class="full-col desktop:grid-col-2">
							<div class="courses-img-container">
						<img class="courses-img" src="{{site.baseurl}}/assets/img/training-3pao.svg" alt="">
					</div>
				</div>
				<div class="full-col desktop:grid-col-10 desktop:padding-left-4">
					<h3 class="no-line">Third Party Assessors</h3>
					<p class="training-section-intro padding-bottom-2 no-line">FedRAMP recognized third party assessment organizations (3PAOs) provide the insight and expertise necessary to successfully complete a FedRAMP assessment of a cloud service offering (CSO). These online modules are mandatory for all FedRAMP recognized 3PAO assessment team members; however, other stakeholders can use these modules as an excellent source to brush-up on FedRAMP assessment review processes and requirements.</p>

					<p class="training-section-intro padding-bottom-2 no-line">FedRAMP recognized 3PAO assessment team members are required to take these trainings and successfully pass the quizzes at the end of each course. A certificate of completion is provided to participants who pass each quiz with an 80% or higher. If the score is below 80%, the participant may retake the quiz.</p>
						
					<p class="training-section-intro padding-bottom-2 no-line">Outlined below are the steps to view the 3PAO training courses:</p>
					</div>				
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
			
<section class="fedramp-page-container in-page-nav-section in-page-nav-section-horizontal training-courses">
		<div class="grid-container">
			
	<div class="full-row grid-row">
            <div class="full-col desktop:grid-col-12 padding-3">
              <h4  class="margin-top-1">Steps to Watch Training Videos</h4>
                <ol class="training-steps">
					<li><strong>STEP 1:</strong> Select a training link below and watch the training course video on <a href="https://www.youtube.com/@FedRAMP" target="_blank">YouTube.</a>
						<ol class="training-step-sub">
							<li>We recommend that you start with 300-0 and proceed sequentially with the subsequent training (300-00 through 300-F) once these courses are made available.</li>

						</ol>
					</li>
					<li><strong>STEP 2:</strong> If you wish to take the quiz, please return to this page after watching the video and follow the steps below to take the quiz.</li>
                </ol>
				<h4 class="margin-top-1">Steps to Take Training Quizzes</h4>
				
                <ol class="training-steps">
					<li><strong>STEP 3:</strong> Once you have completed the video training course, please select the quiz link below that corresponds to the training course you watched. From there, you will be taken to a Qualtrics page.</li>

					<li><strong>STEP 4:</strong> Prior to starting the quiz, you will be asked to: 
					<ol class="training-step-sub">
						<li>Fill out your first and last name </li>
						<li>Provide your work email address</li>
					</ol>
				</li>
				<li><strong>STEP 5:</strong> Click enter and then begin the quiz.</li>
				<li><strong>STEP 6:</strong> Once you complete the quiz: 
					<ol class="training-step-sub">
						<li>A certificate of completion will be sent to the email address provided if a score of <b></b>80% or higher is achieved.</b></li>
						<li>If the score is below 80%, the participant may retake the quiz again.</li>
					</ol>
				</li>
				<li><strong>STEP 7:</strong> Save the certificate for your records.</li>
                </ol>
				<p><em>Note: 3PAO training requirements can be found in the American Association for Laboratory Accreditation (A2LA) <a href="https://a2la.qualtraxcloud.com/ShowDocument.aspx?ID=5621" target="_blank" rel="noopener noreferrer">R311- Specific Requirements: Federal Risk and Authorization Management Program (FedRAMP)</a>. This policy document outlines the requirements for all FedRAMP recognized 3PAOs and organizations seeking A2LA accreditation to be recognized by FedRAMP. To learn more please visit <a href="https://a2la.org/accreditation/fedramp/" target="_blank" rel="noopener">A2LA’s Website</a>.</em></p>

                   
                   
        </div>
    </div>
					
					
					<div class="full-row grid-row">
						<div class="full-col desktop:grid-col-4 tablet:padding-4">
							<a href="https://www.youtube.com/watch?v=fQ6r4sFSLvk" class="training-video-link" target="_blank"><img class="" src="{{site.baseurl}}/assets/img/training-video-300-0.png" alt=""></a>

						</div>
							
							<div class="full-col desktop:grid-col-8">
							

							<h4>300-0: 3PAO Obligations and Performance Guide</h4>
							  <p>The 300-0 level training provides an overview of the 3PAO responsibilities, obligations, and performance standards and intends to achieve the following learning objectives:</p>
							  <ul>
								<li>Define the scope of a 3PAO’s roles and responsibilities relating to the FedRAMP assessment process</li>
								<li>Describe the importance of FedRAMP’s 3PAO obligations and performance standards as outlined in the <a href="https://www.fedramp.gov/assets/resources/documents/3PAO_Obligations_and_Performance_Guide.pdf" target="_blank" rel="noopener noreferrer">3PAO Obligations and Performance Standards document</a> </li>
								<li>Recall the process required for an Independent Assessment Organization (IAO) to become a FedRAMP recognized 3PAO</li>
							  </ul>
							  <div class="training-sign-up"> <i class="far fa-clock"></i> 41 MIN <a href="https://www.youtube.com/watch?v=fQ6r4sFSLvk" target="_blank" class="courses-button">View Course</a> <a href="https://feedback.gsa.gov/jfe/form/SV_8cXc8IyK8aJRhRQ" target="_blank" class="courses-button">Take Quiz</a> <a href="https://www.fedramp.gov/assets/resources/training/300-0-3PAO-Obligations-and-Performance-Guide-with-Script.pdf" target="_blank" class="courses-button">Download PDF</a></div>
						</div> 
						
								
						<div class="full-col desktop:grid-col-12 training-coming-soon">
							  <h4>Updated Training Coming Soon!</h4>
							  <p>300-A Readiness Assessment Report (RAR) Guidance</p>
							  <p>300-B Security Assessment Plan (SAP) Guidance </p>
							  <p>300-C Security Assessment Report (SAR) Guidance</p>
							  <p>300-D Documenting Evidence Procedures </p>
							  <p>300-E 3PAO Vulnerability Scanning Methodology and Documentation</p>
							  <p>300-F Review of Security Assessment Report (SAR) Tables</p>
						</div>
					</div>
				</div>
</section>
	
<section class="fedramp-page-container in-page-nav-section in-page-nav-section-horizontal lightest-gray-bkg">
	<div class="grid-container">
		<div class="full-row grid-row grid-gap">
			
			<div class="full-col tablet:grid-col-12 nav-main-section">
								
				<div id="federal-agencies" class="">
					<div class="full-row grid-row">
						<div class="full-col desktop:grid-col-2">
							<div class="courses-img-container">
						<img class="courses-img" src="{{site.baseurl}}/assets/img/training-federal-agencies.svg" alt="">
					</div>
				</div>
				<div class="full-col desktop:grid-col-10 desktop:padding-left-4">
					<h3>Federal Agencies</h3>
							<p class="training-section-intro padding-bottom-2">These training videos provide agency stakeholders with tips and best practices to successfully implement the FedRAMP Authorization process.</p>
						</div>				
					</div>
				</div>
			</div>
		</div>
	</div>
</section>	
				
<section class="fedramp-page-container in-page-nav-section in-page-nav-section-horizontal training-courses">				
				<div id="" class="padding-y-4">
					<div class="full-row grid-row">
						<div class="full-col desktop:grid-col-4 tablet:padding-4">
							<a href="#" class="training-video-link" target="_blank"><img class="" src="{{site.baseurl}}/assets/img/training-video-400-a.png" alt=""></a>

						</div>
							
							<div class="full-col desktop:grid-col-8">
							<h4>400-A: ISSO On-Demand Modules</h4>

							<p>This training is designed for Information System Security Officers (ISSOs) based on <a href="{{site.baseurl}}/assets/resources/documents/Agency_Authorization_Playbook.pdf" target="_blank">FedRAMP’s Agency Authorization Playbook</a> and includes a deep dive into each authorization phase. This course provides ISSOs the knowledge necessary to effectively review FedRAMP Authorization packages for cloud services and understand the FedRAMP framework and available resources.</p>
							<p><em>This course is currently unavailable</em></p>


						</div>
					</div>
				</div>
				

</section>

<section class="teal-bkg fedramp-page-container">
	<div class="padding-x-0  padding-y-8">
		<div class="full-row grid-row padding-top-2">
			<div class="full-col desktop:grid-col-12 intro-text">
				<h2 class="text-white center" style="padding-bottom: 0;">Connect with FedRAMP</h2>
			</div>
		</div>
		<div class="full-row grid-row padding-x-0 tablet:padding-x-4 padding-top-6">
			<div class="full-col desktop:grid-col-6 desktop:padding-right-4">
				<div class="full-row grid-row">
					<div class="full-col tablet:grid-col-4">
						<div class="training-img-container">
							<img class="training-img" src="{{site.baseurl}}/assets/img/training-videos.svg" alt="">
						</div>
					</div>
					<div class="full-col tablet:grid-col-8 tablet:padding-left-2 margin-top-4 tablet:margin-top-0">
						<h3 class="margin-top-0 text-white">YouTube</h3>
						<p class="margin-top-0 text-white">To view informational videos about FedRAMP, training videos, and other content, tune into the FedRAMP YouTube channel.</p>
						<p class="margin-top-4"><a href="https://www.youtube.com/@FedRAMP" class="white-button">Browse Videos</a></p>	
					
					</div>
				</div>
			</div>
			
			<div class="full-col desktop:grid-col-6 desktop:padding-left-4 margin-top-8 desktop:margin-top-0">
				<div class="full-row grid-row">
					<div class="full-col tablet:grid-col-4">
						<div class="training-img-container">
							<img class="training-img" src="{{site.baseurl}}/assets/img/newsletter-icon.svg" alt="">
						</div>
					</div>
					<div class="full-col tablet:grid-col-8 tablet:padding-left-2 margin-top-4 tablet:margin-top-0">
						<h3 class="margin-top-0 text-white">Newsletter</h3>
						<p class="margin-top-0 text-white">To receive notifications when blogs are released, the monthly PMO Newsletter, and any important announcements and program updates, join the FedRAMP subscriber list.</p>
						<p class="margin-top-4"><a href="https://public.govdelivery.com/accounts/USGSA/subscriber/new" target="_blank" class="white-button">Subscribe</a></p>	
	
					</div>
				</div>
			</div>
		</div>
	</div>	
</section>
